resources/schemas/public/finance/rulemaster/rulemaster.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rul="http://www.coda.com/efinance/schemas/rulemaster" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/efinance/schemas/rulemaster" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="Master" abstract="true">
    <xsd:sequence>
      <xsd:element name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp value for this rule master in the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CmpCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of the company in which this rule master exists.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for this rule master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The full name of the rule master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The abbreviated name of the rule master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelectorCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of the selector master used by this rule to select the values.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DistributionCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of the distribution master containing the list of accounts to be updated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PresenterCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of the presenter master used with this rule, if required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Destination" type="com:typeCtSlnSource">
        <xsd:annotation>
          <xsd:documentation>The location which is updated, or to which the values are allocated. This may be Balances, Books, Intray, or Try Books, then Intray.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HomeValue" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>A fixed value in home currency to be allocated instead of a value determined by a selector master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DualValue" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>A fixed value in dual currency to be allocated instead of a value determined by a selector master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Formula" type="com:typeDescr">
        <xsd:annotation>
          <xsd:documentation>The formula that will perform a calculation on the fixed value or the selected value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OffsetAccount" type="com:typeAcCodeB">
        <xsd:annotation>
          <xsd:documentation>An offset account to be used in place of the accounts named in the selector master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of the document master to be used to create the allocation documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReversingYear" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The year to which the reversing document will be posted, if applicable.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReversingPeriod" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The period to which the reversing document will be posted, if applicable.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReversingDocumentDate" type="com:typeHSDate">
        <xsd:annotation>
          <xsd:documentation>The date of the reversing document, if applicable. You can use an actual or soft date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostingYear" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The year for posting, which will apply to the allocation document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostingPeriod" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The period for posting, which will apply to the allocation document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostingDocumentDate" type="com:typeHSDate">
        <xsd:annotation>
          <xsd:documentation>The posting date for the allocation document. You can use an actual or soft date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Year" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The year to be updated, or to which values are allocated, if this is a single period update.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Period" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The period to be updated, or to which values are allocated, if this is a single period update.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentDescription" type="com:typeDescr">
        <xsd:annotation>
          <xsd:documentation>A description to be applied to each line of the allocation document (up to 36 characters).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UpdateType" type="com:typeCtUpdateType">
        <xsd:annotation>
          <xsd:documentation>Whether the balance or value is updated in the specified year and period only (single period), or for all accounting periods in which it is maintained (multiple periods).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EntryType" type="com:typeCtEntryType">
        <xsd:annotation>
          <xsd:documentation>Whether only the distribution accounts are updated (single entry) or both distribution and selection (or offset) accounts are updated (double entry).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Allocation" type="com:typeCtEvalRule">
        <xsd:annotation>
          <xsd:documentation>The type of rule master: allocation or revaluation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllocationHomeCurrency" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If TRUE, specifies that home currency is used for allocating values.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllocationDualCurrency" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If TRUE, specifies that dual currency is used for allocating values.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RevaluationCurrencySource" type="com:typeCtAllCurrency">
        <xsd:annotation>
          <xsd:documentation>The type of currency on which revaluation is based. This can be Home, Dual or Foreign.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RevaluationCurrencyDestination" type="com:typeCtCurrDest">
        <xsd:annotation>
          <xsd:documentation>The currency which will be revalued. This can be Home, Dual or both.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReportingBasis" type="com:typeRepBasis">
        <xsd:annotation>
          <xsd:documentation>The reporting basis: this represents the account intersects for the balance you are revaluing.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrencyCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of the currency on which revaluation is based.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrentRate" type="com:typeCtAllRevalRate">
        <xsd:annotation>
          <xsd:documentation>The source of the exchange rate for the CurrencyCode, which should be used for revaluation. This may be the current exchange rate for the named currency, the rate held in the master for a specific date, or a rate which you specify.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RevaluationRateDate" type="com:typeHSDate">
        <xsd:annotation>
          <xsd:documentation>The date of the exchange rate you want to use for the revaluation process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ForeignRate" type="com:typeRate">
        <xsd:annotation>
          <xsd:documentation>The specific exchange rate you want to use for revaluation, if you are using a foreign currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ForeignParentRate" type="com:typeRate">
        <xsd:annotation>
          <xsd:documentation>The specific exchange rate you want to use for revaluation, if you are using a foreign currency which is a child of the euro.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DualRate" type="com:typeRate">
        <xsd:annotation>
          <xsd:documentation>The specific exchange rate you want to use for revaluation, if you are using dual currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DualParentRate" type="com:typeRate">
        <xsd:annotation>
          <xsd:documentation>The specific exchange rate you want to use for revaluation, if you are using dual currency which is a child of the euro.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UseWithInterCompany" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If TRUE, specifies that this master is used for InterCompany Allocation</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DestinationCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of the destination master, if UseWithInterCompany is true.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentCurrency" type="com:typeCtDstBasisCurrency">
        <xsd:annotation>
          <xsd:documentation>The currency of the allocation document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BalanceAccountCode" type="com:typeAcCodeB">
        <xsd:annotation>
          <xsd:documentation>The account in the sending company to which the contra entry is posted, if a double entry balance update is required. This code must be valid in the current company, and must be a full account code. You must specify an account code if this master is enabled for use in InterCompany and you are making a double entry distribution to balances.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BalanceCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The balance code in the sending company used for the contra entry, if a double entry balance update is required. This code must be valid in the current company, and must be non CODA-maintained. You must specify a balance code if this master is enabled for use in InterCompany and you are making a double entry distribution to balances.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GroupByList" type="rul:GroupByList">
        <xsd:annotation>
          <xsd:documentation>The list of elements by which the values returned by the selector are sorted and grouped. Each subtotal produced by this process is allocated between the distribution accounts that contain the same element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostDetailsIfZero" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If TRUE, specifies that document lines with a value of zero will be posted to the Books or Intray. To suppress posting of zero value lines, set to FALSE.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="GroupByList">
    <xsd:annotation>
      <xsd:documentation>The list of elements by which the values returned by the selector are sorted and grouped. Each subtotal produced by this process is allocated between the distribution accounts that contain the same element.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="GroupItem" type="xsd:boolean" minOccurs="8" maxOccurs="8">
        <xsd:annotation>
          <xsd:documentation>An element in the list, by which values are sorted and grouped.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="rulReqKeys">
    <xsd:annotation>
      <xsd:documentation>Contains key information for requesting a number of rule masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MaxKeys" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The maximum number of items to be returned.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WildKey" type="rul:Key">
        <xsd:annotation>
          <xsd:documentation>A rule master key.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Key">
    <xsd:annotation>
      <xsd:documentation>A rule master key.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the company in which the rule master exists.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the rule master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Allocation" type="com:typeCtEvalRule" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The type of rule master: allocation or revaluation. If you leave this field blank, all keys are returned.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RuleMaster">
    <xsd:annotation>
      <xsd:documentation>This document holds a rule master for Allocation or Currency Revaluation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="rul:Master">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="RuleMaster" type="rul:RuleMaster">
    <xsd:annotation>
      <xsd:documentation>This document holds a rule master for Allocation or Currency Revaluation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
