resources/schemas/public/assets/transactiondetails/transactiondetails.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:trd="http://www.coda.com/eassets/schemas/transactiondetails" xmlns:ass="http://www.coda.com/eassets/schemas/asset" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:asscom="http://www.coda.com/eassets/schemas/common" targetNamespace="http://www.coda.com/eassets/schemas/transactiondetails" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/eassets/schemas/common" schemaLocation="s:/schemas/public/assets/common/types.xsd"/>

  <xsd:complexType name="TransactionDetailKey">
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode"/>
      <xsd:element name="Code" type="com:typeAstCode"/>
      <xsd:element name="RunNumber" type="xsd:int"/>
      <xsd:element name="TransactionNumber" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TransactionDetailKeyList">
    <xsd:sequence>
      <xsd:element name="TransactionDetailKey" type="trd:TransactionDetailKey" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TransactionDetail">
    <xsd:annotation>
      <xsd:documentation>Contains the details of a single transaction. Each transaction applies to a single asset and is a record of an event which resulted in changing the asset's cost or Net Book Value.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The company code of the asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeAstCode">
        <xsd:annotation>
          <xsd:documentation>The asset code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The name of the user who ran the original process, for example, the name of the user who started the depreciation run.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BookCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the book master used to post the asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LinkedAsset" type="com:typeAstCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of an asset that is linked as a parent or child to this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DeprnCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If the transaction is a Depreciation, the code of the depreciation master is contained here.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the document master used to post the transaction. If a posting in Financials was made, this element (in conjunction with DocumentNumber, DocLineNumber and CmpCode) identifies the line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentNumber" type="com:typeDocNum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number of the document. If a posting in Financials was made, this element (in conjunction with DocumentCode, DocLineNumber and CmpCode) identifies the line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocLineNumber" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number of the document line. If a posting in Financials was made, this element (in conjunction with DocumentCode, DocumentNumber and CmpCode) identifies the line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransactionType" type="asscom:typeTran">
        <xsd:annotation>
          <xsd:documentation>The transaction type, for example Depreciate or Revalue.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EventType" type="asscom:typeEvent">
        <xsd:annotation>
          <xsd:documentation>The name of the event, for example Depreciation or Revaluation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransactionDate" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>The date when the transaction took place.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransactionYear" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The year of the financial transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransactionPeriod" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The period of the financial transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Value" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>The value of the transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RunNumber" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Contains the run number for the current transaction. All the transactions posted in a single depreciation run will have the same run number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransactionNumber" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Contains the transaction number for the current transaction. This is used to uniquely identify a transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RealTransactionYear" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The year of the asset transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RealTransactionPeriod" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The period of the asset transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CostValue" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>The cost value of the transaction. An increase to the asset cost is shown as a positive value, while a reduction is shown as a negative value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepreciationValue" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>The depreciation value of the transaction. Typically these will be shown as negative values because depreciation usually reduces the NBV.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MemoValue" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>The value of a transaction that does not affect the NBV.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreditAccount" type="com:typeAcCodeB">
        <xsd:annotation>
          <xsd:documentation>The credit account for any associated Financials posting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DebitAccount" type="com:typeAcCodeB">
        <xsd:annotation>
          <xsd:documentation>The debit account for any associated Financials posting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CancelEvent" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the transaction is a cancelling transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CancelRef" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The run number of the cancelling process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreviousCostCentre" type="com:typeAcCodeB">
        <xsd:annotation>
          <xsd:documentation>The previous cost centre if this transaction is a cost centre transfer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Quantity" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The quantity specified if this transaction is a part disposal or transfer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TransactionDetailList">
    <xsd:annotation>
      <xsd:documentation>Contains the details of the transactions for the selected asset.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TransactionDetail" type="trd:TransactionDetail" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Contains the details of a single transaction. Each transaction applies to a single asset and is a record of an event which resulted in changing the asset's cost or Net Book Value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TransactionCompleteDetail">
    <xsd:complexContent>
      <xsd:extension base="trd:TransactionDetail">
        <xsd:sequence>
          <xsd:element name="LastKnownYear" type="xsd:short">
            <xsd:annotation>
              <xsd:documentation>The last known year that a depreciation run was performed on this asset.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="IsFinalPeriod" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Denotes whether this transaction is in the final period of the assets life.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DoesNotReduceNbv" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Denotes that this transaction will not reduce the asset's Net Book Value.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AlternativeAccount" type="com:typeAcCodeB" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>An alternative account code that this transaction will be posted to. This is an alternative to the account code specified on the posting rule master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AlternativeDocument" type="com:typeGeneralCodeB" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>An alternative document that will be used to post this transaction. This is an alternative to the document specified on the posting rule master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="OriginalRunNumber" type="xsd:int" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The original depreciation run number of a transaction that is to be cancelled using the Cancel depreciation function.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="OriginalTransactionNumber" type="xsd:int" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The original depreciation transaction number of a transaction that is to be cancelled using the Cancel depreciation function.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="LogID" type="xsd:int" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The log number.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TransactionTempDetail">
    <xsd:annotation>
      <xsd:documentation>Contains the details of a single temporary transaction. Each transaction applies to a single asset.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="trd:TransactionCompleteDetail">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TransactionTempDetailList">
    <xsd:annotation>
      <xsd:documentation>Stores temporary transaction details for depreciation review and for exporting forecast information to spreadsheets.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TransactionTempDetail" type="trd:TransactionTempDetail" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Contains the details of a single temporary transaction. Each transaction applies to a single asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TransactionTempDetailKey">
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode"/>
      <xsd:element name="RunNumber" type="xsd:int"/>
      <xsd:element name="TransactionNumber" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TransactionDepreciateDetail">
    <xsd:complexContent>
      <xsd:extension base="trd:TransactionCompleteDetail">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>
