resources/schemas/public/common/userpreferences/userpreferences.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:usrpref="http://www.coda.com/common/schemas/userpreferences" targetNamespace="http://www.coda.com/common/schemas/userpreferences" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="FavouritesKey">
    <xsd:annotation>
      <xsd:documentation>This element holds the keys used to identify a Favourites list.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UserCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The code that identifies a user master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CmpCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The code identifying the company in which this Favourites list is held.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Location" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Identifies the area within the product to which this Favourites list applies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Context" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The context in which the Favourites list applies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmLevel" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The element level for settings.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Favourite">
    <xsd:annotation>
      <xsd:documentation>This element holds information about a Favourites list, such as the number of lines that will be displayed in the list.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="usrpref:FavouritesKey">
        <xsd:sequence>
          <xsd:element name="MaxLines" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>The maximum number of lines to display in the list.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="MasterFavourites">
    <xsd:annotation>
      <xsd:documentation>This element holds all the information for a Favourites list.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Favourite" type="usrpref:Favourite">
        <xsd:annotation>
          <xsd:documentation>This element holds information about a Favourites list, such as the number of lines that will be displayed in the list.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="List" type="usrpref:MasterFavouritesListData">
        <xsd:annotation>
          <xsd:documentation>This element holds the items in a Favourites list.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MasterFavouritesListData">
    <xsd:annotation>
      <xsd:documentation>This element holds the items in a Favourites list.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Item" type="usrpref:MasterFavouritesListElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element holds information about an item in a Favourites list.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MasterFavouritesListElement">
    <xsd:annotation>
      <xsd:documentation>This element holds information about an item in a Favourites list.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LineNumber" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The line number of the item.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The code that identifies a user master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CmpCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The code identifying the company in which this Favourites list is held.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Location" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Identifies the area within the product to which this Favourites list applies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Context" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The context in which the Favourites list applies</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The code that identifies a master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The descriptive name for the master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The abbreviated name for the master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmLevel" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The level within the account code if this Favourites item is an element master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmLevelOneOfN" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>An internal representation of the element ElmLevel.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeOneOfN" type="com:typeComFavouritesType">
        <xsd:annotation>
          <xsd:documentation>An internal representation of the element Type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Specifies the item type - whether the row details are derived from the most recently used reports (Dynamic), or defined by the user (Static).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IsDynamic" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the Favourites item is dynamic, which means it is derived from the most recently used Favourites items.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LastAccessed" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>The date and time at which this Favourites item was last selected.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EditMasterFavouritesParams">
    <xsd:sequence>
      <xsd:element name="MasterFavourites" type="usrpref:MasterFavourites"/>
      <xsd:element name="Title" type="xsd:string"/>
      <xsd:element name="CodeType" type="xsd:string"/>
      <xsd:element name="PickerArgs" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AssetType" type="xsd:boolean"/>
      <xsd:element name="LedgerType" type="xsd:boolean"/>
      <xsd:element name="DetailsType" type="xsd:boolean"/>
      <xsd:element name="BalanceType" type="xsd:boolean"/>
      <xsd:element name="DocumentType" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EditMasterFavouritesCallback">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="ShortName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MasterFavouriteKey">
    <xsd:sequence>
      <xsd:element name="CmpCode" type="xsd:string"/>
      <xsd:element name="UserCode" type="xsd:string"/>
      <xsd:element name="Location" type="xsd:int"/>
      <xsd:element name="Context" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Code" type="xsd:string"/>
      <xsd:element name="ElmLevel" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
