resources/schemas/public/common/userpreferences/userpreferencesservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:build="http://www.coda.com/common/schemas/funcsec" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:usrpref="http://www.coda.com/common/schemas/userpreferences" targetNamespace="http://www.coda.com/common/schemas/userpreferences" elementFormDefault="qualified" version="2.0">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:include schemaLocation="s:/schemas/public/common/userpreferences/userpreferences.xsd"/>

  <xsd:complexType name="GetMasterFavouritesRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="usrpref:FavouritesKey">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying the Favourites list you want to retrieve.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetMasterFavouritesRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the specified Favourites lists from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usrpref:GetMasterFavouritesRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetMasterFavouritesResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="MasterFavourites" type="usrpref:MasterFavourites">
            <xsd:annotation>
              <xsd:documentation>Contains the Favourites list you have retrieved from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetMasterFavouritesResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usrpref:GetMasterFavouritesResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateMasterFavouritesRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="MasterFavourites" type="usrpref:MasterFavourites">
            <xsd:annotation>
              <xsd:documentation>Contains the information for the Favourites list you want to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateMasterFavouritesRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Updates Favourites lists in the database using the information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usrpref:UpdateMasterFavouritesRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateMasterFavouritesResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateMasterFavouritesResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usrpref:UpdateMasterFavouritesResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddMasterFavouriteRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="MasterFavourite" type="usrpref:MasterFavourites">
            <xsd:annotation>
              <xsd:documentation>This contains the Favourites list you want to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MasterFavouriteElement" type="usrpref:MasterFavouritesListElement">
            <xsd:annotation>
              <xsd:documentation>This contains the items in a Favourites list you want to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddMasterFavouriteRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Creates new Favourites lists in the database using the information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usrpref:AddMasterFavouriteRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddMasterFavouriteResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="MasterFavourites" type="usrpref:MasterFavourites">
            <xsd:annotation>
              <xsd:documentation>The Favourites list that you want to add.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddMasterFavouriteResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usrpref:AddMasterFavouriteResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateMasterFavouritesFromListRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="MasterFavourites" type="usrpref:MasterFavourites">
            <xsd:annotation>
              <xsd:documentation>The original Favourites list.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MasterFavouritesList" type="usrpref:MasterFavouritesListData">
            <xsd:annotation>
              <xsd:documentation>The Favourites list you want to merge.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateMasterFavouritesFromListRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Merges an existing Favourites list with another list.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usrpref:UpdateMasterFavouritesFromListRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateMasterFavouritesFromListResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="MasterFavourites" type="usrpref:MasterFavourites">
            <xsd:annotation>
              <xsd:documentation>The Favourites list that you attempted to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateMasterFavouritesFromListResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usrpref:UpdateMasterFavouritesFromListResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UserPreferencesRequest">
    <xsd:annotation>
      <xsd:appinfo build:funcSecValue="402" build:readOnly="true"/>
      <xsd:documentation>This service allows you to maintain Favourites lists.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="GetMasterFavourites" type="usrpref:GetMasterFavouritesRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="1" build:readOnly="true"/>
              <xsd:documentation>Retrieves the specified Favourites lists from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UpdateMasterFavourites" type="usrpref:UpdateMasterFavouritesRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="2" build:readOnly="false"/>
              <xsd:documentation>Updates Favourites lists in the database using the information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AddMasterFavourite" type="usrpref:AddMasterFavouriteRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="3" build:readOnly="false"/>
              <xsd:documentation>Creates new Favourites lists in the database using the information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UpdateMasterFavouritesFromList" type="usrpref:UpdateMasterFavouritesFromListRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="4" build:readOnly="false"/>
              <xsd:documentation>Merges an existing Favourites list with another list.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UserPreferencesResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you maintain Favourites lists.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="GetMasterFavourites" type="usrpref:GetMasterFavouritesResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UpdateMasterFavourites" type="usrpref:UpdateMasterFavouritesResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AddMasterFavourite" type="usrpref:AddMasterFavouriteResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UpdateMasterFavouritesFromList" type="usrpref:UpdateMasterFavouritesFromListResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="UserPreferencesRequest" type="usrpref:UserPreferencesRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to maintain Favourites lists.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="UserPreferencesResponse" type="usrpref:UserPreferencesResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you maintain Favourites lists.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
