resources/schemas/public/finance/matching/matching.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aso="http://www.coda.com/efinance/schemas/association" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster" xmlns:mam="http://www.coda.com/efinance/schemas/matchingmaster" xmlns:mat="http://www.coda.com/efinance/schemas/matching" xmlns:sel="http://www.coda.com/efinance/schemas/selector" xmlns:txn="http://www.coda.com/efinance/schemas/transaction" elementFormDefault="qualified" targetNamespace="http://www.coda.com/efinance/schemas/matching">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/transaction" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/transaction/transaction.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/selector/selector.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/selectormaster/selectormaster.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/association" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/finance/association/association.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/matchingmaster" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/finance/matchingmaster/matchingmaster.xsd"/>

  <xsd:complexType name="MatchingParams">
    <xsd:annotation>
      <xsd:documentation>This element contains the parameters which can be specified when matching debit and credit entries.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which matching is being performed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MatchingMasterCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the matching master being used for this matching session.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ElmLevel" type="com:typeElmLevel">
        <xsd:annotation>
          <xsd:documentation>The element level at which the database is searched for document lines. It must be the matchable element level.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ElmCode" type="com:typeElmCodeWild">
        <xsd:annotation>
          <xsd:documentation>The code of the matchable element whose debit/credit entries you want to match.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TraderCode" type="com:typeTraderCodeWildB">
        <xsd:annotation>
          <xsd:documentation>The code of a trader (umbrella element) whose debit/credit entries you want to match.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MatchingDate" type="com:typeDate">
        <xsd:annotation>
          <xsd:documentation>The date on which matching is performed. This is used for the document date if a match is committed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Period" type="com:typePeriod">
        <xsd:annotation>
          <xsd:documentation>The period to which documents are posted when generated by matches being committed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DiscDate" type="com:typeDate">
        <xsd:annotation>
          <xsd:documentation>The date used to determine which discounts are processed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CurrRule" type="com:typeCtMatchingCurr">
        <xsd:annotation>
          <xsd:documentation>Specifies whether matching should be in the currency of the matchable element or in the document currency. When matching on document currency, the documents you intend to match must use the same document currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CurrCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The currency code that is used to specify which document lines are selected from the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="LogTitle" type="com:typeLogTitleB">
        <xsd:annotation>
          <xsd:documentation>An optional log title. All attempts to commit during the matching session are stored under this log title.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="LogErrorOnly" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether only errors are logged, as opposed to both errors and successful commits. When TRUE, performance can be improved significantly, particularly with Background Matching processes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="LogID" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>A system-generated number identifying the log file in which this matching session will be logged.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="RowLimit" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The maximum number of lines that can be listed in each matching folder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SelectFolder">
    <xsd:annotation>
      <xsd:documentation>This element contains details of a matching folder.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Number" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>Specifies the number of document lines to display in this folder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelectionFilter" type="gsl:VocListData">
        <xsd:annotation>
          <xsd:documentation>This element contains a list of the selector vocabulary that determines which document lines are displayed in this folder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SelectFolders">
    <xsd:annotation>
      <xsd:documentation>This element contains details of the matching folders in which the debit and credit entries are listed.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="2" name="Folder" type="mat:SelectFolder">
        <xsd:annotation>
          <xsd:documentation>This element contains details of a matching folder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SelectedItem">
    <xsd:annotation>
      <xsd:documentation>This element contains details of an item (document line) listed in this matching folder.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Key" type="aso:asoKey">
        <xsd:annotation>
          <xsd:documentation>This is a key used to identify this document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the matching currency for this document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The matchable value of this document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DefaultDisc" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The value of any default discounts which apply to this document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cells" type="sel:CellList">
        <xsd:annotation>
          <xsd:documentation>This element holds the results of the selection from the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SelectedItems">
    <xsd:annotation>
      <xsd:documentation>The number of items (document lines) listed in this matching folder.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Item" type="mat:SelectedItem">
        <xsd:annotation>
          <xsd:documentation>This element contains details of an item (document line) listed in this matching folder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MatchingFolder">
    <xsd:annotation>
      <xsd:documentation>This element contains details of the document lines included in the selected matching folder.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Number" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of this matching folder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Header" type="sel:SelectionRow">
        <xsd:annotation>
          <xsd:documentation>The name identifying this matching folder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Items" type="mat:SelectedItems">
        <xsd:annotation>
          <xsd:documentation>The number of items (document lines) listed in this matching folder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MatchingFolders">
    <xsd:annotation>
      <xsd:documentation>This element contains details of the document lines included in the matching folders.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="2" name="Folder" type="mat:MatchingFolder">
        <xsd:annotation>
          <xsd:documentation>This element contains details of the document lines included in the selected matching folder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Discount">
    <xsd:annotation>
      <xsd:documentation>This element contains details of a discount rate available for this document line.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DiscDate" type="com:typeDate">
        <xsd:annotation>
          <xsd:documentation>The discount date calculated from the discount terms specified for the matchable element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Discount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The value of any discount available on this document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MatchValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The matchable value of the document line after any discount is deducted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Discounts">
    <xsd:annotation>
      <xsd:documentation>This element contains the discount rates available for this document line.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="5" minOccurs="0" name="Discount" type="mat:Discount">
        <xsd:annotation>
          <xsd:documentation>This element contains details of a discount rate available for this document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DetailEdit">
    <xsd:annotation>
      <xsd:documentation>This element contains a currency's changed values and/or rates for the specified document line.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CurrCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of this currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MatchValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The net matchable value in this currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DiscValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The value of any discount amount for this document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DiscRate" type="com:typeRate">
        <xsd:annotation>
          <xsd:documentation>The exchange rate used to calculate this discount amount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="WOffValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The value of any write-off amount for this document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="WOffRate" type="com:typeRate">
        <xsd:annotation>
          <xsd:documentation>The exchange rate used to calculate this write-off amount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="RemValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The value of any remainder amount for this document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PartMatchRate" type="com:typeRate">
        <xsd:annotation>
          <xsd:documentation>The exchange rate used to calculate the remainder amount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DetailEdits">
    <xsd:annotation>
      <xsd:documentation>This element contains changed currency values and/or rates for the specified document line.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="13" minOccurs="0" name="Edit" type="mat:DetailEdit">
        <xsd:annotation>
          <xsd:documentation>This element contains a currency's changed values and/or rates for the specified document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WhichCurrs">
    <xsd:annotation>
      <xsd:documentation>This element contains a list of the places where the currency is used on this document line.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="13" name="Curr" type="com:typeCtMatWhichCur">
        <xsd:annotation>
          <xsd:documentation>Identifies where this currency is used. For example, whether it is the matching currency, the home currency or Element 1's currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CurrencyDetails">
    <xsd:annotation>
      <xsd:documentation>This element contains the match details in the specified currency.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CurrCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of this currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Which" type="mat:WhichCurrs">
        <xsd:annotation>
          <xsd:documentation>This element contains a list of the places where the currency is used on this document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="LinkType" type="com:typeCtCurLinkType">
        <xsd:annotation>
          <xsd:documentation>Identifies whether the currency is a child currency, a parent currency or not involved in a child/parent relationship.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ParentCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>Identifies the parent currency of a child currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The document line value in this currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MatchValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The net matchable value in this currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MatchFullValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>Stores the unrounded value of the matchable amount (for non-matching currencies only). You should not set this value, but if the server returns it following a Request, you must supply that value in subsequent Requests.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DiscValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The value of any discount amount in this currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DiscFullValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>Stores the unrounded value of the discount amount (for non-matching currencies only). You should not set this value, but if the server returns it following a Request, you must supply that value in subsequent Requests.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DiscRate" type="com:typeRate">
        <xsd:annotation>
          <xsd:documentation>The exchange rate used to calculate the discount amount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DiscFullRate" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>Holds the unrounded exchange rate used to calculated the DiscFullValue. This is held to enable the server to accurately recreate the state of currency rates and values on the next call to the server.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ValidDiscRate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this discount exchange rate is valid.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="WOffValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The value of any discount amount in this currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="WOffFullValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>Stores the unrounded value of the write-off amount (for non-matching currencies only). You should not set this value, but if the server returns it following a Request, you must supply that value in subsequent Requests.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="WOffRate" type="com:typeRate">
        <xsd:annotation>
          <xsd:documentation>The exchange rate used to calculate the write-off amount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="WOffFullRate" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>Holds the unrounded exchange rate used to calculated the WOffFullValue. This is held to enable the server to accurately recreate the state of currency rates and values on the next call to the server.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ValidWOffRate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this write-off exchange rate is valid.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="RemValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The value of any remainder amount in this currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="RemFullValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>Stores the unrounded value of the remainder amount (for non-matching currencies only). You should not set this value, but if the server returns it following a Request, you must supply that value in subsequent Requests.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PartMatchRate" type="com:typeRate">
        <xsd:annotation>
          <xsd:documentation>The exchange rate used to calculate the remainder amount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PartMatchFullRate" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>Holds the unrounded exchange rate used to calculate the RemValue. This is held to enable the server to accurately recreate the state of currency rates and values on the next call to the server.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ValidPartMatchRate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this part match exchange rate is valid.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Currencies">
    <xsd:annotation>
      <xsd:documentation>This element contains the match details in all the currencies used by this document line.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="13" minOccurs="0" name="Currency" type="mat:CurrencyDetails">
        <xsd:annotation>
          <xsd:documentation>This element contains the match details in the specified currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MatchDetails">
    <xsd:annotation>
      <xsd:documentation>This element contains the match details for the specified document line.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Key" type="aso:asoKey">
        <xsd:annotation>
          <xsd:documentation>This is a key used to identify this document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MatchCurrCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the matching currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Currencies" type="mat:Currencies">
        <xsd:annotation>
          <xsd:documentation>This element contains the match details in all the currencies used by this document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MatchLines">
    <xsd:annotation>
      <xsd:documentation>This element contains details of the document lines included in this matching group.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Line" type="mat:MatchDetails">
        <xsd:annotation>
          <xsd:documentation>This element contains details of a document line included in this matching group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MatchGroup">
    <xsd:annotation>
      <xsd:documentation>This element contains details of a matching group in the matching session.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="GroupNum" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of this matching group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="UserRefs" type="mat:UserRefs">
        <xsd:annotation>
          <xsd:documentation>This element contains user references that will be copied to all document lines in the current matching group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CommitType" type="com:typeCtMatchCommitType">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the match is committed or dispersed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="IgnoreWarnings" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Set to TRUE to force the matching group to be committed even though committing the match would otherwise result in a warning being generated by the server because one of the elements involved in the match has ForceDisperse set to Warn.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DrivingLine" type="aso:asoKey">
        <xsd:annotation>
          <xsd:documentation>This is a key used to identify which document line supplies the currency exchange rates to be used for the currency write-off.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="InputDrivingLine" type="aso:asoKey">
        <xsd:annotation>
          <xsd:documentation>This is a key used to identify which document line acts as the source for data propagation when matching the current line in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PayDetailsSource" type="aso:asoKey">
        <xsd:annotation>
          <xsd:documentation>This is a key used to identify which Draft Paid document line to use as the source of payment information (payment number, payment date and other matching references) that will be copied to the document lines included in the match.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Lines" type="mat:MatchLines">
        <xsd:annotation>
          <xsd:documentation>This element contains details of the document lines included in this matching group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MatchGroups">
    <xsd:annotation>
      <xsd:documentation>This element contains details of the matching groups in the matching session.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Group" type="mat:MatchGroup">
        <xsd:annotation>
          <xsd:documentation>This element contains details of a matching group in the matching session.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CurTotals">
    <xsd:annotation>
      <xsd:documentation>This element contains the match totals in matching currency.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CurrCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The currency code of the matching currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TotalDisc" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The total discount value, in matching currency, of all the lines included in the match.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TotalWOff" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The total write-off value, in matching currency, of all the lines included in the match.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NetValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The total net value, in matching currency, of all the lines included in the match.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="GroupTotals">
    <xsd:annotation>
      <xsd:documentation>This element contains the match totals for all the matching groups in this matching session.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="GroupNum" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of a specific matching group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MatchCurr" type="mat:CurTotals">
        <xsd:annotation>
          <xsd:documentation>This element contains the match totals in matching currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HomeCurr" type="mat:CurTotals">
        <xsd:annotation>
          <xsd:documentation>This element contains the match totals in home currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DualCurr" type="mat:CurTotals">
        <xsd:annotation>
          <xsd:documentation>This element contains the match totals in dual currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MatchTotals">
    <xsd:annotation>
      <xsd:documentation>This element contains the total value (in matching, home and dual currency) of all the document lines included in a match.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Group" type="mat:GroupTotals">
        <xsd:annotation>
          <xsd:documentation>This element contains the match totals for all the matching groups in this matching session.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MatchingDataLine">
    <xsd:annotation>
      <xsd:documentation>This element contains a document line which can be selected as the driving line or the source for data propagation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Key" type="aso:asoKey">
        <xsd:annotation>
          <xsd:documentation>This is a key used to identify this document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cells" type="sel:CellList">
        <xsd:annotation>
          <xsd:documentation>This element holds the results of the selection from the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MatchingDataLines">
    <xsd:annotation>
      <xsd:documentation>This element contains a list of the document lines which can be selected as the driving line or the source for data propagation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Line" type="mat:MatchingDataLine">
        <xsd:annotation>
          <xsd:documentation>This element contains a document line which can be selected as the driving line or the source for data propagation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MatchingDataGroup">
    <xsd:annotation>
      <xsd:documentation>This element contains information about matching groups (in the current matching session) that require a driving line or a source for data propagation to be specified.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="GroupNum" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of the matching group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Header" type="sel:SelectionRow">
        <xsd:annotation>
          <xsd:documentation>This element lists the presenter vocabulary items that determine what information is displayed in the Cells element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Lines" type="mat:MatchingDataLines">
        <xsd:annotation>
          <xsd:documentation>This element contains a list of the document lines which can be selected as the driving line or the source for data propagation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MatchingDataSources">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the document lines which can be selected as the driving line or the source for data propagation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Group" type="mat:MatchingDataGroup">
        <xsd:annotation>
          <xsd:documentation>This element contains information about matching groups (in the current matching session) that require a driving line or a source for data propagation to be specified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UserRefs">
    <xsd:annotation>
      <xsd:documentation>This element contains user references that will be copied to all document lines in the current matching group.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="UserRef1" type="com:typeUserRefB">
        <xsd:annotation>
          <xsd:documentation>The first user reference that will be copied to all document lines in the current matching group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="UserRef2" type="com:typeUserRefB">
        <xsd:annotation>
          <xsd:documentation>The second user reference that will be copied to all document lines in the current matching group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="UserRef3" type="com:typeUserRefB">
        <xsd:annotation>
          <xsd:documentation>The third user reference that will be copied to all document lines in the current matching group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="GroupResult">
    <xsd:annotation>
      <xsd:documentation>This element contains the result of committing or dispersing a specific matching group.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="GroupNum" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of the matching group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CommitType" type="com:typeCtMatchCommitType">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the match was committed or dispersed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Status" type="com:typeCtCommitStat">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the match was successful.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MatchCurrCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the matching currency for this group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="RequiresDrivingLine" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this matching group requires a driving line to be specified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="RequiresInputDrivingLine" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this matching group requires a driving line to be specified for Matching in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="RequiresPayDetailsSource" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this matching group requires a Draft Paid document line to be specified as the source of payment information.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reason" type="com:Reason">
        <xsd:annotation>
          <xsd:documentation>If the match failed, provides information about why it failed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="GroupResults">
    <xsd:annotation>
      <xsd:documentation>This element contains the results of committing or dispersing multiple matches.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Group" type="mat:GroupResult">
        <xsd:annotation>
          <xsd:documentation>This element contains the result of committing or dispersing a specific matching group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocChainKey">
    <xsd:annotation>
      <xsd:documentation>A document chain key.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="txn:txnKey">
        <xsd:sequence>
          <xsd:element name="DocType" type="com:typeGenericOon">
            <xsd:annotation>
              <xsd:documentation>The document type.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DocChainSelectKey">
    <xsd:annotation>
      <xsd:documentation>This element contains the key used to select documents linked to this key.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="txn:txnKey">
        <xsd:sequence>
          <xsd:element name="Down" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Linked document can be selected going from an invoice to a payment (the 'Down' element is 'true') or from a payment up to an invoice (the 'Down' element is 'false').</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DocChainKeyList">
    <xsd:annotation>
      <xsd:documentation>A list of document chain keys.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DocChainKey" type="mat:DocChainKey">
        <xsd:annotation>
          <xsd:documentation>A document chain key.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="MatchingParams" type="mat:MatchingParams">
    <xsd:annotation>
      <xsd:documentation>This element contains the parameters which can be specified when matching debit and credit entries.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MatchGroups" type="mat:MatchGroups">
    <xsd:annotation>
      <xsd:documentation>This element contains details of the matching groups in the matching session.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="UserRefs" type="mat:UserRefs">
    <xsd:annotation>
      <xsd:documentation>This element contains default user references that will be copied to all document lines in the current matching session.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GroupResults" type="mat:GroupResults">
    <xsd:annotation>
      <xsd:documentation>This element contains the results of committing or dispersing multiple matches.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
