resources/schemas/public/common/wsdl/wsdl.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:rep="http://www.coda.com/common/schemas/repository" xmlns:spec="http://www.coda.com/common/schemas/workflow" xmlns:wor="http://www.coda.com/common/schemas/workflowinstance" xmlns:wsd="http://www.coda.com/common/schemas/wsdl" elementFormDefault="qualified" targetNamespace="http://www.coda.com/common/schemas/wsdl">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types2.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/repository" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/repository/repository.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/workflow" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/workflow/workflow.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/workflowinstance" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/workflowinstance/workflowinstance.xsd"/>

  <xsd:complexType name="QualifiedName">
    <xsd:annotation>
      <xsd:documentation>This element contains a fully qualified URI.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="NamespaceURI" type="com:typeUri">
        <xsd:annotation>
          <xsd:documentation>The namespace part of the URI.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LocalPart" type="com:typeLocalpart">
        <xsd:annotation>
          <xsd:documentation>The local part of the URI.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WebServiceParameter">
    <xsd:annotation>
      <xsd:documentation>The details of a Web service parameter.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="ParameterName" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The name of the parameter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="Kind" type="com:typeComParameterKind">
        <xsd:annotation>
          <xsd:documentation>The type of Web service parameter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="Array" type="com:typeBoolean">
        <xsd:annotation>
          <xsd:documentation>If set, indicates that the parameter is an array.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="Required" type="com:typeBoolean">
        <xsd:annotation>
          <xsd:documentation>If set, indicates that the parameter is required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="DataType" type="wsd:DataTypeKey">
        <xsd:annotation>
          <xsd:documentation>The key to a data type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WebServiceParameterList">
    <xsd:annotation>
      <xsd:documentation>A list of parameters to the Web service.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="WebServiceParameter" type="wsd:WebServiceParameter">
        <xsd:annotation>
          <xsd:documentation>The details of a Web service parameter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WebServiceParameterKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="WebServiceParameter" type="wsd:WebServiceParameterKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WebServiceParameterKey">
    <xsd:annotation>
      <xsd:documentation>This element contains the key to a Web service parameter.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Code" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>The code of the Web service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Version" type="com:typeLong">
        <xsd:annotation>
          <xsd:documentation>The version number of the Web service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ServiceName" type="wsd:QualifiedName">
        <xsd:annotation>
          <xsd:documentation>The name of the Web service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PortName" type="com:typeParamName">
        <xsd:annotation>
          <xsd:documentation>The Web service port name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="OperationName" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The Web service operation name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ParameterName" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The name of the Web service parameter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Kind" type="com:typeComParameterKind">
        <xsd:annotation>
          <xsd:documentation>The type of Web service parameter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CodaDataType">
    <xsd:complexContent>
      <xsd:extension base="wsd:DataType">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CodaDataTypeList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CodaDataType" type="wsd:CodaDataType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CodaDataTypeKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CodaDataType" type="wsd:CodaDataTypeKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CodaDataTypeKey">
    <xsd:complexContent>
      <xsd:extension base="wsd:DataTypeKey">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DataTypeProperty">
    <xsd:annotation>
      <xsd:documentation>The details of a data type property.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The name of the data type property.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="Array" type="com:typeBoolean">
        <xsd:annotation>
          <xsd:documentation>If set, indicates that the property is an array.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="PropertyType" type="wsd:DataTypeKey">
        <xsd:annotation>
          <xsd:documentation>The details</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataTypePropertyList">
    <xsd:annotation>
      <xsd:documentation>This element contains a list of data type properties.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DataTypeProperty" type="wsd:DataTypeProperty">
        <xsd:annotation>
          <xsd:documentation>The details of a data type property.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataTypePropertyKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DataTypeProperty" type="wsd:DataTypePropertyKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataTypePropertyKey">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Code" type="com:typeCode"/>
      <xsd:element minOccurs="0" name="Version" type="com:typeLong"/>
      <xsd:element minOccurs="0" name="TypeName" type="wsd:QualifiedName"/>
      <xsd:element minOccurs="0" name="Name" type="com:typeText"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataType">
    <xsd:annotation>
      <xsd:documentation>The details of a data type.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="TypeName" type="wsd:QualifiedName">
        <xsd:annotation>
          <xsd:documentation>The name of the data type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="JavaClass" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The Java class containing the data type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="XmlSerialisable" type="com:typeBoolean">
        <xsd:annotation>
          <xsd:documentation>If set, indicates that the XML is serialisable.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PropertyList" type="wsd:DataTypePropertyList">
        <xsd:annotation>
          <xsd:documentation>This element contains a list of data type properties.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="SuperType" type="wsd:DataTypeKey">
        <xsd:annotation>
          <xsd:documentation>This element contains details of a "SuperType".</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataTypeList">
    <xsd:annotation>
      <xsd:documentation>This element contains a list of data types.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DataType" type="wsd:DataType">
        <xsd:annotation>
          <xsd:documentation>The details of a data type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataTypeKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DataType" type="wsd:DataTypeKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataTypeKey">
    <xsd:annotation>
      <xsd:documentation>This element contains the key to a data type.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Code" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>The code of the data type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Version" type="com:typeLong">
        <xsd:annotation>
          <xsd:documentation>The version number of the data type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TypeName" type="wsd:QualifiedName">
        <xsd:annotation>
          <xsd:documentation>The name of the data type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WebServiceOperation">
    <xsd:annotation>
      <xsd:documentation>This element contains details of a Web service operation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="OperationName" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The name of the operation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ParameterList" type="wsd:WebServiceParameterList">
        <xsd:annotation>
          <xsd:documentation>A list of parameters to the Web service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WebServiceOperationList">
    <xsd:annotation>
      <xsd:documentation>This element contains details of Web service operations.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="WebServiceOperation" type="wsd:WebServiceOperation">
        <xsd:annotation>
          <xsd:documentation>This element contains details of a Web service operation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WebServiceOperationKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="WebServiceOperation" type="wsd:WebServiceOperationKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WebServiceOperationKey">
    <xsd:annotation>
      <xsd:documentation>This element contains the key to a Web service operation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Code" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>The code of the Web service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Version" type="com:typeLong">
        <xsd:annotation>
          <xsd:documentation>The version number of the Web service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ServiceName" type="wsd:QualifiedName">
        <xsd:annotation>
          <xsd:documentation>The name of the Web service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PortName" type="com:typeParamName">
        <xsd:annotation>
          <xsd:documentation>The Web service port name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="OperationName" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The Web service operation name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TypeScope">
    <xsd:annotation>
      <xsd:documentation>This element contains details of type information from a set of WSDL definitions.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Code" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>The code for the types information.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="Version" type="com:typeLong">
        <xsd:annotation>
          <xsd:documentation>The version of the types information.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The name of the types information.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Jar" type="rep:RepositoryObjectKey">
        <xsd:annotation>
          <xsd:documentation>The ID of the repository item that contains the Java classes jar.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DataTypeList" type="wsd:DataTypeList">
        <xsd:annotation>
          <xsd:documentation>This element contains a list of data types.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WebServiceList" type="wsd:WebServiceList">
        <xsd:annotation>
          <xsd:documentation>This element contains a list of Web services.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The time stamp value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TypeScopeList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="TypeScope" type="wsd:TypeScope"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TypeScopeKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="TypeScope" type="wsd:TypeScopeKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TypeScopeKey">
    <xsd:annotation>
      <xsd:documentation>This element contains the key to a type.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Code" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>The code of the type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Version" type="com:typeLong">
        <xsd:annotation>
          <xsd:documentation>The version number of the type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WebServicePort">
    <xsd:annotation>
      <xsd:documentation>This element contains details of a Web service port.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="PortName" type="com:typeParamName">
        <xsd:annotation>
          <xsd:documentation>The name of the port.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Location" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The location of the port.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WebServiceOperationList" type="wsd:WebServiceOperationList">
        <xsd:annotation>
          <xsd:documentation>This element contains details of Web service operations.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WebServicePortList">
    <xsd:annotation>
      <xsd:documentation>This element contains a list of Web service ports.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="WebServicePort" type="wsd:WebServicePort">
        <xsd:annotation>
          <xsd:documentation>This element contains details of a Web service port.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WebServicePortKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="WebServicePort" type="wsd:WebServicePortKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WebServicePortKey">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Code" type="com:typeCode"/>
      <xsd:element minOccurs="0" name="Version" type="com:typeLong"/>
      <xsd:element minOccurs="0" name="ServiceName" type="wsd:QualifiedName"/>
      <xsd:element minOccurs="0" name="PortName" type="com:typeParamName"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AxisDataType">
    <xsd:complexContent>
      <xsd:extension base="wsd:DataType">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AxisDataTypeList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AxisDataType" type="wsd:AxisDataType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AxisDataTypeKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AxisDataType" type="wsd:AxisDataTypeKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AxisDataTypeKey">
    <xsd:complexContent>
      <xsd:extension base="wsd:DataTypeKey">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DataObject">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="com:typeDbGuid"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Data" type="com:typeTextAnyDbQuotes"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="Array" type="com:typeBoolean"/>
      <xsd:element name="DataObjectFragmentList" type="wsd:DataObjectFragmentList"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="DataType" type="wsd:DataTypeKey"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="TimeStamp" type="xsd:short"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataObjectList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DataObject" type="wsd:DataObject"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataObjectKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DataObject" type="wsd:DataObjectKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataObjectKey">
    <xsd:annotation>
      <xsd:documentation>This element contains the key to a data object.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="com:typeDbGuid">
        <xsd:annotation>
          <xsd:documentation>The ID of the data object.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WebService">
    <xsd:annotation>
      <xsd:documentation>This element contains the details of a Web service.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="ServiceName" type="wsd:QualifiedName">
        <xsd:annotation>
          <xsd:documentation>The name of the Web service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="WsdlURI" type="com:typeTextAnyDbQuotes">
        <xsd:annotation>
          <xsd:documentation>This element contains a Web service URI.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WebServicePortList" type="wsd:WebServicePortList">
        <xsd:annotation>
          <xsd:documentation>This element contains a list of Web service ports.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WebServiceList">
    <xsd:annotation>
      <xsd:documentation>This element contains a list of Web services.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="WebService" type="wsd:WebService">
        <xsd:annotation>
          <xsd:documentation>This element contains the details of a Web service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WebServiceKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="WebService" type="wsd:WebServiceKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WebServiceKey">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Code" type="com:typeCode"/>
      <xsd:element minOccurs="0" name="Version" type="com:typeLong"/>
      <xsd:element minOccurs="0" name="ServiceName" type="wsd:QualifiedName"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataObjectFragment">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Sequence" type="com:typeLong"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="Data" type="com:typeTextAnyDbQuotes"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataObjectFragmentList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DataObjectFragment" type="wsd:DataObjectFragment"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataObjectFragmentKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DataObjectFragment" type="wsd:DataObjectFragmentKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataObjectFragmentKey">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="com:typeDbGuid"/>
      <xsd:element minOccurs="0" name="Sequence" type="com:typeLong"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TypeScopeItemList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="TypeScopeListItem" type="wsd:TypeScopeListItem"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TypeScopeListItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Code" type="com:typeCode"/>
      <xsd:element minOccurs="0" name="Version" type="com:typeLong"/>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
