resources/schemas/public/common/dataview/dataviewservice.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:build="http://www.coda.com/common/schemas/funcsec" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:dvw="http://www.coda.com/common/schemas/dataview" xmlns:tra="http://www.coda.com/common/schemas/translation" elementFormDefault="qualified" targetNamespace="http://www.coda.com/common/schemas/dataview" version="11.3">

  <xsd:include schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/dataview/dataview.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types2.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/translation" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/translation/translation.xsd"/>

  <xsd:complexType name="AddRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="DataView" type="dvw:DataView">
            <xsd:annotation>
              <xsd:documentation>Contains the information for the dataview master you want to create.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Creates new dataview masters in the database using the dataview information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="dvw:AddRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="DataView" type="dvw:DataView">
            <xsd:annotation>
              <xsd:documentation>Contains the information for the dataview master you attempted to create.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="dvw:AddResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="DataViewKey" type="dvw:DataViewKey">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying the dataview master you want to delete.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Deletes the specified dataview masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="dvw:DeleteRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="dvw:DeleteResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="DataViewKey" type="dvw:DataViewKey">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying the dataview master you want to retrieve from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the specified dataview masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="dvw:GetRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="DataView" type="dvw:DataView">
            <xsd:annotation>
              <xsd:documentation>Contains the dataview master you have retrieved from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="dvw:GetResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="DataView" type="dvw:DataView">
            <xsd:annotation>
              <xsd:documentation>Contains the information for the dataview master you want to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Updates dataviews in the database using the dataview information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="dvw:UpdateRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="DataView" type="dvw:DataView">
            <xsd:annotation>
              <xsd:documentation>Contains the information for the dataview master you attempted to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="dvw:UpdateResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FindRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Query" type="com:Query">
            <xsd:annotation>
              <xsd:documentation>The criteria specifying the dataview masters you want to retrieve from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FindRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the dataview masters that match the specified criteria.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="dvw:FindRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FindResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="DataViewList" type="dvw:DataViewList">
            <xsd:annotation>
              <xsd:documentation>A list of the dataview masters in the database that match the criteria in the request.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FindResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="dvw:FindResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Query" type="dvw:PickDataViewQuery">
            <xsd:annotation>
              <xsd:documentation>A filter that selects the dataviews to be listed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves key information for the specified dataview masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="dvw:ListRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="List" type="dvw:DataViewPickList">
            <xsd:annotation>
              <xsd:documentation>A list of the codes and descriptions of the dataview masters in the database that match the criteria in the request.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="dvw:ListResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetDataSourceRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="TargetDataView" type="dvw:DataViewKey">
            <xsd:annotation>
              <xsd:documentation>The dataview for which you want the data source master code.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetDataSourceRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the code for the data source master that contains the tables referred to by the given dataview.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="dvw:GetDataSourceRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetDataSourceResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="GetDataSource" type="com:typeCode">
            <xsd:annotation>
              <xsd:documentation>The code for the data source master that contains the tables referred to by the specified dataview.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetDataSourceResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="dvw:GetDataSourceResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DefaultVocabsRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="DataView" type="dvw:DataView">
            <xsd:annotation>
              <xsd:documentation>The dataview that you want to be populated with vocabulary items.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DefaultVocabsRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Populates a given dataview with vocabulary items corresponding to all the attributes (except related attributes) of the objects the dataview is based on. Joined columns are listed only once.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="dvw:DefaultVocabsRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DefaultVocabsResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="DefaultVocabs" type="dvw:DataView">
            <xsd:annotation>
              <xsd:documentation>The dataview, after its vocabulary list has been populated.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DefaultVocabsResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="dvw:DefaultVocabsResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ExportMetadataRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Product" type="com:typeApplicationNameb">
            <xsd:annotation>
              <xsd:documentation>The product to which the metadata masters relate.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ViewList" type="dvw:DataViewExportMetadataViewList">
            <xsd:annotation>
              <xsd:documentation>A list of metadata master views.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DataViewExportMetadataViewList">
    <xsd:annotation>
      <xsd:documentation>A list of metadata master views.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="View" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>A metadata master view code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ExportMetadataRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Exports the metadata masters referred to by the specified dataviews. This data is written to disk in the metadata/export subdirectory of the directory identified by the property com.coda.common.app.installdirectory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="dvw:ExportMetadataRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ExportMetadataResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ExportMetadataResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="dvw:ExportMetadataResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetTypeInformationRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="TargetDataView" type="dvw:DataViewKey">
            <xsd:annotation>
              <xsd:documentation>Identifies the dataview for which you want to extract Type and CodaType information.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetTypeInformationRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves a stripped-down version of a dataview that expands the MetadataAttributeId field in vocabulary lists to extract the Type and CodaType information.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="dvw:GetTypeInformationRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetTypeInformationResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="GetTypeInformation" type="dvw:DataViewTypeInformation">
            <xsd:annotation>
              <xsd:documentation>Holds a stripped-down version of the specified dataview.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetTypeInformationResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="dvw:GetTypeInformationResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DataViewRequest">
    <xsd:annotation>
      <xsd:appinfo build:funcSecValue="142" build:readOnly="true"/>
      <xsd:documentation>This service allows you to maintain dataview masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element minOccurs="0" name="Add" type="dvw:AddRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="1" build:readOnly="false"/>
              <xsd:documentation>Creates new dataview masters in the database using the dataview information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Delete" type="dvw:DeleteRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="2" build:readOnly="false"/>
              <xsd:documentation>Deletes the specified dataview masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Get" type="dvw:GetRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="3" build:readOnly="true"/>
              <xsd:documentation>Retrieves the specified dataview masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Update" type="dvw:UpdateRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="4" build:readOnly="false"/>
              <xsd:documentation>Updates dataviews in the database using the dataview information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Find" type="dvw:FindRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="5" build:readOnly="true"/>
              <xsd:documentation>Retrieves the dataview masters that match the specified criteria.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="List" type="dvw:ListRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="6" build:readOnly="true"/>
              <xsd:documentation>Retrieves key information for the specified dataview masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetDataSource" type="dvw:GetDataSourceRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="7" build:readOnly="true"/>
              <xsd:documentation>Retrieves the code for the data source master that contains the tables referred to by the given dataview.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="DefaultVocabs" type="dvw:DefaultVocabsRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="8" build:readOnly="false"/>
              <xsd:documentation>Populates a given dataview with vocabulary items corresponding to all the attributes (except related attributes) of the objects the dataview is based on. Joined columns are listed only once.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ExportMetadata" type="dvw:ExportMetadataRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="9" build:readOnly="true"/>
              <xsd:documentation>Exports the metadata masters referred to by the specified dataviews. This data is written to disk in the metadata/export subdirectory of the directory identified by the property com.coda.common.app.installdirectory.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetTypeInformation" type="dvw:GetTypeInformationRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="10" build:readOnly="true"/>
              <xsd:documentation>Retrieves a stripped-down version of a dataview that expands the MetadataAttributeId field in vocabulary lists to extract the Type and CodaType information.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DataViewResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you maintain dataview masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element minOccurs="0" name="Add" type="dvw:AddResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Delete" type="dvw:DeleteResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Get" type="dvw:GetResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Update" type="dvw:UpdateResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Find" type="dvw:FindResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="List" type="dvw:ListResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetDataSource" type="dvw:GetDataSourceResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="DefaultVocabs" type="dvw:DefaultVocabsResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ExportMetadata" type="dvw:ExportMetadataResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetTypeInformation" type="dvw:GetTypeInformationResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="DataViewRequest" type="dvw:DataViewRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to maintain dataview masters.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DataViewResponse" type="dvw:DataViewResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you maintain dataview masters.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
