resources/schemas/public/common/usermap/usermap.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:domusr="http://www.coda.com/common/schemas/domainuser" xmlns:usermap="http://www.coda.com/common/schemas/usermap" elementFormDefault="qualified" targetNamespace="http://www.coda.com/common/schemas/usermap">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types2.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/domainuser" schemaLocation="s:/schemas/public/common/domainuser/domainuser.xsd"/>

  <xsd:complexType name="UserMapping">
    <xsd:annotation>
      <xsd:documentation>This element holds details of a user mapping.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="DomainUser" type="domusr:DomainUserKey">
        <xsd:annotation>
          <xsd:documentation>This element holds the key to a domain user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CodaUserList" type="usermap:CodaUserList">
        <xsd:annotation>
          <xsd:documentation>This element holds a list of CODA users.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="DefaultCodaUser" type="usermap:CodaUserKey">
        <xsd:annotation>
          <xsd:documentation>This element holds a key to the default CODA user ID.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The time stamp value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UserMappingList">
    <xsd:annotation>
      <xsd:documentation>This element holds a list of user mappings.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="UserMapping" type="usermap:UserMapping">
        <xsd:annotation>
          <xsd:documentation>This element holds details of a user mapping.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UserMappingKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="UserMapping" type="usermap:UserMappingKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UserMappingKey">
    <xsd:annotation>
      <xsd:documentation>This element holds a key to a user mapping.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="DomainUser" type="domusr:DomainUserKey">
        <xsd:annotation>
          <xsd:documentation>The key to a domain user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CodaUser">
    <xsd:annotation>
      <xsd:documentation>This element holds details of a CODA user</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Code" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>A user code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The short name of the CODA user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="PasswordRequired" type="com:typeBoolean">
        <xsd:annotation>
          <xsd:documentation>If set, indicates that a password is required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CodaUserList">
    <xsd:annotation>
      <xsd:documentation>This element holds a list of CODA users.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CodaUser" type="usermap:CodaUser">
        <xsd:annotation>
          <xsd:documentation>This element holds details of a CODA user</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CodaUserKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CodaUser" type="usermap:CodaUserKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CodaUserKey">
    <xsd:annotation>
      <xsd:documentation>This element holds a key to the default CODA user ID.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="DomainUser" type="domusr:DomainUserKey">
        <xsd:annotation>
          <xsd:documentation>The key to a domain user</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Code" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>A user code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
