resources/schemas/public/finance/supplier/supplierfinderservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sup="http://www.coda.com/efinance/schemas/supplier" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/efinance/schemas/supplier" elementFormDefault="qualified" version="11.3">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:include schemaLocation="s:/schemas/public/finance/supplier/supplierfinder.xsd"/>
  <xsd:include schemaLocation="s:/schemas/public/finance/supplier/supplier.xsd"/>

  <xsd:complexType name="FinderRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="FinderFilter" type="sup:SupplierData">
            <xsd:annotation>
              <xsd:documentation>The criteria to be applied when selecting the data.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FinderRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves suppliers using the selection criteria you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="sup:FinderRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FinderResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="FinderFilter" type="sup:SupplierFinderFilter">
            <xsd:annotation>
              <xsd:documentation>The criteria applied when selecting the data.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Keys" type="sup:supKeyData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The key that identifies the selected supplier.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FinderResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="sup:FinderResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SupplierFinderRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to submit selection criteria to retrieve a supplier from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Find" type="sup:FinderRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves suppliers using the selection criteria you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SupplierFinderResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you submit selection criteria.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Find" type="sup:FinderResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="SupplierFinderRequest" type="sup:SupplierFinderRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to submit selection criteria to retrieve a supplier from the database.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SupplierFinderResponse" type="sup:SupplierFinderResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you submit selection criteria.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
