resources/schemas/public/common/printing/printingservice.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:build="http://www.coda.com/common/schemas/funcsec" xmlns:sel="http://www.coda.com/efinance/schemas/selector" xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster" xmlns:pfm="http://www.coda.com/common/schemas/printformatmaster" xmlns:pri="http://www.coda.com/common/schemas/printing" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/common/schemas/printing" elementFormDefault="qualified" version="11.3">

  <xsd:include schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/printing/printing.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types2.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/selectormaster/selectormaster.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/printformatmaster" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/printformatmaster/printformatmaster.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/selector/selector.xsd"/>

  <xsd:complexType name="PrintRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="PrintFormatMasterCode" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the print format master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Test" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Specifies whether or not this print request uses test data: x for alphanumeric characters, 9 for numeric characters and dd/mm/yy for dates.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Filter" type="gsl:VocListData">
            <xsd:annotation>
              <xsd:documentation>A list of vocabulary which determines the data to print.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="OutputDeviceMasterCode" minOccurs="0" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the output device master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DevicePath" minOccurs="0" type="com:typeLocation">
            <xsd:annotation>
              <xsd:documentation>Specifies the address of the output device on the local network.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Subject" minOccurs="0" type="com:typeText">
            <xsd:annotation>
              <xsd:documentation>The text that is displayed in the Subject field of the e-mail, if the output is sent to an e-mail address.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Comment" minOccurs="0" type="com:typeText">
            <xsd:annotation>
              <xsd:documentation>The text displayed in the body of the e-mail, if the output is sent to an e-mail address.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrintRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Prints data according to the specified output parameters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="pri:PrintRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrintResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrintResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="pri:PrintResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TestPrintRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="PrintFormat" type="pfm:PrintFormat">
            <xsd:annotation>
              <xsd:documentation>The code for the print format master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Test" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Specifies whether or not this print request uses test data: x for alphanumeric characters, 9 for numeric characters and dd/mm/yy for dates.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Filter" type="gsl:VocListData">
            <xsd:annotation>
              <xsd:documentation>A list of vocabulary which determines the data to print.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="OutputDeviceMasterCode" minOccurs="0" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the output device master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DevicePath" minOccurs="0" type="com:typeLocation">
            <xsd:annotation>
              <xsd:documentation>Specifies the address of the output device on the local network.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Subject" minOccurs="0" type="com:typeText">
            <xsd:annotation>
              <xsd:documentation>The text that is displayed in the Subject field of the e-mail, if the output is sent to an e-mail address.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Comment" minOccurs="0" type="com:typeText">
            <xsd:annotation>
              <xsd:documentation>The text displayed in the body of the e-mail, if the output is sent to an e-mail address.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TestPrintRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Generates a test print.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="pri:TestPrintRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TestPrintResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TestPrintResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="pri:TestPrintResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrintPreviewRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="PrintFormat" type="pfm:PrintFormat">
            <xsd:annotation>
              <xsd:documentation>The code for the print format master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Test" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Specifies whether or not this print preview request uses test data: x for alphanumeric characters, 9 for numeric characters and dd/mm/yy for dates.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Filter" type="gsl:VocListData">
            <xsd:annotation>
              <xsd:documentation>A list of vocabulary which determines the data to print.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrintPreviewRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves a print preview of the data you want to print.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="pri:PrintPreviewRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrintPreviewResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="PrintPreview" type="pri:PdfFile">
            <xsd:annotation>
              <xsd:documentation>A preview of the data you want to print, in PDF format.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrintPreviewResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="pri:PrintPreviewResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrintingRequest">
    <xsd:annotation>
      <xsd:appinfo build:funcSecValue="421" build:readOnly="true"/>
      <xsd:documentation>This service allows you to output data for printing.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Print" type="pri:PrintRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="1" build:readOnly="true"/>
              <xsd:documentation>Prints data according to the specified output parameters.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TestPrint" type="pri:TestPrintRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="2" build:readOnly="true"/>
              <xsd:documentation>Generates a test print.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PrintPreview" type="pri:PrintPreviewRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="3" build:readOnly="true"/>
              <xsd:documentation>Retrieves a print preview of the data you want to print.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrintingResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response returned when you send a request to output data for printing.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Print" type="pri:PrintResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TestPrint" type="pri:TestPrintResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PrintPreview" type="pri:PrintPreviewResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="PrintingRequest" type="pri:PrintingRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to output data for printing.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PrintingResponse" type="pri:PrintingResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response returned when you send a request to output data for printing.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
