resources/schemas/public/common/printing/printing.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:pri="http://www.coda.com/common/schemas/printing" elementFormDefault="qualified" targetNamespace="http://www.coda.com/common/schemas/printing">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types2.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="PdfFile">
    <xsd:annotation>
      <xsd:documentation>The PDF file displayed for a print preview.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Contents" type="xsd:base64Binary">
        <xsd:annotation>
          <xsd:documentation>Contains the data displayed in the PDF file.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PdfFileList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PdfFile" type="pri:PdfFile"/>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
