resources/schemas/public/finance/ledgerupdate/ledgerupdate.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ult="http://www.coda.com/efinance/schemas/ledgerupdate" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/efinance/schemas/ledgerupdate" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="StartParams">
    <xsd:annotation>
      <xsd:documentation>This element contains the parameters used to select the ledgers to update.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UpdateMode" type="com:typeCtUpdateMode">
        <xsd:annotation>
          <xsd:documentation>Should the process continually update or stop after one update? The available values are Single update (ledger information is updated only once) or Continuous update (ledger information is updated repeatedly at intervals specified in the IdleInterval field).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IdleInterval" type="com:typeULong" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The interval in hours between each ledger update. This option is available only when the UpdateMode is Continuous.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllCompanies" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether you want to update all ledgers in all the companies to which you have access.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LedgerSelection" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the ledger master you want to update. Leave this field blank to select all ledger masters for the current company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ProgressStatistics">
    <xsd:annotation>
      <xsd:documentation>This element contains statistical information about the progress of this ledger update.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OverallElapsedDays" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The time elapsed in days since the start of the ledger update process (this includes all current update cycles).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OverallElapsedHours" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The time elapsed in hours since the start of the ledger update process (this includes all current update cycles).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OverallElapsedMins" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The time elapsed in minutes since the start of the ledger update process (this includes all current update cycles).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IdleHoursLeft" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The time remaining in hours until the next update cycle begins. This information is displayed only when the current state of the update process is Idle.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IdleMinsLeft" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The time remaining in minutes until the next update cycle begins. This information is displayed only when the current state of the update process is Idle.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CyclesCompleted" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of update cycles completed so far in the ledger update process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CycleStartDate" type="com:typeDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date on which this update cycle started.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CycleStartTime" type="com:typeTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The time at which this update cycle started.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CycleElapsedDays" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The time elapsed in days since the start of this update cycle.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CycleElapsedHours" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The time elapsed in hours since the start of this update cycle.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CycleElapsedMins" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The time elapsed in minutes since the start of this update cycle.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TotalCompanys" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The total number of companies for which ledgers are being updated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrentCompany" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The company for which ledger information is being updated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrentCompanyCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the company for which ledger information is being updated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TotalLedgers" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number of ledgers in the update of the current company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrentLedger" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The ledger master currently being updated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrentLedgerCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the ledger master currently being updated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DetailsSelected" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The number of document lines selected for this ledger update cycle.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DetailsProcessed" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The number of detail lines processed so far for this ledger update cycle.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OverallState" type="com:typeCtOneOfN">
        <xsd:annotation>
          <xsd:documentation>The current state of the Ledger Maintenance process. The available values are: None, Processing, Idle, Aborting, Finishing, Finished.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CycleState" type="com:typeCtOneOfN">
        <xsd:annotation>
          <xsd:documentation>The state of the current update cycle. The available values are: None, Selecting, Building, Updating and Writing statistics.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReasonMessage" type="com:typeText" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Displays information about the ledger update cycle.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="IsOneRunningStatistics">
    <xsd:annotation>
      <xsd:documentation>This element contains statistical information about whether a ledger update process is running and the parameters used to start the last, or currently running, update.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="IsRunning" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether a ledger update process is currently running.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OverallStartDate" type="com:typeDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date on which the ledger update process started.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OverallStartTime" type="com:typeTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The time at which the ledger update process started.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UpdateMode" type="com:typeCtUpdateMode">
        <xsd:annotation>
          <xsd:documentation>Should the process continually update or stop after one update? The available values are Single update (ledger information is updated only once) or Continuous update (ledger information is updated repeatedly at intervals specified in the IdleInterval field).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IdleInterval" type="com:typeULong" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The interval in hours between each ledger update. This option is available only when the UpdateMode is Continuous.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CompanySelection" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the company for which a ledger update process was last run, or is currently running. A blank field indicates that ledger information is being updated for all the companies to which you have access.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LedgerSelection" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the ledger master to update. Leave this field blank to select all ledger masters for the current company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="StartParams" type="ult:StartParams">
    <xsd:annotation>
      <xsd:documentation>This element contains the parameters used to select the ledgers to update.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ProgressStatistics" type="ult:ProgressStatistics">
    <xsd:annotation>
      <xsd:documentation>This element contains statistical information about the progress of this ledger update.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IsOneRunningStatistics" type="ult:IsOneRunningStatistics">
    <xsd:annotation>
      <xsd:documentation>This element contains statistical information about whether a ledger update process is running and the parameters used to start the last, or currently running, update.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
