resources/schemas/public/assets/depreciation/depreciationservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:tdo="http://www.coda.com/eassets/schemas/temporarydoc" xmlns:dep="http://www.coda.com/eassets/schemas/depreciation" xmlns:tdt="http://www.coda.com/eassets/schemas/transactiondetails" xmlns:ass="http://www.coda.com/eassets/schemas/asset" xmlns:rev="http://www.coda.com/eassets/schemas/reviewtransactions" targetNamespace="http://www.coda.com/eassets/schemas/depreciation" elementFormDefault="qualified" version="2.0">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/eassets/schemas/temporarydoc" schemaLocation="s:/schemas/public/assets/temporarydoc/temporarydoc.xsd"/>
  <xsd:import namespace="http://www.coda.com/eassets/schemas/asset" schemaLocation="s:/schemas/public/assets/asset/asset.xsd"/>
  <xsd:import namespace="http://www.coda.com/eassets/schemas/reviewtransactions" schemaLocation="s:/schemas/public/assets/reviewtransactions/reviewtransactions.xsd"/>
  <xsd:import namespace="http://www.coda.com/eassets/schemas/transactiondetails" schemaLocation="s:/schemas/public/assets/transactiondetails/transactiondetails.xsd"/>
  <xsd:include schemaLocation="s:/schemas/public/assets/depreciation/depreciation.xsd"/>

  <xsd:complexType name="StartRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Depreciation" type="dep:Depreciation">
            <xsd:annotation>
              <xsd:documentation>This element contains the parameters which can be specified when running depreciation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StartRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Starts a depreciation run using the parameters you specify.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dep:StartRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StartResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The code of the company in which you attempted to start a depreciation run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying the depreciation run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StartResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dep:StartResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Depreciation" type="dep:Depreciation">
            <xsd:annotation>
              <xsd:documentation>This element contains the parameters which can be specified when running depreciation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Reviews the transaction details that will be generated by the depreciation run.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dep:ReviewRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code of the company in which you attempted to review depreciation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying the depreciation run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dep:ReviewResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewDataRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves depreciation information that has been generated. The information is returned in an XML file which you could, for example, export to a spreadsheet file.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dep:ReviewDataRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewDataRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code of the company in which depreciation is being performed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying the depreciation run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="IncludeAssetTransactions" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Specifies whether to include asset transactions in the review. When FALSE, only financial transactions are included in the review.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewDataResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="FinancialData" type="tdo:TemporaryDocumentDetailList">
            <xsd:annotation>
              <xsd:documentation>Contains the financial transactions data that has been generated for export to a spreadsheet file.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AssetData" type="tdt:TransactionTempDetailList">
            <xsd:annotation>
              <xsd:documentation>Contains the asset transactions data that has been generated for export to a spreadsheet file.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewDataResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dep:ReviewDataResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewPostRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Posts the depreciation details that have been reviewed.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dep:ReviewPostRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewPostRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Depreciation" type="dep:Depreciation">
            <xsd:annotation>
              <xsd:documentation>This element contains the parameters which can be specified when running depreciation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CmpCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code of the company in which depreciation is being performed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying the depreciation run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="EngineList" type="dep:DepreciationReviewEngineList">
            <xsd:annotation>
              <xsd:documentation>This element holds the list of the depreciation processes that were returned in response to the previous ReviewRequest.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewPostResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code of the company in which you attempted to post the depreciation details that had been reviewed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying the depreciation run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="LogId" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying the log in which the details of this depreciation process are stored.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewPostResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dep:ReviewPostResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ProgressRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code of the company in which depreciation is being performed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying the depreciation run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ProgressRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves information about the progress of the depreciation process.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dep:ProgressRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ProgressResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="PercentComplete" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>The percentage of the depreciation run that has been completed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ProgressResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dep:ProgressResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ManualDepreciationRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="ManualDepreciation" type="dep:ManualDepreciation">
            <xsd:annotation>
              <xsd:documentation>This element contains the parameters which can be specified when manually depreciating assets.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ManualDepreciationRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Manually depreciates selected assets by a specific value or percentage.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dep:ManualDepreciationRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ManualDepreciationResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Keys" type="ass:AssetKeyList">
            <xsd:annotation>
              <xsd:documentation>Contains a list of key information for the assets you have attempted to manually depreciate.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CmpCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code of the company in which you attempted to run manual depreciation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying this manual depreciation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ManualDepreciationResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dep:ManualDepreciationResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewManualDepreciationRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="ReviewManualDepreciation" type="dep:ManualDepreciation">
            <xsd:annotation>
              <xsd:documentation>This element contains the parameters which can be specified when manually depreciating assets.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewManualDepreciationRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Reviews the transactions that will be generated by performing the specified manual depreciation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dep:ReviewManualDepreciationRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewManualDepreciationResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Keys" type="ass:AssetKeyList">
            <xsd:annotation>
              <xsd:documentation>Contains a list of key information for the assets you have attempted to review.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CmpCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code of the company in which you attempted to review the manual depreciation values.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying this manual depreciation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ReviewTransactions" type="rev:ReviewTransactions">
            <xsd:annotation>
              <xsd:documentation>Contains the asset transactions and financial transactions generated by this manual depreciation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewManualDepreciationResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dep:ReviewManualDepreciationResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostReviewedManualDepreciationRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="PostReviewedManualDepreciation" type="dep:PostReviewedManualDepreciation">
            <xsd:annotation>
              <xsd:documentation>This element contains a list of the assets being depreciated, and the parameters being used for this manual depreciation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostReviewedManualDepreciationRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Posts the manual depreciation values that have been reviewed.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dep:PostReviewedManualDepreciationRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostReviewedManualDepreciationResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Keys" type="ass:AssetKeyList">
            <xsd:annotation>
              <xsd:documentation>Contains a list of key information for the assets you have reviewed and attempted to post.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CmpCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code of the company in which you attempted to post the manual depreciation values that have been reviewed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying this manual depreciation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostReviewedManualDepreciationResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dep:PostReviewedManualDepreciationResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelReviewedManualDepreciationRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="CancelReviewedManualDepreciation" type="dep:CancelReviewedManualDepreciation">
            <xsd:annotation>
              <xsd:documentation>This element contains information identifying the manual depreciation review process to cancel.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelReviewedManualDepreciationRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Cancels the review of the specified manual depreciation process.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dep:CancelReviewedManualDepreciationRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelReviewedManualDepreciationResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code of the company in which you attempted to cancel the review of manual depreciation values.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying this manual depreciation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelReviewedManualDepreciationResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dep:CancelReviewedManualDepreciationResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DepreciationSummaryRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DepreciationSummaryRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Requests a depreciation summary.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dep:DepreciationSummaryRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DepreciationSummaryResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="DepreciationSummaryList" type="dep:DepreciationSummaryList">
            <xsd:annotation>
              <xsd:documentation>The details of the depreciation summary you requested.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DepreciationSummaryResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dep:DepreciationSummaryResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteDepreciationSummaryRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code of the company where the depreciation summary exists.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying the depreciation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteDepreciationSummaryRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Deletes the depreciation summary.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dep:DeleteDepreciationSummaryRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteDepreciationSummaryResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Deleted" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>If yes, indicates that the depreciation summary has been deleted.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteDepreciationSummaryResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dep:DeleteDepreciationSummaryResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RecoverDepreciationSummaryRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code of the company where the depreciation summary exists.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying the depreciation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RecoverDepreciationSummaryRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Recovers a depreciation summary which has failed.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dep:RecoverDepreciationSummaryRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RecoverDepreciationSummaryResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Recovered" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>If yes, indicates that the depreciation summary has been recovered.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RecoverDepreciationSummaryResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dep:RecoverDepreciationSummaryResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DepreciationRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to run depreciation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Start" type="dep:StartRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Starts a depreciation run using the parameters you specify.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Review" type="dep:ReviewRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Reviews the transaction details that will be generated by the depreciation run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Progress" type="dep:ProgressRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves information about the progress of the depreciation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ReviewData" type="dep:ReviewDataRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves depreciation information that has been generated. The information is returned in an XML file which you could, for example, export to a spreadsheet file.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ReviewPost" type="dep:ReviewPostRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Posts the depreciation details that have been reviewed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ManualDepreciation" type="dep:ManualDepreciationRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Manually depreciates selected assets by a specific value or percentage.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ReviewManualDepreciation" type="dep:ReviewManualDepreciationRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Reviews the transactions that will be generated by performing the specified manual depreciation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PostReviewedManualDepreciation" type="dep:PostReviewedManualDepreciationRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Posts the manual depreciation values that have been reviewed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CancelReviewedManualDepreciation" type="dep:CancelReviewedManualDepreciationRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Cancels the review of the specified manual depreciation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DepreciationSummary" type="dep:DepreciationSummaryRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Requests a depreciation summary.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DeleteDepreciationSummary" type="dep:DeleteDepreciationSummaryRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Deletes the depreciation summary.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RecoverDepreciationSummary" type="dep:RecoverDepreciationSummaryRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Recovers a depreciation summary which has failed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DepreciationResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you run depreciation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Start" type="dep:StartResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Review" type="dep:ReviewResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Progress" type="dep:ProgressResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ReviewData" type="dep:ReviewDataResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ReviewPost" type="dep:ReviewPostResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ManualDepreciation" type="dep:ManualDepreciationResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ReviewManualDepreciation" type="dep:ReviewManualDepreciationResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PostReviewedManualDepreciation" type="dep:PostReviewedManualDepreciationResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CancelReviewedManualDepreciation" type="dep:CancelReviewedManualDepreciationResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DepreciationSummary" type="dep:DepreciationSummaryResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DeleteDepreciationSummary" type="dep:DeleteDepreciationSummaryResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RecoverDepreciationSummary" type="dep:RecoverDepreciationSummaryResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="DepreciationRequest" type="dep:DepreciationRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to run depreciation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DepreciationResponse" type="dep:DepreciationResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you run depreciation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
