resources/schemas/public/common/translation/translationservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:build="http://www.coda.com/common/schemas/funcsec" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:tra="http://www.coda.com/common/schemas/translation" elementFormDefault="qualified" targetNamespace="http://www.coda.com/common/schemas/translation" version="1.0">

  <xsd:include schemaLocation="s:/schemas/public/common/translation/translation.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types2.xsd"/>

  <xsd:complexType name="FindTranslatableFieldRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Query" type="com:Query">
            <xsd:annotation>
              <xsd:documentation>This element contains the query criteria used to find the translatable field objects.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FindTranslatableFieldRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves a list of translatable fields matching the specified criteria.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="tra:FindTranslatableFieldRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FindTranslatableFieldResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="TranslatableFieldList" type="tra:TranslatableFieldList">
            <xsd:annotation>
              <xsd:documentation>This element contains a list of translatable fields.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FindTranslatableFieldResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="tra:FindTranslatableFieldResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FindTranslationsRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="ObjectType" type="com:typeGenericOon">
            <xsd:annotation>
              <xsd:documentation>The type of object.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="ObjectCodePattern" type="com:typeTranslatableObjectCode">
            <xsd:annotation>
              <xsd:documentation>The code of the translatable object.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="Field" type="com:typeGenericOon">
            <xsd:annotation>
              <xsd:documentation>The field ID.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="ReferenceLanguage" type="com:typeLocale">
            <xsd:annotation>
              <xsd:documentation>The language of the original text.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="TargetLanguage" type="com:typeLocale">
            <xsd:annotation>
              <xsd:documentation>The language of the translated text.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FindTranslationsRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves a list of translations matching the specified criteria.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="tra:FindTranslationsRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FindTranslationsResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="FindTranslations" type="tra:MultiObjectTranslations">
            <xsd:annotation>
              <xsd:documentation>This element contains details of multiple text translations.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FindTranslationsResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="tra:FindTranslationsResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateTranslationsRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Translations" type="tra:MultiObjectTranslations">
            <xsd:annotation>
              <xsd:documentation>This element contains details of multiple text translations.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateTranslationsRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Updates translations with the specified details.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="tra:UpdateTranslationsRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateTranslationsResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="UpdateTranslations" type="tra:MultiObjectTranslations">
            <xsd:annotation>
              <xsd:documentation>This element contains details of multiple text translations.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateTranslationsResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="tra:UpdateTranslationsResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateTranslatableFieldRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="TranslatableField" type="tra:TranslatableField">
            <xsd:annotation>
              <xsd:documentation>This element contains details of a translatable field.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateTranslatableFieldRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Updates a translatable field with the specified translation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="tra:UpdateTranslatableFieldRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateTranslatableFieldResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="TranslatableField" type="tra:TranslatableField">
            <xsd:annotation>
              <xsd:documentation>This element contains details of a translatable field.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateTranslatableFieldResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="tra:UpdateTranslatableFieldResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UndoNonStructuralChangesRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="ChangeSet" type="tra:TranslatableTextChanges">
            <xsd:annotation>
              <xsd:documentation>This element contains details of translatable text changes.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UndoNonStructuralChangesRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Undoes non-structural text changes.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="tra:UndoNonStructuralChangesRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UndoNonStructuralChangesResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UndoNonStructuralChangesResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="tra:UndoNonStructuralChangesResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TranslationRequest">
    <xsd:annotation>
      <xsd:appinfo build:funcSecValue="431" build:readOnly="true"/>
      <xsd:documentation>This service allows you to work with text translations.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element minOccurs="0" name="FindTranslatableField" type="tra:FindTranslatableFieldRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="1" build:readOnly="true"/>
              <xsd:documentation>Retrieves a list of translatable fields matching the specified criteria.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="FindTranslations" type="tra:FindTranslationsRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="2" build:readOnly="true"/>
              <xsd:documentation>Retrieves a list of translations matching the specified criteria.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="UpdateTranslations" type="tra:UpdateTranslationsRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="3" build:readOnly="false"/>
              <xsd:documentation>Updates translations with the specified details.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="UpdateTranslatableField" type="tra:UpdateTranslatableFieldRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="4" build:readOnly="false"/>
              <xsd:documentation>Updates a translatable field with the specified translation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="UndoNonStructuralChanges" type="tra:UndoNonStructuralChangesRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="5" build:readOnly="false"/>
              <xsd:documentation>Undoes non-structural text changes.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TranslationResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you work with translation requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element minOccurs="0" name="FindTranslatableField" type="tra:FindTranslatableFieldResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="FindTranslations" type="tra:FindTranslationsResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="UpdateTranslations" type="tra:UpdateTranslationsResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="UpdateTranslatableField" type="tra:UpdateTranslatableFieldResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="UndoNonStructuralChanges" type="tra:UndoNonStructuralChangesResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="TranslationRequest" type="tra:TranslationRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to work with text translations.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TranslationResponse" type="tra:TranslationResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you work with translation requests.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
