resources/schemas/public/finance/statement/statementservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:spr="http://www.coda.com/efinance/schemas/statement" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:sel="http://www.coda.com/efinance/schemas/selector" targetNamespace="http://www.coda.com/efinance/schemas/statement" elementFormDefault="qualified" version="11.2">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="s:/schemas/public/common/selector/selector.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="s:/schemas/public/common/selector/selectorservice.xsd"/>
  <xsd:include schemaLocation="s:/schemas/public/finance/statement/statement.xsd"/>

  <xsd:complexType name="GetHeaderRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="spr:FullKey">
            <xsd:annotation>
              <xsd:documentation>The key containing the codes of the masters and the statement you want to use in Statement Processing.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetHeaderRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the information in the statement header.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="spr:GetHeaderRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetHeaderResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Key" type="spr:FullKey">
            <xsd:annotation>
              <xsd:documentation>The key containing the codes of the masters and the statement you want to use in Statement Processing.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Header" type="spr:Header" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains details of the statement header.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetHeaderResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="spr:GetHeaderResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetReferenceNumbersRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="spr:Key">
            <xsd:annotation>
              <xsd:documentation>The key containing the selection criteria for the Reference Number map.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetReferenceNumbersRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the Reference Number map, which consists of a list of statement type masters and their associated statement reference numbers.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="spr:GetReferenceNumbersRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetReferenceNumbersResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Key" type="spr:Key">
            <xsd:annotation>
              <xsd:documentation>The key containing the selection criteria for the Reference Number map. This contains statement master codes and the statement reference numbers valid for each.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ReferenceNumberMap" type="spr:ReferenceNumberMap" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The list of statement reference numbers mapped against statement masters, which you have received from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetReferenceNumbersResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="spr:GetReferenceNumbersResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetDetailsRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Params" type="spr:GetDetailsParams">
            <xsd:annotation>
              <xsd:documentation>The parameters for retrieving the statement lines you are interested in.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetDetailsRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves information about statement lines, using the parameters you specify.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="spr:GetDetailsRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetDetailsResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Key" type="spr:FullKey">
            <xsd:annotation>
              <xsd:documentation>The key containing the codes of the masters and the statement you want to use in Statement Processing.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Details" type="spr:Details" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains information about the statement lines and statement value.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetDetailsResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="spr:GetDetailsResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ValidateRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="GetDetailsParams" type="spr:GetDetailsParams">
            <xsd:annotation>
              <xsd:documentation>The parameters for retrieving the statement lines you want to validate.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Folders" type="spr:FolderList">
            <xsd:annotation>
              <xsd:documentation>Contains information about the folders in which the statement lines are held.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="LogID" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>The name of the log to which the details of the Validate process will be written.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ValidateRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Validates the generated documents in accordance with the options specified in the transaction type master.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="spr:ValidateRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ValidateResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="FullKey" type="spr:FullKey">
            <xsd:annotation>
              <xsd:documentation>The key containing the codes of the masters and the statement you want to use in Statement Processing.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Folders" type="spr:FolderList">
            <xsd:annotation>
              <xsd:documentation>The list of folders containing the statement lines, which have attempted to validate.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ValidateResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="spr:ValidateResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GenerateRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="GetDetailsParams" type="spr:GetDetailsParams">
            <xsd:annotation>
              <xsd:documentation>The parameters for retrieving the statement lines for which you want to generate document proposals.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Params" type="spr:GenerateParams">
            <xsd:annotation>
              <xsd:documentation>Contains the parameters for generating documents for the statement lines.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="LogID" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>The name of the log to which the details of the Generate process will be written.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GenerateRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Generates a document or documents for the statement lines.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="spr:GenerateRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GenerateResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="FullKey" type="spr:FullKey">
            <xsd:annotation>
              <xsd:documentation>The key containing the codes of the masters and the statement you want to use in Statement Processing.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DocProposals" type="spr:DocProposals" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The generated documents containing the proposed transactions.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Folders" type="spr:FolderList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the list of folders and information about the lines held in the folders.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GenerateResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="spr:GenerateResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="GetDetailsParams" type="spr:GetDetailsParams">
            <xsd:annotation>
              <xsd:documentation>The parameters for retrieving the statement lines you want to post.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Folders" type="spr:FolderList">
            <xsd:annotation>
              <xsd:documentation>The list of folders containing the statement lines.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DocProposals" type="spr:DocProposals" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The proposed documents which were created using the Generate request.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="LogID" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>The name of the log to which the details of the Post process will be written.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Posts the documents which have been generated.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="spr:PostRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="FullKey" type="spr:FullKey">
            <xsd:annotation>
              <xsd:documentation>The key containing the codes of the masters and the statement you want to use in Statement Processing</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Folders" type="spr:FolderList">
            <xsd:annotation>
              <xsd:documentation>Contains the list of folders and information on the lines held in the folders.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="spr:PostResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BrowseRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Allows you to browse statement information.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="sel:SelectDetailsRequestVerb">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BrowseResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="sel:SelectDetailsResponseVerb">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LockRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="spr:FullKey">
            <xsd:annotation>
              <xsd:documentation>The key containing the code of the company, the masters and the statement, identifying the statement you want to lock for your own use in Statement Processing.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LockRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Locks the statement you want to use, and prevents other users from accessing it during your process.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="spr:LockRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LockResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Key" type="spr:FullKey">
            <xsd:annotation>
              <xsd:documentation>The key containing the codes of the company, the masters and the statement, identifying the statement you want to lock for your own use in Statement Processing.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="LockToken" type="com:typeText" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>A random alpha-numeric string which is returned when you send a request to lock a statement. You need the LockToken if you want to initiate any further processing for the locked statement, as it indicates that you are the user with write-access to that table.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LockResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="spr:LockResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UnlockRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="spr:FullKey">
            <xsd:annotation>
              <xsd:documentation>The key containing the code of the company, the masters and the statement, identifying the statement you want to unlock.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UnlockRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Unlocks the statement when you have finished using it, allowing other users to access it.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="spr:UnlockRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UnlockResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Key" type="spr:FullKey">
            <xsd:annotation>
              <xsd:documentation>The key containing the code of the company, the masters and the statement, identifying the statement you want to unlock.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UnlockResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="spr:UnlockResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StatementRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to run and monitor statement processing.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="GetHeader" type="spr:GetHeaderRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves the information in the statement header.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetReferenceNumbers" type="spr:GetReferenceNumbersRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves the Reference Number map, which consists of a list of statement type masters and their associated statement reference numbers.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetDetails" type="spr:GetDetailsRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves information about statement lines, using the parameters you specify.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Validate" type="spr:ValidateRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Validates the generated documents in accordance with the options specified in the transaction type master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Generate" type="spr:GenerateRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Generates a document or documents for the statement lines.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Post" type="spr:PostRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Posts the documents which have been generated.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Browse" type="spr:BrowseRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Allows you to browse statement information.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Lock" type="spr:LockRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Locks the statement you want to use, and prevents other users from accessing it during your process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Unlock" type="spr:UnlockRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Unlocks the statement when you have finished using it, allowing other users to access it.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StatementResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you run or monitor statement processing functions.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="GetHeader" type="spr:GetHeaderResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetReferenceNumbers" type="spr:GetReferenceNumbersResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetDetails" type="spr:GetDetailsResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Validate" type="spr:ValidateResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Generate" type="spr:GenerateResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Post" type="spr:PostResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Browse" type="spr:BrowseResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Lock" type="spr:LockResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Unlock" type="spr:UnlockResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="StatementRequest" type="spr:StatementRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to run and monitor statement processing.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatementResponse" type="spr:StatementResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you run or monitor statement processing functions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
