resources/schemas/public/common/outputdevice/outputdevicemasterservice.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:build="http://www.coda.com/common/schemas/funcsec" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:mes="http://www.coda.com/common/schemas/messagetransport" xmlns:odm="http://www.coda.com/common/schemas/outputdevice" elementFormDefault="qualified" targetNamespace="http://www.coda.com/common/schemas/outputdevice" version="1.0">

  <xsd:include schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/outputdevice/outputdevice.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types2.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/messagetransport" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/messagetransport/messagetransport.xsd"/>

  <xsd:complexType name="GetRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="OutputDeviceMasterKey" type="odm:OutputDeviceMasterKey">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying an output device master you want to retrieve.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the specified output device masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="odm:GetRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="OutputDeviceMaster" type="odm:OutputDeviceMaster">
            <xsd:annotation>
              <xsd:documentation>The output device master that you retrieved or attempted to retrieve.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="odm:GetResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FindRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Query" type="com:Query">
            <xsd:annotation>
              <xsd:documentation>The query criteria used to find output device masters in the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FindRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Finds a list of output device masters in the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="odm:FindRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FindResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="OutputDeviceMasterList" type="odm:OutputDeviceMasterList">
            <xsd:annotation>
              <xsd:documentation>Contains a list of output device masters.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FindResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="odm:FindResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="OutputDeviceMasterKey" type="odm:OutputDeviceMasterKey">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying an output device master you want to delete.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Deletes the specified output device masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="odm:DeleteRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="odm:DeleteResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="OutputDeviceMaster" type="odm:OutputDeviceMaster">
            <xsd:annotation>
              <xsd:documentation>Contains the information for an output device master you want to create.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Creates new output device masters in the database based on the information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="odm:AddRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="OutputDeviceMaster" type="odm:OutputDeviceMaster">
            <xsd:annotation>
              <xsd:documentation>The output device master that you created or attempted to create.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="odm:AddResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="OutputDeviceMaster" type="odm:OutputDeviceMaster">
            <xsd:annotation>
              <xsd:documentation>Contains the entire output device master that you want to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Updates output device masters in the database using information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="odm:UpdateRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="OutputDeviceMaster" type="odm:OutputDeviceMaster">
            <xsd:annotation>
              <xsd:documentation>The output device master that you updated or attempted to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="odm:UpdateResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Query" type="com:Query">
            <xsd:annotation>
              <xsd:documentation>The query criteria used to retrieve output device masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves a list of keys for the specified output device masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="odm:ListRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="OutputDeviceMasterItemList" type="odm:OutputDeviceMasterItemList">
            <xsd:annotation>
              <xsd:documentation>Contains a list of output device master codes, short names, and device types.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="odm:ListResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OutputDeviceMasterRequest">
    <xsd:annotation>
      <xsd:appinfo build:funcSecValue="422" build:readOnly="true"/>
      <xsd:documentation>This service allows you to maintain output device masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element minOccurs="0" name="Get" type="odm:GetRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="1" build:readOnly="true"/>
              <xsd:documentation>Retrieves the specified output device masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Find" type="odm:FindRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="2" build:readOnly="true"/>
              <xsd:documentation>Finds a list of output device masters in the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Delete" type="odm:DeleteRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="3" build:readOnly="false"/>
              <xsd:documentation>Deletes the specified output device masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Add" type="odm:AddRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="4" build:readOnly="false"/>
              <xsd:documentation>Creates new output device masters in the database based on the information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Update" type="odm:UpdateRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="5" build:readOnly="false"/>
              <xsd:documentation>Updates output device masters in the database using information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="List" type="odm:ListRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="6" build:readOnly="true"/>
              <xsd:documentation>Retrieves a list of keys for the specified output device masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OutputDeviceMasterResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you maintain output device masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element minOccurs="0" name="Get" type="odm:GetResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Find" type="odm:FindResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Delete" type="odm:DeleteResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Add" type="odm:AddResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Update" type="odm:UpdateResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="List" type="odm:ListResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="OutputDeviceMasterRequest" type="odm:OutputDeviceMasterRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to maintain output device masters.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OutputDeviceMasterResponse" type="odm:OutputDeviceMasterResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you maintain output device masters.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
