resources/schemas/public/finance/browsereportmaster/browsereportmaster.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:brm="http://www.coda.com/efinance/schemas/browsereportmaster" targetNamespace="http://www.coda.com/efinance/schemas/browsereportmaster" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="BrowseReportMaster">
    <xsd:annotation>
      <xsd:documentation>This element holds information for a browse report master. This information is used to retrieve the Browse Balances results from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which the browse report master is being maintained.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp value for this browse report master in the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the browse report master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The full name for the browse report master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The abbreviated name for the browse report master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReportType" type="com:typeCtBrpReportType">
        <xsd:annotation>
          <xsd:documentation>Indicates the type of browse report master you are creating or maintaining. The available values are: Document, Detail, Balance, Ledger and Assets.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BrowseBalMasterCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the browse balance master you want to use.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelMasterCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the selector master you want to use.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReportingBasis" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The reporting basis you want to use. Each element level is represented by a check box which you can set. The reporting basis defined here will override any reporting base criteria defined on the selector master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludeIntrayDetails" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether documents located on the Financials Intray are included when you drill to Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EnableDrillToDetails" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether you can drill down from Browse Balances to Browse Details. Setting this check box may increase the time taken to retrieve the balance information from the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExcludeZeroBalances" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether balances with a value of zero are excluded from the display.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DisableViewPeriods" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether you can use the View Periods functionality with the data that is returned by this report. If you select this check box, the search of the database will be faster than otherwise because the additional information required for period explode will not be selected.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DetailsSelector" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the selector master you want to use for a Browse Details report.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DetailsPresenter" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the presenter master you want to use for a Browse Details report.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DetailsExplode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the presenter master you want to use when exploding a document in Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ledger" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the ledger master you want to use for a Browse Ledger report.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AssetSelector" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the selector master you want to use for a Browse Assets report.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AssetPresenter" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the presenter master you want to use for a Browse Assets report.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SourcePresenter" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the presenter master used in a Browse Assets report to display data in the Source Transactions form.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludeChildren" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies whether children of the selected assets are included, irrespective of whether they are included in the selection themselves. To display child assets together with their parent asset, you must use the sort order functionality.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DisplayBook" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Includes book level data, such as Net Book Value, in the list view. The posting book for the company is selected by default but you may select another book. An option for All Books will display a line for each asset and book combination.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HeaderAndFooterOccurrence" type="com:typeBrowseBalanceHFOccurrence" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates when the header and footer occurs on the report. The available values are: Never, On each report page and At the start and end of the report.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HeaderHasEqualWidthColumns" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the columns in the report header are equal widths.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FooterHasEqualWidthColumns" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the columns in the report footer are equal widths.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RowsPerPage" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies the maximum number of rows that are printed per page for a Browse Balances report.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SuppressZeroBalances" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If true, balances which old zero values are not posted to Financials.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Comment" type="com:typeTextAnyB">
        <xsd:annotation>
          <xsd:documentation>The text of the comment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CommentLocation" type="com:typeCtBrpCommentLocation">
        <xsd:annotation>
          <xsd:documentation>Specifies where you want the comment to appear.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CommentExport" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that you want to include the comment when the report is exported.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MatchingMasterCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of the default matching master held on the browse report master, used when matching from within Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HideRepeats" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that textual (account) information is not displayed when the value would be the same as in the row above.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MatchMasFixedDefault" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the default matching master is fixed (that is, cannot be overridden at run time).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReportHeader" type="brm:HeaderFooterDefinition">
        <xsd:annotation>
          <xsd:documentation>This element contains the column information for the report header.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReportFooter" type="brm:HeaderFooterDefinition">
        <xsd:annotation>
          <xsd:documentation>This element contains the column information for the report footer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BrowseReportMasterSubset">
    <xsd:annotation>
      <xsd:documentation>This element holds information for a browse report master which has been edited during the Browse Balances session. This information is used to retrieve the Browse Balances results from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BrowseBalMasterCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the browse balance master you want to use.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelMasterCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the selector master you want to use.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReportingBasis" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The reporting basis you want to use. Each element level is represented by a check box which you can set. The reporting basis defined here will override any reporting base criteria defined on the selector master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludeIntrayDetails" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether documents located on the Financials Intray are included when you drill to Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExcludeZeroBalances" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether balances with a value of zero are excluded from the display.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="HeaderFooterDefinition">
    <xsd:annotation>
      <xsd:documentation>This element contains the column information for the report header.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Cell" type="brm:HeaderFooterCell" minOccurs="0" maxOccurs="3">
        <xsd:annotation>
          <xsd:documentation>This element holds the columns (a maximum of three) which the report header comprises.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="HeaderFooterCell">
    <xsd:annotation>
      <xsd:documentation>This element holds the columns (a maximum of three) which the report header comprises.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Column" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>A number that identifies this column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Title" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The title of the header or footer column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Underline" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the text in this column is underlined.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Italic" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the text in this column is displayed in italics.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bold" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the text in this column is displayed in bold.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Text" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The footer text displayed in this column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Alignment" type="com:typeCtAsmJustification">
        <xsd:annotation>
          <xsd:documentation>The alignment of the text in this column. The available values are Left, Right and Centre.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Size" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The font size of the text in this column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DisplayNewLine" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this column will be displayed on a new line in the header.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BrmKey">
    <xsd:annotation>
      <xsd:documentation>This element contains the key information which identifies the browse report master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which the browse report master is being maintained.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the browse report master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AssetType" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this is a Browse Assets report type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LedgerType" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this is a Browse Ledger report type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DetailsType" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this is a Browse Details report type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BalanceType" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this is a Browse Balances report type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentType" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this is a Browse Document report type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BrmGetKey">
    <xsd:annotation>
      <xsd:documentation>This element contains the keys that identify the browse report master you want to retrieve from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which the browse report master is being maintained.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the browse report master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Validate" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the contents of the browse report master are validated when the information is retrieved from the database. This is False when you open a master for editing (validation occurs when you save it), and True when a master is retrieved when you run browse reports. In the latter case, the master is validated before it is used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BrmReqKeys">
    <xsd:annotation>
      <xsd:documentation>This element contains the filter that was used to select the browse report masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MaxKeys" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The maximum number of browse report masters you want to retrieve from the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Key" type="brm:BrmKey">
        <xsd:annotation>
          <xsd:documentation>This element contains the key information which identifies the browse report master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BrmKeyDataElement">
    <xsd:annotation>
      <xsd:documentation>This element holds information used to identify browse report masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:KeyDataElement">
        <xsd:sequence>
          <xsd:element name="ReportType" type="com:typeCtBrpReportType">
            <xsd:annotation>
              <xsd:documentation>Indicates the type of browse report master you are creating or maintaining. The available values are: Document, Detail, Balance, Ledger and Assets.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BrmKeyData">
    <xsd:annotation>
      <xsd:documentation>This element holds the unique keys used to identify browse report masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Key" type="brm:BrmKeyDataElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element holds information used to identify browse report masters.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BrmFullKeyDataElement">
    <xsd:annotation>
      <xsd:documentation>This element contains the unique keys used to idenitfy browse report masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="brm:BrmKeyDataElement">
        <xsd:sequence>
          <xsd:element name="Name" type="com:typeName">
            <xsd:annotation>
              <xsd:documentation>The descriptive name for this browse report master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BrmFullKeyData">
    <xsd:annotation>
      <xsd:documentation>This element contains the key information for the listed browse report masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="FullKey" type="brm:BrmFullKeyDataElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element contains the unique keys used to idenitfy browse report masters.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
