resources/schemas/public/common/presentermaster/presentermasterservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:build="http://www.coda.com/common/schemas/funcsec" xmlns:cpm="http://www.coda.com/common/schemas/presentermaster" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:pre="http://www.coda.com/efinance/schemas/presenter" targetNamespace="http://www.coda.com/common/schemas/presentermaster" elementFormDefault="qualified" version="11.1">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/presenter" schemaLocation="s:/schemas/public/common/presenter/presenter.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/presenter" schemaLocation="s:/schemas/public/common/presenter/presenterservice.xsd"/>

  <xsd:complexType name="PresenterMasterRequest">
    <xsd:annotation>
      <xsd:appinfo build:funcSecValue="144" build:readOnly="true"/>
      <xsd:documentation>This service allows you to maintain the new presenter masters that use metadata.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Add" type="pre:AddRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="1" build:readOnly="false"/>
              <xsd:documentation>Creates new presenter masters in the database using the information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Update" type="pre:UpdateRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="2" build:readOnly="false"/>
              <xsd:documentation>Updates presenter masters in the database using the information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Get" type="pre:GetRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="3" build:readOnly="true"/>
              <xsd:documentation>Retrieves the specified presenter masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Delete" type="pre:DeleteRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="4" build:readOnly="false"/>
              <xsd:documentation>Deletes the specified presenter master from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="List" type="pre:ListRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="5" build:readOnly="true"/>
              <xsd:documentation>Retrieves key information for the specified presenter masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PresenterMasterResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you maintain the new presenter masters that use metadata.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Add" type="pre:AddResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Update" type="pre:UpdateResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Get" type="pre:GetResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Delete" type="pre:DeleteResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="List" type="pre:ListResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="PresenterMasterRequest" type="cpm:PresenterMasterRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to maintain the new presenter masters that use metadata.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PresenterMasterResponse" type="cpm:PresenterMasterResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you maintain the new presenter masters that use metadata.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
