resources/schemas/public/assets/canceldepreciation/canceldepreciation.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:candep="http://www.coda.com/eassets/schemas/canceldepreciation" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster" targetNamespace="http://www.coda.com/eassets/schemas/canceldepreciation" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="s:/schemas/public/common/selectormaster/selectormaster.xsd"/>

  <xsd:complexType name="CancelDepreciation">
    <xsd:annotation>
      <xsd:documentation>This element contains parameters specifying which depreciation should be cancelled.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SelectorCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the selector master that you want to use to select assets for cancelling depreciation. Only assets selectors can be specified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelectorMaster" type="gsl:SelectorMaster">
        <xsd:annotation>
          <xsd:documentation>This element holds the selector master specified by SelectorCode.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CancelToYearPeriod" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The period up to which depreciation is cancelled. All depreciation transactions in the selected period and later will be cancelled. For example, if you have run depreciation for periods 1-6, and you specify period 4 here, depreciation will be cancelled for periods 4-6 inclusive.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocYearPeriod" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The year and period to which the cancel depreciation transactions are posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentDate" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>The date of the document which posts the 'reversing' financial transaction to the Financials Books.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LogTitle" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The title of the log file storing details of the cancel depreciation process. This is mandatory.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AggregateAccumDepn" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether 'reversing' financial transactions posted to the same accumulated depreciation account are summarised.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AggregateDepnCharge" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether 'reversing' financial transactions posted to the same depreciation charge account are summarised.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which depreciation is being cancelled.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RunNumber" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>A number identifying this cancel depreciation process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AssetList">
    <xsd:sequence>
      <xsd:element name="AssetListElement" type="candep:AssetListElement" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AssetListElement">
    <xsd:sequence>
      <xsd:element name="AssetCode" type="com:typeGeneralCode"/>
      <xsd:element name="BookCode" type="com:typeGeneralCode"/>
      <xsd:element name="CmpCode" type="com:typeGeneralCode"/>
      <xsd:element name="LastRunYear" type="xsd:int"/>
      <xsd:element name="LastRunPeriod" type="xsd:int"/>
      <xsd:element name="DepnStartYear" type="xsd:int"/>
      <xsd:element name="DepnStartPeriod" type="xsd:int"/>
      <xsd:element name="CapnYear" type="xsd:int"/>
      <xsd:element name="CapnPeriod" type="xsd:int"/>
      <xsd:element name="AssetBookStatus" type="com:typeCtAssetBookStatus"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="CancelDepreciation" type="candep:CancelDepreciation">
    <xsd:annotation>
      <xsd:documentation>This element contains parameters specifying which depreciation should be cancelled.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
