resources/schemas/public/assets/assetselector/assetselectorservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster" xmlns:sel="http://www.coda.com/efinance/schemas/selector" xmlns:asl="http://www.coda.com/eassets/schemas/assetselector" targetNamespace="http://www.coda.com/eassets/schemas/assetselector" elementFormDefault="qualified" version="1.0">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="s:/schemas/public/common/selectormaster/selectormaster.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="s:/schemas/public/common/selector/selector.xsd"/>

  <xsd:complexType name="SelectAssetsRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="SelType" type="gsl:DetailsLocation">
            <xsd:annotation>
              <xsd:documentation>The code for the selector master used to select assets from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="IncludeChildren" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Specifies whether children of the selected parent assets should be included in the selction.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RowLimit" type="com:typeULong" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The maximum number of rows to be returned. The default is 1000.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ApplicationFilter" type="gsl:VocListData">
            <xsd:annotation>
              <xsd:documentation>A list of criteria for selecting assets supplied by the system.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UserFilter" type="gsl:VocListData">
            <xsd:annotation>
              <xsd:documentation>A list of criteria for selecting assets supplied by the user using a generic selector master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Columns" type="sel:CellList">
            <xsd:annotation>
              <xsd:documentation>Each column specifies an item of data that is returned for each selected asset.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SelectAssetsRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Selects assets according to the selection criterion you specify.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="asl:SelectAssetsRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SelectAssetsResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Selection" type="sel:Selection">
            <xsd:annotation>
              <xsd:documentation>Contains the assets that are selected from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SelectAssetsResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="asl:SelectAssetsResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AssetSelectorRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to select assets from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="SelectAssets" type="asl:SelectAssetsRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Selects assets according to the selection criterion you specify.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AssetSelectorResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when assets are selected from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="SelectAssets" type="asl:SelectAssetsResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="AssetSelectorRequest" type="asl:AssetSelectorRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to select assets from the database.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AssetSelectorResponse" type="asl:AssetSelectorResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when assets are selected from the database.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
