resources/schemas/public/finance/auditbalance/auditbalance.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:adb="http://www.coda.com/efinance/schemas/auditbalance" targetNamespace="http://www.coda.com/efinance/schemas/auditbalance" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="StartParams">
    <xsd:annotation>
      <xsd:documentation>This element contains the parameters used to select the balances to audit.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Commitments" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether commitment balances will be audited.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LogTitle" type="com:typeLogTitle">
        <xsd:annotation>
          <xsd:documentation>The title of the log that will be generated by the audit or toolbox process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Year" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The financial year to which the documents you want to audit have been posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FromPeriod" type="com:typePeriods">
        <xsd:annotation>
          <xsd:documentation>The first period in the period range from which balance information is audited.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ToPeriod" type="com:typePeriods">
        <xsd:annotation>
          <xsd:documentation>The last period in the period range from which balance information is audited.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElementValidation" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If True, the audit process must reconstruct the account code from the element codes in the balance entry and compare it with the contents of the account code column of the balance table.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RepBasisValidation" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If True, the audit process must reconstruct the reporting basis from the account code and compare it with the contents of the reporting basis column of the balance table.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DPValidation" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If True, the audit process must verify that the number of decimal places recorded on the balance entry agrees with the number recorded on the currency master for normal balances, or the balance master for quantity balances.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Toolbox" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether you are running the Balance Toolbox process (which corrects any errors detected in the database).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ResetRepBases" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If True, resets the reporting basis.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ElapsedTime">
    <xsd:annotation>
      <xsd:documentation>This element contains details about the time that has elapsed in days, hours and minutes since you started the audit process.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Days" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of days that have elapsed since the start of the audit process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Hours" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of hours that have elapsed since the start of the audit process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Minutes" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of minutes that have elapsed since the start of the audit process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ProgressStatistics">
    <xsd:annotation>
      <xsd:documentation>This element contains statistical information about the progress of the audit.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Year" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The financial year being audited.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FromPeriod" type="com:typePeriods">
        <xsd:annotation>
          <xsd:documentation>The first period in the period range from which balance information is being audited.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ToPeriod" type="com:typePeriods">
        <xsd:annotation>
          <xsd:documentation>The last period in the period range from which balance information is being audited.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentsRead" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The number of documents read so far by the audit process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ErrorCount" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The number of errors detected by the audit process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CheckedCount" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The number of documents checked.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Status" type="com:typeCtAdbProgressStatus">
        <xsd:annotation>
          <xsd:documentation>The current status of the audit process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElapsedTime" type="adb:ElapsedTime">
        <xsd:annotation>
          <xsd:documentation>This element contains details about the time that has elapsed in days, hours and minutes since the start of the audit process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="StartParams" type="adb:StartParams">
    <xsd:annotation>
      <xsd:documentation>This element contains the parameters used to select the balances to audit.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ProgressStatistics" type="adb:ProgressStatistics">
    <xsd:annotation>
      <xsd:documentation>This element contains statistical information about the progress of the audit.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
