resources/schemas/public/finance/hierarchymaster/hierarchymaster.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:hrc="http://www.coda.com/efinance/schemas/hierarchymaster" elementFormDefault="qualified" targetNamespace="http://www.coda.com/efinance/schemas/hierarchymaster">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="UserRef">
    <xsd:annotation>
      <xsd:documentation>This element holds one user reference.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Text" type="com:typeUserRefB">
        <xsd:annotation>
          <xsd:documentation>The text of the user reference.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UserRefList">
    <xsd:annotation>
      <xsd:documentation>This element holds the user references for the hierarchy.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="3" minOccurs="3" name="UserRef" type="hrc:UserRef">
        <xsd:annotation>
          <xsd:documentation>This element holds one user reference.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="Master">
    <xsd:sequence>
      <xsd:element name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp value for this hierarchy master in the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for this hierarchy master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The full name for the hierarchy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The abbreviated name for the hierarchy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowLeavesWithoutGroups" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If true, specifies that leaf nodes in this hierarchy do not have to specify account groups or element groups.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValidFrom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>The starting date in the date range during which the hierarchy is valid. This value is for memorandum purposes only.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValidTo" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>The ending date in the date range during which the hierarchy is valid. This value is for memorandum purposes only.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ContinuousUpdate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If true, enables the continuous capturing of new balance codes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowDuplicates" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether duplicate accounts are added to the Expanded Hierarchy table. If True, accounts may be selected many times in different parts of the hierarchy, allowing data to be included in the hierarchy more than once. (This is useful for including data at one point and reversing it out at a later point, or for including actuals on one row and budgets on later rows.) If False, accounts may be selected only once.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmGrpFilter" type="com:typeCodeWild">
        <xsd:annotation>
          <xsd:documentation>The wildcard pattern for filtering element groups.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmLevelFilter" type="com:typeCtGroupLevelValues">
        <xsd:annotation>
          <xsd:documentation>The element level for filtering element groups.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccountGrpFilter" type="com:typeCodeWild">
        <xsd:annotation>
          <xsd:documentation>The wildcard pattern for filtering account groups.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CrreateDate" type="com:typeDate">
        <xsd:annotation>
          <xsd:documentation>The date on which the hierarchy was created.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="LastUpdatedDate" type="com:typeDate">
        <xsd:annotation>
          <xsd:documentation>The date on which the hierarchy was last updated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="LastUpdatedTime" type="com:typeTime">
        <xsd:annotation>
          <xsd:documentation>The time at which the hierarchy was last updated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="LastUpdatingUser" type="com:typeUserCode">
        <xsd:annotation>
          <xsd:documentation>The user who updated the hierarchy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserRefs" type="hrc:UserRefList">
        <xsd:annotation>
          <xsd:documentation>This element holds the user references for the hierarchy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AddDate" type="com:typeDateB">
        <xsd:annotation>
          <xsd:documentation>The date the record was added.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ModDate" type="com:typeDateB">
        <xsd:annotation>
          <xsd:documentation>The date the record was modified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="UsrName" type="com:typeUserCode">
        <xsd:annotation>
          <xsd:documentation>The code of the user who added or modified the record.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LeafData">
    <xsd:annotation>
      <xsd:documentation>This elements holds the additional information required for a leaf node.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="GrpType" type="com:typeCtHimGrpType">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this leaf node represents an element group, element code, or an account group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CmpCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The company in which the element group exists. Applies only if the Type is element group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GrpCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the element group or account group, whichever applies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ElmCode" type="com:typeElmCodeB">
        <xsd:annotation>
          <xsd:documentation>The code that identifies the element master to be used. Used by Retail.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ElmLevel" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The level of the element within the account code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="UseElementName" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether you want to use the element name as the name for this node (store).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="HierarchyNode">
    <xsd:annotation>
      <xsd:documentation>This element holds the information for one child node, including details of its children (if any).</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Name" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The name for the node.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="HeaderText" type="com:typeHierText">
        <xsd:annotation>
          <xsd:documentation>The text of the header displayed or printed above all the accounts under this node in the hierarchy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HideHeader" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If True, specifies that the header text is not displayed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FooterText" type="com:typeHierText">
        <xsd:annotation>
          <xsd:documentation>The text of the footer displayed or printed below all the accounts under this node in the hierarchy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HideFooter" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If True, specifies that the footer text is not displayed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReverseSign" type="com:typeCtYesNoSome">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the sign on account balances under this node is reversed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubtotalSign" type="com:typeCtBBQBalReverseTotal">
        <xsd:annotation>
          <xsd:documentation>Specifies the values to use when calculating the subtotal for this node. The available options are: Original values, Signed values and Original values reverse sign.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="UserRefs" type="hrc:UserRefList">
        <xsd:annotation>
          <xsd:documentation>This element holds the user references for the node.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="LeafData" type="hrc:LeafData">
        <xsd:annotation>
          <xsd:documentation>This elements holds the additional information required for a leaf node.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Nodes" type="hrc:HierarchyNodeList">
        <xsd:annotation>
          <xsd:documentation>This element holds the information for the children of the current node.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Manager" type="com:typeUserCodeB">
        <xsd:annotation>
          <xsd:documentation>The user code for a manager to act as a workflow recipient for this node.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="HierarchyNodeList">
    <xsd:annotation>
      <xsd:documentation>This element holds the information for the nodes in the hierarchy.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Node" type="hrc:HierarchyNode">
        <xsd:annotation>
          <xsd:documentation>This element holds the information for one child node, including details of its children (if any).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LevelNames">
    <xsd:annotation>
      <xsd:documentation>The list of names or labels for each level in the hierarchy. The first element in this list applies to the top level of the hierarchy. The second element applies to Level Two, and so on.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="12" name="LevelName" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The name or label for the nodes at this level in hierarchy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PrintKey">
    <xsd:annotation>
      <xsd:documentation>A hierarchy master key.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" type="com:typeCodeWild">
        <xsd:annotation>
          <xsd:documentation>The code of the master you want to print, including wildcards.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ModDateFrom" type="com:typeDateB">
        <xsd:annotation>
          <xsd:documentation>The first date of the period during which the masters you want to print were modified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ModDateTo" type="com:typeDateB">
        <xsd:annotation>
          <xsd:documentation>The last date of the period during which the masters you want to print were modified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PrintListFilter">
    <xsd:annotation>
      <xsd:documentation>Contains key information for requesting a number of hierachy masters to print.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MaxKeys" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The maximum number of hierarchy masters to be returned. A value of zero indicates no limit.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GlobalKey" type="hrc:PrintKey">
        <xsd:annotation>
          <xsd:documentation>A hierarchy master key.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="HierarchyMaster">
    <xsd:annotation>
      <xsd:documentation>This element holds a hierarchy master.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="hrc:Master">
        <xsd:sequence>
          <xsd:element name="Nodes" type="hrc:HierarchyNodeList">
            <xsd:annotation>
              <xsd:documentation>This element holds the information for the nodes in the hierarchy.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="LevelNames" type="hrc:LevelNames">
            <xsd:annotation>
              <xsd:documentation>The list of names or labels for each level in the hierarchy. The first element in this list applies to the top level of the hierarchy. The second element applies to Level Two, and so on.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="LeafName" type="com:typeText">
            <xsd:annotation>
              <xsd:documentation>The name for a leaf within the hierarchy.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>
