resources/schemas/public/common/company/company.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cmp="http://www.coda.com/efinance/schemas/company" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/efinance/schemas/company" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="ReqKeys">
    <xsd:sequence>
      <xsd:element name="MaxKeys" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The maximum number of items to be returned.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WildKey" type="com:GlobalKey">
        <xsd:annotation>
          <xsd:documentation>A company master key.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PrintListKeys">
    <xsd:annotation>
      <xsd:documentation>Contains key information for filtering a list of companies.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="cmp:ReqKeys">
        <xsd:sequence>
          <xsd:element name="LastModifiedFrom" type="com:typeDateB" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The start date of a date range for filtering company masters that were last modified within this date range.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="LastModifiedTo" type="com:typeDateB" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The end date of a date range for filtering company masters that were last modified within this date range.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ShrValidCmpsKey">
    <xsd:annotation>
      <xsd:documentation>Contains key information about which companies are selected by the GetShrValidCmps Request.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Home" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of the current company master's home currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyExtRefs">
    <xsd:annotation>
      <xsd:documentation>Specifies the default rules for whether users can modify external references in Browse Details.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ModifyExtRef" type="xsd:short" minOccurs="6" maxOccurs="6">
        <xsd:annotation>
          <xsd:documentation>Specifies the default rule for whether users can modify this external reference in Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CurrentPeriods">
    <xsd:annotation>
      <xsd:documentation>The current period.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Period" type="com:typePeriod" minOccurs="3" maxOccurs="3">
        <xsd:annotation>
          <xsd:documentation>The current period for a security group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ItemUDFSetting">
    <xsd:annotation>
      <xsd:documentation>Details of a UDF.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Enabled" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, the UDF is enabled.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDFCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of the UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDFLabel" type="com:typeTextanyfieldb">
        <xsd:annotation>
          <xsd:documentation>A text label for the UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CompanyCodeList">
    <xsd:annotation>
      <xsd:documentation>Contains a list of company codes.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" type="com:typeGeneralCode" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>A company code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ItemUDFSettings">
    <xsd:annotation>
      <xsd:documentation>This element contains a list of UDFs.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UDF1" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF2" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF3" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF4" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF5" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF6" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF7" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF8" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF9" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF10" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF11" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF12" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF13" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF14" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF15" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF16" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF17" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF18" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF19" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF20" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF21" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF22" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF23" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDF24" type="cmp:ItemUDFSetting" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Details of a UDF.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeliveryDates">
    <xsd:annotation>
      <xsd:documentation>The days to take into account when calculating delivery dates using a lead time.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Monday" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Monday</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Tuesday" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Tuesday</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Wednesday" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Wednesday</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Thursday" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Thursday</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Friday" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Friday</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Saturday" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Saturday</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Sunday" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Sunday</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Procurement">
    <xsd:annotation>
      <xsd:documentation>This element contains Purchasing information.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AccountValidation" type="com:typeCtProcAccValidation">
        <xsd:annotation>
          <xsd:documentation>The account validation method.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DeliveryDateCalculation" type="cmp:DeliveryDates">
        <xsd:annotation>
          <xsd:documentation>The days to take into account when calculating delivery dates using a lead time.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SecondPriceLabel" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The text to display to identify the second price field on the item master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefaultBuyer" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The user designated as the default buyer for this company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepartmentFilter" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>A filter</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepartmentFilterLevel" type="com:typeElmLevel">
        <xsd:annotation>
          <xsd:documentation>The element level of the department filter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UnitPriceDecimalPlaces" type="com:typeCtNumOfDPs">
        <xsd:annotation>
          <xsd:documentation>The number of decimal places to be used for calculating and displaying unit prices.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="QuantityDecimalPlaces" type="com:typeCtNumOfDPs">
        <xsd:annotation>
          <xsd:documentation>The number of decimal places to be used for calculating and displaying quantities.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MandatoryReason" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, specifies that users must enter a reason when completing an order or undoing completion.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CompletionReasonUDF" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of a UDF containing standard reasons for completing an order.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UndoCompletionReasonUDF" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of a UDF containing standard reasons for undoing completion of an order.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SourceDefaultDeliveryAddress" type="com:typeCtAddressSource">
        <xsd:annotation>
          <xsd:documentation>The source of the default delivery address to use.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ItemUDFSettings" type="cmp:ItemUDFSettings">
        <xsd:annotation>
          <xsd:documentation>This element contains a list of UDFs.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Retail">
    <xsd:annotation>
      <xsd:documentation>This element contains Retail information.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="StartDayOfWeek" type="com:typeDayOfWeek">
        <xsd:annotation>
          <xsd:documentation>The first day of a trading week.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StoreHierarchyCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the hierarchy master that you want Retail to use for the current store hierarchy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FirstYearCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The master code for the first year Retail will begin storing data.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StartDate" type="com:typeDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The earliest date for which Retail will store data.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StoreElmLevel" type="com:typeElmLevel">
        <xsd:annotation>
          <xsd:documentation>The Financials element level at which stores are represented in this company's chart of accounts.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostToCurrentPeriod" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, indicates that retail trading summaries (RTS) are posted to the current default period as defined in Financials rather than the period to which the Retail week belongs.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EntityCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The entity master that defines the store categories.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RTSProtectionOfs" type="com:typeRTSProtectionOffset">
        <xsd:annotation>
          <xsd:documentation>The number of weeks before a posted RTS becomes protected from further editing.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SalesInvoice">
    <xsd:annotation>
      <xsd:documentation>This element contains Sales Invoicing information.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AccountValidation" type="com:typeCtBillValidateAccount">
        <xsd:annotation>
          <xsd:documentation>The point at which you want Sales Invoicing to validate the account code on an invoice.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefaultBuyer" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default buyer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SecondPriceLabel" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The label used to describe the second price.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GenerateInterestOnly" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If set, specifies that interest-only invoices are generated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostInvoice" type="com:typeCtBillPostInvoice">
        <xsd:annotation>
          <xsd:documentation>The point at which invoices are posted to the books.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GenerateInvoiceNumber" type="com:typeCtBillGenerateInvoiceNumber">
        <xsd:annotation>
          <xsd:documentation>The point at which the invoice number is generated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UnitPriceDecPrecision" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number of decimal places to be used for calculating and displaying unit prices.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="QtyDecPrecision" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The number of decimal places to be used for calculating and displaying quantities.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CustomerDeliveryAddress" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The address to which goods or services are sent.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CustomerInvoiceAddress" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The address to which invoices for goods and services are sent.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RemittanceAddress" type="com:typeCtRemittanceAddress">
        <xsd:annotation>
          <xsd:documentation>The address to which customers should send payment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CommitmentAccounting">
    <xsd:annotation>
      <xsd:documentation>This element contains commitment accounting information.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UseCommitmentAccounting" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, specifies that commitment accounting is used within the current company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UseEncumbranceAccounting" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, specifies that encumbrance accounting is used within the current company</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CheckForBudgetValues" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, specifies that budget checking will be used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UseQuantities" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, specifies that commitment control is to be exercised over quantities as well as values.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UseDualCommitments" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, specifies that commitment control is to be exercised over dual currency values.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ObligationPeriod" type="com:typeCtObligationPeriod">
        <xsd:annotation>
          <xsd:documentation>The period for obligations.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UsePaymentDueDate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, specifies that the payment due date, as opposed to the order date, is used for the period in which the commitment is allocated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MoveCommOnCallOff" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, specifies whether the commitment is moved to the period of the call-off.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UseLatestPrice" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, specifies that the obligation (when recalculated) is to use the latest unit price for the item rather than the unit price on the order line</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UseLatestRate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, specifies that the obligation (when recalculated) is to use the latest exchange rate rather than the exchange rate for the order line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ActionOnBudgetExceeded" type="com:typeCtBudgetExceeded">
        <xsd:annotation>
          <xsd:documentation>Specifies how the system should respond if the value of a requisition or order exceeds the amount by which the user can overrun the budget.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MeaningOfNoBudget" type="com:typeCtNoBudget">
        <xsd:annotation>
          <xsd:documentation>Specifies how the system should respond if no budget exists in Financials for the account that the user enters an order against.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UseActualsIntersects" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, specifies that the intersects set up on the Balances tab for the Home Actuals, Dual Actuals and Quantities are used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UseActualsForBudgets" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, specifies that the intersects set for Home Actuals on the Balances tab are used for budget checking.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ObligationBalCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the net obligation balance, including both obligations and liquidations.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ObligationQtyBalCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the quantity obligation balance.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EncumbranceBalCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the encumbrance balance.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EncumbranceQtyBalCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the quantity encumbrance balance.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BudgetBalCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the budget checking balance.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BudgetCheckVarianceLine" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, specifies that the exchange rate variance line of the commitment is checked against budget in the normal manner.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ObligationCurrAC" type="com:typeAcCodeSubstB">
        <xsd:annotation>
          <xsd:documentation>The default account to which obligation currency gains and losses are written.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BudgetCheckObligation" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, specifies that the obligation balance of the commitment is checked against budget in the normal manner</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BudgetCheckEncumbrance" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, specifies that the encumbrance balance of the commitment is checked against budget in the normal manner.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Master" abstract="true">
    <xsd:sequence>
      <xsd:element name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp value for this company master in the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The company code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The full name for the company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The abbreviated name for the company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HomeCurr" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of the working currency of this company. This is known as the Home currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DualCurr" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of a second currency in which you want to maintain a set of balancing books, if required. This is known as the Dual currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RateRule" type="com:typeCtRateRules">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the calculation of exchange rates is based on the document date or the input date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Addr1" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Addr2" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Addr3" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Addr4" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Addr5" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Addr6" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The post code for the company address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Telephone" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The telephone number for the company address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Fax" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The fax number for the company address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Vat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The company's registered tax number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ActBalCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The balance code that identifies actuals.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TurnBalCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The balance code that identifies turnovers.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaintActHome" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether balances are held for actuals in the home currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaintActDual" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether balances are held for actuals in the dual currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaintActFgn" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether balances are held for actuals in foreign currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaintTurnHome" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether balances are held for turnovers in the home currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaintTurnDual" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether balances are held for turnovers in the dual currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaintTurnFgn" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether balances are held for turnovers in foreign currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaintQuantities" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether balances are held for quantities.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaintActElement" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether balances are maintained for element actuals.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaintTurnElement" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether balances are maintained for element turnovers.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaintActLevel" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The level of the ruling element for element actuals.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaintTurnLevel" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The level of the ruling element for element turnovers.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DateOrder" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>Specifies the order in which the components of a date are input and displayed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DateDisplay" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The format for displaying dates in this company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WoAC" type="com:typeAcCodeB">
        <xsd:annotation>
          <xsd:documentation>The default account to which write-offs are posted during Pay and Matching.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DiscAC" type="com:typeAcCodeB">
        <xsd:annotation>
          <xsd:documentation>The default account from which discount is given or taken during Pay and Matching.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrAC" type="com:typeAcCodeB">
        <xsd:annotation>
          <xsd:documentation>The company's currency write-off account.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PerSec" type="com:typeUWord">
        <xsd:annotation>
          <xsd:documentation>The number of period security groups.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DateSep" type="com:typeChar">
        <xsd:annotation>
          <xsd:documentation>The character that separates the different parts of the date. All non-alphanumeric characters are valid.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Batch" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The next batch number. This value is system maintained.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayRunID" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>Used by Payment and Collection. This value is system maintained.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="YearMin" type="com:typeYear">
        <xsd:annotation>
          <xsd:documentation>The earliest year into which a document can currently be posted. Earlier years may exist, but they have been closed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="YearMax" type="com:typeYear">
        <xsd:annotation>
          <xsd:documentation>The latest year for which a year master has been created.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BaseYear" type="com:typeYear">
        <xsd:annotation>
          <xsd:documentation>The earliest year for which a year master has been created.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PerNo" type="com:typeUWord">
        <xsd:annotation>
          <xsd:documentation>The number of financial periods in a year.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PeriodCurrent" type="cmp:CurrentPeriods">
        <xsd:annotation>
          <xsd:documentation>The current period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurRateControl" type="com:typeCtCmpCurRateControl">
        <xsd:annotation>
          <xsd:documentation>Specifies this company's default rule for whether exchange rates are document-wide or line-wide.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MatchRef" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The matching reference value used to mark all the matched lines in a payment. This value is system maintained.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefBankCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code that identifies the default company bank.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountryCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The country master used by this company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefMatchingCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code that identifies the default matching document master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefDisperseCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code that identifies the default disperse document master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DeferredVATEnabled" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether deferred tax is enabled.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DeferredVATPriority" type="com:typeCtTTR_Priority">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the type of deferred tax is Deferred priority or Normal priority.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ArcEnable" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the company allows open items to be archived.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReverseQtyCredit" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>The company's default rule for whether the signs of quantities are reversed on credit lines.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReverseQtyDebit" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>The company's default rule for whether the signs of quantities are reversed on debit lines.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubsChar" type="com:typeChar">
        <xsd:annotation>
          <xsd:documentation>The character used as a marker for element substitution in the Input account code. The following characters are allowed: $ + &amp; ^ ~ &lt; &gt; and blank.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExtModel" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>Not used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ParentCurr" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The currency code for the parent currency in this company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HomeDualSwap" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the home and dual currencies have been switched over.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BaseCurrRunning" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the home currency can be changed at run time.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RateMethod" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates how exchange rates are stored for this company. If the value is zero, actual rates are stored; if one, normalised rates are stored.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyExtRefs" type="cmp:ModifyExtRefs">
        <xsd:annotation>
          <xsd:documentation>Specifies the default rules for whether users can modify external references in Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StatRecInt" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The reconciliation integer. This value is system maintained.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowIntrayRecon" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that document lines on the Intray can be reconciled, subject to settings on the capability and reconciliation masters.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BalElms" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The level at which you want elements to balance.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HoldCmpEntries" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that accounting entries will be generated for the specified holding company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HoldCmpElmCode" type="com:typeElmCodeB">
        <xsd:annotation>
          <xsd:documentation>The level 1 element code of the holding company. This must be a valid element which is not matchable.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BalAccounts" type="com:typeAcCodeB">
        <xsd:annotation>
          <xsd:documentation>The account to which balancing entries are posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IsProviderCmp" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this company is a provider company and that selected masters will be shared with dependent companies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProviderCmpCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of the provider company on which this company is dependent for updates to its shared masters. This field is populated only for dependent companies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocNumberGeneration" type="com:typeCtDocNumGen">
        <xsd:annotation>
          <xsd:documentation>Specifies whether documents posted through Input in the Windows client automatically generate the next document number when the current document header is set up, or when the current document is posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowReuseMissingNumbers" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether missing document numbers can be used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReuseDefaultInInput" type="com:typeCtReuseDefault">
        <xsd:annotation>
          <xsd:documentation>Specifies whether missing numbers are used by default during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreateDate" type="com:typeDateB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date when this company master was created.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyDate" type="com:typeDateB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date when this company master was last modified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="User" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The user who last modified this company master (or the user who created this company master if no modify date exists).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AddressCategory" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The category to which this address belongs.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefaultDelivery" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>The default address to which company purchases should be delivered.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefaultInvoice" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>The default address to which invoices should be sent.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefaultSupplierLevel" type="com:typeElmLevel">
        <xsd:annotation>
          <xsd:documentation>The default element level at which your suppliers are held within the chart of accounts.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountryMandatoryOnElementBank" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Do you want to force the user to enter a country code when they create or modify bank details on an element master?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefaultCustomerLevel" type="com:typeElmLevel">
        <xsd:annotation>
          <xsd:documentation>The default element level at which your customers are held within the chart of accounts.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="IntListData">
    <xsd:annotation>
      <xsd:documentation>The element intersect list for maintaining actuals in the home currency.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="RepBasis" type="com:typeUByte" minOccurs="0" maxOccurs="255">
        <xsd:annotation>
          <xsd:documentation>A number signifying an element intersect.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ShrListData">
    <xsd:annotation>
      <xsd:documentation>A list of the dependent companies.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DependentCmpCode" type="com:typeGeneralCode" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>The code of a dependent company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="GrpListData">
    <xsd:annotation>
      <xsd:documentation>A list of the groups to which the company belongs.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="GroupCode" type="com:typeGeneralCode" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>The code of a group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EntListDataElement">
    <xsd:annotation>
      <xsd:documentation>An entity master used in this company.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Type" type="com:typeCtEntityType">
        <xsd:annotation>
          <xsd:documentation>The type of the entity master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Entity" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the entity master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EntListData">
    <xsd:annotation>
      <xsd:documentation>A list of the entity masters that are used in this company.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Item" type="cmp:EntListDataElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>An entity master used in this company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ShrMasListData">
    <xsd:annotation>
      <xsd:documentation>A list of the masters which are shared with other companies.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Type" type="xsd:short" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>A number signifying a type of master that is shared.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ShrElmListDataElement">
    <xsd:annotation>
      <xsd:documentation>A row in the list of rules specifying the shared elements or the shared groups.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Logical" type="com:typeCtRllLogical">
        <xsd:annotation>
          <xsd:documentation>A logical operator, either AND or OR.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LBracket" type="com:typeOpenBracket">
        <xsd:annotation>
          <xsd:documentation>A leading bracket for grouping purposes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Vocab" type="com:typeCtRllVocab">
        <xsd:annotation>
          <xsd:documentation>The vocabulary name of the master to be filtered.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Function" type="com:typeCtRllOperator">
        <xsd:annotation>
          <xsd:documentation>The relational operator that specifies the kind of comparison made between the master's code and the supplied Value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Value" type="com:typeElmCodeWild">
        <xsd:annotation>
          <xsd:documentation>A pattern value that is compared to the master's code. You can use wildcards only with the LIKE and NOTLIKE functions.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TBracket" type="com:typeCloseBracket">
        <xsd:annotation>
          <xsd:documentation>A trailing bracket for grouping purposes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ShrElmListData">
    <xsd:annotation>
      <xsd:documentation>A specification of the element masters which are shared with other companies.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ShrElm" type="cmp:ShrElmListDataElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>A row in the list of rules specifying the shared elements or the shared groups.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Address">
    <xsd:annotation>
      <xsd:documentation>This element contains details of an address.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Category" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address category entity master code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefaultDelivery" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, indicates the default delivery address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefaultInvoice" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, indicates tthe default address for invoices.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address1" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Address line 1.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address2" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Address line 2.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address3" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Address line 3.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address4" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Address line 4.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address5" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Address line 5.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address6" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Address line 6.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostCode" type="com:typePostCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Post code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Country" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Country</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Tel" type="com:typeTel" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Telephone number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Fax" type="com:typeFax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Fax number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Vat" type="com:typeVATB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>VAT code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Addresses">
    <xsd:annotation>
      <xsd:documentation>This element contains Purchasing addresses.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Address" type="cmp:Address" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element contains details of an address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SalesInvoiceAddress">
    <xsd:annotation>
      <xsd:documentation>This element contains details of an address.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Category" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address category entity master code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Default" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If set, indicates the default remittance address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeAddressName" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The address name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address1" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Address line 1.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address2" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Address line 2.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address3" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Address line 3.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address4" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Address line 4.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address5" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Address line 5.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address6" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Address line 6.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostCode" type="com:typePostCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The post code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Telephone" type="com:typeTel" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The telephone number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Fax" type="com:typeFax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The fax number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Country" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The country.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Language" type="com:typeLanguage" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The language name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EMailAddr" type="com:typeEMailAddrB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The e-mail address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SalesInvoiceAddresses">
    <xsd:annotation>
      <xsd:documentation>This element contains Sales Invoicing addresses.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SalesInvoiceAddress" type="cmp:SalesInvoiceAddress" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element contains details of an address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Company">
    <xsd:annotation>
      <xsd:documentation>This element holds a company master.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="cmp:Master">
        <xsd:sequence>
          <xsd:element name="CommitmentAccounting" type="cmp:CommitmentAccounting">
            <xsd:annotation>
              <xsd:documentation>This element contains commitment accounting information.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Procurement" type="cmp:Procurement">
            <xsd:annotation>
              <xsd:documentation>This element contains Purchasing information.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Retail" type="cmp:Retail" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>This element contains Retail information.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="InUse" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Specifies that the company is in use. This flag is usually set when the first master is created in the company.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="HasPostings" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Specifies that a posting has been made in this company.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ActHomeList" type="cmp:IntListData">
            <xsd:annotation>
              <xsd:documentation>The element intersect list for maintaining actuals in the home currency.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ActDualList" type="cmp:IntListData">
            <xsd:annotation>
              <xsd:documentation>The element intersect list for maintaining actuals in the dual currency.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ActFgnList" type="cmp:IntListData">
            <xsd:annotation>
              <xsd:documentation>The element intersect list for maintaining actuals in the foreign currency.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ActElmList" type="cmp:IntListData">
            <xsd:annotation>
              <xsd:documentation>The element intersect list for maintaining element actuals.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TurnHomeList" type="cmp:IntListData">
            <xsd:annotation>
              <xsd:documentation>The element intersect list for maintaining turnovers in the home currency.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TurnDualList" type="cmp:IntListData">
            <xsd:annotation>
              <xsd:documentation>The element intersect list for maintaining turnovers in the dual currency.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TurnFgnList" type="cmp:IntListData">
            <xsd:annotation>
              <xsd:documentation>The element intersect list for maintaining turnovers in the foreign currency.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TurnElmList" type="cmp:IntListData">
            <xsd:annotation>
              <xsd:documentation>The element intersect list for maintaining element turnovers.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="QuantityList" type="cmp:IntListData">
            <xsd:annotation>
              <xsd:documentation>The element intersect list for maintaining quantities.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CommHomeList" type="cmp:IntListData">
            <xsd:annotation>
              <xsd:documentation>The element intersect list for maintaining commitment balances in home currency.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CommDualList" type="cmp:IntListData">
            <xsd:annotation>
              <xsd:documentation>The element intersect list for maintaining commitment balances in dual currency.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CommQtyList" type="cmp:IntListData">
            <xsd:annotation>
              <xsd:documentation>The element intersect list for maintaining commitment quantities.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BudHomeList" type="cmp:IntListData">
            <xsd:annotation>
              <xsd:documentation>The element intersect list for maintaining budgets in home currency.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GroupList" type="cmp:GrpListData">
            <xsd:annotation>
              <xsd:documentation>A list of the groups to which the company belongs.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="EntityList" type="cmp:EntListData">
            <xsd:annotation>
              <xsd:documentation>A list of the entity masters that are used in this company.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ShrList" type="cmp:ShrListData">
            <xsd:annotation>
              <xsd:documentation>A list of the dependent companies.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ProcShrList" type="cmp:ShrListData">
            <xsd:annotation>
              <xsd:documentation>A list of the dependent Purchasing companies.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ShrMasList" type="cmp:ShrMasListData">
            <xsd:annotation>
              <xsd:documentation>A list of the masters which are shared with other companies.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ShrElmList" type="cmp:ShrElmListData">
            <xsd:annotation>
              <xsd:documentation>A specification of the element masters which are shared with other companies.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ShrGrpList" type="cmp:ShrElmListData">
            <xsd:annotation>
              <xsd:documentation>A specification of the groups which are shared with other companies.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Addresses" type="cmp:Addresses">
            <xsd:annotation>
              <xsd:documentation>This element contains Purchasing addresses.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SalesInvoice" type="cmp:SalesInvoice" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>This element contains Sales Invoicing information.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SalesInvoiceAddresses" type="cmp:SalesInvoiceAddresses">
            <xsd:annotation>
              <xsd:documentation>This element contains Sales Invoicing addresses.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Company" type="cmp:Company">
    <xsd:annotation>
      <xsd:documentation>This element holds a company master.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
