resources/schemas/public/assets/bulkupload/bulkuploadservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:asscom="http://www.coda.com/eassets/schemas/common" xmlns:upload="http://www.coda.com/eassets/schemas/bulkupload" targetNamespace="http://www.coda.com/eassets/schemas/bulkupload" elementFormDefault="qualified" version="11.3">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/eassets/schemas/common" schemaLocation="s:/schemas/public/assets/common/types.xsd"/>
  <xsd:include schemaLocation="s:/schemas/public/assets/bulkupload/bulkupload.xsd"/>

  <xsd:complexType name="UpdateRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="BulkUpload" type="upload:BulkUpload">
            <xsd:annotation>
              <xsd:documentation>OBSOLETE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRequestVerb">
    <xsd:annotation>
      <xsd:documentation>THIS HAS BEEN SUPERSEDED BY UPDATEASSET WHICH YOU SHOULD USE INSTEAD.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="upload:UpdateRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsUpdateded" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>OBSOLETE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="upload:UpdateResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UploadRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="BulkUpload" type="upload:BulkUpload">
            <xsd:annotation>
              <xsd:documentation>This element contains the assets and transaction details you specify when uploading assets.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UploadRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Uploads assets using the parameters you specify.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="upload:UploadRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UploadResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsUploaded" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the UploadRequest corresponding to this response was successful.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UploadResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="upload:UploadResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateAssetRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="BulkUpdate" type="upload:BulkUpdate">
            <xsd:annotation>
              <xsd:documentation>This element contains the asset details that you wish to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateAssetRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Updates assets using the parameters you specify.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="upload:UpdateAssetRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateAssetResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsUpdateded" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the UpdateAssetRequest corresponding to this response was successful.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateAssetResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="upload:UpdateAssetResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BulkUploadRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to upload assets in bulk from other systems.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Upload" type="upload:UploadRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Uploads assets using the parameters you specify.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Update" type="upload:UpdateRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>THIS HAS BEEN SUPERSEDED BY UPDATEASSET WHICH YOU SHOULD USE INSTEAD.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UpdateAsset" type="upload:UpdateAssetRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Updates assets using the parameters you specify.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
        <xsd:attribute name="assetnumbers" type="asscom:typeUploadAssetCode" use="required">
          <xsd:annotation>
            <xsd:documentation>Specify whether you are creating new asset numbers, or if you are updating existing asset numbers.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BulkUploadResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you upload assets in bulk.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Upload" type="upload:UploadResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Update" type="upload:UpdateResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UpdateAsset" type="upload:UpdateAssetResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="BulkUploadRequest" type="upload:BulkUploadRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to upload assets in bulk from other systems.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BulkUploadResponse" type="upload:BulkUploadResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you upload assets in bulk.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
