resources/schemas/public/assets/bulkupload/bulkupload.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:upload="http://www.coda.com/eassets/schemas/bulkupload" xmlns:ass="http://www.coda.com/eassets/schemas/asset" xmlns:trn="http://www.coda.com/eassets/schemas/transactiondetails" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/eassets/schemas/bulkupload" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/eassets/schemas/asset" schemaLocation="s:/schemas/public/assets/asset/asset.xsd"/>
  <xsd:import namespace="http://www.coda.com/eassets/schemas/transactiondetails" schemaLocation="s:/schemas/public/assets/transactiondetails/transactiondetails.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="BulkUpload">
    <xsd:annotation>
      <xsd:documentation>This element contains the assets and transaction details you specify when uploading assets.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Details" type="upload:Details" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Contains the asset information and transaction details you specify when uploading an asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Details">
    <xsd:annotation>
      <xsd:documentation>Contains the asset information and transaction details you specify when uploading an asset.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Asset" type="ass:Asset">
        <xsd:annotation>
          <xsd:documentation>This element holds the details for an asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Transactions" type="trn:TransactionDetailList">
        <xsd:annotation>
          <xsd:documentation>This element holds the transaction details for the associated asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepreciationAdjustments" type="upload:AdjustmentDetailList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds any adjustment values that need to be recorded against the asset's first period of depreciation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AdjustmentDetailList">
    <xsd:annotation>
      <xsd:documentation>This element holds any adjustment values that need to be recorded against the asset's first period of depreciation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AdjustmentDetail" type="upload:AdjustmentDetail" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element holds an adjustment value for the asset's first period of depreciation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AdjustmentDetail">
    <xsd:annotation>
      <xsd:documentation>This element holds an adjustment value for the asset's first period of depreciation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BookCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The asset book in which this adjustment value will be recorded.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepnCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The code of the depreciation master used for this asset in the specified asset book.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AdjustmentValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The adjustment value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BulkUpdate">
    <xsd:annotation>
      <xsd:documentation>This element contains the asset details that you wish to update.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UpdateAsset" type="upload:UpdateAsset" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element contains the details that you wish to update for a particular asset. Apart from CmpCode and Code which are mandatory, you need only populate the fields that you wish to update.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UpdateAsset">
    <xsd:annotation>
      <xsd:documentation>This element contains the details that you wish to update for a particular asset. Apart from CmpCode and Code which are mandatory, you need only populate the fields that you wish to update.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the company in which the asset exists.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeAstCode">
        <xsd:annotation>
          <xsd:documentation>The asset code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Description" type="com:typeDescr" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The description of the asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Comment" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The comment stored with the asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Url" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The URL to a location which can contain a picture of the asset or other details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OldAsset" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If the asset has been copied from another system, this element contains the asset's code from the old system.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostingRuleCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the posting rule master used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LocationCode" type="com:typeElmCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of this asset's location.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Quantity" type="com:typeLong" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The quantity of this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserString1" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined text field, 1.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserString2" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined text field, 2.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserString3" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined text field, 3.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserString4" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined text field, 4.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserString5" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined text field, 5.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserString6" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined text field, 6.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserString7" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined text field, 7.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserString8" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined text field, 8.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserString9" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined text field, 9.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserString10" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined text field, 10.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserValue1" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined value field, 1. (A monetary value.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserValue2" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined value field, 2. (A monetary value.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserValue3" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined value field, 3. (A monetary value.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserValue4" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined value field, 4. (A monetary value.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserValue5" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined value field, 5. (A monetary value.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserValue6" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined value field, 6. (A monetary value.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserValue7" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined value field, 7. (A monetary value.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserValue8" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined value field, 8. (A monetary value.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserValue9" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined value field, 9. (A monetary value.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserValue10" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined value field, 10. (A monetary value.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserDate1" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined date field, 1.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserDate2" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined date field, 2.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserDate3" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined date field, 3.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserDate4" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined date field, 4.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserDate5" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined date field, 5.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserDate6" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined date field, 6.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserDate7" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined date field, 7.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserDate8" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined date field, 8.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserDate9" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined date field, 9.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserDate10" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User defined date field, 10.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UpdateBook" type="upload:UpdateBook" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Contains the details that you wish to update in a particular asset book.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UpdateBook">
    <xsd:annotation>
      <xsd:documentation>Contains the details that you wish to update in a particular asset book.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BookCode" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>The code of the asset book.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AssetLife" type="ass:typeAssetLife" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number of periods over which the asset will be written off.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StandardDepnCode" type="com:typeCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the depreciation rule master used in this asset book for calculating standard depreciation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecialDepnCode" type="com:typeCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the depreciation rule master used in this asset book for calculating special depreciation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StartYear" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The year when the asset starts to depreciate.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StartPeriod" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The period when the asset starts to depreciate.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StartDate" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date when the asset starts to depreciate.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ResidualPercent" type="com:typeMoneyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The asset's residual value as a percentage of its original capital cost.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ResidualValue" type="com:typeMoneyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The asset's residual value as an absolute value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IsPercentage" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the asset's residual worth is held as a percentage or a value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PurchaseDate" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date and time when the asset was purchased.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cost" type="com:typeMoneyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The original cost of the asset. This is known as the asset's capital cost.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Revalue" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the asset may be revalued.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="BulkUpload" type="upload:BulkUpload">
    <xsd:annotation>
      <xsd:documentation>This element contains the assets and transaction details you specify when uploading assets.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BulkUpdate" type="upload:BulkUpdate">
    <xsd:annotation>
      <xsd:documentation>This element contains the asset details that you wish to update.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
