resources/schemas/public/finance/diary/diary.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster" xmlns:txn="http://www.coda.com/efinance/schemas/transaction" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:dry="http://www.coda.com/efinance/schemas/diary" targetNamespace="http://www.coda.com/efinance/schemas/diary" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="s:/schemas/public/common/selectormaster/selectormaster.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/transaction" schemaLocation="s:/schemas/public/common/transaction/transaction.xsd"/>

  <xsd:simpleType name="Comment">
    <xsd:annotation>
      <xsd:documentation>A text string that can be saved against a diary event.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="Key">
    <xsd:annotation>
      <xsd:documentation>This element holds the unique keys used to identify diary events.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UniqueID" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>A unique key used to identify a diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AddKey">
    <xsd:annotation>
      <xsd:documentation>This element holds the unique keys used to identify diary events.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="dry:Key">
        <xsd:sequence>
          <xsd:element name="ActionDate" type="com:typeDate">
            <xsd:annotation>
              <xsd:documentation>The date for which a diary task is scheduled.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddKeyList">
    <xsd:annotation>
      <xsd:documentation>This element holds a list of keys and action dates for the diary events added to the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Key" type="dry:AddKey" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element holds the unique keys used to identify diary events.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UpdateEntry">
    <xsd:annotation>
      <xsd:documentation>This element holds information about the diary event you want to update.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UniqueID" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>A unique key used to identify a diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ActionDate" type="com:typeDate">
        <xsd:annotation>
          <xsd:documentation>The date for which a diary task is scheduled.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CompleteDate" type="com:typeDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date on which a diary task was completed. This is not present if the event has not been completed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CompleteTime" type="com:typeTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The time at which a diary task was completed. This is not present if the event has not been completed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Priority" type="com:typeDiaryPriority">
        <xsd:annotation>
          <xsd:documentation>The priority level of the diary task.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ResponsibleUser" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the user responsible for the task.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ActionCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the type of action that is required. The action code must be one of those listed by the Diary Action Codes entity master specified on the company master for the current company or the company associated with the diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaskDescription" type="com:typeDiaryDescr">
        <xsd:annotation>
          <xsd:documentation>A text description of the task that is required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReasonCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the type of reason or excuse which your customers give you when there is a payment dispute. The reason code must be one of those listed by the Reason Codes entity master specified on the company master for the current company or the company associated with the diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ResolutionCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the way in which a payment dispute with a customer is resolved. The resolution code must be one of those listed by the Resolution Codes entity master specified on the company master for the current company, or the company associated with the diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the document, if the diary event is associated with a document. The document must exist on the Books of the specified company, and be posted to the specified element level and code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocNum" type="com:typeDocNumAlphaB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number for the document associated with the diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocLineNum" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number for the document line associated with the diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Entry">
    <xsd:annotation>
      <xsd:documentation>This element holds information about a diary event.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UniqueID" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A unique key used to identify a diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreateDate" type="com:typeDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date on which the diary event was created.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreateTime" type="com:typeTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The time at which the diary event was created.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ActionDate" type="com:typeDate">
        <xsd:annotation>
          <xsd:documentation>The date for which a diary task is scheduled.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CompleteDate" type="com:typeDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date on which a diary task was completed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CompleteTime" type="com:typeTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The time at which a diary task was completed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Priority" type="com:typeDiaryPriority">
        <xsd:annotation>
          <xsd:documentation>The priority level of the diary task.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ResponsibleUser" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the user responsible for the task.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ActionCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the type of action that is required. The action code must be one of those listed by the Diary Action Codes entity master specified on the company master for the current company or the company associated with the diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaskDescription" type="com:typeDiaryDescr">
        <xsd:annotation>
          <xsd:documentation>A text description of the task that is required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CmpCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the company associated with the event, if required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmLevel" type="com:typeElmLevel" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The level of the element within the account code, if the event is associated with an element or a document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmCode" type="com:typeElmCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the element, if the event is associated with an element or a document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the document, if the diary event is associated with a document. The document must exist on the Books of the specified company, and be posted to the specified element level and code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocNum" type="com:typeDocNumAlphaB">
        <xsd:annotation>
          <xsd:documentation>The number for the document associated with the diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocLineNum" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number for the document line associated with the diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReasonCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the type of reason or excuse which your customers give you when there is a payment dispute. The reason code must be one of those listed by the Reason Codes entity master specified on the company master for the current company or the company associated with the diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreateUser" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the user who created the diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ResolutionCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the way in which a payment dispute with a customer is resolved. The resolution code must be one of those listed by the Resolution Codes entity master specified on the company master for the current company, or the company associated with the diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EntryList">
    <xsd:annotation>
      <xsd:documentation>This element holds a list of diary events.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Entry" type="dry:Entry" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element holds information about one diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SortInfo">
    <xsd:annotation>
      <xsd:documentation>This element holds details about which columns are included in the sort, and whether the data in the columns is displayed in ascending or descending order.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Column" type="com:typeCtDrySortField">
        <xsd:annotation>
          <xsd:documentation>Identifies the column used to sort the diary events.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ascending" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the column data is sorted in ascending order. If this is false, the column data will be sorted in descending order.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SortInfoList">
    <xsd:annotation>
      <xsd:documentation>This element holds information about the sort order of the diary events in the main diary display.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Sort" type="dry:SortInfo" minOccurs="0" maxOccurs="3">
        <xsd:annotation>
          <xsd:documentation>This element holds details about which columns are included in the sort, and whether the data in the columns is displayed in ascending or descending order.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SelectInfo">
    <xsd:annotation>
      <xsd:documentation>This element holds the criteria used to determine which diary events are selected from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Select" type="gsl:VocListData">
        <xsd:annotation>
          <xsd:documentation>This element holds the selection vocabulary used to determine which diary events are selected from the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FilterFromDate" type="com:typeHSDate">
        <xsd:annotation>
          <xsd:documentation>The date at the start of the selection range.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FilterToDate" type="com:typeHSDate">
        <xsd:annotation>
          <xsd:documentation>The date at the end of the selection range.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmCode" type="com:typeElmCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the element, if the diary event refers to an element or a document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmLevel" type="com:typeElmLevel" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The level of the element within the account code, if the diary event refers to an element or a document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SortColumns" type="dry:SortInfoList">
        <xsd:annotation>
          <xsd:documentation>This element holds information about the sort order of the diary events in the main diary display.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GslCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for a selector master in the current company. If present, it identifies a list used to optimise the selection.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CommentData">
    <xsd:annotation>
      <xsd:documentation>This element holds details about when the diary event comment was created, and by which user.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CreateDate" type="com:typeDate">
        <xsd:annotation>
          <xsd:documentation>The date on which the comment was created.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreateTime" type="com:typeTime">
        <xsd:annotation>
          <xsd:documentation>The time at which the comment was created.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="User" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the user who created the comment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EntryComment">
    <xsd:annotation>
      <xsd:documentation>This element holds the information for a comment attached to a diary event.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Data" type="dry:CommentData">
        <xsd:annotation>
          <xsd:documentation>This element holds details about when the diary event comment was created, and by which user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Text" type="dry:Comment">
        <xsd:annotation>
          <xsd:documentation>The comment text attached to the diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EntryCommentList">
    <xsd:annotation>
      <xsd:documentation>This element holds the list of comments attached to a diary event.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Comment" type="dry:EntryComment" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element holds the information for a comment attached to a diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Phasing">
    <xsd:annotation>
      <xsd:documentation>This element holds details of a diary event that has been replicated and set to recur at regular intervals.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PhasingRule" type="com:typePhasing">
        <xsd:annotation>
          <xsd:documentation>The time interval between the action dates of each recurring event. This is in the format Dnnn or Mnnn, where nnn specifies the number of days or months between each event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DateRule" type="com:typeDateRule">
        <xsd:annotation>
          <xsd:documentation>The rule that specifies how the dates for the events that follow the original one are derived. This rule only applies when you specify the phasing rule to be in months.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Count" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of events you require, including the original one. This number must be greater than 1.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ElmInfo">
    <xsd:annotation>
      <xsd:documentation>This stores information about the element associated with the diary event.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The short name for the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmLevel" type="com:typeElmLevel">
        <xsd:annotation>
          <xsd:documentation>The level of the element within the account code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmCode" type="com:typeElmCode">
        <xsd:annotation>
          <xsd:documentation>The code for the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ElmCurrs">
    <xsd:annotation>
      <xsd:documentation>This element contains the currency codes for the element.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="HomeCurrency" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the home currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DualCurrency" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the dual currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElementCurrency" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the element currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ElmBalance">
    <xsd:annotation>
      <xsd:documentation>Contains the balance for the element in the specified currency.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="HomeValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The balance for the element, in home currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DualValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The balance for the element, in dual currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The balance for the element, in element currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ElmLastPayment">
    <xsd:annotation>
      <xsd:documentation>This element contains details about the last payment made for the element.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Date" type="com:typeDate">
        <xsd:annotation>
          <xsd:documentation>The date on which the last payment was made.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Amount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount of the last payment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocCurrency" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the currency in which the document is held.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocPay">
    <xsd:annotation>
      <xsd:documentation>This element contains the pay status and value of a document line.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PayStatus" type="com:typeCtStatPayDocLine">
        <xsd:annotation>
          <xsd:documentation>The payment status of the document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The value of the document line, in document currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The value of the document line, in element currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HomeValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The value of the document line, in home currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DualValue" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The value of the document line, in dual currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocPayList">
    <xsd:annotation>
      <xsd:documentation>This element contains the pay status and value for each line on the document.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocPay" type="dry:DocPay" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element contains the pay status and value of a document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="OverdueInfo">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the lines that are overdue for payment on the specified document.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="NoOfLines" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The number of document lines that are overdue for payment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MinOverdueDays" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The minimum number of days by which any of the document lines are overdue.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaxOverdueDays" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The maximum number of days by which any of the document lines are overdue. If all overdue lines are overdue by the same number of days, a Maximum Days Overdue value is not displayed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocLineKey">
    <xsd:annotation>
      <xsd:documentation>This element is a key consisting of a document code, document number, and document line, which uniquely identifies a document line.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the document with which the diary event is associated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Number" type="com:typeDocNumAlpha">
        <xsd:annotation>
          <xsd:documentation>The number for the document with which the diary event is associated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineNumber" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number for the document line with which the diary event is associated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocData">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the document associated with a diary event.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocLineKey" type="dry:DocLineKey">
        <xsd:annotation>
          <xsd:documentation>This element is a key consisting of a document code, document number, and document line, which uniquely identifies a document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NoOfDaysAged" type="com:typeUWord">
        <xsd:annotation>
          <xsd:documentation>The number of days between the document input date and the current date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OverdueInfo" type="dry:OverdueInfo" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains information about the lines that are overdue for payment on the specified document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocCurrency" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the currency in which the document is held.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserStatus" type="com:typeStatUserB">
        <xsd:annotation>
          <xsd:documentation>A user-defined status.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayList" type="dry:DocPayList">
        <xsd:annotation>
          <xsd:documentation>This element contains the pay status and value for each line on the document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EntryInfo">
    <xsd:annotation>
      <xsd:documentation>This element holds information about a diary event.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CmpPresent" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the diary event is associated with a company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cmp" type="com:KeyDataElement" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The company associated with the diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmNamePresent" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the diary event is associated with an element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmName" type="dry:ElmInfo" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This stores information about the element associated with the diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmCurrsPresent" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether currency details are present for the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmCurrs" type="dry:ElmCurrs" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains the currency codes for the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmBalancePresent" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether balance information is present for the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmBalance" type="dry:ElmBalance" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Contains the balance for the element in the specified currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmLastPaymentPresent" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether there is a value for the last payment made for the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmLastPayment" type="dry:ElmLastPayment" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains details about the last payment made for the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocPresent" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the diary event is associated with a document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Doc" type="dry:DocData" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains information about the document associated with a diary event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
