resources/schemas/public/finance/paymaster/paymaster.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:pcm="http://www.coda.com/efinance/schemas/paymaster" targetNamespace="http://www.coda.com/efinance/schemas/paymaster" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>

  <xsd:complexType name="GroupByExtRefList">
    <xsd:annotation>
      <xsd:documentation>Specifies whether detail lines with the same external references at the selected levels will be grouped together.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="GroupByExtRef" type="xsd:boolean" minOccurs="6" maxOccurs="6">
        <xsd:annotation>
          <xsd:documentation>Specifies whether detail lines with the same external references at this level will be grouped together.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="GroupByUserRefList">
    <xsd:annotation>
      <xsd:documentation>Specifies whether detail lines with the same user references at the selected levels will be grouped together.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="GroupByUserRef" type="xsd:boolean" minOccurs="3" maxOccurs="3">
        <xsd:annotation>
          <xsd:documentation>Specifies whether detail lines with the same user references at this level will be grouped together.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Master" abstract="true">
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which the payment master is being maintained.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp value for this payment master in the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for this payment master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The full name for this payment master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The abbreviated name for this payment master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayOrCollect" type="com:typeCtPayCollect">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this payment master will generate payment or collection proposals.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PaymentStage" type="com:typeCtPayStage">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this payment master will generate Single, First, Middle or Last stage proposals.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Level" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The level within the account code of documents selected by this proposal against which payments will be made. The value can be 1-8 and should correspond to the matchable element level of accounts against which payments will be made. The matchable element level is typically the level used for customer and supplier elements.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtLevel" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the matchable element level at run time. When TRUE, the value is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GroupCode" type="com:typeCodeWild">
        <xsd:annotation>
          <xsd:documentation>The code of the group master to select all elements within this group. If you leave this blank, the proposal will select all matchable elements irrespective of their group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtGroup" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the element group at run time. When TRUE, the value is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Country" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The country code that appears on the Name &amp; Address page of the element master. If you leave this blank, the proposal will select all matchable elements irrespective of their country.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtCountry" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the country code at run time. When TRUE, the value is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DiscOnly" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this proposal will select items for payment only if an early settlement discount is available on the proposal discount date. When FALSE, this proposal will select items with any discount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DiscMethod" type="com:typeCtXMLDiscountControl" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies which discount method to use. When set to discount_old, the discount method is derived from the DiscOnly setting. When set to no_discount, this proposal will not select any items with discounts.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtDiscOnly" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether, at run time, users may change the Discounted items only option on the Selection Options tab of the payment master. When TRUE, the option is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncZeroItems" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this proposal will enable (but not force) the inclusion of transactions with a value of zero in the payable currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtZeroItems" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether, at run time, users may change the Include zero items option on the Selection Options tab of the payment master. When TRUE, the option is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AbortOnChange" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the proposal is abandoned if any of the selected lines change before the generation is complete.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtAbortOnChange" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether, at run time, users may change the Abort if details changed option on the Processing Options tab of the payment master. When TRUE, the option is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ForceExchRates" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this proposal will enable users with forward transactions to force match receipts and payments against invoices without creating exchange rate differences.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CopyUserRefs" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether vocabulary-based user references on the payment document will be copied back to the selected document lines being paid.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayCur" type="com:typeCtPayCurType">
        <xsd:annotation>
          <xsd:documentation>Specifies whether payment will be made in the currency of the (matchable) element at the specified level in the account code of documents selected during the pay run, or in the currency of the documents selected. The (matchable) element level against which payments will be made is specified by the Level element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtPayCur" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the payment currency at run time. When TRUE, the value is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GroupByUserStat" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether detail lines with the same user statuses will be grouped together.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtGroupByUserStat" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the user status grouping option at run time. When TRUE, the value is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GroupByElmAddr" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether detail lines with the same element addresses will be grouped together if they have the same matchable element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtGroupByElmAddr" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the element address grouping option at run time. When TRUE, the value is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GroupByElmBank" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether detail lines with the same bank details will be grouped together.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtGroupByElmBank" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the element bank grouping option at run time. When TRUE, the value is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GroupByDueDate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether detail lines with the same due date will be grouped together.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtGroupByDueDate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the due date grouping option at run time. When TRUE, the value is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GroupByValueDate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether detail lines with the same value date will be grouped together.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtGroupByValueDate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the value date grouping option at run time. When TRUE, the value is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GroupByDocCode" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether detail lines will be grouped according to the type of document in which they appear.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtGroupByDocCode" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the document code grouping option at run time. When TRUE, the value is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GroupByExtRefs" type="pcm:GroupByExtRefList">
        <xsd:annotation>
          <xsd:documentation>Specifies whether detail lines with the same external references at the selected levels will be grouped together.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtGroupByExtRef" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the external reference grouping options at run time. When TRUE, the values are protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GroupByUserRefs" type="pcm:GroupByUserRefList">
        <xsd:annotation>
          <xsd:documentation>Specifies whether detail lines with the same user references at the selected levels will be grouped together.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtGroupByUserRef" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the user reference grouping options at run time. When TRUE, the values are protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtDatesList" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change date replacement settings at run time. When TRUE, the settings are protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayDate" type="com:typeHSDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date for settlement of the amount due. This becomes the document date on the payment and collection documents posted to the Books.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtPayDate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the payment date at run time. When TRUE, the date is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DiscDate" type="com:typeHSDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date against which any discount terms on selected items will be compared. For a discount-only run, this is the date against which the terms of the item are checked for an early settlement discount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtDiscDate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the discount date at run time. When TRUE, the date is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Period" type="com:typePeriod" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The year and period to which the automatic payment and collection documents will be posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtYearPer" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the year and period at run time. When TRUE, the date is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelectedFrom" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Start of a range for the gross value of the selected items, excluding discounts. For multi-currency proposals, or where you have used wildcards, the value must be in the home currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelectedTo" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>End of a range for the gross value of the selected items, excluding discounts. For multi-currency proposals, or where you have used wildcards, the value must be in the home currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtSelected" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the gross value range at run time. When TRUE, the range is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayCollectFrom" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Start of a range for the total value of the selected items, including discounts. For multi-currency proposals, or where you have used wildcards, the value must be in the home currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayCollectTo" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>End of a range for the total value of the selected items, including discounts. For multi-currency proposals, or where you have used wildcards, the value must be in the home currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtPayCollect" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may change the total value range at run time. When TRUE, the range is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the presenter master used when exploding lines during manipulate and modify.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MediaSummaryPreCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the presenter master used when exploding media summaries during manipulate and modify.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SummaryPreCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the presenter master used when exploding summaries during manipulate and modify.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DetailPreCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the presenter master used when exploding details during manipulate and modify.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the selector master you want to use. The selector master specifies which fields are available as selection criteria when generating the payment or collection proposal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ForcedProd" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the proposal is produced as soon as it is generated, with no opportunity to manipulate or modify it.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ClientRefreshRate" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Specifies the number of summaries generated before the progress status is updated. By default, it is updated for each summary. Set to a value higher than 1 to reduce network traffic between server and client, and improve performance.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LogErrorsOnlyInPayPost" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether a log entry will be created only when an error is encountered during generation. Set this to TRUE to improve performance.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SoftPayDate" type="com:typeHSDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unused (to be removed from schema)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SoftDiscDate" type="com:typeHSDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unused (to be removed from schema)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SoftPeriod" type="com:typeSoftPeriod" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unused (to be removed from schema)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CheckSettlementAccount" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether to validate each settlement account. Once the system has stablised and settlement accounts are unlikely to change, you might set this to FALSE so that the accounts are not validated until posting. (Settlement accounts are always validated upon posting irrespective of whether this box is set.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtCheckSettlementAccount" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether, at run time, users may change the 'Check the settlement account' option on the Processing Options tab of the payment master. When TRUE, the option is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaximumSummaryLevel" type="com:typeCtElementLevel">
        <xsd:annotation>
          <xsd:documentation>The maximum level at which summaries can occur. The default is Not set which assumes that all levels could be used. When set to a specific level, performance is improved by excluding unwanted levels from the sorting process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtMaximumSummaryLevel" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether, at run time, users may change the 'Maximum summary level' setting on the Processing Options tab of the payment master. When TRUE, the setting is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MinimumSplitLevel" type="com:typeCtElementLevel">
        <xsd:annotation>
          <xsd:documentation>The minimum level at which splits can occur. The default is Not set which assumes that all levels could be used. When set to a specific level, performance is improved by excluding unwanted levels from the sorting process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtMinimumSplitLevel" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether, at run time, users may change the 'Minimum split level' setting on the Processing Options tab of the payment master. When TRUE, the setting is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExportReducedPRLData" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether some fields will not be populated in the PRL tables and thus will not be exported to the DTT tables. Setting this to TRUE improves performance but may limit the options for generating media. When TRUE, the following fields in the PRL tables are not populated: line description, external references, user references, bank and media, address name, settlement account, actual summary code, account code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtExportReducedPRLData" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether, at run time, users may change the 'Export reduced PRL data' option on the Processing Options tab of the payment master. When TRUE, the option is protected and cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ListDataElement">
    <xsd:annotation>
      <xsd:documentation>This element holds details of a media and accounts combination that can be used by a pay run using these details to make payments (or collections).</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CurrCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the currency specified for this media summary. When the payment currency matches this currency, the details within this media summary (including bank, media and posting document) are applied. This will result in payments (or collections) being made according to the details in this media summary.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bank" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the bank master to use in this media summary; identifies the bank that will be used for payments. You cannot use wildcards here.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Media" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the media master to use in this media summary. You cannot use wildcards here.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostTo" type="com:typeCtPayPostDest">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the posting documents are posted to the Books or the Intray, or that no documents will be posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BankTarget" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>The upper limit of the total value of all the summaries within this media summary.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostingDoc" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the document master that you want to use to record the settlement details to the Books.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StatPaid" type="com:typeStatUser" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A user status character to attach to the selected document lines and the payment line that matches them. The new status is applied during the Posting stage of the pay process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StatAvail" type="com:typeStatUser" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A user status character to attach to the available lines on the payment document. The new status is applied during the Posting stage of the pay process. This is not available if no payment or collection document is being posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubstAccount" type="com:typeAcCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An account code that the pay process can use to substitute elements of the account code on the payment document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RestrictSubstAccount" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the substitution account code is extended by element code substitution if the * wildcard is used in the right-most position.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DiscAccount" type="com:typeAcCode">
        <xsd:annotation>
          <xsd:documentation>The account against which discounts will be charged. This field is not available for middle-stage and final-stage proposals.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WOffAccount" type="com:typeAcCode">
        <xsd:annotation>
          <xsd:documentation>The account against which write-offs will be charged. This field is not available for middle-stage and final-stage proposals.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrencyWO" type="com:typeAcCode">
        <xsd:annotation>
          <xsd:documentation>The account code that specifies the bank details of where any currency write-off will be paid to or collected from.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RestrictCurrencyWO" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the currency write-off account code is extended when element code substitution takes place if the * wildcard is used in the right-most position.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PrintRequired" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether printing is required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Message" type="com:typeComment" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A message.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OutputDeviceRemit" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default output device master, for remittances and combined cheques/remittances.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OutputDeviceChq" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default output device master, for cheques if they are sent separately.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PrintFormatRemit" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default print format master, for remittances and combined cheques/remittances.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PrintFormatChq" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default print format master, for cheques if they are sent separately.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ListData">
    <xsd:annotation>
      <xsd:documentation>This element holds details of the media and accounts combinations that can be used by a pay run using these details to make payments (or collections).</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Media" type="pcm:ListDataElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element holds details of a media and accounts combination that can be used by a pay run using these details to make payments (or collections).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DateListDataElement">
    <xsd:annotation>
      <xsd:documentation>This element holds details of a date range that has been replaced with a single effective due date or value date..</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="FromDate" type="com:typeHSDate">
        <xsd:annotation>
          <xsd:documentation>The first date in a range of dates to be replaced by either a specific due date or a specific value date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ToDate" type="com:typeHSDate">
        <xsd:annotation>
          <xsd:documentation>The last date in a range of dates to be replaced by either a specific due date or a specific value date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DueDate" type="com:typeHSDate">
        <xsd:annotation>
          <xsd:documentation>The due date with which you want to replace any document due date that falls within the specified date range.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValueDate" type="com:typeHSDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The value date with which you want to replace any document value date that falls within the specified date range.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DateListData">
    <xsd:annotation>
      <xsd:documentation>This element holds details of the date ranges that have been replaced with a single effective due date or value date.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Date" type="pcm:DateListDataElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element holds details of a date range that has been replaced with a single effective due date or value date..</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PayMaster">
    <xsd:annotation>
      <xsd:documentation>This element holds a payment master.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="pcm:Master">
        <xsd:sequence>
          <xsd:element name="MediaList" type="pcm:ListData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>This element holds details of the media and accounts combinations that can be used by this payment master to make payments (or collections).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DateList" type="pcm:DateListData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>This element holds details of the date ranges that have been replaced with a single effective due date or value date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>
