resources/schemas/public/finance/paymaster/paymasterservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:pcm="http://www.coda.com/efinance/schemas/paymaster" targetNamespace="http://www.coda.com/efinance/schemas/paymaster" elementFormDefault="qualified" version="5.0">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:include schemaLocation="s:/schemas/public/finance/paymaster/paymaster.xsd"/>

  <xsd:complexType name="AddRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="PayMaster" type="pcm:PayMaster">
            <xsd:annotation>
              <xsd:documentation>Contains the information for the payment master you want to create.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Creates new payment masters in the database using the payment information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:MultiCompanyRequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="pcm:AddRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddResponse">
    <xsd:complexContent>
      <xsd:extension base="com:MultiCompanyResponse">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the company in which you attempted to create the payment master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the payment master that you attempted to create.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TimeStamp" type="com:typeWord">
            <xsd:annotation>
              <xsd:documentation>The TimeStamp value for this payment master in the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Companies" type="com:Companies" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the list of additional companies in which you want to create the masters. This is part of the multi-company functionality for maintaining masters in multiple companies.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Response" type="pcm:AddResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="PayMaster" type="pcm:PayMaster">
            <xsd:annotation>
              <xsd:documentation>Contains the information for the payment master you want to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Updates payment masters in the database using the payment information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:MultiCompanyRequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="pcm:UpdateRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateResponse">
    <xsd:complexContent>
      <xsd:extension base="com:MultiCompanyResponse">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the company in which you attempted to update the payment master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the payment master that you attempted to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TimeStamp" type="com:typeWord">
            <xsd:annotation>
              <xsd:documentation>The TimeStamp value for this payment master in the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Companies" type="com:Companies" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the list of additional companies in which you want to update the masters. This is part of the multi-company functionality for maintaining masters in multiple companies.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Response" type="pcm:UpdateResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="com:Key">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying the payment master you want to retrieve from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the specified payment masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="pcm:GetRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the company in which you attempted to retrieve the payment master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the payment master that you retrieved or attempted to retrieve.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PayMaster" type="pcm:PayMaster" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the payment master you have retrieved from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="pcm:GetResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResolvedRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="com:Key">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying the payment master you want to retrieve from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResolvedRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the specified payment masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="pcm:GetResolvedRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResolvedResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Key" type="com:Key">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying the payment master you attempted to retrieve from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PayMaster" type="pcm:PayMaster" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the payment master you have retrieved from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResolvedResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="pcm:GetResolvedResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="com:Key">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying the payment master you want to delete.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Deletes the specified payment masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="pcm:DeleteRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the company in which you attempted to delete the payment master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the payment master that you attempted to delete.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="pcm:DeleteResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReqKeys">
    <xsd:annotation>
      <xsd:documentation>A filter that selects the payment masters to be listed.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ReqKeys">
        <xsd:sequence>
          <xsd:element name="FilterByType" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Determines whether the list should be filtered according to the type of payment master that the user is permitted to access. The user's capability determines whether he is permitted to access masters for payment, collection, or both.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Filter" type="pcm:ReqKeys">
            <xsd:annotation>
              <xsd:documentation>A filter that selects the payment masters to be listed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves key information for the specified payment masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="pcm:ListRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Filter" type="pcm:ReqKeys">
            <xsd:annotation>
              <xsd:documentation>The filter that was used to select the payment masters to be listed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Keys" type="com:KeyData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the key information for the listed payment masters.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="pcm:ListResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PayMasterRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to maintain payment masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Add" type="pcm:AddRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Creates new payment masters in the database using the payment information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Update" type="pcm:UpdateRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Updates payment masters in the database using the payment information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Get" type="pcm:GetRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves the specified payment masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetResolved" type="pcm:GetResolvedRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves the specified payment masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Delete" type="pcm:DeleteRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Deletes the specified payment masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="List" type="pcm:ListRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves key information for the specified payment masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PayMasterResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you maintain payment masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Add" type="pcm:AddResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Update" type="pcm:UpdateResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Get" type="pcm:GetResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetResolved" type="pcm:GetResolvedResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Delete" type="pcm:DeleteResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="List" type="pcm:ListResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="PayMasterRequest" type="pcm:PayMasterRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to maintain payment masters.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PayMasterResponse" type="pcm:PayMasterResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you maintain payment masters.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
