resources/schemas/public/assets/forecasting/forecasting.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:for="http://www.coda.com/eassets/schemas/forecasting" targetNamespace="http://www.coda.com/eassets/schemas/forecasting" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="s:/schemas/public/common/selectormaster/selectormaster.xsd"/>

  <xsd:complexType name="Forecasting">
    <xsd:annotation>
      <xsd:documentation>This element contains the parameters which can be specified when forecasting depreciation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SelectorCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the selector master that you want to use to select assets for forecasting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelectorMaster" type="gsl:SelectorMaster">
        <xsd:annotation>
          <xsd:documentation>This element holds a selector master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="YearPeriodFrom" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The year and period at the start of the range for which you want to run forecasting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="YearPeriodTo" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The year and period at the end of the range for which you want to run forecasting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AggregateDepreciation" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Set this to TRUE to summarise postings that are made to the same Accumulated Depreciation account.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AggregateCharge" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Set this to TRUE to summarise postings that are made to the same Depreciation Charge account.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CalculateYearly" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Set this to TRUE to calculate the forecast figures yearly rather than by period. Calculating the figures yearly will be quicker, but less detailed, than calculating the figures by period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LogTitle" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A title for the log file that stores details of the forecasting run. This is mandatory.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DetailedLog" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Set this to TRUE to have details of the forecast depreciation calculations appended to the log file.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ErrorsOnly" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether only error messages are saved to the log file. When TRUE, warning messages, success messages, and information messages are not logged.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Destination" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Specify whether the results are exported to a CSV file or to a CODA non-maintained balance code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BalanceCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The non-maintained balance code to which you want the results to be exported. This needs to be completed only if the Destination is set to be a CODA non-maintained balance code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludeAssetTransactions" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether to include asset transactions in the forecast information. When FALSE, only financial transactions are included.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludeAdditionalCurrencies" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether values in associated currency books are also forecast.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludeIntrayAssets" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>When True, Intray assets will be included in the selection providing that the selector master specified in SelectorCode includes 'Intray' as a data location.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LogsWithSpreadsheetDataList">
    <xsd:annotation>
      <xsd:documentation>Contains a list of forecasting logs that have spreadsheet data available for download.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LogsWithSpreadsheetDataElement" type="for:LogsWithSpreadsheetDataElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Contains details of a forecasting log that has spreadsheet data available for download.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LogsWithSpreadsheetDataElement">
    <xsd:annotation>
      <xsd:documentation>Contains details of a forecasting log that has spreadsheet data available for download.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LogID" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>A number uniquely identifying the log.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreateDateTime" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date and time when the log was created.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Title" type="com:typeLogTitle">
        <xsd:annotation>
          <xsd:documentation>The log title.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RunID" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>A number identifying the forecast depreciation run.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Forecasting" type="for:Forecasting">
    <xsd:annotation>
      <xsd:documentation>This element contains the parameters which can be specified when forecasting depreciation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
