resources/schemas/public/assets/numberrulemaster/numberrulemaster.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:nrm="http://www.coda.com/eassets/schemas/numberrulemaster" targetNamespace="http://www.coda.com/eassets/schemas/numberrulemaster" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>

  <xsd:complexType name="NumRuleMaster" abstract="true">
    <xsd:annotation>
      <xsd:documentation>This element holds a number rule master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp value for this number rule master in the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which the number rule master is being maintained.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for this number rule master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The full name for this number rule master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The abbreviated name for this number rule master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Prefix" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The string to use as the prefix for asset numbers generated by this number rule master. The prefix can contain characters, digits and symbols excluding the * and ? wildcards</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NumberLength" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of digits in the numerical part of the asset number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StartNumber" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The first number that can be generated by this number rule master</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NextNumber" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The next number that will be generated by this number rule master. This value is read-only.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EndNumber" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The last number that can be generated by this number rule master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ammendable" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can amend asset numbers that are generated by this number rule master. This is FALSE by default, and cannot be set if Temporary is set to TRUE.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Temporary" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Set to TRUE to make this number rule master generate temporary numbers. This value can be TRUE for only one number rule master in each CODA company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="NumberRuleReqKeys">
    <xsd:annotation>
      <xsd:documentation>Contains key information for requesting a number of number rule masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MaxKeys" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The maximum number of items to be returned.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The short name of the number rule master that you want to select. This can be wildcarded to return multiple number rule masters.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Key" type="com:Key">
        <xsd:annotation>
          <xsd:documentation>Contains key information for the specified number rule masters.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="NumberRulePrefix">
    <xsd:sequence>
      <xsd:element name="Code" type="com:typeGeneralCode"/>
      <xsd:element name="Prefix" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="NumberRulePrefixList">
    <xsd:sequence>
      <xsd:element name="NumberRulePrefix" type="nrm:NumberRulePrefix" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="NumRuleMaster" type="nrm:NumRuleMaster">
    <xsd:annotation>
      <xsd:documentation>This element holds a number rule master.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
