resources/schemas/public/common/sessioninfo/sessioninfo.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:ses="http://www.coda.com/common/schemas/sessioninfo" elementFormDefault="qualified" targetNamespace="http://www.coda.com/common/schemas/sessioninfo">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types2.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="SessionInfo">
    <xsd:annotation>
      <xsd:documentation>This element holds session details</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="SessionId" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The session identifier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="UsingCodaWorkflow" type="com:typeBoolean">
        <xsd:annotation>
          <xsd:documentation>If set, indicates that the built-in Workflow system is in use.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The time stamp value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SessionInfoList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="SessionInfo" type="ses:SessionInfo"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SessionInfoKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="SessionInfo" type="ses:SessionInfoKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SessionInfoKey">
    <xsd:annotation>
      <xsd:documentation>This element holds a key to the session info.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SessionId" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The session identifier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
