resources/schemas/public/finance/browseledger/browseledgerservice.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:sel="http://www.coda.com/efinance/schemas/selector" xmlns:blr="http://www.coda.com/efinance/schemas/browseledger" xmlns:elm="http://www.coda.com/efinance/schemas/elementmaster" targetNamespace="http://www.coda.com/efinance/schemas/browseledger" elementFormDefault="qualified" version="1.0">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/selector/selector.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/selectormaster/selectormaster.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/elementmaster" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/elementmaster/elementmaster.xsd"/>
  <xsd:include schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/finance/browseledger/browseledger.xsd"/>

  <xsd:complexType name="GetRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="LedgerKey" type="com:Key">
            <xsd:annotation>
              <xsd:documentation>A key used to identify the ledger.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Currency" type="com:typeCtBlrCurrView">
            <xsd:annotation>
              <xsd:documentation>The currency in which the Browse Ledger results are to be displayed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Grouping" type="blr:Grouping">
            <xsd:annotation>
              <xsd:documentation>This element holds information about how the Browse Ledger results are to be grouped.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Sort" type="blr:SortList">
            <xsd:annotation>
              <xsd:documentation>This element holds information about the columns used to sort the Browse Ledger results.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SelectedColumns" type="blr:ColumnNumberList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>A list of column numbers indicating which ledger columns are to be retrieved. If this list is not given, all columns are retrieved. A column in the selected columns list may not be returned if it is hidden by grouping.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RowLimit" type="com:typeULong" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The maximum number of rows that can be retrieved.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ElmKey" type="elm:elmFullKey" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Optionally restricts the ledger to this element.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SelectFilter" type="gsl:VocListData">
            <xsd:annotation>
              <xsd:documentation>The selector vocabulary used to retrieve the ledger details.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ColumnFilter" type="blr:FilterList">
            <xsd:annotation>
              <xsd:documentation>This element contains selection criteria used in addition to the criteria contained in the SelectFilter element, but the selection is based on columns in the ledger rather than selector vocabulary. Any column filter which can be expressed as a vocabulary-based filter, will be moved to the SelectFilter by the server to make the selection process more efficient.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the ledger details from the database, using the information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="blr:GetRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Filter" type="blr:Filter">
            <xsd:annotation>
              <xsd:documentation>This element contains the criteria used to retrieve ledger details form the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="LedgerOutOfDate" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the selected ledger master has changed since the last Ledger Update. Some ledger master changes, for example, changing a column title, are ignored.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Selection" type="sel:Selection" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>This element contains the ledger details retrieved by Browse Ledger. The selection contains a header row, zero or more data rows, and a totals row.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="blr:GetResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetSelectorRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="LedgerKey" type="com:Key">
            <xsd:annotation>
              <xsd:documentation>A key used to identify the ledger.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="OrgCmpCode" type="com:typeGeneralCode" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The code of the original company for the ledger row.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AccountCode" type="com:typeAcCodeWild">
            <xsd:annotation>
              <xsd:documentation>The account code for the ledger row.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ColumnNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>The column number.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetSelectorRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves a selector which can be used, along with the ledger master's own selector master, in the SelectorRequest/SelectDetails service. This service retrieves the document lines used to populate the ledger cell.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="blr:GetSelectorRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetSelectorResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="LedgerKey" type="com:Key">
            <xsd:annotation>
              <xsd:documentation>A key used to identify the ledger.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="OrgCmpCode" type="com:typeGeneralCode" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The code of the original company for the ledger row.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AccountCode" type="com:typeAcCodeWild">
            <xsd:annotation>
              <xsd:documentation>The full account code for the ledger row.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ColumnNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>The column number.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SelectFilter" type="gsl:VocListData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The selector for this ledger row and column.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetSelectorResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="blr:GetSelectorResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRowRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="LedgerKey" type="com:Key">
            <xsd:annotation>
              <xsd:documentation>A key used to identify the ledger.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="OrgCmpCode" type="com:typeGeneralCode" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The code of the original company for the ledger row.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AccountCode" type="com:typeAcCodeWild">
            <xsd:annotation>
              <xsd:documentation>The full account code for the ledger row.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Currency" type="com:typeCtBlrCurrView">
            <xsd:annotation>
              <xsd:documentation>The currency in which the Browse Ledger results are to be displayed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SelectedColumns" type="blr:ColumnNumberList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>A list of column numbers indicating which ledger columns are to be retrieved. If this list is not given, all columns are retrieved. A column in the selected columns list may not be returned if it is hidden by grouping.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRowRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Updates the ledger values for the selected row, using the details posted in Financials, and returns the revised values for the row.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="blr:UpdateRowRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRowResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="LedgerKey" type="com:Key">
            <xsd:annotation>
              <xsd:documentation>A key used to identify the ledger.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="OrgCmpCode" type="com:typeGeneralCode" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The code of the original company for the ledger row.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AccountCode" type="com:typeAcCodeWild">
            <xsd:annotation>
              <xsd:documentation>The full account code for the ledger row.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Currency" type="com:typeCtBlrCurrView">
            <xsd:annotation>
              <xsd:documentation>The currency in which the Browse Ledger results are displayed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SelectedColumns" type="blr:ColumnNumberList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>This element contains a list of column numbers indicating which ledger columns have been retrieved.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Selection" type="sel:Selection" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>This element contains the revised ledger data resulting from the update. The selection contains a header row and one data row (no SelectFilter or ColumnFilter is applied to this data).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRowResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="blr:UpdateRowResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BrowseLedgerRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to browse summarised data for a selected range of accounts.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Get" type="blr:GetRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves the ledger details from the database, using the information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetSelector" type="blr:GetSelectorRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves a selector which can be used, along with the ledger master's own selector master, in the SelectorRequest/SelectDetails service. This service retrieves the document lines used to populate the ledger cell.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UpdateRow" type="blr:UpdateRowRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Updates the ledger values for the selected row, using the details posted in Financials, and returns the revised values for the row.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BrowseLedgerResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you browse a ledger.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Get" type="blr:GetResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetSelector" type="blr:GetSelectorResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UpdateRow" type="blr:UpdateRowResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="BrowseLedgerRequest" type="blr:BrowseLedgerRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to browse summarised data for a selected range of accounts.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BrowseLedgerResponse" type="blr:BrowseLedgerResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you browse a ledger.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
