resources/schemas/public/common/workflowselection/workflowselectionservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:build="http://www.coda.com/common/schemas/funcsec" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:browse="http://www.coda.com/common/schemas/workflowselection" xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster" xmlns:sel="http://www.coda.com/efinance/schemas/selector" xmlns:log="http://www.coda.com/common/schemas/logging" targetNamespace="http://www.coda.com/common/schemas/workflowselection" elementFormDefault="qualified" version="1.0">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="s:/schemas/public/common/selectormaster/selectormaster.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="s:/schemas/public/common/selector/selector.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/logging" schemaLocation="s:/schemas/public/common/logging/logging.xsd"/>

  <xsd:complexType name="WorkflowIds">
    <xsd:annotation>
      <xsd:documentation>A list of workflow instance IDs.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Id" type="com:typeDbGuid" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>A workflow instance ID.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SelectRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="SelType" type="gsl:SelectorType">
            <xsd:annotation>
              <xsd:documentation>Specifies the source of the data from which the selection is made. The data source is determined by the combination of data class and data location.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GslCode" type="com:typeGeneralCodeB">
            <xsd:annotation>
              <xsd:documentation>The code of the selector master you want to use.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RowLimit" type="com:typeULong" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The maximum number of rows you want your search to return.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ApplicationFilters" type="sel:VocListDataList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The search criteria to be applied by the application when selecting the data. These are as set up in the selector master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UserFilter" type="gsl:VocListData">
            <xsd:annotation>
              <xsd:documentation>The additional search criteria specified by the user, to be applied when selecting the data.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Columns" type="sel:CellList">
            <xsd:annotation>
              <xsd:documentation>The columns representing vocabulary items that you want the server to return.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SelectRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves workflow data, using the selection criteria you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="browse:SelectRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SelectResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Selection" type="sel:Selection" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The selected data returned to you for browsing.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SelectResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="browse:SelectResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetWorkflowLogsRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="WorkflowIds" type="browse:WorkflowIds">
            <xsd:annotation>
              <xsd:documentation>A list of workflow instance IDs.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetWorkflowLogsRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves workflow logs.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="browse:GetWorkflowLogsRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetWorkflowLogsResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="LineList" type="log:LineData">
            <xsd:annotation>
              <xsd:documentation>The workflow log data.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetWorkflowLogsResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="browse:GetWorkflowLogsResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="WorkflowSelectionRequest">
    <xsd:annotation>
      <xsd:appinfo build:funcSecValue="429" build:readOnly="true"/>
      <xsd:documentation>This service allows you to submit selection criteria to retrieve workflow data.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Select" type="browse:SelectRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="1" build:readOnly="true"/>
              <xsd:documentation>Retrieves workflow data, using the selection criteria you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetWorkflowLogs" type="browse:GetWorkflowLogsRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="2" build:readOnly="true"/>
              <xsd:documentation>Retrieves workflow logs.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="WorkflowSelectionResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you issue a workflow selection request.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Select" type="browse:SelectResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetWorkflowLogs" type="browse:GetWorkflowLogsResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="WorkflowSelectionRequest" type="browse:WorkflowSelectionRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to submit selection criteria to retrieve workflow data.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="WorkflowSelectionResponse" type="browse:WorkflowSelectionResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you issue a workflow selection request.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
