resources/schemas/public/common/workflowapi/workflowservice.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:atc="http://www.coda.com/common/schemas/attachment" xmlns:build="http://www.coda.com/common/schemas/funcsec" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:datatypes="http://www.coda.com/common/schemas/datatypes" xmlns:gra="http://www.coda.com/common/schemas/graphlayout" xmlns:spec="http://www.coda.com/common/schemas/workflow" xmlns:use="http://www.coda.com/common/schemas/userextension" xmlns:wor="http://www.coda.com/common/schemas/workflowapi" xmlns:wsd="http://www.coda.com/common/schemas/wsdl" elementFormDefault="qualified" targetNamespace="http://www.coda.com/common/schemas/workflowapi" version="11.3">

  <xsd:include schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/workflowapi/workflowapi.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types2.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/attachment" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/attachment/attachment.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/datatypes" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/datatypes/datatypes.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/graphlayout" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/graphlayout/graphlayout.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/userextension" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/userextension/userextension.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/workflow" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/workflow/workflow.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/wsdl" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/wsdl/wsdl.xsd"/>

  <xsd:complexType name="StartWorkflowRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Information" type="wor:WorkflowStartInformation">
            <xsd:annotation>
              <xsd:documentation>The initial values for the workflow instance.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StartWorkflowRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Starts a workflow instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="wor:StartWorkflowRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StartWorkflowResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Id" type="com:typeDbGuid">
            <xsd:annotation>
              <xsd:documentation>A unique ID.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="WorkflowStatus" type="wor:WorkflowStatus">
            <xsd:annotation>
              <xsd:documentation>The status of the workflow system.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StartWorkflowResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="wor:StartWorkflowResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StartWorkflowAsyncRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Information" type="wor:WorkflowStartInformation">
            <xsd:annotation>
              <xsd:documentation>The initial values for the workflow instance.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StartWorkflowAsyncRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Starts a workflow instance asynchronously.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="wor:StartWorkflowAsyncRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StartWorkflowAsyncResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Id" type="com:typeDbGuid">
            <xsd:annotation>
              <xsd:documentation>The workflow instance ID.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StartWorkflowAsyncResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="wor:StartWorkflowAsyncResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelWorkflowRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="com:typeDbGuid">
            <xsd:annotation>
              <xsd:documentation>The workflow instance ID.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelWorkflowRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Cancels a workflow instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="wor:CancelWorkflowRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelWorkflowResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="WorkflowStatus" type="com:typeComWorkflowStatus">
            <xsd:annotation>
              <xsd:documentation>The status of the workflow system.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelWorkflowResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="wor:CancelWorkflowResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetWorkItemOptionsRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Code" type="com:typeCode">
            <xsd:annotation>
              <xsd:documentation>The workflow process definition code.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="Version" type="com:typeLong">
            <xsd:annotation>
              <xsd:documentation>The version of the workflow process definition.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="TaskName" type="com:typeName">
            <xsd:annotation>
              <xsd:documentation>The name of the task.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetWorkItemOptionsRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves details of a work item.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="wor:GetWorkItemOptionsRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetWorkItemOptionsResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Options" type="wor:WorkItemOptions">
            <xsd:annotation>
              <xsd:documentation>This element contains details of work item options.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetWorkItemOptionsResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="wor:GetWorkItemOptionsResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CompleteWorkItemRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="CompletedWorkItem" type="wor:CompletedWorkItem">
            <xsd:annotation>
              <xsd:documentation>The details required to complete the workflow work item.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CompleteWorkItemRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Completes processing of the work item.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="wor:CompleteWorkItemRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CompleteWorkItemResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Id" type="com:typeDbGuid">
            <xsd:annotation>
              <xsd:documentation>A unique ID.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CompleteWorkItemResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="wor:CompleteWorkItemResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetAttachmentsRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="com:typeDbGuid">
            <xsd:annotation>
              <xsd:documentation>The attachment ID.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetAttachmentsRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves details of attachments.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="wor:GetAttachmentsRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetAttachmentsResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Attachments" type="wor:InstanceAttachment">
            <xsd:annotation>
              <xsd:documentation>A list of attachments.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetAttachmentsResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="wor:GetAttachmentsResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateAttachmentsRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="com:typeDbGuid">
            <xsd:annotation>
              <xsd:documentation>A workflow instance ID.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="Attachments" type="wor:InstanceAttachment">
            <xsd:annotation>
              <xsd:documentation>The details of an attachment.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateAttachmentsRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Updates attachments to a workflow instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="wor:UpdateAttachmentsRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateAttachmentsResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateAttachmentsResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="wor:UpdateAttachmentsResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRuntimeStateRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="VariableSet" type="wor:VariableSet">
            <xsd:annotation>
              <xsd:documentation>The details of a set of variables.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRuntimeStateRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the runtime state of the workflow instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="wor:GetRuntimeStateRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRuntimeStateResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="State" type="wor:WorkflowRuntimeState">
            <xsd:annotation>
              <xsd:documentation>The details of the runtime state.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRuntimeStateResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="wor:GetRuntimeStateResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetExplodeURLRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="WorkflowInstanceID" type="com:typeDbGuid">
            <xsd:annotation>
              <xsd:documentation>The workflow instance ID.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="TaskName" type="com:typeName">
            <xsd:annotation>
              <xsd:documentation>The neme of the task.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetExplodeURLRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the explode URL.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="wor:GetExplodeURLRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetExplodeURLResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Url" type="com:typeUri">
            <xsd:annotation>
              <xsd:documentation>The explode URL.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetExplodeURLResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="wor:GetExplodeURLResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetDescendentsRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="WorkflowId" type="com:typeDbGuid">
            <xsd:annotation>
              <xsd:documentation>The workflow instance ID.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetDescendentsRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="wor:GetDescendentsRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetDescendentsResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Descendents" type="wor:Descendents">
            <xsd:annotation>
              <xsd:documentation>This element contains lists of subworkflow IDs.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetDescendentsResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="wor:GetDescendentsResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="WorkflowRequest">
    <xsd:annotation>
      <xsd:appinfo build:funcSecValue="427" build:readOnly="true"/>
      <xsd:documentation>This service allows you to submit workflow service requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element minOccurs="0" name="StartWorkflow" type="wor:StartWorkflowRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="1" build:readOnly="false"/>
              <xsd:documentation>Starts a workflow instance.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="StartWorkflowAsync" type="wor:StartWorkflowAsyncRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="2" build:readOnly="false"/>
              <xsd:documentation>Starts a workflow instance asynchronously.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="CancelWorkflow" type="wor:CancelWorkflowRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="3" build:readOnly="false"/>
              <xsd:documentation>Cancels a workflow instance.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetWorkItemOptions" type="wor:GetWorkItemOptionsRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="4" build:readOnly="true"/>
              <xsd:documentation>Retrieves details of a work item.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="CompleteWorkItem" type="wor:CompleteWorkItemRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="5" build:readOnly="false"/>
              <xsd:documentation>Completes processing of the work item.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetAttachments" type="wor:GetAttachmentsRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="6" build:readOnly="true"/>
              <xsd:documentation>Retrieves details of attachments.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="UpdateAttachments" type="wor:UpdateAttachmentsRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="7" build:readOnly="false"/>
              <xsd:documentation>Updates attachments to a workflow instance.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetRuntimeState" type="wor:GetRuntimeStateRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="8" build:readOnly="true"/>
              <xsd:documentation>Retrieves the runtime state of the workflow instance.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetExplodeURL" type="wor:GetExplodeURLRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="9" build:readOnly="true"/>
              <xsd:documentation>Retrieves the explode URL.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetDescendents" type="wor:GetDescendentsRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="10" build:readOnly="true"/>
              <xsd:documentation>Retrieves</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="WorkflowResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you make a workflow service request.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element minOccurs="0" name="StartWorkflow" type="wor:StartWorkflowResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="StartWorkflowAsync" type="wor:StartWorkflowAsyncResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="CancelWorkflow" type="wor:CancelWorkflowResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetWorkItemOptions" type="wor:GetWorkItemOptionsResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="CompleteWorkItem" type="wor:CompleteWorkItemResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetAttachments" type="wor:GetAttachmentsResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="UpdateAttachments" type="wor:UpdateAttachmentsResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetRuntimeState" type="wor:GetRuntimeStateResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetExplodeURL" type="wor:GetExplodeURLResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetDescendents" type="wor:GetDescendentsResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="WorkflowRequest" type="wor:WorkflowRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to submit workflow service requests.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="WorkflowResponse" type="wor:WorkflowResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you make a workflow service request.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
