resources/schemas/public/custom/year/yearservice.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:yr="http://www.coda.com/efinance/schemas/year" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/efinance/schemas/year" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/service.xsd"/>
  <xsd:include schemaLocation="year.xsd"/>

  <xsd:complexType name="AddRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Year" type="yr:Year">
            <xsd:annotation>
              <xsd:documentation>Contains the information for the year master you want to create.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Creates new year masters in the database using the information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:MultiCompanyRequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="yr:AddRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddResponse">
    <xsd:complexContent>
      <xsd:extension base="com:MultiCompanyResponse">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the company in which you attempted to create the year master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Year" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the year master that you attempted to create.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TimeStamp" type="com:typeWord">
            <xsd:annotation>
              <xsd:documentation>The TimeStamp value for this year master in the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CmpYearsTimeStamp" type="com:typeWord">
            <xsd:annotation>
              <xsd:documentation>The TimeStamp value for all year masters for this company in the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Companies" type="com:Companies" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the list of additional companies in which you want to create the masters. This is part of the multi-company functionality for maintaining masters in multiple companies.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Response" type="yr:AddResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Year" type="yr:Year">
            <xsd:annotation>
              <xsd:documentation>Contains the information for the year master you want to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Updates year masters in the database using the information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:MultiCompanyRequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="yr:UpdateRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateResponse">
    <xsd:complexContent>
      <xsd:extension base="com:MultiCompanyResponse">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the company in which you attempted to update the year master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Year" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the year master that you attempted to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TimeStamp" type="com:typeWord">
            <xsd:annotation>
              <xsd:documentation>The TimeStamp value for this year master in the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CmpYearsTimeStamp" type="com:typeWord">
            <xsd:annotation>
              <xsd:documentation>The TimeStamp value for all year masters for this company in the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Companies" type="com:Companies" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the list of additional companies in which you want to update the masters. This is part of the multi-company functionality for maintaining masters in multiple companies.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Response" type="yr:UpdateResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="yr:YearKey">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying the year master you want to retrieve from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the specified year masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="yr:GetRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the company in which you attempted to retrieve the year master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="YearCode" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the year master that you attempted to retrieve.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>        
          <xsd:element name="Year" type="yr:Year" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the year master you have retrieved from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="yr:GetResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Filter" type="com:ReqKeys">
            <xsd:annotation>
              <xsd:documentation>A filter that selects the years to be listed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves key information for the specified year masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="yr:ListRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Filter" type="com:ReqKeys">
            <xsd:annotation>
              <xsd:documentation>The filter that was used to select the years to be listed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Keys" type="com:KeyData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the key information for the listed year masters.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="yr:ListResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListAllRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Filter" type="com:ReqAllKeys">
            <xsd:annotation>
              <xsd:documentation>A filter where you specify the maximum number of years to be listed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListAllRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves key information for all year masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="yr:ListAllRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListAllResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Filter" type="com:ReqAllKeys">
            <xsd:annotation>
              <xsd:documentation>The filter that was used to select the years to be listed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Keys" type="com:AllKeysData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the key information for the listed year masters.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListAllResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="yr:ListAllResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="YearRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to retrieve and manage year masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Add" type="yr:AddRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Creates new year masters in the database using the year information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Update" type="yr:UpdateRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Updates year masters in the database using the year information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Get" type="yr:GetRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves the specified year masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="List" type="yr:ListRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves key information for the specified year masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ListAll" type="yr:ListAllRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves key information for all year masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="YearResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you retrieve and manage year masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Add" type="yr:AddResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Update" type="yr:UpdateResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Get" type="yr:GetResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="List" type="yr:ListResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ListAll" type="yr:ListAllResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="YearRequest" type="yr:YearRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to retrieve and manage year masters.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="YearResponse" type="yr:YearResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you retrieve and manage year masters.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
</xsd:schema>