resources/schemas/public/finance/association/association.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:aso="http://www.coda.com/efinance/schemas/association" targetNamespace="http://www.coda.com/efinance/schemas/association" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="asoKey">
    <xsd:annotation>
      <xsd:documentation>This element holds generic association key information identifying document lines and statement lines.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which the line exists.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the document master or statement master containing the line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Number" type="com:typeDocNumAlpha" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The document number or statement number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineNumber" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The line number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineType" type="com:typeCtAsoLineType">
        <xsd:annotation>
          <xsd:documentation>Identifies whether the line is a document line or a statement line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="asoKeyList">
    <xsd:annotation>
      <xsd:documentation>Contains a list of the keys for the lines in the current folder.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Key" type="aso:asoKey" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Contains association key information identifying document lines and statement lines.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="asoKeyFolder">
    <xsd:annotation>
      <xsd:documentation>Contains key information for the lines in this folder.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Keys" type="aso:asoKeyList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Contains a list of the keys for the lines in this folder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="asoKeyFolders">
    <xsd:annotation>
      <xsd:documentation>Contains the lists of debit and credit lines (when performing a MatchingRequest) or the lists of document and statement lines (when performing a BankReconciliationRequest) which the Assistant will attempt to sort into groups.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Folder" type="aso:asoKeyFolder" minOccurs="1" maxOccurs="2">
        <xsd:annotation>
          <xsd:documentation>Contains key information for the lines in this folder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AssistantScript">
    <xsd:annotation>
      <xsd:documentation>This element holds a script for use in Assisted Matching, Background Matching, Assisted Reconciliation or Background Reconciliation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Line" type="com:typeScriptText" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>A line in the script.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ProgressStatistics">
    <xsd:annotation>
      <xsd:documentation>This element contains statistics of the lines that the Assistant has processed so far.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SelectedLinesFolder1" type="com:typeULong" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number of lines in Folder 1.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelectedLinesFolder2" type="com:typeULong" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number of lines in Folder 2.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GroupedLinesFolder1" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The number of lines in Folder 1 that have been placed into groups.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GroupedLinesFolder2" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The number of lines in Folder 2 that have been placed into groups.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CommittedLinesFolder1" type="com:typeULong" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number of lines in Folder 1 that have been committed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CommittedLinesFolder2" type="com:typeULong" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number of lines in Folder 2 that have been committed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ComparisonsMade" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The total number of comparisons that the Assistant has made.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GroupsCreated" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The number of groups that the Assistant has produced.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GroupsCommitted" type="com:typeULong" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number of groups that the Assistant has committed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Phase" type="com:typeCtBrrPhase" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The stage that the assisted or background process has reached.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="asoKey" type="aso:asoKey">
    <xsd:annotation>
      <xsd:documentation>This element holds generic association key information identifying document lines and statement lines.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="asoKeyList" type="aso:asoKeyList">
    <xsd:annotation>
      <xsd:documentation>Contains a list of the keys for the lines in the current folder.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
