resources/schemas/public/common/contentprovidermaster/contentprovidermasterservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:build="http://www.coda.com/common/schemas/funcsec" xmlns:cpm="http://www.coda.com/common/schemas/contentprovidermaster" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/common/schemas/contentprovidermaster" elementFormDefault="qualified" version="2.0">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:include schemaLocation="s:/schemas/public/common/contentprovidermaster/contentprovidermaster.xsd"/>

  <xsd:complexType name="AddRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="ContentProvider" type="cpm:ContentProvider">
            <xsd:annotation>
              <xsd:documentation>Contains the information for the content provider master you want to create.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Creates new content provider masters in the database using the information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="cpm:AddRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the content provider master that you created or attempted to create.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TimeStamp" type="com:typeWord">
            <xsd:annotation>
              <xsd:documentation>The TimeStamp value for this content provider master in the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="cpm:AddResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="ContentProvider" type="cpm:ContentProvider">
            <xsd:annotation>
              <xsd:documentation>Contains the information for the content provider master you want to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Updates content provider masters in the database using the information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="cpm:UpdateRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the content provider master that you updated or attempted to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TimeStamp" type="com:typeWord">
            <xsd:annotation>
              <xsd:documentation>The TimeStamp value for this content provider master in the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="cpm:UpdateResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="com:GlobalKey">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying the content provider master you want to retrieve from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the specified content provider masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="cpm:GetRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the content provider master that you retrieved or attempted to retrieve.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ContentProvider" type="cpm:ContentProvider" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the content provider master you have retrieved from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="cpm:GetResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="com:GlobalKey">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying the content provider master you want to delete.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Deletes the specified content provider masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="cpm:DeleteRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the content provider master that you deleted or attempted to delete.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="cpm:DeleteResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Filter" type="com:ReqKeysWithShortName">
            <xsd:annotation>
              <xsd:documentation>A filter that selects the content provider masters to be listed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves a list of keys for the specified content provider masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="cpm:ListRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Filter" type="com:ReqKeysWithShortName">
            <xsd:annotation>
              <xsd:documentation>The filter that was used to select the content provider masters to be listed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Keys" type="com:KeyData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the key information for the listed content provider masters.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="cpm:ListResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="InUseByCustomiseRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the content provider master that you want to check.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TemplateCode" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code of the Homepage template that is assigned to the user, and that contains the specified content provider master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="InUseByCustomiseRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Determines whether the specified content provider master is used within a user's customisation of their Homepage.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="cpm:InUseByCustomiseRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="InUseByCustomiseResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code of the content provider master that was specified in the request corresponding to this response.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="InUse" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Indicates whether or not the specified content provider master is used within a user's customisation of their Homepage.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="InUseByCustomiseResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="cpm:InUseByCustomiseResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateSystemParametersRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code of the extension master being used by the content providers.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="OldParams" type="cpm:ProviderConfiguration">
            <xsd:annotation>
              <xsd:documentation>The existing NSV and LSV details being used by the content providers.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NewParams" type="cpm:ProviderConfiguration">
            <xsd:annotation>
              <xsd:documentation>The new NSV and LSV details that the content providers will be updated to use.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateSystemParametersRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Updates content provider masters using the specified extension master and combination of 'old' parameters to use the 'new' parameters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="cpm:UpdateSystemParametersRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateSystemParametersResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The extension master code that you supplied in the Request corresponding to this Response.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="OldParams" type="cpm:ProviderConfiguration">
            <xsd:annotation>
              <xsd:documentation>The old NSV and LSV details that were being used by the content providers.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NewParams" type="cpm:ProviderConfiguration">
            <xsd:annotation>
              <xsd:documentation>The new NSV and LSV details that the content providers have been updated to use.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UpdatedList" type="com:KeyData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains key information for the content provider masters that have been updated.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateSystemParametersResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="cpm:UpdateSystemParametersResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListByExtensionCodeRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code of the extension master being used by the content providers.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListByExtensionCodeRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Lists the content provider masters using the specified extension master.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="cpm:ListByExtensionCodeRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListByExtensionCodeResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The extension master code that you supplied in the Request corresponding to this Response.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="List" type="com:KeyData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains key information for content provider masters using the specified extension master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListByExtensionCodeResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="cpm:ListByExtensionCodeResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="MatchBySystemParametersRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code of the extension master being used by the content providers.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="OldParams" type="cpm:ProviderConfiguration">
            <xsd:annotation>
              <xsd:documentation>The existing NSV and LSV details being used by the content providers.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="MatchBySystemParametersRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves a list of content provider masters using the specified extension master and combination of 'old' parameters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="cpm:MatchBySystemParametersRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="MatchBySystemParametersResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The extension master code that you supplied in the Request corresponding to this Response.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="OldParams" type="cpm:ProviderConfiguration">
            <xsd:annotation>
              <xsd:documentation>The existing NSV and LSV details being used by the content providers.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="List" type="com:KeyData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains key information for content provider masters matching the specified extension code and 'old' parameters.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="MatchBySystemParametersResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="cpm:MatchBySystemParametersResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ContentProviderMasterRequest">
    <xsd:annotation>
      <xsd:appinfo build:funcSecValue="104" build:readOnly="true"/>
      <xsd:documentation>This service allows you to maintain content provider masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Add" type="cpm:AddRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="1" build:readOnly="false"/>
              <xsd:documentation>Creates new content provider masters in the database using the information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Update" type="cpm:UpdateRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="2" build:readOnly="false"/>
              <xsd:documentation>Updates content provider masters in the database using the information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Get" type="cpm:GetRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="3" build:readOnly="true"/>
              <xsd:documentation>Retrieves the specified content provider masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Delete" type="cpm:DeleteRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="4" build:readOnly="false"/>
              <xsd:documentation>Deletes the specified content provider masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="List" type="cpm:ListRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="5" build:readOnly="true"/>
              <xsd:documentation>Retrieves a list of keys for the specified content provider masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ListByExtensionCode" type="cpm:ListByExtensionCodeRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="7" build:readOnly="true"/>
              <xsd:documentation>Lists the content provider masters using the specified extension master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MatchBySystemParameters" type="cpm:MatchBySystemParametersRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="8" build:readOnly="true"/>
              <xsd:documentation>Retrieves a list of content provider masters using the specified extension master and combination of 'old' parameters.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="InUseByCustomise" type="cpm:InUseByCustomiseRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="6" build:readOnly="true"/>
              <xsd:documentation>Determines whether the specified content provider master is used within a user's customisation of their Homepage.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UpdateSystemParameters" type="cpm:UpdateSystemParametersRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="9" build:readOnly="false"/>
              <xsd:documentation>Updates content provider masters using the specified extension master and combination of 'old' parameters to use the 'new' parameters.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ContentProviderMasterResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you maintain content provider masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Add" type="cpm:AddResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Update" type="cpm:UpdateResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Get" type="cpm:GetResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Delete" type="cpm:DeleteResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="List" type="cpm:ListResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ListByExtensionCode" type="cpm:ListByExtensionCodeResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MatchBySystemParameters" type="cpm:MatchBySystemParametersResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="InUseByCustomise" type="cpm:InUseByCustomiseResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UpdateSystemParameters" type="cpm:UpdateSystemParametersResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="ContentProviderMasterRequest" type="cpm:ContentProviderMasterRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to maintain content provider masters.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContentProviderMasterResponse" type="cpm:ContentProviderMasterResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you maintain content provider masters.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
