resources/schemas/public/common/elementmaster/elementmaster.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:elm="http://www.coda.com/efinance/schemas/elementmaster" xmlns:udf="http://www.coda.com/common/schemas/udfmaster" targetNamespace="http://www.coda.com/efinance/schemas/elementmaster" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/udfmaster" schemaLocation="s:/schemas/public/common/udfmaster/udfmaster.xsd"/>

  <xsd:complexType name="UmbrellaData">
    <xsd:annotation>
      <xsd:documentation>Holds details of values that may be provided and values that must be provided for temporary suppliers within this umbrella element.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AllowTaxNumber" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates that the temporary supplier's tax number can be provided.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowLanguageCode" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates that a language code can be provided for the temporary supplier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowCountryCode" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates that a country code can be provided for the temporary supplier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ForceTerms" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates that discount terms must be provided if the document master allows terms.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ForceTaxNumber" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates that the temporary supplier's tax number must be provided. When this is TRUE, the tax number must be provided, even if AllowTaxNumber is set to FALSE.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ForceAddress" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates that at least the first line of the temporary supplier's address must be provided.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Force1099Details" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates that the temporary supplier's federal tax ID or social security number must be provided. When this is TRUE, you must also set Ten99 to TRUE.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Master" abstract="true">
    <xsd:sequence>
      <xsd:element name="TimeStamp" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp value for this element master in the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaxesTimeStamp" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp value for this element master in the oas_elmtaxes table.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which the element master is being maintained.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeElmCode">
        <xsd:annotation>
          <xsd:documentation>The element code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Level" type="com:typeElmLevel">
        <xsd:annotation>
          <xsd:documentation>The level at which this element is defined. A number from 1 to 8 inclusive.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeName" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The full name for the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The abbreviated name for the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrencyCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A currency code identifying the currency associated with this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubAnalyse" type="com:typeCtYesNoSome" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the element can be subanalysed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaxCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the tax master for this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccountType" type="com:typeCtPlBal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Identifies the account type of accounts which use this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DateAccountOpened" type="com:typeDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date on which the element was created.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StartPeriod" type="com:typePeriod" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The first period in which documents may be posted to this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EndPeriod" type="com:typePeriod" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The last period in which documents may be posted to this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CompulsoryDescr" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether users must enter a description in Input against any document line posted to this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="KeepTurnover" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether turnover values are maintained for the element for each period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccountSummary" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the account summary master for this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElementStatus" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The credit status of this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExternalValidation" type="com:typeDllName" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The name of the DLL used for extended field validation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MemoStatus" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A reporting field.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BalancingAccount" type="com:typeAcCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The account to which balancing entries are posted. If you are balancing at element level 1, an asterisk represents the first element of the account code. If you are balancing at elements 1 and 2, both these elements are represented by an asterisk.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubsLevel" type="com:typeElmSubsLevel" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The level at which the specified element can be inserted in an account code as part of element substitution.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubsElement" type="com:typeElmCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the element which can be inserted in an account code as part of element substitution.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Matchable" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the element is a matchable element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Summary" type="com:typeCtSummary" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The element level at which payment postings are summarised.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Split" type="com:typeCtSplit" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The element level to the left of which wildcards are sorted and payments produced for each of the splits.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Settlement" type="com:typeAcCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The settlement account for payments for this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ForceDisperse" type="com:typeCtForceDisperse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies whether a user must select Disperse if this element occurs in a detail line during Matching or Background Matching.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserStatus" type="com:typeStatUserB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default user status.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayStatus" type="com:typeCtStatPayElm" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default payment status for the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecStatus" type="com:typeCtStatRec" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The reconciliation status of the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EnablePay" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the element can be selected and processed by a Payment and Collection proposal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefaultMedia" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the default media master for the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PaperMedia" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether document lines using this element can be paid by paper means such as printed cheques.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElecMedia" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether document lines using this element can be paid by electronic means.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayNumber" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The next payment number that will be assigned to this element. This number is read-only.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CustomerSupplier" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Identifies elements which represent customers or suppliers.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IsCustomer" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates that this Customer/Supplier element is a customer (only).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IsSupplier" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates that this Customer/Supplier element is a supplier (only).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DiscountEnable" type="com:typeCtCalcDisc" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether early settlement discount is allowed on document lines posted against the element and if so, whether the discount is net of tax.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaxMethod" type="com:typeCtCalcTax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether tax is gross or net of discount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Terms" type="com:typeTermB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The terms, expressed as a soft date, used to calculate a document's due date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaxAdjustment" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether tax adjustments are calculated for discounts and write-offs during Pay, Matching, and Background Matching.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaxRepESL" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the element is included on European Sales List reports.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaxRepIntra" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the element is included on Intrastat reports.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VAT" type="com:typeVATB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The VAT number for this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ten99" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies whether 1099 reporting/processing is required for this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FederalTax" type="com:typeFederalTax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The Federal Tax identification number (for tax purposes in the United States).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SocialSecurity" type="com:typeSocialSecurity" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The Social Security number for the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ten99Code" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the 1099 master for this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SecondTIN" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether a second tax identification notice (TIN) has been sent.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SIC" type="com:typeSIC" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The Standard Industry Code for this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreditManager" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A code identifying the user who is responsible for credit management for the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreditRating" type="com:typeCrRating" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The credit rating assigned to the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreditRatingDate" type="com:typeDateB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date on which the current credit rating was assigned to the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreditReference" type="com:typeCrRef" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The credit reference assigned to the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreditAgency" type="com:typeCrAgy" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The credit agency used for the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PaymentIndex" type="com:typeCrPayIndex" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The payment index.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ForceCreditLimit" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the credit limit is enforced in Input. If True, it is enforced. If False, it is not enforced.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IndirectCode" type="com:typeElmCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The indirect element code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreditLimit" type="com:typeMoneyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The element's credit limit (matchable elements only).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreditLimitDate" type="com:typeDateB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date on which the credit limit expires.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreditLimitCurrency" type="com:typeCtCreditLimitCurrency" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The currency in which the element's credit limit is expressed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ArcRecon" type="com:typeCtARCOptions" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates the element's contribution to determining whether an account's document lines can be archived when unreconciled.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ArcPaid" type="com:typeCtARCOptions" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates the element's contribution to determining whether an account's document lines can be archived when unpaid.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UmbrellaElementDetails" type="elm:UmbrellaData" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Holds details of values that may be provided and values that must be provided for temporary suppliers within this umbrella element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Shared" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the element is shared across more than one company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostedTo" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether any transactions have been posted to this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PromptForAsset" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Set to TRUE if users will want to create assets when posting to this element. When TRUE, you can specify a value for AssetCategory.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AssetCategory" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default category to use for assets created when posting to this element. This value can only be set if PromptForAsset is TRUE.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Extension" type="com:ExtensionRef" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the extension master identifying the external routine that will validate the account code during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LastTransactions" type="elm:LastTransactions" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Holds details of the last transactions posted to this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcAllowPrinting" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether e-Procurement documents relating to this element can be printed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcTransmitPDF" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether e-Procurement documents relating to this element can be transmitted in PDF format.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcTransmitXML" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether e-Procurement documents relating to this element can be transmitted in XML format.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcTransmitB2B" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether e-Procurement documents relating to this element can be transmitted in XML format via the B2B server. In effect, the document will be transmitted on input rather than in a batch during a document output process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcOrders" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the print format to use when transmitting order documents as PDF or printed output. You can specify any of the print formats available in e-Procurement.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcRequisitions" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the print format to use when transmitting requisition documents as PDF or printed output. You can specify any of the print formats available in e-Procurement.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BillingAllowPrinting" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether Billing documents relating to this element can be printed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BillingTransmitPDF" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether Billing documents relating to this element can be transmitted in PDF format.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BillingTransmitXML" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether Billing documents relating to this element can be transmitted in XML format.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BillingSIProForma" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the print format to use when transmitting pro-forma invoice documents as PDF or printed output. You can specify any of the print formats available in Billing.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BillingSIFinal" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the print format to use when transmitting final invoice documents as PDF or printed output. You can specify any of the print formats available in Billing.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BillingCNProForma" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the print format to use when transmitting pro-forma credit note documents as PDF or printed output. You can specify any of the print formats available in Billing.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BillingCNFinal" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the print format to use when transmitting final credit note documents as PDF or printed output. You can specify any of the print formats available in Billing.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreateDate" type="com:typeDateB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date when this element master was created.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyDate" type="com:typeDateB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date when this element master was last modified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="User" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The user who last modified this element master (or the user who created this element master if no modify date exists).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReportingCode1" type="com:typeTextAny" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A reporting code for this element master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReportingCode2" type="com:typeTextAny" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A reporting code for this element master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReportingCode3" type="com:typeTextAny" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A reporting code for this element master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PunchoutCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the user extension master that will invoke the punchout function.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PunchoutMarketplace" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this punchout-enabled element should behave as a market place or as a normal punchout supplier. When set to TRUE, the element behaves as a market place.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PunchoutUrl" type="com:typeTextAnyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The URL for the supplier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PunchoutDomain" type="com:typeExtRefB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The domain for the supplier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PunchoutEncoding" type="com:typeCtOneOfN" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The encoding of the data that the punchout Web site will send back to CODA.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PunchoutUser" type="com:typeExtRefB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The user name for accessing the supplier's system.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PunchoutPassword" type="com:typeExtRefB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The password for the user name specified in PunchoutUser.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PunchoutItemDetailsCode" type="com:typeItemCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the product from which item details should be copied.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AutoReceipt" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If set, indicates that purchases from this supplier can be receipted automatically.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcStatus" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If set, prevents any further trading with this supplier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ToleranceCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the tolerance master containing the tolerances applicable to this supplier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MatchingOffset" type="com:typeMatchingOffsetDays" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number of elapsed days between the date of a receipt and when it can be selected for purchase invoice matching.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcTransLimit" type="com:typeMoneyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The maximum value allowed, in home currency, for transactions with this supplier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcCalloffs" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default print format to use for call-offs.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcGRNs" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default print format to use for GRNs.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcReturns" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default print format to use for returns.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcEmailSalutation" type="com:typeTextAny" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The message to be included when transmitting documents by e-mail to this supplier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcEmailSubject" type="com:typeTextAny" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The text to be displayed in the subject line of all e-mail transmissions.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BillingOutputDevice" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The output device master to use for preview invoices, actual invoices and credit notes sent to this customer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BillingEmailSalutation" type="com:typeTextAny" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The message to be included when transmitting documents by e-mail to this customer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BillingEmailSubject" type="com:typeTextAny" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The text to be displayed in the subject line of all e-mail transmissions.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Retail" type="elm:RetailData" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains details for a Retail store.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Quantities" type="elm:QuantityData" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Holds details of the element's quantities.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Discounts" type="elm:DiscountData" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Holds details of the discounts which the element is allowed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SalesInvoiceData" type="elm:SalesInvoiceData" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains Sales Invoicing data.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EUVATCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Holds the tax code used by Invoice Matching for reporting on EU cross-border service transactions when tax is partly recoverable. This tax code must be defined as partly recoverable and using the reversing method.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QuantityElement">
    <xsd:annotation>
      <xsd:documentation>Holds details of one of the element's quantities.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Used" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this quantity is used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Title" type="com:typeQtyTitle">
        <xsd:annotation>
          <xsd:documentation>The title for this quantity.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Mand" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this quantity is mandatory.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BalCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A balance master code for this quantity. This field may be blank.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Decimals" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number of decimal places for this quantity when there is no balance code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QuantityData">
    <xsd:annotation>
      <xsd:documentation>Holds details of the element's quantities.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Quantity" type="elm:QuantityElement" minOccurs="0" maxOccurs="4">
        <xsd:annotation>
          <xsd:documentation>Holds details of one of the element's quantities.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DiscountData">
    <xsd:annotation>
      <xsd:documentation>Holds details of the discounts which the element is allowed.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Discount" type="elm:DiscountElement" minOccurs="0" maxOccurs="5">
        <xsd:annotation>
          <xsd:documentation>Holds details of one of the element's discounts.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DiscountElement">
    <xsd:annotation>
      <xsd:documentation>Holds details of one of the element's discounts.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Terms" type="com:typeTerm">
        <xsd:annotation>
          <xsd:documentation>A soft date signifying the terms under which the discount is available.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Percentage" type="com:typePercent">
        <xsd:annotation>
          <xsd:documentation>The discount rate as a percentage.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BankData">
    <xsd:sequence>
      <xsd:element name="Bank" type="elm:BankElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Holds details of one of the element's banks.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BankElement">
    <xsd:annotation>
      <xsd:documentation>Holds details of one of the element's banks.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DefaultBank" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this is the element's default bank.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Tag" type="com:typeUWord" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The tag for this bank, a number or string which can be used to identify the bank.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccountNumber" type="com:typeBankAccNum">
        <xsd:annotation>
          <xsd:documentation>The bank account number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SortCode" type="com:typeBankSort">
        <xsd:annotation>
          <xsd:documentation>The bank's sort code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccountName" type="com:typeBankAccName">
        <xsd:annotation>
          <xsd:documentation>An account name for the bank.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccountRef" type="com:typeBankAccRef">
        <xsd:annotation>
          <xsd:documentation>The bank account reference, which is used when making payments or collections by electronic transfer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BankName" type="com:typeBankName">
        <xsd:annotation>
          <xsd:documentation>A name for the person or company at this bank address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address1" type="com:typeAddress">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address2" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address3" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address4" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address5" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address6" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostCode" type="com:typePostCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The postal code for this bank address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Country" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for a country master for this bank address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SWIFT" type="com:typeBankSwift" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The bank's SWIFT address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IntBankName" type="com:typeBankName" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A name for the person or company at this intermediary bank address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IntAddress1" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IntAddress2" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IntAddress3" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IntAddress4" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IntAddress5" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IntAddress6" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IntPostCode" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The postal code for this intermediary bank address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IntCountry" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for a country master for this intermediary bank address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IBAN" type="com:typeIBANB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The International Bank Account Number (IBAN) of the bank account.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AddressElement">
    <xsd:annotation>
      <xsd:documentation>Holds details of an address.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DefaultAddress" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this is the default address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Tag" type="com:typeUWord" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The tag for this address, a number or string which can be used to identify the address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeAddressName">
        <xsd:annotation>
          <xsd:documentation>A name for the person or company associated with this address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address1" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address2" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address3" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address4" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address5" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address6" type="com:typeAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostCode" type="com:typePostCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The post code for this address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Tel" type="com:typeTel" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The telephone number for this address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Fax" type="com:typeFax" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The fax number for this address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Country" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the country master for this address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Language" type="com:typeLanguage" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The language used at this address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Category" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for an entity master of the address category type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EMail" type="com:typeEMailAddrB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The email address for this address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AddressData">
    <xsd:sequence>
      <xsd:element name="Address" type="elm:AddressElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Holds details of an address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CommentData">
    <xsd:annotation>
      <xsd:documentation>Holds the element's comment list.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Comment" type="com:typeTextB" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>A comment in the list.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="GroupData">
    <xsd:annotation>
      <xsd:documentation>Holds the element's group list, which is a collection of group master codes identifying the groups to which the element belongs.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="GroupCode" type="com:typeGeneralCode" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>A group master code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MediaData">
    <xsd:annotation>
      <xsd:documentation>Holds the element's media list, which is a collection of media master codes identifying the media by which payments are made.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MediaCode" type="com:typeGeneralCode" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>A media master code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RuleData">
    <xsd:annotation>
      <xsd:documentation>Holds a list of the element's left rules.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Rule" type="elm:RuleElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Holds details of an element rule.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RuleElement">
    <xsd:annotation>
      <xsd:documentation>Holds details of an element rule.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Logical" type="com:typeCtRllLogical">
        <xsd:annotation>
          <xsd:documentation>A value signifying which logical connective is present on the line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OpenBrackets" type="com:typeOpenBracket">
        <xsd:annotation>
          <xsd:documentation>A count of the number of opening brackets on the line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Vocabulary" type="com:typeCtRllVocab">
        <xsd:annotation>
          <xsd:documentation>A value signifying which vocabulary item is present on the line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Function" type="com:typeCtRllOperator">
        <xsd:annotation>
          <xsd:documentation>A value signifying which function is present on the line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Value" type="com:typeElmCodeWild" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The criterion value with which the vocabulary item is compared.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CloseBrackets" type="com:typeCloseBracket">
        <xsd:annotation>
          <xsd:documentation>A count of the number of closing brackets on the line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MnemonicData">
    <xsd:annotation>
      <xsd:documentation>Holds a list of the element's mnemonics.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Mnemonic" type="com:typeText" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>A mnemonic for the element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PunchoutData">
    <xsd:annotation>
      <xsd:documentation>Holds the advanced punchout parameters for a supplier.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PunchoutAdvancedParam" type="elm:PunchoutElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Holds an advanced punchout parameter for a supplier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PunchoutElement">
    <xsd:annotation>
      <xsd:documentation>Holds an advanced punchout parameter for a supplier.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Name" type="com:typeExtRefB">
        <xsd:annotation>
          <xsd:documentation>The name of the punchout parameter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="com:typeCtOneOfN">
        <xsd:annotation>
          <xsd:documentation>The type of parameter. The possible values are listed below.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Value" type="com:typeExtRefB">
        <xsd:annotation>
          <xsd:documentation>The parameter value. This is only valid when Type is set to 1973 (Literal).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="OutputDeviceData">
    <xsd:annotation>
      <xsd:documentation>This element contains autput device data.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OutputDeviceCode" type="com:typeGeneralCode" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>The output device code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RetailStoreTemporaryClosure">
    <xsd:annotation>
      <xsd:documentation>The details of a store closure period.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="FromDate" type="com:typeDate">
        <xsd:annotation>
          <xsd:documentation>The first date the store is closed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ToDate" type="com:typeDate">
        <xsd:annotation>
          <xsd:documentation>The final date the store is closed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StoreCloseReason" type="com:typeStoreCloseReason">
        <xsd:annotation>
          <xsd:documentation>The reason for the closure.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RetailStoreTemporaryClosures">
    <xsd:annotation>
      <xsd:documentation>This element contains details of store closure periods.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Closure" type="elm:RetailStoreTemporaryClosure" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>The details of a store closure period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UDFTextField">
    <xsd:annotation>
      <xsd:documentation>The details of a user-defined text field.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Text" type="com:typeUdfText" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The value of the field.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The UDF code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UDFTextFields">
    <xsd:annotation>
      <xsd:documentation>This element contains user-defined text fields.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UDFText" type="elm:UDFTextField" minOccurs="0" maxOccurs="20">
        <xsd:annotation>
          <xsd:documentation>The details of a user-defined text field.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UDFNumberField">
    <xsd:annotation>
      <xsd:documentation>The details of a user-defined number field.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Number" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The value of the field.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The UDF code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UDFNumberFields">
    <xsd:annotation>
      <xsd:documentation>This element contains user-defined number fields.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UDFNumber" type="elm:UDFNumberField" minOccurs="0" maxOccurs="20">
        <xsd:annotation>
          <xsd:documentation>The details of a user-defined number field.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UDFDateField">
    <xsd:annotation>
      <xsd:documentation>The details of a user-defined date field.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Date" type="com:typeDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The value of the field.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The UDF code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UDFDateFields">
    <xsd:annotation>
      <xsd:documentation>This element contains user-defined date fields.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UDFDate" type="elm:UDFDateField" minOccurs="0" maxOccurs="12">
        <xsd:annotation>
          <xsd:documentation>The details of a user-defined date field.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UDFElmField">
    <xsd:annotation>
      <xsd:documentation>The details of a user-defined element field.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Elm" type="com:typeElmCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The value of the field.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The UDF code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UDFElmFields">
    <xsd:annotation>
      <xsd:documentation>This element contains user-defined element fields.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UDFElm" type="elm:UDFElmField" minOccurs="0" maxOccurs="12">
        <xsd:annotation>
          <xsd:documentation>The details of a user-defined element field.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DisplayUDFField">
    <xsd:sequence>
      <xsd:element name="UDFTextField" type="elm:UDFTextField" minOccurs="0"/>
      <xsd:element name="UDFNumberField" type="elm:UDFNumberField" minOccurs="0"/>
      <xsd:element name="UDFDateField" type="elm:UDFDateField" minOccurs="0"/>
      <xsd:element name="UDFElmField" type="elm:UDFElmField" minOccurs="0"/>
      <xsd:element name="Index" type="xsd:int"/>
      <xsd:element name="Value" type="xsd:string"/>
      <xsd:element name="UDF" type="udf:UDFMaster"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DisplayUDFFieldList">
    <xsd:sequence>
      <xsd:element name="DisplayUDFFieldItem" type="elm:DisplayUDFField" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RetailData">
    <xsd:annotation>
      <xsd:documentation>This element contains details for a Retail store.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ERetailCode" type="com:typeElmCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A code used to represent the store.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OpenSunday" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If set, store is open on Sunday.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OpenMonday" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If set, store is open on Monday.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OpenTuesday" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If set, store is open on Tuesday.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OpenWednesday" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If set, store is open on Wednesday.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OpenThursday" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If set, store is open on Thursday.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OpenFriday" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If set, store is open on Friday.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OpenSaturday" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If set, store is open on Saturday.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FirstTradingDate" type="com:typeDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The first date used to enter trading details for this store.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LastTradingDate" type="com:typeDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The final date used to enter trading details for this store.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaxGroupCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the tax group that this store belongs to within Retail</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EntityValue" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The value of the store category entity master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDFTextFields" type="elm:UDFTextFields" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains user-defined text fields.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDFNumberFields" type="elm:UDFNumberFields" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains user-defined number fields.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDFDateFields" type="elm:UDFDateFields" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains user-defined date fields.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDFElmFields" type="elm:UDFElmFields" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains user-defined element fields.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StoreClosures" type="elm:RetailStoreTemporaryClosures" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains details of store closure periods.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SalesInvoiceUDFRow">
    <xsd:annotation>
      <xsd:documentation>This element contains details of a user-defined field.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UDFText" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A user-defined text field.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDFNumber" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A user-defined number field.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDFDate" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A user-defined date field.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UDFElm" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A user-defined element field.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SalesInvoiceUDFRowEx">
    <xsd:complexContent>
      <xsd:extension base="elm:SalesInvoiceUDFRow">
        <xsd:sequence>
          <xsd:element name="RowLabel" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SalesInvoiceUDFListEx">
    <xsd:sequence>
      <xsd:element name="SalesInvoiceUDFRow" type="elm:SalesInvoiceUDFRowEx" minOccurs="6" maxOccurs="6"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SalesInvoiceUDFList">
    <xsd:annotation>
      <xsd:documentation>This element contains a list of user-defined fields on a sales invoice header.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SalesInvoiceUDFRow" type="elm:SalesInvoiceUDFRow" minOccurs="6" maxOccurs="6">
        <xsd:annotation>
          <xsd:documentation>This element contains details of a user-defined field.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SalesInvoiceData">
    <xsd:annotation>
      <xsd:documentation>This element contains Sales Invoicing data.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CustomerStop" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, indicates a stop on a customer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelfBillingCustomer" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, indicates that this customer uses self billing.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConsolidatePostByAcc" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, indicates that you want to consolidate the invoice based on account code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChargeCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The charge master for this customer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DiscountCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The discount master for this customer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LocaleLang" type="com:typeCtLanguageInf">
        <xsd:annotation>
          <xsd:documentation>The language you want to use when printing the invoice.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreviewOutputDevCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The output device master to use to preview invoices sent to this customer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreviewPrintFormatCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The print format master to use to preview invoices sent to this customer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InvoiceOutputDevCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The output device master to use to print invoices sent to this customer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InvoicePrintFormatCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The print format master to use to print invoices sent to this customer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreditNoteOutputDevCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The output device master to use to print credit notes sent to this customer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreditNotePrintFormatCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The print format master to use to print credit notes sent to this customer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreviewSendToPortal" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, indicates that preview invoices should be sent to the Portal for the customer to see.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InvoiceSendToPortal" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, indicates that invoices should be sent to the Portal for the customer to see.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreditNoteSendToPortal" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, indicates that credit notes should be sent to the Portal for the customer to see.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SalesInvoiceHeaderUDFList" type="elm:SalesInvoiceUDFList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains a list of user-defined fields on a sales invoice header.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SalesInvoiceLineUDFList" type="elm:SalesInvoiceUDFList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains a list of user-defined fields on a sales invoice line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Element">
    <xsd:annotation>
      <xsd:documentation>This element holds an element master.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="elm:Master">
        <xsd:sequence>
          <xsd:element name="Addresses" type="elm:AddressData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Holds details of the element's addresses.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Banks" type="elm:BankData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Holds details of the element's banks.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Comments" type="elm:CommentData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Holds the element's comment list.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Groups" type="elm:GroupData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Holds the element's group list, which is a collection of group master codes identifying the groups to which the element belongs.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Medias" type="elm:MediaData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Holds the element's media list, which is a collection of media master codes identifying the media by which payments are made.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="LeftRules" type="elm:RuleData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Holds a list of the element's left rules.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RightRules" type="elm:RuleData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Holds a list of the element's right rules.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Mnemonics" type="elm:MnemonicData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Holds a list of the element's mnemonics.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PunchoutAdvancedParams" type="elm:PunchoutData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Holds the advanced punchout parameters for a supplier.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="OutputDevices" type="elm:OutputDeviceData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>This element contains autput device data.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="elmKey">
    <xsd:sequence>
      <xsd:element name="Level" type="com:typeElmLevel"/>
      <xsd:element name="Code" type="com:typeElmCode"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="elmFullKey">
    <xsd:annotation>
      <xsd:documentation>This is an element key that incorporates the company within which the element exists.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which the element master is being maintained.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Level" type="com:typeElmLevel">
        <xsd:annotation>
          <xsd:documentation>The level at which this element is defined. A number from 1 to 8 inclusive.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeElmCode">
        <xsd:annotation>
          <xsd:documentation>The element code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PrintListKeys">
    <xsd:sequence>
      <xsd:element name="MaxKeys" type="xsd:int"/>
      <xsd:element name="FullWildKey" type="elm:elmFullKey"/>
      <xsd:element name="LastModifiedFrom" type="com:typeDateB" minOccurs="0"/>
      <xsd:element name="LastModifiedTo" type="com:typeDateB" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="VocabList">
    <xsd:annotation>
      <xsd:documentation>Contains the vocabulary items that you want to retrieve for the specified element.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="VocabID" type="com:typeCtElmVocabEnum" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>An element vocabulary item that you want to retrieve.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FetchKey">
    <xsd:annotation>
      <xsd:documentation>This is an element key used when fetching element information from the database. You specify the element and the information that you want to retrieve.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="elm:elmFullKey">
        <xsd:sequence>
          <xsd:element name="VocabList" type="elm:VocabList">
            <xsd:annotation>
              <xsd:documentation>Contains the vocabulary items that you want to retrieve for the specified element.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="elmReqFullKeys">
    <xsd:annotation>
      <xsd:documentation>This is an element key used when requesting a list of elements, as it incorporates a value for the maximum number of items to return. It also incorporates the company within which the element exists.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MaxKeys" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The maximum number of items to be returned.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FullWildKey" type="elm:elmFullKey">
        <xsd:annotation>
          <xsd:documentation>An element key.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="elmKeyDataElement">
    <xsd:annotation>
      <xsd:documentation>Holds the extended key information for one element.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" type="com:typeElmCode">
        <xsd:annotation>
          <xsd:documentation>The element code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The element's short name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CustomerSupplier" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>A specification of whether the element represents a customer or supplier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IsCustomer" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this element is a customer only.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IsSupplier" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this element is a supplier only.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="elmKeyData">
    <xsd:annotation>
      <xsd:documentation>This element contains extended key information for a list of elements.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Key" type="elm:elmKeyDataElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Holds the extended key information for one element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="elmTemporaryElmFilter">
    <xsd:annotation>
      <xsd:documentation>The temporary supplier filter.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SelectAllTemporaryElmBanksAndAddresses" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>When retrieving bank or address lists for an umbrella element, specifies whether these lists are retrieved for all its temporary elements.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UseTemporaryID" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether to use the TemporaryID field.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UseTraderNameCode" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether to use the TraderNameCode field.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TemporaryID" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The TemporaryID, which identifies a temporary supplier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TraderNameCode" type="com:typeTraderCodeB">
        <xsd:annotation>
          <xsd:documentation>The trader code, which identifies a temporary supplier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="elmFullKeyWithTemporaryElmFilter">
    <xsd:annotation>
      <xsd:documentation>This is an element key that incorporates temporary supplier identifiers.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="FullKey" type="elm:elmFullKey">
        <xsd:annotation>
          <xsd:documentation>An element key that incorporates the company within which the element exists.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UsingFilter" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether to use the temporary supplier filter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TemporaryElmFilter" type="elm:elmTemporaryElmFilter" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The temporary supplier filter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LastTransaction">
    <xsd:annotation>
      <xsd:documentation>Holds details of the last invoice transaction posted to this element.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the document used to post the last invoice transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Number" type="com:typeDocNumAlphaB">
        <xsd:annotation>
          <xsd:documentation>The number of the document used to post the last invoice transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Date" type="com:typeDate">
        <xsd:annotation>
          <xsd:documentation>The date when this transaction was posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Currency" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The currency of this transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Value" type="com:typeMoneyB">
        <xsd:annotation>
          <xsd:documentation>The value of this transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayStatus" type="com:typeCtStatPayDocLine" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The payment status of this transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LastTransactions">
    <xsd:annotation>
      <xsd:documentation>Holds details of the last transactions posted to this element.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Invoice" type="elm:LastTransaction" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Holds details of the last invoice transaction posted to this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Payment" type="elm:LastTransaction" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Holds details of the last payment transaction posted to this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Element" type="elm:Element">
    <xsd:annotation>
      <xsd:documentation>This element holds an element master.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LastTransactions" type="elm:LastTransactions">
    <xsd:annotation>
      <xsd:documentation>Holds details of the last transactions posted against the specified element. These details are read-only and are applicable only to customer/supplier elements and umbrella elements.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
