resources/schemas/public/finance/intercompany/intercompany.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:icr="http://www.coda.com/efinance/schemas/intercompany" xmlns:prg="http://www.coda.com/efinance/schemas/progress" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster" targetNamespace="http://www.coda.com/efinance/schemas/intercompany" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/progress" schemaLocation="s:/schemas/public/common/progress/progress.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="s:/schemas/public/common/selectormaster/selectormaster.xsd"/>

  <xsd:complexType name="OverrideData">
    <xsd:annotation>
      <xsd:documentation>Specifies that you can override some of the values supplied by the designated receiver master with your own values.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ReceivingDocCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the document master to be used to post details in the receiving company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InitialLocation" type="com:typeCtRecInitialLoc">
        <xsd:annotation>
          <xsd:documentation>Specifies where in the receiving company the receiving process attempts to post document lines retrieved from the InterCompany Trace.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="YearPeriod" type="com:typePeriod">
        <xsd:annotation>
          <xsd:documentation>This year and period overrides the year and period calculated using the rule on the receiver master. The values entered must be a valid year and period for the receiving company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ForwardDestination" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The destination code for the company to which the document line is to be forwarded. If this code is left blank, any forward destination on the receiver master is overridden and the retrieved document lines are not forwarded, but posted in the current receiving company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReceiverData">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the receiver process.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="GslCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the selector master used to retrieve document lines from the InterCompany Trace.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TreatWarningsAsErrors" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that a warning is treated as an error.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StopRunOnErrors" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Stops the InterCompany process when an error is encountered.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ContinueForwarding" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that InterCompany forwarding continues automatically through the intermediate companies until the selector can no longer select any transactions from the InterCompany Trace.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccumulateLines" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that lines from the same original document that are posted to the same company are included in the same posting document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccumulationLimit" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The maximum number of accumulated lines in a document. The maximum you can specify is 999,999. Any lines above the specified limit are accumulated into another document. A limit of 0 means that all lines are accumulated into one document, not that no lines are accumulated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Overrides" type="icr:OverrideData" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies that you can override some of the values supplied by the designated receiver master with your own values.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Selection" type="gsl:VocListData">
        <xsd:annotation>
          <xsd:documentation>The selection criteria that determines which document lines are selected for inclusion in the receiver process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CrossDatabaseData">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the cross-database process.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Selection" type="gsl:VocListData">
        <xsd:annotation>
          <xsd:documentation>The selection criteria that determines which document lines are selected for inclusion in the cross-database process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BasicProcessData">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the basic InterCompany processes.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ProcessType" type="com:typeCtIcrProcType">
        <xsd:annotation>
          <xsd:documentation>They type of process: Receiver or Cross-database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LogTitle" type="com:typeLogTitle">
        <xsd:annotation>
          <xsd:documentation>The title of the log that will be generated by the process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ProcessData">
    <xsd:annotation>
      <xsd:documentation>This element contains data about the two InterCompany processes: the Receiver process and the Cross-database process.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BasicProcessData" type="icr:BasicProcessData">
        <xsd:annotation>
          <xsd:documentation>This element contains information about the basic InterCompany processes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReceiverData" type="icr:ReceiverData" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains information about the receiver process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CrossDatabaseData" type="icr:CrossDatabaseData" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains information about the cross-database process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
