resources/schemas/public/common/usermaster/usermasterservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:build="http://www.coda.com/common/schemas/funcsec" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:usrg="http://www.coda.com/common/schemas/usergroupmaster" xmlns:usr="http://www.coda.com/common/schemas/usermaster" targetNamespace="http://www.coda.com/common/schemas/usermaster" elementFormDefault="qualified" version="11.3">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:include schemaLocation="s:/schemas/public/common/usermaster/usermaster.xsd"/>

  <xsd:complexType name="AddRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="User" type="usr:User">
            <xsd:annotation>
              <xsd:documentation>Contains the information for the CODA user master you want to create.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Groups" type="usr:Groups" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The user groups to which this CODA user master belongs.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="WarnAboutUndefaultedDomainUsers" type="xsd:boolean" minOccurs="0" default="false">
            <xsd:annotation>
              <xsd:documentation>If set, a warning message is displayed if any user masters do not have a default domain user mapping.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Creates new CODA user masters in the database using the information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usr:AddRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code for the CODA user master that you created or attempted to create.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TimeStamp" type="xsd:short">
            <xsd:annotation>
              <xsd:documentation>The TimeStamp value for this CODA user master in the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usr:AddResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="User" type="usr:User">
            <xsd:annotation>
              <xsd:documentation>Contains the information for the CODA user master you want to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Groups" type="usr:Groups" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The user groups to which this CODA user master belongs.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="WarnAboutUndefaultedDomainUsers" type="xsd:boolean" minOccurs="0" default="false">
            <xsd:annotation>
              <xsd:documentation>If set, a warning message is displayed if any user masters do not have a default domain user mapping.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Updates CODA user masters in the database using the information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usr:UpdateRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code for the CODA user master that you updated or attempted to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TimeStamp" type="xsd:short" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The TimeStamp value for this CODA user master in the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usr:UpdateResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateHomePageRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="usr:UserKey">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying the CODA user whose Homepage template you want to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TemplateCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code of the HomePage template to assign to this CODA user.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateHomePageRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Assigns the specified Homepage template to the specified CODA user.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usr:UpdateHomePageRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateHomePageResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code for the CODA user whose Homepage template you updated or attempted to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TemplateCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code of the HomePage template that you assigned, or attempted to assign, to this CODA user.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateHomePageResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usr:UpdateHomePageResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="usr:UserKey">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying the CODA user master you want to retrieve from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the specified CODA user masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usr:GetRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code for the CODA user master that you retrieved or attempted to retrieve.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="User" type="usr:User" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the CODA user master you have retrieved from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usr:GetResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="usr:UserKey">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying the CODA user master you want to delete.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Deletes the specified CODA user masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usr:DeleteRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code for the CODA user master that you deleted or attempted to delete.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usr:DeleteResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetWithPositionsRequest">
    <xsd:complexContent>
      <xsd:extension base="usr:GetRequest">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetWithPositionsRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the specified CODA user masters from the database, together with the information needed to manage users' position associations. For each user, this information is the list of positions the user is currently associated with and the set of position hierarchies that contain them.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usr:GetWithPositionsRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetWithPositionsResponse">
    <xsd:complexContent>
      <xsd:extension base="usr:GetResponse">
        <xsd:sequence>
          <xsd:element name="SelectedPositions" type="usr:Positions">
            <xsd:annotation>
              <xsd:documentation>The list of positions with which this user is associated.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SelectedHierarchies" type="usr:Hierarchies">
            <xsd:annotation>
              <xsd:documentation>The list of position hierarchies in which the positions associated with this user occur.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetWithPositionsResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usr:GetWithPositionsResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddWithPositionsRequest">
    <xsd:complexContent>
      <xsd:extension base="usr:AddRequest">
        <xsd:sequence>
          <xsd:element name="Positions" type="usr:Positions" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The list of positions that this new user is associated with.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddWithPositionsRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Creates new CODA user masters in the database using the information you provide, and associates each user with the positions in the supplied list.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usr:AddWithPositionsRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddWithPositionsResponse">
    <xsd:complexContent>
      <xsd:extension base="usr:AddResponse">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddWithPositionsResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usr:AddWithPositionsResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateWithPositionsRequest">
    <xsd:complexContent>
      <xsd:extension base="usr:UpdateRequest">
        <xsd:sequence>
          <xsd:element name="AddPositions" type="usr:Positions" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The list of positions that you want to add this user to.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RemovePositions" type="usr:Positions" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The list of positions that you want to remove this user from.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CheckPositionsLeftConnected" type="usr:Positions" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The list of positions that this user was associated with when you retrieved the user master from the database, and from which you have not removed this user. If either the user has been removed from any of these positions or associated with any other positions, the response document warns you of this and provides lists of externally added, removed and deleted positions. This allows you to make any changes and attempt another update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateWithPositionsRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Updates CODA user masters and their associations with position masters in the database using the information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usr:UpdateWithPositionsRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateWithPositionsResponse">
    <xsd:complexContent>
      <xsd:extension base="usr:UpdateResponse">
        <xsd:sequence>
          <xsd:element name="Success" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Specifies whether the update was successful (true) or the association of the user with positions was changed by someone else while you were editing the user master (false).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ExternallyAddedPositions" type="usr:Positions" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The list of positions with which the user has been associated by someone else while you were editing the user master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ExternallyRemovedPositions" type="usr:Positions" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The list of positions from which the user has been removed by someone else while you were editing the user master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ExternallyDeletedPositions" type="usr:Positions" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The list of position masters that have been deleted by someone else while you were editing the user master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SelectedPositions" type="usr:Positions" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The list of positions with which the user is now associated.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SelectedHierarchies" type="usr:Hierarchies" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The list of position hierarchies in which the positions now associated with this user now occur.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateWithPositionsResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usr:UpdateWithPositionsResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Filter" type="usr:ListFilter">
            <xsd:annotation>
              <xsd:documentation>A filter that selects the CODA user masters to be listed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves a list of keys for the specified CODA user masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usr:ListRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Filter" type="usr:ListFilter">
            <xsd:annotation>
              <xsd:documentation>The filter that was used to select the CODA user masters to be listed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Keys" type="usr:UserList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the key information for the listed CODA user masters.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usr:ListResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ExportRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ExportRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Exports all CODA user masters on the system to an XML file.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usr:ExportRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ExportResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="FullUserList" type="usr:FullUserList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the CODA user master data being exported.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ExportResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usr:ExportResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ImportRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="FullUserList" type="usr:FullUserList">
            <xsd:annotation>
              <xsd:documentation>Contains the CODA user master data being imported.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ImportRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Imports data from an XML file to create new CODA user masters or update existing ones.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usr:ImportRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ImportResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ImportResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usr:ImportResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListForApplicationRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Filter" type="usr:ListFilter">
            <xsd:annotation>
              <xsd:documentation>A filter that selects the CODA user masters to be checked.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Application" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The application that you want to check for.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListForApplicationRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves a list of CODA user masters that are set up to use the specified application.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usr:ListForApplicationRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListForApplicationResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Keys" type="usr:UserList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains key information for the CODA user masters that are set up to use the application that was specified in the Request corresponding to this Response.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListForApplicationResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usr:ListForApplicationResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TurnOffOutOfOfficeRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="usr:UserKey">
            <xsd:annotation>
              <xsd:documentation>A key to a user ID.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TurnOffOutOfOfficeRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Turns off the out of office flag for the specified user.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usr:TurnOffOutOfOfficeRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TurnOffOutOfOfficeResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The user code whcih has had the out of office flag reset.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TurnOffOutOfOfficeResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usr:TurnOffOutOfOfficeResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetOutOfOfficeRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="usr:UserKey">
            <xsd:annotation>
              <xsd:documentation>The key to a user.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetOutOfOfficeRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves out of office details.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="usr:GetOutOfOfficeRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetOutOfOfficeResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>A user code.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="IsOutOfOffice" type="xsd:boolean" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>If true, the out of office flag is set for the specified user.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="OutOfOffice" type="usr:OutOfOffice" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>This element contains out of office details.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetOutOfOfficeResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="usr:GetOutOfOfficeResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UserMasterRequest">
    <xsd:annotation>
      <xsd:appinfo build:funcSecValue="114" build:readOnly="true"/>
      <xsd:documentation>This service allows you to maintain CODA user masters via the Administration Console server.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Add" type="usr:AddRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="1" build:readOnly="false"/>
              <xsd:documentation>Creates new CODA user masters in the database using the information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Update" type="usr:UpdateRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="2" build:readOnly="false"/>
              <xsd:documentation>Updates CODA user masters in the database using the information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UpdateHomePage" type="usr:UpdateHomePageRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="4" build:readOnly="false"/>
              <xsd:documentation>Assigns the specified Homepage template to the specified CODA user.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Get" type="usr:GetRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="5" build:readOnly="true"/>
              <xsd:documentation>Retrieves the specified CODA user masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Delete" type="usr:DeleteRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="6" build:readOnly="false"/>
              <xsd:documentation>Deletes the specified CODA user masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="List" type="usr:ListRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="7" build:readOnly="true"/>
              <xsd:documentation>Retrieves a list of keys for the specified CODA user masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Export" type="usr:ExportRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="8" build:readOnly="true"/>
              <xsd:documentation>Exports all CODA user masters on the system to an XML file.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Import" type="usr:ImportRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="9" build:readOnly="false"/>
              <xsd:documentation>Imports data from an XML file to create new CODA user masters or update existing ones.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ListForApplication" type="usr:ListForApplicationRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="10" build:readOnly="true"/>
              <xsd:documentation>Retrieves a list of CODA user masters that are set up to use the specified application.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TurnOffOutOfOffice" type="usr:TurnOffOutOfOfficeRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="11" build:readOnly="false"/>
              <xsd:documentation>Turns off the out of office flag for the specified user.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetOutOfOffice" type="usr:GetOutOfOfficeRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="12" build:readOnly="true"/>
              <xsd:documentation>Retrieves out of office details.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetWithPositions" type="usr:GetWithPositionsRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="13" build:readOnly="true"/>
              <xsd:documentation>Retrieves the specified CODA user masters from the database, together with the information needed to manage users' position associations. For each user, this information is the list of positions the user is currently associated with and the set of position hierarchies that contain them.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AddWithPositions" type="usr:AddWithPositionsRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="14" build:readOnly="false"/>
              <xsd:documentation>Creates new CODA user masters in the database using the information you provide, and associates each user with the positions in the supplied list.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UpdateWithPositions" type="usr:UpdateWithPositionsRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="15" build:readOnly="false"/>
              <xsd:documentation>Updates CODA user masters and their associations with position masters in the database using the information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UserMasterResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you maintain user masters via the Administration Console server.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Add" type="usr:AddResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Update" type="usr:UpdateResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UpdateHomePage" type="usr:UpdateHomePageResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Get" type="usr:GetResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Delete" type="usr:DeleteResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="List" type="usr:ListResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Export" type="usr:ExportResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Import" type="usr:ImportResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ListForApplication" type="usr:ListForApplicationResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TurnOffOutOfOffice" type="usr:TurnOffOutOfOfficeResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetOutOfOffice" type="usr:GetOutOfOfficeResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetWithPositions" type="usr:GetWithPositionsResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AddWithPositions" type="usr:AddWithPositionsResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UpdateWithPositions" type="usr:UpdateWithPositionsResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="UserMasterRequest" type="usr:UserMasterRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to maintain CODA user masters via the Administration Console server.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="UserMasterResponse" type="usr:UserMasterResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you maintain user masters via the Administration Console server.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
