resources/schemas/public/assets/transfer/transferservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:trn="http://www.coda.com/eassets/schemas/transfer" xmlns:rev="http://www.coda.com/eassets/schemas/reviewtransactions" xmlns:ass="http://www.coda.com/eassets/schemas/asset" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/eassets/schemas/transfer" elementFormDefault="qualified" version="11.3">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/eassets/schemas/asset" schemaLocation="s:/schemas/public/assets/asset/asset.xsd"/>
  <xsd:import namespace="http://www.coda.com/eassets/schemas/reviewtransactions" schemaLocation="s:/schemas/public/assets/reviewtransactions/reviewtransactions.xsd"/>
  <xsd:include schemaLocation="s:/schemas/public/assets/transfer/transfer.xsd"/>
  <xsd:include schemaLocation="s:/schemas/public/assets/transfer/transferpostings.xsd"/>

  <xsd:complexType name="AssetRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Transfer" type="trn:Transfer">
            <xsd:annotation>
              <xsd:documentation>This element contains the parameters which can be specified when transferring assets.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AssetRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Sets up the transfer of assets from one asset to another, using the parameters you specify.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="trn:AssetRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AssetResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsCreated" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the AssetDocumentRequest corresponding to this response was successful.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TransferPostings" type="trn:TransferPostings">
            <xsd:annotation>
              <xsd:documentation>Contains the postings that will be generated by this transfer process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AssetResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="trn:AssetResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CostCentreRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Transfer" type="trn:Transfer">
            <xsd:annotation>
              <xsd:documentation>This element contains the parameters which can be specified when transferring assets.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CostCentreRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Sets up the transfer of assets from one cost centre to another, using the parameters you specify.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="trn:CostCentreRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CostCentreResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsCreated" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the CostCentreDocumentRequest corresponding to this response was successful.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TransferPostings" type="trn:TransferPostings">
            <xsd:annotation>
              <xsd:documentation>Contains the postings that will be generated by this transfer process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CostCentreResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="trn:CostCentreResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CategoryRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Transfer" type="trn:Transfer">
            <xsd:annotation>
              <xsd:documentation>This element contains the parameters which can be specified when transferring assets.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CategoryRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Sets up the transfer of WIP assets to another category, using the parameters you specify.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="trn:CategoryRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CategoryResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsCreated" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the CategoryDocumentRequest corresponding to this response was successful.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TransferPostings" type="trn:TransferPostings">
            <xsd:annotation>
              <xsd:documentation>Contains the postings that will be generated by this transfer process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CategoryResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="trn:CategoryResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ValidateCategoryTransferRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="AssetKeys" type="trn:AssetKeyList">
            <xsd:annotation>
              <xsd:documentation>Contains a list of keys identifying assets selected for category transfer.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ValidateCategoryTransferRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Validates whether the specified assets can undergo a category transfer.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="trn:ValidateCategoryTransferRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ValidateCategoryTransferResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="WIPCategoryCode" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The WIP category code of the assets selected in the request corresponding to this response.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AssociatedCategoryCode" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The category code associated with that WIP category.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AmendableNumberRule" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the number rule master from the associated category is amendable.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SingleAssetCost" type="com:typeMoney">
            <xsd:annotation>
              <xsd:documentation>The total cost of the assets selected (if transferring to a single asset).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ValidateCategoryTransferResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="trn:ValidateCategoryTransferResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Transfer" type="trn:Transfer">
            <xsd:annotation>
              <xsd:documentation>This element contains the parameters which can be specified when transferring assets.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TransferPostings" type="trn:TransferPostings">
            <xsd:annotation>
              <xsd:documentation>This element contains the values that will be posted by the transfer process..</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Allows you to review the postings that will be generated if the transfer is performed using the parameters you specify.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="trn:ReviewRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsReviewed" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the ReviewDocumentRequest corresponding to this response was successful.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunIDs" type="trn:RunIdList">
            <xsd:annotation>
              <xsd:documentation>This element contains a list of companies in which the transfer process will be run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TransferPostings" type="trn:TransferPostings">
            <xsd:annotation>
              <xsd:documentation>Contains the postings that will be generated by this transfer process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ReviewTransactions" type="rev:ReviewTransactions">
            <xsd:annotation>
              <xsd:documentation>Contains the financial transactions that will be generated by this transfer process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TransferToNewAsset" type="ass:Asset">
            <xsd:annotation>
              <xsd:documentation>Contains the details of the new asset that will be created if appropriate.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NewAssetsFromWIP" type="trn:AssetList">
            <xsd:annotation>
              <xsd:documentation>Contains the list of new assets that will be created from WIP assets if appropriate.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="trn:ReviewResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Transfer" type="trn:Transfer">
            <xsd:annotation>
              <xsd:documentation>This element contains the parameters which can be specified when transferring assets.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TransferPostings" type="trn:TransferPostings">
            <xsd:annotation>
              <xsd:documentation>This element contains the values that will be posted by the transfer process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Posts the transfer using the parameters you specify.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="trn:PostRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsPosted" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the PostDocumentRequest corresponding to this response was successful.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunIDs" type="trn:RunIdList">
            <xsd:annotation>
              <xsd:documentation>This element contains a list of companies in which the transfer process has been run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NewAsset" type="ass:AssetKey">
            <xsd:annotation>
              <xsd:documentation>Contains key information for the new asset.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TransferPostings" type="trn:TransferPostings">
            <xsd:annotation>
              <xsd:documentation>Contains the postings that have been generated by this transfer process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NewAssetsFromWIP" type="trn:AssetList">
            <xsd:annotation>
              <xsd:documentation>Contains the list of new assets that have been created from WIP assets if appropriate.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="trn:PostResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelPostRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="RunIDs" type="trn:RunIdList">
            <xsd:annotation>
              <xsd:documentation>This element contains a list of companies in which the transfer process would have been run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Transfer" type="trn:Transfer">
            <xsd:annotation>
              <xsd:documentation>This element contains the parameters of the transfer process that you wish to cancel.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelPostRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Cancels the transfer process that would have used the specified parameters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="trn:CancelPostRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelPostResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsCancelled" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the CancelPostRequest corresponding to this response was successful.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelPostResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="trn:CancelPostResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TransferRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to transfer assets.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="AssetDocument" type="trn:AssetRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Sets up the transfer of assets from one asset to another, using the parameters you specify.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CostCentreDocument" type="trn:CostCentreRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Sets up the transfer of assets from one cost centre to another, using the parameters you specify.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ReviewDocument" type="trn:ReviewRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Allows you to review the postings that will be generated if the transfer is performed using the parameters you specify.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PostDocument" type="trn:PostRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Posts the transfer using the parameters you specify.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CancelPost" type="trn:CancelPostRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Cancels the transfer process that would have used the specified parameters.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CategoryDocument" type="trn:CategoryRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Sets up the transfer of WIP assets to another category, using the parameters you specify.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ValidateCategoryTransfer" type="trn:ValidateCategoryTransferRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Validates whether the specified assets can undergo a category transfer.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TransferResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you transfer assets.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="AssetDocument" type="trn:AssetResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CostCentreDocument" type="trn:CostCentreResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ReviewDocument" type="trn:ReviewResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PostDocument" type="trn:PostResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CancelPost" type="trn:CancelPostResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CategoryDocument" type="trn:CategoryResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ValidateCategoryTransfer" type="trn:ValidateCategoryTransferResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="TransferRequest" type="trn:TransferRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to transfer assets.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransferResponse" type="trn:TransferResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you transfer assets.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
