resources/schemas/public/assets/transfer/transferpostings.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:asscom="http://www.coda.com/eassets/schemas/common" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:ass="http://www.coda.com/eassets/schemas/asset" xmlns:trn="http://www.coda.com/eassets/schemas/transfer" targetNamespace="http://www.coda.com/eassets/schemas/transfer" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/eassets/schemas/asset" schemaLocation="s:/schemas/public/assets/asset/asset.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/eassets/schemas/common" schemaLocation="s:/schemas/public/assets/common/types.xsd"/>

  <xsd:complexType name="TransferPostings">
    <xsd:annotation>
      <xsd:documentation>Contains the postings that will be generated (or have been generated) by the current transfer request.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PostingDetails" type="trn:PostingDetails" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Contains transfer postings. The asset and other parameters used to calculate these postings are contained within this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PostingDetails">
    <xsd:annotation>
      <xsd:documentation>Contains transfer postings. The asset and other parameters used to calculate these postings are contained within this element.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="IsParent" type="com:typeBool">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the specified asset is a parent asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Asset" type="ass:Asset">
        <xsd:annotation>
          <xsd:documentation>This element holds details of the asset being transferred.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Books" type="trn:BookList" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element holds details for the asset books in which the specified asset is being transferred.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RunID" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>A string that uniquely identifies this transfer process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepreciationRunID" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A number identifying the depreciation run that is invoked to bring the asset's depreciation up to date prior to its transfer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BookList">
    <xsd:annotation>
      <xsd:documentation>This element holds details for the asset books in which the specified asset is being transferred.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AssetBook" type="ass:AssetBooks">
        <xsd:annotation>
          <xsd:documentation>This element holds details for an asset book in which the specified asset is being transferred.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransferAmount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount of capital cost being transferred.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransferResidualAmount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount of residual value being transferred.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepreciationTransferAmount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The total amount of accumulated depreciation being transferred.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StandardDepreciationAmount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount of accumulated standard depreciation being transferred.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StandardDepreciationPeriods" type="trn:DepreciationPeriods">
        <xsd:annotation>
          <xsd:documentation>This element contains the standard depreciation amount for each period of the asset's life to date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecialDepreciationAmount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount of accumulated special depreciation being transferred.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecialDepreciationPeriods" type="trn:DepreciationPeriods">
        <xsd:annotation>
          <xsd:documentation>This element contains the special depreciation amount for each period of the asset's life to date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostingBook" type="com:typeBool">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this asset book is set up to be the posting book.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Postings" type="trn:PostingValues">
        <xsd:annotation>
          <xsd:documentation>Contains the values that will be posted (or have been posted) to the Books to record this transfer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IsPosted" type="com:typeBool">
        <xsd:annotation>
          <xsd:documentation>Indicates whether these values have been posted to the CODA-Financials Books.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="YTDDepreciationTransferAmount" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The amount of year-to-date depreciation being transferred.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DepreciationPeriods">
    <xsd:annotation>
      <xsd:documentation>This element contains the standard depreciation amount for each period of the asset's life to date.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PeriodValues" type="trn:PeriodDepValues" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element contains the standard depreciation amount for a period of the asset's life.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PeriodDepValues">
    <xsd:annotation>
      <xsd:documentation>This element contains the standard depreciation amount for a period of the asset's life.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Value" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount of standard depreciation for this period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Period" type="com:typePeriods">
        <xsd:annotation>
          <xsd:documentation>The period to which this standard depreciation amount applies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Year" type="com:typeWord">
        <xsd:annotation>
          <xsd:documentation>The year to which this standard depreciation amount applies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PostingValues">
    <xsd:annotation>
      <xsd:documentation>Contains the values that will be posted (or have been posted) to the Books to record this transfer.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CapitalCostSource" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount credited to the capitalisation account of the source asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CapitalCostDestination" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount debited from the capitalisation account of the destination asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccumulatedDepreciationSource" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount debited from the accumulated depreciation account of the source asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccumulatedDepreciationDestination" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount credited to the accumulated depreciation account of the destination asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RevalCostSource" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount credited to the revalued capital cost account of the source asset. This posting is only made if the asset has been revalued and ComplexDisp is set to TRUE for the PostRuleMaster used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RevalCostDestination" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount debited from the revalued capital cost account of the destination asset. This will use the same account code as RevalCostSource except that the cost centre element will be the new cost centre. This posting is only made if the asset has been revalued and ComplexDisp is set to TRUE for the PostRuleMaster used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RevalDepnSource" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount credited to the revalued accumulated depreciation account of the source asset. This posting is only made if the asset has been revalued and ComplexDisp is set to TRUE for the PostRuleMaster used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RevalDepnDestination" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount debited from the revalued accumulated depreciation account of the destination asset. This will use the same account code as RevalDepnSource except that the cost centre element will be the new cost centre. This posting is only made if the asset has been revalued and ComplexDisp is set to TRUE for the PostRuleMaster used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RevalResSource" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount credited to the revaluation reserve account of the source asset. This posting is only made if the asset has been revalued and ComplexDisp is set to TRUE for the PostRuleMaster used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RevalResDestination" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount debited from the revaluation reserve account of the destination asset. This will use the same account code as RevalResSource except that the cost centre element will be the new cost centre. This posting is only made if the asset has been revalued and ComplexDisp is set to TRUE for the PostRuleMaster used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="YTDDepreciationSource" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>This posting is only made when performing a cost centre transfer and TransferDepreciation is set to TRUE for the transfer process. It is the amount credited to the depreciation charge account of the source asset (the old cost centre).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="YTDDepreciationDestination" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>This posting is only made when performing a cost centre transfer and TransferDepreciation is set to TRUE for the transfer process. It is the amount debited from the depreciation charge account of the destination asset (the new cost centre).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CategoryOut" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>This posting is only made when performing a category transfer. It is the amount credited to reverse out the original WIP capitalisation postings.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CategoryIn" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>This posting is only made when performing a category transfer. It is the amount debited for the new assets created by the category transfer process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransferResidualAmount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount of residual value transferred to the destination asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="TransferPostings" type="trn:TransferPostings">
    <xsd:annotation>
      <xsd:documentation>Contains the postings that will be generated (or have been generated) by the current transfer request.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
