resources/schemas/public/common/capability/capability.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cap="http://www.coda.com/efinance/schemas/capability" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/efinance/schemas/capability" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="ReqKeys">
    <xsd:annotation>
      <xsd:documentation>Contains key information for requesting a number of capability masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MaxKeys" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The maximum number of items to be returned.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WildKey" type="com:GlobalKey">
        <xsd:annotation>
          <xsd:documentation>A capability master key, consisting of the code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Master" abstract="true">
    <xsd:sequence>
      <xsd:element name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp value for the capability master in the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the capability master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The full name for the capability master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The abbreviated name for the capability master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FunctionalSec" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether functional security is used with the capability master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReadOnly" type="com:typeCtCapReadOnlyState">
        <xsd:annotation>
          <xsd:documentation>The type of access available with the capability master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InputActionForBadDate" type="com:typeCtWarnErrNoAct">
        <xsd:annotation>
          <xsd:documentation>Specifies the action taken when users attempt to post a document with a date that is out of period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChangeValueDate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the value date of documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChangeDueDate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the due date of documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExplodeLines" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can explode a document from the document line during Browse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyDocumentDesc" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change document line descriptions during Browse. It is not possible to change document header descriptions, regardless of this setting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PutDocLinesOnHold" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the pay status of document lines from Available to Held in Browse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FreeHeldDocLines" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the pay status of document lines from Held to Available in Browse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaxNoOfDocLinesInBrs" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The maximum number of document lines that users can retrieve in a single Browse session.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyExchangeRates" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the exchange rate for a particular document. The exchange rate on the currency master does not change.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyDualCurrRates" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can modify exchange rates for the dual currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChangeWriteOffAcc" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can enter a write-off account during Matching that is different from the default account.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChangeDiscountAcc" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can enter a discount account during Matching that is different from the default account.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChangeCurrWriteOffAcc" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can modify the currency write-off account.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DiscountCapability" type="com:typeCtValPercNo">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the discount write-off by either an absolute amount or a percentage.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DiscountPercentage" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>The maximum percentage by which users can change the discount write-off value during Pay and Matching.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DiscountValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The maximum amount by which users can change the discount write-off value during Pay and Matching.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExchangeCapability" type="com:typeCtValPercNo">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can modify exchange values by either an absolute amount or a percentage.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExchangePercentage" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>The maximum percentage by which users can modify exchange values during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExchangeValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The maximum amount by which users can modify exchange values during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaxCapability" type="com:typeCtValPercNo">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the tax value by either an absolute amount or a percentage.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaxPercentage" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>The maximum percentage by which users can change the tax value during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaxValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The maximum amount by which users can change the tax value during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LimitValuePosted" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether there is a limit to the value users can post in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostedValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The limit which users can post in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SecurityLevel" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The security level of users with this capability.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PeriodSecGrouping" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The period security group that a user with this capability is in.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostPayDocsToIntray" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users with this capability can both create pay masters which post to the Intray and generate a payment proposal in which the payments are posted to the Intray.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LockElementFromPayment" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can reset the Enable Payments check box on the 'Payment Control' page of the element master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SuppressDocuments" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can select the Post to: None option on the 'Media and Accounts' page of Pay Master when generating a proposal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyPayCollectInfo" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can modify the payment and collection information attached to a detail line. This ability affects Browse Details, Reconciliation, and the Manipulate stage of a payment or collection process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DeferredPaymentsInMatching" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can perform manual matching with a final status of either Paid or Draft Paid.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SuppressArchiveJournals" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can perform archives without creating summary account journals.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ArchiveBalances" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can archive balances.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MayModifyUndoMatchDate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can edit the default date when they undo a match.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChTmpElmAddr" type="com:typeCtCreateChangeTempElementValues">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the address, bank details, tax number, and 1099 details of a temporary supplier in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayStatPutDocLinesOnHold" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the pay status of document lines for temporary suppliers from Available to Held in Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayStatFreeHeldDocLines" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the pay status of document lines for temporary suppliers from Held to Available in Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayStatChngNormAndDraft" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change between normal and draft pay statuses.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExtRef" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users user can change or create external references in Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecStat" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the reconciliation status in Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowIntrayRecon" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can reconcile document lines on the Intray, subject to settings on the company and reconciliation masters.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RelaxLinkTriangulation" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether Triangulation rules are relaxed for CODA Link.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowCmpBalElm" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can set up balancing element information in the company master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DeleteIntrayDocs" type="com:typeCtProtectIntrayDocs">
        <xsd:annotation>
          <xsd:documentation>The type of permission the user has to delete documents on the Intray.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyIntrayDocs" type="com:typeCtProtectIntrayDocs">
        <xsd:annotation>
          <xsd:documentation>The type of permission the user has to modify documents on the Intray.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RestrictIntercompanyPosting" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether any posting made to an intercompany control account, not from the internal intercompany process, is permitted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowWorkflowEdits" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether modifications can be made to documents on the Intray that are in active workflows.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyLineReminderSeverity" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the severity level of a line within a reminder letter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowPayCollect" type="com:typeCtAllowPayCollect">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can access Payments only, Collections only or both Payments and Collections.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SecurePayFilter" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users are restricted during pay or collect processing to using only the payment or collection masters included in a filtered list.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaxNoOfLinesInPayPrint" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Specifies the maximum number of data rows to include when using the Quick Print option in Financials Pay/Collect.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SecurityItem">
    <xsd:annotation>
      <xsd:documentation>A row in the security list.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Logical" type="com:typeCtAccessLog">
        <xsd:annotation>
          <xsd:documentation>A logical operator, either AND or OR.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LBracket" type="com:typeCtLeftBracketVocab">
        <xsd:annotation>
          <xsd:documentation>The number of opening brackets to insert at this point (for grouping purposes).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Vocab" type="com:typeCtOneOfN">
        <xsd:annotation>
          <xsd:documentation>A number identifying an element in the account code, the group of an element, or a type of master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Function" type="com:typeCtAccessOp">
        <xsd:annotation>
          <xsd:documentation>A number identifying the relational operator that specifies the kind of comparison made between the element, group, or master code and the supplied Value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Value" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A pattern value that is compared to the element or master code. You can use wildcards only with the LIKE and NOTLIKE functions.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TBracket" type="com:typeCtRightBracketVocab">
        <xsd:annotation>
          <xsd:documentation>The number of closing brackets to insert at this point (for grouping purposes).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SecurityList">
    <xsd:annotation>
      <xsd:documentation>Specifies the masters to which users have read-only access.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Item" type="cap:SecurityItem" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>A row in the security list.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FncSecElement">
    <xsd:annotation>
      <xsd:documentation>An item in the functional security list.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AppNum" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The application number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubAppNum" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The subapplication number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Node" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The node number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FncSecList">
    <xsd:annotation>
      <xsd:documentation>Specifies the application functions to which users have access.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Item" type="cap:FncSecElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>An item in the functional security list.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Capability">
    <xsd:annotation>
      <xsd:documentation>This element holds a capability master.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="cap:Master">
        <xsd:sequence>
          <xsd:element name="MasterReadList" type="cap:SecurityList">
            <xsd:annotation>
              <xsd:documentation>Specifies the masters to which users have read-only access.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MasterWriteList" type="cap:SecurityList">
            <xsd:annotation>
              <xsd:documentation>Specifies the masters to which users have read-write access.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AccountReadList" type="cap:SecurityList">
            <xsd:annotation>
              <xsd:documentation>Specifies the accounts to which users have read-only access.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AccountWriteList" type="cap:SecurityList">
            <xsd:annotation>
              <xsd:documentation>Specifies the accounts to which users have read-write access.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MasterFilterList" type="cap:SecurityList">
            <xsd:annotation>
              <xsd:documentation>Specifies the masters (of various types) which are filtered out of drop-down lists.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="FncSecList" type="cap:FncSecList">
            <xsd:annotation>
              <xsd:documentation>Specifies the application functions to which users have access.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FullCapabilityList">
    <xsd:annotation>
      <xsd:documentation>This element holds the capability master data being imported or exported.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Capability" type="cap:Capability" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element holds a capability master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Capability" type="cap:Capability">
    <xsd:annotation>
      <xsd:documentation>This element holds a capability master.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FullCapabilityList" type="cap:FullCapabilityList">
    <xsd:annotation>
      <xsd:documentation>This element holds the capability master data being imported or exported.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
