resources/schemas/public/common/systemsecuritymaster/systemsecuritymaster.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sys="http://www.coda.com/common/schemas/systemsecuritymaster" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/common/schemas/systemsecuritymaster" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="SystemSecurityMaster">
    <xsd:annotation>
      <xsd:documentation>This element holds system security parameters.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp for the system security master in the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PasswordRules" type="sys:PasswordRules" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds password parameters.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecordSuccessfulLogons" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that you want to record all successful logons and logoffs to the audit trail table. When False, only unsuccessful logon attempts are recorded.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LimitConsecutiveFailures" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that you want to limit the number of attempts at logging on a user will be allowed before being locked out.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaxLogonFailures" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The maximum number of consecutive logon failures that users are allowed before being locked out.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LdapAuthentication" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, indicates that LDAP should be used for authentication.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PasswordRules">
    <xsd:annotation>
      <xsd:documentation>This element holds password parameters.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MinPasswordLen" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The minimum length of the password. The sum of the MinAlphaChars, MinNumericChars and MinOtherChars values must not be greater than this value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MinAlphaChars" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The minimum number of alphabetic characters (A-Z, a-z) that must be included in a password.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MinNumericChars" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The minimum number of digits that must be included in a password.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MinOtherChars" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The minimum number of 'other' characters. These can be punctuation marks, space characters or accented characters.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProhibitOldPasswords" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that users cannot reuse their old passwords.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OldPasswordListLength" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The size of the list of previous passwords that any new password must be checked against before it can be used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UseTimeLimits" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that logon passwords will have a specific life span.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PasswordLife" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of days that logon passwords will be usable before users have to change them.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PasswordExpiryWarning" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of days warning that a user is given before his password expires.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChangeOnFirstUse" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users are forced to change their password when they logon to e-Framework for the first time.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LogSelection">
    <xsd:annotation>
      <xsd:documentation>This element contains the criteria for selecting one user's logon details from the audit trail table.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UsrCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the CODA user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Status" type="com:typeCtSysLogStatus" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The logon status of the user. This could be one of the following: Successful logon, Invalid Password, Invalid User Code, User Locked Out. If you leave the field blank all logon statuses are selected.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FromDate" type="com:typeDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date from which you want to select the logon history.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ToDate" type="com:typeDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date up to which you want to select the logon history.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LogSelect">
    <xsd:annotation>
      <xsd:documentation>This element contains the criteria for selecting logon details from the audit trail table.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Sel" type="sys:LogSelection">
        <xsd:annotation>
          <xsd:documentation>The selection criteria for the log.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaxLines" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The maximum number of lines you want to retrieve.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LogDataItem">
    <xsd:annotation>
      <xsd:documentation>One item of logon information from the log.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UsrCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code that identifies a CODA user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ClientIPAddress" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The address of the client machine from which the logon attempt was made.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LoginDate" type="com:typeDate">
        <xsd:annotation>
          <xsd:documentation>The date the logon attempt was made.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LoginTime" type="com:typeTime">
        <xsd:annotation>
          <xsd:documentation>The time the logon attempt was made.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Status" type="com:typeCtSysLogStatus">
        <xsd:annotation>
          <xsd:documentation>The type of logon: the reason the attempt failed, or the fact that it was successful.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LogDataItemKey">
    <xsd:annotation>
      <xsd:documentation>The key which identifies an item in the log.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UsrCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the CODA user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LoginDate" type="com:typeDate">
        <xsd:annotation>
          <xsd:documentation>The date the logon attempt was made</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LoginTime" type="com:typeTime">
        <xsd:annotation>
          <xsd:documentation>The time the logon attempt was made.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LogDataList">
    <xsd:annotation>
      <xsd:documentation>This element contains users' logon details.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LogData" type="sys:LogDataItem" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>One item of logon information from the log.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LockoutDataItem">
    <xsd:annotation>
      <xsd:documentation>One item of information from the log of locked out users.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UsrCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code that identifies a CODA user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UsrName" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The name of the user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NumLogonFailures" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of consecutive attempts the user has made at trying to log on.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PasswordExpiryDate" type="com:typeDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date on which the user's password expired, or is due to expire.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LockoutDataList">
    <xsd:annotation>
      <xsd:documentation>This element contains details of the locked out users.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LockoutData" type="sys:LockoutDataItem" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>One item of information from the log of locked out users.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LockoutKey">
    <xsd:annotation>
      <xsd:documentation>The key which identifies a user who is locked out.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UsrCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the CODA user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
