resources/schemas/public/common/alerts/alertservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ale="http://www.coda.com/common/schemas/alerts" xmlns:build="http://www.coda.com/common/schemas/funcsec" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:mes="http://www.coda.com/common/schemas/messagetransport" xmlns:use="http://www.coda.com/common/schemas/users" elementFormDefault="qualified" targetNamespace="http://www.coda.com/common/schemas/alerts" version="1.0">

  <xsd:include schemaLocation="s:/schemas/public/common/alerts/alerts.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types2.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/messagetransport" schemaLocation="s:/schemas/public/common/messagetransport/messagetransport.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/users" schemaLocation="s:/schemas/public/common/users/users.xsd"/>

  <xsd:complexType name="SendRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Alert" type="ale:Alert">
            <xsd:annotation>
              <xsd:documentation>The contents of the alert.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="Users" type="use:Users">
            <xsd:annotation>
              <xsd:documentation>The users to send the alert message to.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SendRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Sends an alert message.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="ale:SendRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SendResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Send" type="com:typeDbGuid">
            <xsd:annotation>
              <xsd:documentation>The return value of the send function.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SendResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="ale:SendResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AlertRequest">
    <xsd:annotation>
      <xsd:appinfo build:funcSecValue="419" build:readOnly="true"/>
      <xsd:documentation>This service allows you to send alert messages.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element minOccurs="0" name="Send" type="ale:SendRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="1" build:readOnly="true"/>
              <xsd:documentation>Sends an alert message.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AlertResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you send an alert.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element minOccurs="0" name="Send" type="ale:SendResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="AlertRequest" type="ale:AlertRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to send alert messages.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AlertResponse" type="ale:AlertResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you send an alert.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
