resources/schemas/public/common/capabilitymaster/capabilitymaster.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cap="http://www.coda.com/common/schemas/capabilitymaster" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:mes="http://www.coda.com/common/schemas/messagetransport" xmlns:secv="http://www.coda.com/common/schemas/securityvariables" elementFormDefault="qualified" targetNamespace="http://www.coda.com/common/schemas/capabilitymaster">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/securityvariables" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/securityvariables/securityvariables.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/messagetransport" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/messagetransport/messagetransport.xsd"/>

  <xsd:complexType name="FinanceSettings">
    <xsd:annotation>
      <xsd:documentation>Contains capability settings specific to Financials.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="InputActionForBadDate" type="com:typeCtWarnErrNoAct">
        <xsd:annotation>
          <xsd:documentation>Specifies the action taken when users attempt to post a document with a date that is out of period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChangeValueDate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the value date of documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChangeDueDate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the due date of documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExplodeLines" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can explode a document from the document line during Browse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyDocumentDesc" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change document line descriptions during Browse. It is not possible to change document header descriptions, regardless of this setting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PutDocLinesOnHold" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the pay status of document lines from Available to Held in Browse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FreeHeldDocLines" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the pay status of document lines from Held to Available in Browse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaxNoOfDocLinesInBrs" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The maximum number of document lines that users can retrieve in a single Browse session.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyExchangeRates" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the exchange rate for a particular document. The exchange rate on the currency master does not change.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyDualCurrRates" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can modify exchange rates for the dual currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChangeWriteOffAcc" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can enter a write-off account during Matching that is different from the default account.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChangeDiscountAcc" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can enter a discount account during Matching that is different from the default account.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChangeCurrWriteOffAcc" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can modify the currency write-off account.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DiscountCapability" type="com:typeCtValPercNo">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the discount write-off by either an absolute amount or a percentage.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DiscountPercentage" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>The maximum percentage by which users can change the discount write-off value during Pay and Matching.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DiscountValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The maximum amount by which users can change the discount write-off value during Pay and Matching.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExchangeCapability" type="com:typeCtValPercNo">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can modify exchange values by either an absolute amount or a percentage.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExchangePercentage" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>The maximum percentage by which users can modify exchange values during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExchangeValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The maximum amount by which users can modify exchange values during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaxCapability" type="com:typeCtValPercNo">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the tax value by either an absolute amount or a percentage.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaxPercentage" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>The maximum percentage by which users can change the tax value during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaxValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The maximum amount by which users can change the tax value during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LimitValuePosted" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether there is a limit to the value users can post in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostedValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The limit which users can post in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PeriodSecGrouping" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The period security group that a user with this capability master is in.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostPayDocsToIntray" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users with this capability can both create pay masters which post to the Intray and generate a payment proposal in which the payments are posted to the Intray.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyMatchableStatus" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can modify the matchable status of a document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LockElementFromPayment" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can reset the Enable Payments check box on the 'Payment Control' page of the element master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SuppressDocuments" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can select the Post to: None option on the 'Media and Accounts' page of Pay Master when generating a proposal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyPayCollectInfo" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can modify the payment and collection information attached to a detail line. This ability affects Browse Details, Reconciliation, and the Manipulate stage of a payment or collection process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DeferredPaymentsInMatching" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can perform manual matching with a final status of either Paid or Draft Paid.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SuppressArchiveJournals" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can perform archives without creating summary account journals.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ArchiveBalances" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can archive balances.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreateOrAmendALines" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may modify a document that is in a workflow.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MayModifyUndoMatchDate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can edit the default date when they undo a match.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChTmpElmAddr" type="com:typeCtCreateChangeTempElementValues">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the address, bank details, tax number, and 1099 details of a temporary supplier in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayStatPutDocLinesOnHold" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the pay status of document lines for temporary suppliers from Available to Held in Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayStatFreeHeldDocLines" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the pay status of document lines for temporary suppliers from Held to Available in Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayStatChngNormAndDraft" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change between normal and draft pay statuses.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExtRef" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users user can change or create external references in Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecStat" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can change the reconciliation status in Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowIntrayRecon" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can reconcile document lines on the Intray, subject to settings on the company and reconciliation masters.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RelaxLinkTriangulation" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether Triangulation rules are relaxed for CODA Link.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowCmpBalElm" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can set up balancing element information in the company master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostToProvClosed" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users may post to a provisionally closed year. For future implementation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DeleteIntrayDocs" type="com:typeCtProtectIntrayDocs">
        <xsd:annotation>
          <xsd:documentation>The type of permission the user has to delete documents on the Intray.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyIntrayDocs" type="com:typeCtProtectIntrayDocs">
        <xsd:annotation>
          <xsd:documentation>The type of permission the user has to modify documents on the Intray.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RestrictIntercompanyPosting" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether any posting made to an intercompany control account, not from the internal intercompany process, is permitted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowWorkflowEdits" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether modifications can be made to documents on the Intray that are in active workflows.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyLineReminderSeverity" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Determines whether the user can change the reminder level severity through Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowPayCollect" type="com:typeCtAllowPayCollect">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can access Payments only, Collections only or both Payments and Collections.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SecurePayFilter" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If TRUE, specifies that users are restricted during pay or collect processing to using only the payment or collection masters included in the filtered list specified on the Filtering form.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaxNoOfLinesInPayPrint" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The maximum number of data rows to include when using the Quick Print option in Financials Pay/Collect.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MasterReadList" type="cap:SecurityList">
        <xsd:annotation>
          <xsd:documentation>Specifies the masters to which users have read-only access.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MasterWriteList" type="cap:SecurityList">
        <xsd:annotation>
          <xsd:documentation>Specifies the masters to which users have read-write access.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccountReadList" type="cap:SecurityList">
        <xsd:annotation>
          <xsd:documentation>Specifies the accounts to which users have read-only access.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccountWriteList" type="cap:SecurityList">
        <xsd:annotation>
          <xsd:documentation>Specifies the accounts to which users have read-write access.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MasterFilterList" type="cap:SecurityList">
        <xsd:annotation>
          <xsd:documentation>Specifies the masters (of various types) which are filtered out of drop-down lists.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SecurityItem">
    <xsd:annotation>
      <xsd:documentation>A row in the security list</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Logical" type="com:typeCtAccessLog">
        <xsd:annotation>
          <xsd:documentation>A logical operator, either AND or OR.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LBracket" type="com:typeCtLeftBracketVocab">
        <xsd:annotation>
          <xsd:documentation>The number of opening brackets to insert at this point (for grouping purposes).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Vocab" type="com:typeCtOneOfN">
        <xsd:annotation>
          <xsd:documentation>A number identifying an element in the account code, the group of an element, or a type of master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Function" type="com:typeCtAccessOp">
        <xsd:annotation>
          <xsd:documentation>A number identifying the relational operator that specifies the kind of comparison made between the element, group, or master code and the supplied Value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Value" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A pattern value that is compared to the element or master code. You can use wildcards only with the LIKE and NOTLIKE functions.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TBracket" type="com:typeCtRightBracketVocab">
        <xsd:annotation>
          <xsd:documentation>The number of closing brackets to insert at this point (for grouping purposes).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SecurityList">
    <xsd:annotation>
      <xsd:documentation>Specifies the masters to which users have read-only access.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="SecurityItem" type="cap:SecurityItem">
        <xsd:annotation>
          <xsd:documentation>A row in the security list</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FunctionalSecurityItem">
    <xsd:annotation>
      <xsd:documentation>An item in the functional security list.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AppNum" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The application number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubAppNum" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The subapplication number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Node" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The node number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FunctionalSecurityList">
    <xsd:annotation>
      <xsd:documentation>Specifies the application functions to which users have access.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="FunctionalSecurityItem" type="cap:FunctionalSecurityItem">
        <xsd:annotation>
          <xsd:documentation>An item in the functional security list.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Applications">
    <xsd:annotation>
      <xsd:documentation>Not used at V10.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Application" type="cap:Application">
        <xsd:annotation>
          <xsd:documentation>Not used at V10.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Application">
    <xsd:annotation>
      <xsd:documentation>Not used at V10.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Not used at V10.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:any/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TransportList">
    <xsd:annotation>
      <xsd:documentation>This element contains a list of message transport masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Transport" type="mes:MessageTransportKey">
        <xsd:annotation>
          <xsd:documentation>A key to a message transport master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CapabilityMaster">
    <xsd:annotation>
      <xsd:documentation>This element holds a capability master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp value for this capability master in the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for this capability master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The full name for the capability master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The abbreviated name for the capability master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReadOnly" type="com:typeReadOnly">
        <xsd:annotation>
          <xsd:documentation>The type of access available with this capability master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SecurityLevel" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The security level of users with this capability master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DisableShortcutLinks" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether master short names displayed below certain master code fields appear as hypertext links for users assigned this capability. (This functionality is available at master code combo fields throughout CODA and in certain presenters.) The default is for short names to be displayed as links. If this value is true, these links are disabled.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CreateDate" type="com:typeDateB">
        <xsd:annotation>
          <xsd:documentation>The date the master was created.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ModifyDate" type="com:typeDateB">
        <xsd:annotation>
          <xsd:documentation>The date the master was modified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="User" type="com:typeCodeB">
        <xsd:annotation>
          <xsd:documentation>The ID of the user who created or modified the master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FinanceSettings" type="cap:FinanceSettings">
        <xsd:annotation>
          <xsd:documentation>Contains capability settings specific to Financials.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FunctionalSecurityList" type="cap:FunctionalSecurityList">
        <xsd:annotation>
          <xsd:documentation>Specifies the application functions to which users have access.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Applications" type="cap:Applications">
        <xsd:annotation>
          <xsd:documentation>Not used at V10.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SecurityVariables" type="secv:SecurityVariables">
        <xsd:annotation>
          <xsd:documentation>Not used in this version.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TransportList" type="cap:TransportList">
        <xsd:annotation>
          <xsd:documentation>This element contains a list of message transport masters.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FullCapabilityList">
    <xsd:annotation>
      <xsd:documentation>This element holds the capability master data being imported or exported.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CapabilityMaster" type="cap:CapabilityMaster">
        <xsd:annotation>
          <xsd:documentation>This element holds a capability master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PrintListKeys">
    <xsd:complexContent>
      <xsd:extension base="com:ListFilter">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="LastModifiedFrom" type="com:typeDateB"/>
          <xsd:element minOccurs="0" name="LastModifiedTo" type="com:typeDateB"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>
