resources/schemas/public/finance/entitymaster/entitymaster.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:ent="http://www.coda.com/efinance/schemas/entitymaster" targetNamespace="http://www.coda.com/efinance/schemas/entitymaster" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="Entity">
    <xsd:annotation>
      <xsd:documentation>This element holds an entity master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp value for this entity master in the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the entity master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The full name for the entity master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The abbreviated name for the entity master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="com:typeCtEntityType">
        <xsd:annotation>
          <xsd:documentation>The type of entity this master defines.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Members" type="ent:EntityData">
        <xsd:annotation>
          <xsd:documentation>The list of categories, statuses or codes defined in this entity master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EntityFlags">
    <xsd:annotation>
      <xsd:documentation>Settings for this item.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Payment" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This applies to address categories only. If TRUE it specifies that the address is used for payment purposes. It is a memorandum field only.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EntityMember">
    <xsd:annotation>
      <xsd:documentation>An item on the list of categories.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Value" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for this item.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Description" type="com:typeDescr">
        <xsd:annotation>
          <xsd:documentation>A description of the category, status or code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Enabled" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If TRUE indicates that the category, status, or code can be used to supply new information to other parts of the system.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Flags" type="ent:EntityFlags">
        <xsd:annotation>
          <xsd:documentation>Settings for this item.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EntityData">
    <xsd:annotation>
      <xsd:documentation>The list of categories, statuses or codes defined in this entity master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Member" type="ent:EntityMember" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>An item on the list of categories.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EntityKeyDataElement">
    <xsd:annotation>
      <xsd:documentation>The key data for this item.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the entity master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The short name of the entity master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="com:typeCtEntityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The type of entity this master defines (address categories, statuses or codes).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EntityKeyData">
    <xsd:annotation>
      <xsd:documentation>This element contains the key data for items within an entity list.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Key" type="ent:EntityKeyDataElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>The key data for this item.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CmpEntityList">
    <xsd:annotation>
      <xsd:documentation>This document holds information about entities for the current company.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Entity" type="ent:Entity" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>An entity within the list.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="entSelKey">
    <xsd:annotation>
      <xsd:documentation>An entity master key.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for an entity master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The short name for the entity master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="com:typeCtEntityType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>The type of entity the master defines (address categories, statuses or codes).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="entReqKeys">
    <xsd:annotation>
      <xsd:documentation>Contains key information for requesting a number of entity masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MaxKeys" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The maximum number of items to be returned.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WildKey" type="ent:entSelKey">
        <xsd:annotation>
          <xsd:documentation>An entity master key.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
