resources/schemas/public/common/comselectormaster/comselectormasterservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:build="http://www.coda.com/common/schemas/funcsec" xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster" xmlns:csl="http://www.coda.com/common/schemas/comselectormaster" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/common/schemas/comselectormaster" elementFormDefault="qualified" version="1.0">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="s:/schemas/public/common/selectormaster/selectormaster.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="s:/schemas/public/common/selectormaster/selectormasterservice.xsd"/>

  <xsd:complexType name="ComSelectorMasterRequest">
    <xsd:annotation>
      <xsd:appinfo build:funcSecValue="407" build:readOnly="true"/>
      <xsd:documentation>This service allows you to maintain the new selector masters that use metadata.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Add" type="gsl:AddRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="1" build:readOnly="false"/>
              <xsd:documentation>Creates new selector masters in the database using the selector information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Update" type="gsl:UpdateRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="2" build:readOnly="false"/>
              <xsd:documentation>Updates selector masters in the database using the selector information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Get" type="gsl:GetRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="3" build:readOnly="true"/>
              <xsd:documentation>Retrieves the specified selector master from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Delete" type="gsl:DeleteRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="4" build:readOnly="false"/>
              <xsd:documentation>Deletes the specified selector master from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="List" type="gsl:ListRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="5" build:readOnly="true"/>
              <xsd:documentation>Retrieves key information for the specified selector masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ComSelectorMasterResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you maintain the new selector masters that use metadata.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Add" type="gsl:AddResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Update" type="gsl:UpdateResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Get" type="gsl:GetResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Delete" type="gsl:DeleteResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="List" type="gsl:ListResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="ComSelectorMasterRequest" type="csl:ComSelectorMasterRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to maintain the new selector masters that use metadata.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ComSelectorMasterResponse" type="csl:ComSelectorMasterResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you maintain the new selector masters that use metadata.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
