resources/schemas/public/finance/accountsummarymaster/accountsummarymasterservice.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:asm="http://www.coda.com/efinance/schemas/accountsummarymaster" targetNamespace="http://www.coda.com/efinance/schemas/accountsummarymaster" elementFormDefault="qualified" version="11.2">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/service.xsd"/>
  <xsd:include schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/finance/accountsummarymaster/accountsummarymaster.xsd"/>

  <xsd:complexType name="AddRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="AccountSummaryMaster" type="asm:AccountSummaryMaster">
            <xsd:annotation>
              <xsd:documentation>Contains the information for the account summary master you want to create.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Creates new account summary masters in the database using the information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="asm:AddRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the account summary master that you attempted to create.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TimeStamp" type="com:typeWord">
            <xsd:annotation>
              <xsd:documentation>The TimeStamp value for this account summary master in the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AddResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="asm:AddResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="AccountSummaryMaster" type="asm:AccountSummaryMaster">
            <xsd:annotation>
              <xsd:documentation>Contains the information for the account summary master you want to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Updates account summary masters in the database using the information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="asm:UpdateRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the account summary master that you attempted to update.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TimeStamp" type="com:typeWord">
            <xsd:annotation>
              <xsd:documentation>The TimeStamp value for this account summary master in the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="asm:UpdateResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Filter" type="com:ReqGlobalKeys">
            <xsd:annotation>
              <xsd:documentation>A filter that selects the account summary masters to be listed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves key information for the specified account summary masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="asm:ListRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Filter" type="com:ReqGlobalKeys">
            <xsd:annotation>
              <xsd:documentation>The filter that was used to select the account summary masters to be listed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Keys" type="com:KeyData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the key information for the listed account summary masters.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="asm:ListResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="com:GlobalKey">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying the account summary master you want to retrieve from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves the specified account summary masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="asm:GetRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Key" type="com:GlobalKey">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying the account summary master retrieved from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AccountSummaryMaster" type="asm:AccountSummaryMaster" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the account summary master retrieved from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="asm:GetResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Key" type="com:GlobalKey">
            <xsd:annotation>
              <xsd:documentation>Contains the key identifying the account summary master you want to delete.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Deletes the specified account summary masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="asm:DeleteRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Code" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the account summary master that you attempted to delete.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="asm:DeleteResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountSummaryMasterRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to list account summary masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Add" type="asm:AddRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Creates new account summary masters in the database using the information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Update" type="asm:UpdateRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Updates account summary masters in the database using the information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="List" type="asm:ListRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves key information for the specified account summary masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Get" type="asm:GetRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves the specified account summary masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Delete" type="asm:DeleteRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Deletes the specified account summary masters from the database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountSummaryMasterResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you list account summary masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Add" type="asm:AddResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Update" type="asm:UpdateResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="List" type="asm:ListResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Get" type="asm:GetResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Delete" type="asm:DeleteResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="AccountSummaryMasterRequest" type="asm:AccountSummaryMasterRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to list account summary masters.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AccountSummaryMasterResponse" type="asm:AccountSummaryMasterResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you list account summary masters.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
