resources/schemas/public/common/input/inputservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:inp="http://www.coda.com/efinance/schemas/input" xmlns:txn="http://www.coda.com/efinance/schemas/transaction" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/efinance/schemas/input" elementFormDefault="qualified" version="11.3">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/transaction" schemaLocation="s:/schemas/public/common/transaction/transaction.xsd"/>

  <xsd:complexType name="PostRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Transaction" type="txn:Transaction">
            <xsd:annotation>
              <xsd:documentation>Contains the document you want to post.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Posts the document.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="inp:PostRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="postto" type="com:typeCtDocDest" use="optional">
          <xsd:annotation>
            <xsd:documentation>Specifies whether the document should be posted to the Books, the Intray, or either (preferentially the Books but failing that, the Intray).</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="relaxtriangulation" type="xsd:boolean" use="optional">
          <xsd:annotation>
            <xsd:documentation>If True, specifies that the EMU Triangulation rules do not apply to this document.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="warningsareerrors" type="xsd:boolean" use="optional">
          <xsd:annotation>
            <xsd:documentation>If True, specifies that warnings are to be treated as errors.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="stoponerror" type="xsd:boolean" use="optional">
          <xsd:annotation>
            <xsd:documentation>If True, specifies that the process is to terminate on encountering an error.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="logerrorsonly" type="xsd:boolean" use="optional">
          <xsd:annotation>
            <xsd:documentation>If True, specifies that the log contains only errors.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="reportallerrors" type="xsd:boolean" use="optional">
          <xsd:annotation>
            <xsd:documentation>If True, specifies that the process should report all errors in the log. If False, only the first error encountered under this verb is reported.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Key" type="txn:txnKey">
            <xsd:annotation>
              <xsd:documentation>Contains the extended key information for the transaction you posted.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SuppliedNumber" type="com:typeGeneralCode" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The document number you may have supplied (applies to Batch Load).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="postto" type="com:typeCtDocPost" use="optional">
          <xsd:annotation>
            <xsd:documentation>Specifies whether the document was posted to the Books or the Intray.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="inp:PostResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostToXRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Posts a document to the books.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="inp:PostRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="relaxtriangulation" type="xsd:boolean" use="optional">
          <xsd:annotation>
            <xsd:documentation>If True, specifies that the EMU Triangulation rules do not apply to this document.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="warningsareerrors" type="xsd:boolean" use="optional">
          <xsd:annotation>
            <xsd:documentation>If True, specifies that warnings are to be treated as errors.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="stoponerror" type="xsd:boolean" use="optional">
          <xsd:annotation>
            <xsd:documentation>If True, specifies that the process is to terminate on encountering an error.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="logerrorsonly" type="xsd:boolean" use="optional">
          <xsd:annotation>
            <xsd:documentation>If True, specifies that the log contains only errors.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="reportallerrors" type="xsd:boolean" use="optional">
          <xsd:annotation>
            <xsd:documentation>If True, specifies that the process should report all errors in the log. If False, only the first error encountered under this verb is reported.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostToXResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Key" type="txn:txnKey">
            <xsd:annotation>
              <xsd:documentation>Contains the extended key information for the transaction you posted.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SuppliedNumber" type="com:typeGeneralCode" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the suppled document number.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostToXResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="inp:PostToXResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="InputRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to post financial documents to the Books or the Intray.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Post" type="inp:PostRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Posts the document.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PostToBooks" type="inp:PostToXRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Posts a document to the books.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PostToIntray" type="inp:PostToXRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Posts a document to the Intray.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="InputResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you post financial documents to the Books or the Intray.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Post" type="inp:PostResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PostToBooks" type="inp:PostToXResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PostToIntray" type="inp:PostToXResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="InputRequest" type="inp:InputRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to post financial documents to the Books or the Intray.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="InputResponse" type="inp:InputResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you post financial documents to the Books or the Intray.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
