resources/schemas/public/assets/cancelevents/canceleventsservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:log="http://www.coda.com/common/schemas/logging" xmlns:rev="http://www.coda.com/eassets/schemas/reviewtransactions" xmlns:canevt="http://www.coda.com/eassets/schemas/cancelevents" xmlns:tdo="http://www.coda.com/eassets/schemas/temporarydoc" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/eassets/schemas/cancelevents" elementFormDefault="qualified" version="1.0">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/eassets/schemas/temporarydoc" schemaLocation="s:/schemas/public/assets/temporarydoc/temporarydoc.xsd"/>
  <xsd:import namespace="http://www.coda.com/eassets/schemas/reviewtransactions" schemaLocation="s:/schemas/public/assets/reviewtransactions/reviewtransactions.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/logging" schemaLocation="s:/schemas/public/common/logging/logging.xsd"/>
  <xsd:include schemaLocation="s:/schemas/public/assets/cancelevents/cancelevents.xsd"/>

  <xsd:complexType name="PostRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="CancelEvents" type="canevt:CancelEvents">
            <xsd:annotation>
              <xsd:documentation>This element contains parameters specifying which events should be cancelled.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Posts the cancellation events.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="canevt:PostRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsPosted" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the PostRequest corresponding to this response was successful.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CmpCode" type="com:typeCode">
            <xsd:annotation>
              <xsd:documentation>The code for the company in which you attempted to cancel events.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying this cancellation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="HasWarnings" type="com:typeBool" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Indicates whether any warnings have been generated.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="canevt:PostResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="CancelEvents" type="canevt:CancelEvents">
            <xsd:annotation>
              <xsd:documentation>This element contains parameters specifying which events should be cancelled.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Reviews the asset transactions and financial transactions that will be generated by cancelling the specified events.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="canevt:ReviewRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsReviewed" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the ReviewRequest corresponding to this response was successful.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CmpCode" type="com:typeCode">
            <xsd:annotation>
              <xsd:documentation>The code for the company in which you attempted to review the cancellation events.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying this cancellation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ReviewTransactions" type="rev:ReviewTransactions">
            <xsd:annotation>
              <xsd:documentation>Contains the asset transactions and financial transactions generated by this cancellation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="LogKey" type="log:LogKey">
            <xsd:annotation>
              <xsd:documentation>Key information identifying the log in which the cancellation event details are recorded.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="HasWarnings" type="com:typeBool" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Indicates whether any warnings have been generated.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="canevt:ReviewResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewPostRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Posts the cancellation events that have been reviewed.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="canevt:ReviewPostRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewPostRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="CancelEvents" type="canevt:CancelEvents">
            <xsd:annotation>
              <xsd:documentation>This element contains parameters specifying which events should be cancelled.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="LogKey" type="log:LogKey">
            <xsd:annotation>
              <xsd:documentation>Key information identifying the log in which the cancellation event details are recorded.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewPostResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsPosted" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the ReviewPostRequest corresponding to this response was successful.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CmpCode" type="com:typeCode">
            <xsd:annotation>
              <xsd:documentation>The code for the company in which you attempted to post the reviewed cancellation events.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying this cancellation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewPostResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="canevt:ReviewPostResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelReviewRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="com:typeCode">
            <xsd:annotation>
              <xsd:documentation>The code for the company in which events are being cancelled.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunNumber" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>A number identifying this cancellation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="LogKey" type="log:LogKey">
            <xsd:annotation>
              <xsd:documentation>Key information identifying the log in which the cancellation event details are recorded.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelReviewRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Cancels the review of the specified cancellation events.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="canevt:CancelReviewRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelReviewResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="isCancelled" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the CancelReviewRequest corresponding to this response was successful.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelReviewResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="canevt:CancelReviewResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelEventsRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to cancel transaction events.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Post" type="canevt:PostRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Posts the cancellation events.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Review" type="canevt:ReviewRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Reviews the asset transactions and financial transactions that will be generated by cancelling the specified events.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PostReview" type="canevt:ReviewPostRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Posts the cancellation events that have been reviewed.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CancelReview" type="canevt:CancelReviewRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Cancels the review of the specified cancellation events.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelEventsResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you cancel events.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Post" type="canevt:PostResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Review" type="canevt:ReviewResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PostReview" type="canevt:ReviewPostResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CancelReview" type="canevt:CancelReviewResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="CancelEventsRequest" type="canevt:CancelEventsRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to cancel transaction events.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CancelEventsResponse" type="canevt:CancelEventsResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you cancel events.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
