resources/schemas/public/common/copycompany/copycompanyservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:build="http://www.coda.com/common/schemas/funcsec" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:cpc="http://www.coda.com/common/schemas/copycompany" xmlns:tasks="http://www.coda.com/common/schemas/tasks" elementFormDefault="qualified" targetNamespace="http://www.coda.com/common/schemas/copycompany" version="11.3">

  <xsd:include schemaLocation="s:/schemas/public/common/copycompany/copycompany.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types2.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/tasks" schemaLocation="s:/schemas/public/common/tasks/tasks.xsd"/>

  <xsd:complexType name="GetMasterTypeProvidersRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetMasterTypeProvidersRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves details of master type providers.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="cpc:GetMasterTypeProvidersRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetMasterTypeProvidersResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="GetMasterTypeProviders" type="cpc:MasterTypeProviders">
            <xsd:annotation>
              <xsd:documentation>The details of master type providers.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetMasterTypeProvidersResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="cpc:GetMasterTypeProvidersResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StartRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="SourceCompanyCode" type="com:typeCode">
            <xsd:annotation>
              <xsd:documentation>The source company code.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="DestinationCompanyCode" type="com:typeCode">
            <xsd:annotation>
              <xsd:documentation>The destination company code.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MasterTypeList" type="cpc:CopyCompanyStartMasterTypeList">
            <xsd:annotation>
              <xsd:documentation>A list of master types.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExternalDatabase" type="cpc:ExternalDatabaseDetails">
            <xsd:annotation>
              <xsd:documentation>The details of an external database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="LogTitle" type="com:typeComLogtitle">
            <xsd:annotation>
              <xsd:documentation>The title for the log.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CopyCompanyStartMasterTypeList">
    <xsd:annotation>
      <xsd:documentation>A list of master types.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="MasterType" type="cpc:MasterTypeRange">
        <xsd:annotation>
          <xsd:documentation>A master type range.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="StartRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Starts the copy company process.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="cpc:StartRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StartResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="TaskKey" type="tasks:TaskKey">
            <xsd:annotation>
              <xsd:documentation>A key to the task.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StartResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="cpc:StartResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StopRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Task" type="tasks:TaskKey">
            <xsd:annotation>
              <xsd:documentation>A key to the task to stop.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StopRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Stops the copy company process.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="cpc:StopRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StopResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StopResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="cpc:StopResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetProgressRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Task" type="tasks:TaskKey">
            <xsd:annotation>
              <xsd:documentation>A key to the task.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetProgressRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves details of the progress of the copy company process.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="cpc:GetProgressRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetProgressResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="GetProgress" type="tasks:Task">
            <xsd:annotation>
              <xsd:documentation>The task details.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetProgressResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="cpc:GetProgressResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetCustomisableMastersRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="SourceCompanyCode" type="com:typeCode">
            <xsd:annotation>
              <xsd:documentation>The source company code.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="DestinationCompanyCode" type="com:typeCode">
            <xsd:annotation>
              <xsd:documentation>The destination company code.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MasterTypeList" type="cpc:CopyCompanyGetCustomisableMastersMasterTypeList">
            <xsd:annotation>
              <xsd:documentation>A list of master type ranges.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExternalDatabase" type="cpc:ExternalDatabaseDetails">
            <xsd:annotation>
              <xsd:documentation>The details of an external database.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CopyCompanyGetCustomisableMastersMasterTypeList">
    <xsd:annotation>
      <xsd:documentation>A list of master type ranges.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="MasterType" type="cpc:MasterTypeRange">
        <xsd:annotation>
          <xsd:documentation>The details of master type ranges.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="GetCustomisableMastersRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves details of customisable masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="cpc:GetCustomisableMastersRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetCustomisableMastersResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="GetCustomisableMasters" type="cpc:CustomisableMasters">
            <xsd:annotation>
              <xsd:documentation>The details of customisable masters.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetCustomisableMastersResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="cpc:GetCustomisableMastersResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CopyCompanyRequest">
    <xsd:annotation>
      <xsd:appinfo build:funcSecValue="440" build:readOnly="true"/>
      <xsd:documentation>This service allows you to run and monitor the Copy Company process.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element minOccurs="0" name="GetMasterTypeProviders" type="cpc:GetMasterTypeProvidersRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="1" build:readOnly="true"/>
              <xsd:documentation>Retrieves details of master type providers.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Start" type="cpc:StartRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="2" build:readOnly="false"/>
              <xsd:documentation>Starts the copy company process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Stop" type="cpc:StopRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="3" build:readOnly="false"/>
              <xsd:documentation>Stops the copy company process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetProgress" type="cpc:GetProgressRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="4" build:readOnly="true"/>
              <xsd:documentation>Retrieves details of the progress of the copy company process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetCustomisableMasters" type="cpc:GetCustomisableMastersRequestVerb">
            <xsd:annotation>
              <xsd:appinfo build:funcSecValue="5" build:readOnly="true"/>
              <xsd:documentation>Retrieves details of customisable masters.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CopyCompanyResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you run and monitor Copy Company.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element minOccurs="0" name="GetMasterTypeProviders" type="cpc:GetMasterTypeProvidersResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Start" type="cpc:StartResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Stop" type="cpc:StopResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetProgress" type="cpc:GetProgressResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="GetCustomisableMasters" type="cpc:GetCustomisableMastersResponseVerb">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="CopyCompanyRequest" type="cpc:CopyCompanyRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to run and monitor the Copy Company process.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CopyCompanyResponse" type="cpc:CopyCompanyResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you run and monitor Copy Company.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
