resources/schemas/public/assets/disposal/disposalservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:ass="http://www.coda.com/eassets/schemas/asset" xmlns:rev="http://www.coda.com/eassets/schemas/reviewtransactions" xmlns:dis="http://www.coda.com/eassets/schemas/disposal" targetNamespace="http://www.coda.com/eassets/schemas/disposal" elementFormDefault="qualified" version="11.3">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/eassets/schemas/asset" schemaLocation="s:/schemas/public/assets/asset/asset.xsd"/>
  <xsd:import namespace="http://www.coda.com/eassets/schemas/reviewtransactions" schemaLocation="s:/schemas/public/assets/reviewtransactions/reviewtransactions.xsd"/>
  <xsd:include schemaLocation="s:/schemas/public/assets/disposal/disposal.xsd"/>
  <xsd:include schemaLocation="s:/schemas/public/assets/disposal/disposalpostings.xsd"/>

  <xsd:complexType name="ValidateRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Disposal" type="dis:Disposal">
            <xsd:annotation>
              <xsd:documentation>This element contains the parameters which can be specified when disposing assets.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ValidateRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Validates the disposal details specified in this request.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dis:ValidateRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ValidateResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsValid" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the disposal details specified in the ValidateRequest corresponding to this response are valid.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DisposalPostings" type="dis:DisposalPostings">
            <xsd:annotation>
              <xsd:documentation>Contains the postings that would be generated by this disposal process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ValidateResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dis:ValidateResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CreateRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Disposal" type="dis:Disposal">
            <xsd:annotation>
              <xsd:documentation>This element contains the parameters which can be specified when disposing assets.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DisposalPostings" type="dis:DisposalPostings">
            <xsd:annotation>
              <xsd:documentation>This element contains the values that will be posted by the disposal process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CreateRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Creates the document(s) to record the disposal(s) specified in this request.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dis:CreateRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CreateResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsCreated" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the CreateDocumentRequest corresponding to this response was successful.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DisposalPostings" type="dis:DisposalPostings">
            <xsd:annotation>
              <xsd:documentation>Contains the postings that will be generated by this disposal process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CreateResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dis:CreateResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Disposal" type="dis:Disposal">
            <xsd:annotation>
              <xsd:documentation>This element contains the parameters which can be specified when disposing assets.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DisposalPostings" type="dis:DisposalPostings">
            <xsd:annotation>
              <xsd:documentation>This element contains the values that will be posted by the disposal process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Allows you to review the postings that will be generated if the disposal is performed using the parameters you specify.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dis:ReviewRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsReviewed" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the ReviewDocumentRequest corresponding to this response was successful.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunIDs" type="dis:RunIdList">
            <xsd:annotation>
              <xsd:documentation>This element contains a list of companies in which the disposal process will be run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DisposalPostings" type="dis:DisposalPostings">
            <xsd:annotation>
              <xsd:documentation>Contains the postings that will be generated by this disposal process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ReviewTransactions" type="rev:ReviewTransactions">
            <xsd:annotation>
              <xsd:documentation>Contains the financial transactions that will be generated by this disposal process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReviewResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dis:ReviewResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Disposal" type="dis:Disposal">
            <xsd:annotation>
              <xsd:documentation>This element contains the parameters which can be specified when disposing assets.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DisposalPostings" type="dis:DisposalPostings">
            <xsd:annotation>
              <xsd:documentation>This element contains the values that will be posted by the disposal process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Posts the disposal using the parameters you specify.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dis:PostRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsPosted" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the PostDocumentRequest corresponding to this response was successful.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunIDs" type="dis:RunIdList">
            <xsd:annotation>
              <xsd:documentation>This element contains a list of companies in which the disposal process has been run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DisposalPostings" type="dis:DisposalPostings">
            <xsd:annotation>
              <xsd:documentation>Contains the postings that have been generated by this disposal process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dis:PostResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelPostRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="RunIDs" type="dis:RunIdList">
            <xsd:annotation>
              <xsd:documentation>This element contains a list of companies in which the disposal process would have been run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Disposal" type="dis:Disposal">
            <xsd:annotation>
              <xsd:documentation>This element contains the parameters of the disposal process that you wish to cancel.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelPostRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Cancels the disposal process that would have used the specified parameters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dis:CancelPostRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelPostResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="IsCancelled" type="com:typeBool">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the CancelPostRequest corresponding to this response was successful.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelPostResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dis:CancelPostResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetChildrenRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="AssetKey" type="ass:AssetKey">
            <xsd:annotation>
              <xsd:documentation>Contains key information identifying the asset(s) whose child assets you want to retrieve.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetChildrenRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Retrieves child assets of the specified asset(s).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="dis:GetChildrenRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetChildrenResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Assets" type="ass:AssetList">
            <xsd:annotation>
              <xsd:documentation>This element contains details of the child assets that have been retrieved.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetChildrenResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="dis:GetChildrenResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DisposalRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to dispose assets.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Validate" type="dis:ValidateRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Validates the disposal details specified in this request.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CreateDocument" type="dis:CreateRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Creates the document(s) to record the disposal(s) specified in this request.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ReviewDocument" type="dis:ReviewRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Allows you to review the postings that will be generated if the disposal is performed using the parameters you specify.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PostDocument" type="dis:PostRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Posts the disposal using the parameters you specify.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CancelPost" type="dis:CancelPostRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Cancels the disposal process that would have used the specified parameters.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetChildren" type="dis:GetChildrenRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves child assets of the specified asset(s).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DisposalResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you dispose assets.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Validate" type="dis:ValidateResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CreateDocument" type="dis:CreateResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ReviewDocument" type="dis:ReviewResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PostDocument" type="dis:PostResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CancelPost" type="dis:CancelPostResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetChildren" type="dis:GetChildrenResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="DisposalRequest" type="dis:DisposalRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to dispose assets.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DisposalResponse" type="dis:DisposalResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you dispose assets.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
