resources/schemas/public/assets/disposal/disposalpostings.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:asscom="http://www.coda.com/eassets/schemas/common" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:ass="http://www.coda.com/eassets/schemas/asset" xmlns:dis="http://www.coda.com/eassets/schemas/disposal" targetNamespace="http://www.coda.com/eassets/schemas/disposal" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/eassets/schemas/asset" schemaLocation="s:/schemas/public/assets/asset/asset.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/eassets/schemas/common" schemaLocation="s:/schemas/public/assets/common/types.xsd"/>

  <xsd:complexType name="DisposalPostings">
    <xsd:annotation>
      <xsd:documentation>Contains the postings that will be generated (or have been generated) by the current disposal request.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PostingDetails" type="dis:PostingDetails" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Contains disposal postings. The asset and other parameters used to calculate these postings are contained within this element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PostingDetails">
    <xsd:annotation>
      <xsd:documentation>Contains disposal postings. The asset and other parameters used to calculate these postings are contained within this element.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="IsParent" type="com:typeBool">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the specified asset is a parent asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Asset" type="ass:Asset">
        <xsd:annotation>
          <xsd:documentation>This element holds details of the asset being disposed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Books" type="dis:BookList" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element holds details for the asset books in which the specified asset is being disposed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RunID" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>A string that uniquely identifies this disposal process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepreciationRunID" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A number identifying the depreciation run that is invoked to bring the asset's depreciation up to date prior to its disposal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BookList">
    <xsd:annotation>
      <xsd:documentation>This element holds details for the asset books in which the specified asset is being disposed.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AssetBook" type="ass:AssetBooks">
        <xsd:annotation>
          <xsd:documentation>This element holds details for an asset book in which the specified asset is being disposed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DisposalAmount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount of capital cost being disposed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DisposalResidualAmount" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The asset's residual value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StandardDepreciationAmount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount of accumulated standard depreciation being disposed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StandardDepreciationPeriods" type="dis:DepreciationPeriods">
        <xsd:annotation>
          <xsd:documentation>This element contains the standard depreciation amount for each period of the asset's life to date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecialDepreciationAmount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount of accumulated special depreciation being disposed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecialDepreciationPeriods" type="dis:DepreciationPeriods">
        <xsd:annotation>
          <xsd:documentation>This element contains the special depreciation amount for each period of the asset's life to date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostingBook" type="com:typeBool">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this asset book is set up to be the posting book.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Postings" type="dis:PostingValues">
        <xsd:annotation>
          <xsd:documentation>Contains the values that will be posted (or have been posted) to the Books to record this disposal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IsPosted" type="com:typeBool">
        <xsd:annotation>
          <xsd:documentation>Indicates whether these values have been posted to the Financials Books.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IsUSRecalc" type="com:typeBool" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Used internally by Assets.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="USRecalcActualDeprn" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Used internally by Assets.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="USRecalcOrigDeprn" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Used internally by Assets.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="USRecalcActualDeprnFull" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Used internally by Assets.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IsRecalc" type="com:typeBool" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Used internally by Assets.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecalcActualDeprn" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Used internally by Assets.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecalcTerminalDeprn" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Used internally by Assets.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IsUSShortYear" type="com:typeBool" minOccurs="0"/>
      <xsd:element name="IncludeUSShortYearInProfit" type="com:typeBool" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DepreciationPeriods">
    <xsd:annotation>
      <xsd:documentation>This element contains the standard depreciation amount for each period of the asset's life to date.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PeriodValues" type="dis:PeriodDepValues" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element contains the standard depreciation amount for a period of the asset's life.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PeriodDepValues">
    <xsd:annotation>
      <xsd:documentation>This element contains the standard depreciation amount for a period of the asset's life.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Value" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount of standard depreciation for this period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Period" type="com:typePeriods">
        <xsd:annotation>
          <xsd:documentation>The period to which this standard depreciation amount applies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Year" type="com:typeWord">
        <xsd:annotation>
          <xsd:documentation>The year to which this standard depreciation amount applies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PostingValues">
    <xsd:annotation>
      <xsd:documentation>Contains the values that will be posted (or have been posted) to the Books to record this disposal.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ProceedsAccount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>Any proceeds resulting from the asset's disposal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExpensesAccount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>Any expenses resulting from the asset's disposal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProceedsTransferAccount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The proceeds amount, but with the opposite sign. Postings are only made to this account if ComplexDisp is set to TRUE for the PostRuleMaster used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExpensesTransferAccount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The expenses amount, but with the opposite sign. Postings are only made to this account if ComplexDisp is set to TRUE for the PostRuleMaster used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProfitOnDisposal" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>Any profit resulting from the disposal of the asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LossOnDisposal" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>Any loss resulting from the disposal of the asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProfitTransferAccount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The profit amount, but with the opposite sign. Postings are only made to this account if ComplexDisp is set to TRUE for the PostRuleMaster used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LossTransferAccount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The loss amount, but with the opposite sign. Postings are only made to this account if ComplexDisp is set to TRUE for the PostRuleMaster used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CapitalisationAccount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The original capital cost of the asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccumulatedDepreciationAccount" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The accumulated depreciation that has accrued for the asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepreciationCharge" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The accumulated depreciation amount, but with the opposite sign.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AdditionalDepreciationCharge" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>Any depreciation charge resulting from a special depreciation rule.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CapitalCostSold" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The capital cost of the asset, but with the opposite sign.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccumulatedDepreciationSold" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The accumulated depreciation amount, but with the opposite sign.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RevalCapitalCost" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>Any revaluation of the asset's original capital cost. Postings are only made to this account if the asset has been revalued and ComplexDisp is set to TRUE for the PostRuleMaster used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RevalCapitalCostSold" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The capital cost revaluation amount, but with the opposite sign. Postings are only made to this account if the asset has been revalued and ComplexDisp is set to TRUE for the PostRuleMaster used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RevalAccumDepn" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>Any revaluation of the asset's accumulated depreciation. Postings are only made to this account if the asset has been revalued and ComplexDisp is set to TRUE for the PostRuleMaster used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RevalAccumDepnSold" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The accumulated depreciation revaluation amount, but with the opposite sign. Postings are only made to this account if the asset has been revalued and ComplexDisp is set to TRUE for the PostRuleMaster used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RevalRes" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>Any difference between the capital cost revaluation amount and accumulated depreciation revaluation amount. Postings are only made to this account if the asset has been revalued and ComplexDisp is set to TRUE for the PostRuleMaster used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RevalResSold" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The revaluation amount, but with the opposite sign. Postings are only made to this account if the asset has been revalued and ComplexDisp is set to TRUE for the PostRuleMaster used by this asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DisposalResidualAmount" type="com:typeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The asset's residual value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="DisposalPostings" type="dis:DisposalPostings">
    <xsd:annotation>
      <xsd:documentation>Contains the postings that will be generated (or have been generated) by the current disposal request.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
