resources/schemas/public/finance/matchingmaster/matchingmaster.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:aso="http://www.coda.com/efinance/schemas/association" xmlns:mam="http://www.coda.com/efinance/schemas/matchingmaster" targetNamespace="http://www.coda.com/efinance/schemas/matchingmaster" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/association" schemaLocation="s:/schemas/public/finance/association/association.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="mamReqKeys">
    <xsd:annotation>
      <xsd:documentation>This element is a key for requesting a number of matching masters from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Key" type="com:Key">
        <xsd:annotation>
          <xsd:documentation>This element is a key consisting of a code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UseFromInputOnly" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether only matching masters that can be used from within Input are selected.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaxKeys" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The maximum number of matching masters to be selected. A value of zero indicates no limit.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MatchingOptions">
    <xsd:annotation>
      <xsd:documentation>This element contains further options to control how matching behaves.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="IncSuppressPaid" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether document lines marked as Suppressed Paid can be included in the selection.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CopyCommentOnPartPay" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that when a document line is part-paid, any comment on that document line is copied to the additional line which is posted to record the amount outstanding.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExplodePresCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the presenter master that will be used in any exploded views of matching details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MatchingMethod" type="com:typeCtMatchingMethod">
        <xsd:annotation>
          <xsd:documentation>Specifies whether to perform standard or deferred matching. Standard matching selects document lines with a payment status of Available. Deferred matching selects document lines with a payment status of Draft Paid.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CopyPayData" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>When MatchingMethod is deferred, this element specifies that all matched lines in a deferred payment process have the same matching reference and payment numbers. Also, information about banks, media and addresses will be copied to the final stage.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PostingParams">
    <xsd:annotation>
      <xsd:documentation>This element contains parameters that are used when a match results in postings.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MatchingDate" type="com:typeHSDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date on which matching is performed. This is used for the document date if a match is committed. This can be a soft date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Period" type="com:typePeriodAny" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The period to which documents are posted when generated by matches being committed. This can be a soft date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DiscAcc" type="com:typeAcCodeWild" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The account to which discounts to the amounts due are posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WOffAcc" type="com:typeAcCodeWild" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The account to which write-offs to the amounts due are posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrWOffAcc" type="com:typeAcCodeWild" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The account to which currency exchange gains or losses are posted. Wildcards are permitted in this account code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RestrictAcc" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the currency write-off account code is extended by element code substitution if the * wildcard is used in the right-most position.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="VocabList">
    <xsd:annotation>
      <xsd:documentation>The type of information to propagate.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Vocab" type="com:typeCtVocabEnum" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>The vocabulary item.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="InputAndMatchingOptions">
    <xsd:annotation>
      <xsd:documentation>This element contains parameters that affect whether the matching master can be used from Input, and whether settlement postings are generated automatically to match off the selected lines.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UseFromInput" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this master can be used from within Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GenSettlementPostings" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether settlement postings are generated automatically to balance off the selected lines.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SettlementDocCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the document to be used when generating settlement postings.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SuspAcc" type="com:typeAcCodeWild" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The account to be used for settlement postings. This account code cannot contain umbrella elements. Wildcards are permitted in this account code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RestrictAcc" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the suspense account code is extended by element code substitution if the * wildcard is used in the right-most position.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UseCurrentRates" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>When TRUE, the currency exchange rates applicable for the matching date are used for the settlement posting. A currency difference posting is created for the difference in currency values. When FALSE, all currency values are accumulated for the settlement posting and exchange rate differences are not possible.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EnableDataPropagation" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the data propagation functionality is enabled when Matching in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Vocabs" type="mam:VocabList">
        <xsd:annotation>
          <xsd:documentation>The type of information to propagate.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Folder" abstract="true">
    <xsd:sequence>
      <xsd:element name="SelCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the selector master to use for selecting document lines. For example, you might specify the code of a selector that will select cheques received from a particular customer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NumLines" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The maximum number of lines that will be displayed in Folder 1. The minimum this can be set to is 1.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Title" type="com:typeTitle" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The alternative name for Folder 1.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Folder1">
    <xsd:annotation>
      <xsd:documentation>This element contains parameters to determine which document lines are displayed in Folder 1.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="mam:Folder">
        <xsd:sequence>
          <xsd:element name="PresCode" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code of the presenter master to use for displaying the selected document lines in this folder.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Folder2">
    <xsd:annotation>
      <xsd:documentation>This element contains parameters to determine which document lines are displayed in Folder 2.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="mam:Folder">
        <xsd:sequence>
          <xsd:element name="PresCode" type="com:typeGeneralCode" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The code of the presenter master to use for displaying the selected document lines in this folder.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Folders">
    <xsd:annotation>
      <xsd:documentation>This element contains parameters to determine which document lines are selected for matching and how they are presented.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Folder1" type="mam:Folder1">
        <xsd:annotation>
          <xsd:documentation>This element contains parameters to determine which document lines are displayed in Folder 1.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Folder2" type="mam:Folder2">
        <xsd:annotation>
          <xsd:documentation>This element contains parameters to determine which document lines are displayed in Folder 2.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MatchingMaster">
    <xsd:annotation>
      <xsd:documentation>This element holds a matching master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp value for this matching master in the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which the matching master is being maintained.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for this matching master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The full name for this matching master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The abbreviated name for this matching master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrRule" type="com:typeCtMatchingCurr">
        <xsd:annotation>
          <xsd:documentation>Specifies whether matching should be in the currency of the matchable element or in the currency of the posted document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The currency code that is used to specify which document lines are selected by the search.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmLevel" type="com:typeElmLevel">
        <xsd:annotation>
          <xsd:documentation>The element level at which the database is searched for document lines. It must be the matchable element level.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmCode" type="com:typeElmCodeWild" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This can contain an element code, a wildcard expression specifying a range of element codes, or can be blank if CurrCode contains a single currency code. Only documents with the specified element(s) at the specified ElmLevel are selected by the search. The code must be at the matchable element level.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TraderCode" type="com:typeTraderCodeWild" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This field can contain a trader code, a wildcard expression specifying a range of trader codes, or can be blank if you have not specified an umbrella element code in ElmCode. If the matchable element is an umbrella element you must specify a trader code because matching can only take place between documents with the same temporary supplier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DiscDate" type="com:typeHSDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date used to determine which discounts are processed. This can be a soft date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MatchingOptions" type="mam:MatchingOptions">
        <xsd:annotation>
          <xsd:documentation>This element contains further options to control how matching behaves.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostingParams" type="mam:PostingParams">
        <xsd:annotation>
          <xsd:documentation>This element contains parameters that are used when a match results in postings.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InputAndMatching" type="mam:InputAndMatchingOptions">
        <xsd:annotation>
          <xsd:documentation>This element contains parameters that affect whether the matching master can be used from Input, and whether settlement postings are generated automatically to match off the selected lines.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Folders" type="mam:Folders">
        <xsd:annotation>
          <xsd:documentation>This element contains parameters to determine which document lines are selected for matching and how they are presented.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Assistant" type="aso:AssistantScript">
        <xsd:annotation>
          <xsd:documentation>This element holds a script for use in Assisted Matching or Background Matching.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="MatchingMaster" type="mam:MatchingMaster">
    <xsd:annotation>
      <xsd:documentation>This element holds a matching master.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
