resources/schemas/public/common/functionalsecurity/functionalsecurity.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:fsec="http://www.coda.com/common/schemas/functionalsecurity" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:cap="http://www.coda.com/common/schemas/capabilitymaster" targetNamespace="http://www.coda.com/common/schemas/functionalsecurity" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/capabilitymaster" schemaLocation="s:/schemas/public/common/capabilitymaster/capabilitymaster.xsd"/>

  <xsd:complexType name="FunctionalSecurityUnion">
    <xsd:annotation>
      <xsd:documentation>This element holds functional security parameters.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Hash" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A value which identifies a combination of the user capability and associated role timestamp values.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CapabilityCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the capability master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CapabilityTimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The timestamp value for the capability master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Roles" type="fsec:RolesList">
        <xsd:annotation>
          <xsd:documentation>This element holds a list of role masters.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FunctionalSecurityList" type="cap:FunctionalSecurityList">
        <xsd:annotation>
          <xsd:documentation>This element holds the functional security list.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RolesList">
    <xsd:annotation>
      <xsd:documentation>This element holds a list of role masters.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Role" type="fsec:RolesListItem" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element holds details of a role master</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RolesListItem">
    <xsd:annotation>
      <xsd:documentation>This element holds details of a role master</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for this role master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The timestamp value for this role master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
