resources/schemas/public/finance/archive/archive.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:arc="http://www.coda.com/efinance/schemas/archive" xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/efinance/schemas/archive" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="s:/schemas/public/common/selectormaster/selectormaster.xsd"/>

  <xsd:complexType name="ArchiveDateRange">
    <xsd:annotation>
      <xsd:documentation>If TRUE specifies that missing documents will be archived.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="FromDate" type="com:typeDate">
        <xsd:annotation>
          <xsd:documentation>The start date from which missing documents are selected for archiving.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ToDate" type="com:typeDate">
        <xsd:annotation>
          <xsd:documentation>The end date from which missing documents are selected for archiving.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ArchiveDocumentsParams">
    <xsd:annotation>
      <xsd:documentation>This element contains the Archive parameters to be used in the Archive process.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ArchiveHeaderMasterKey" type="com:Key">
        <xsd:annotation>
          <xsd:documentation>A generic key consisting of the company code and the archive header master code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Selector" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The selector master code used as the default when starting to archive documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelectorVocabList" type="gsl:VocListData" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The list of data items in the selector master, which determine the documents to be archived.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludeArchives" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If TRUE specifies that old archive summary journals are to be removed along with other documents. This is only relevant when summary journals are not being created. Archive journals are not moved to the internal archive tables but are removed from the Books.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludeYearEnd" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If TRUE specifies that old year end journals are to be archived along with other documents. This is only relevant when summary journals are not being created.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MissingDates" type="arc:ArchiveDateRange" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If TRUE specifies that missing documents will be archived.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Balances" type="com:typeCtARCBal">
        <xsd:annotation>
          <xsd:documentation>Specifies whether Financials balances are archived, all balances are archived, or no balances are archived.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Year" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The year of the documents being archived.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FromPeriod" type="com:typePeriods">
        <xsd:annotation>
          <xsd:documentation>The first period from which documents are being archived.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ToPeriod" type="com:typePeriods">
        <xsd:annotation>
          <xsd:documentation>The last period from which documents are being archived.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Logging" type="com:typeCtARCLogType">
        <xsd:annotation>
          <xsd:documentation>Specifies the type of log required: Full, Accepted documents only, Rejected documents only, or no log at all.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LogTitle" type="com:typeLogTitle" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The title of the log, if applicable.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProceedOnBalanceWarning" type="com:typeBool" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If true, specifies that you want to proceed with Archive Balances, even if a warning about unarchived documents has been given.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BalanceWarning">
    <xsd:annotation>
      <xsd:documentation>This contains a warning that the Archive Balances process has found documents for that year which have not yet been archived.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Reason" type="com:Reason">
        <xsd:annotation>
          <xsd:documentation>The reason why this warning message is sent.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ArchiveRecovery">
    <xsd:annotation>
      <xsd:documentation>Contains information on whether the Archive process has failed and needs to be recovered.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="RecoveryNeeded" type="com:typeCtARCRecoveryNeeded">
        <xsd:annotation>
          <xsd:documentation>States whether the process has crashed and needs to be recovered.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecoveryPermitted" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If true, indicates that the Archive process should be restarted to clean up any errors in the data following a failure.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ArchiveDocumentsInformation">
    <xsd:annotation>
      <xsd:documentation>This element holds information about archiving documents, and the state of the data during an Archive process.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Params" type="arc:ArchiveDocumentsParams">
        <xsd:annotation>
          <xsd:documentation>This element contains the parameters for the archive process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrentState" type="com:typeCtArchiveState">
        <xsd:annotation>
          <xsd:documentation>The current status of the archive process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExternalArchive" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If TRUE specifies that this is an external archive.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HasJournals" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If TRUE specifies that archive journals will be produced.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefaultMissingDates" type="arc:ArchiveDateRange" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Contains a range of dates between which missing documents will be archived.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SingleYear" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The year for which documents are archived, if the archive is for a single year. Leave blank to include more than a single year.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ArchiveUserCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the user initiating the archive process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Recovery" type="arc:ArchiveRecovery" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Contains information on whether the Archive process has failed and needs to be recovered.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ArchiveLoadUnloadSelectionParams">
    <xsd:annotation>
      <xsd:documentation>This element holds the parameters for loading or unloading archive documents.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ArchiveHeaderMasterKey" type="com:Key">
        <xsd:annotation>
          <xsd:documentation>A generic key consisting of the company code and the archive header master code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Year" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The year of the archived documents being loaded or unloaded.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FromPeriod" type="com:typePeriods">
        <xsd:annotation>
          <xsd:documentation>The first period for which you want to load or unload archived documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ToPeriod" type="com:typePeriods">
        <xsd:annotation>
          <xsd:documentation>The last period for which you want to load or unload archived documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentCode" type="com:typeCodeWild">
        <xsd:annotation>
          <xsd:documentation>The code of the archived documents that you want to load or unload. You can use wildcards.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FromDocumentNumber" type="com:typeDocNum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The first document number in the range of archived documents that you want to load or unload.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ToDocumentNumber" type="com:typeDocNum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The last document number in the range of archived documents that you want to load or unload.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ArchiveLoadUnloadSelection">
    <xsd:annotation>
      <xsd:documentation>This element holds information about loading or unloading archive documents.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Params" type="arc:ArchiveLoadUnloadSelectionParams" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains the parameters for loading or unloading archive documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SingleYear" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The year if you want to load or unload documents for a single year. Leave blank to include more than a single year.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExternalArchive" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If TRUE specifies that you want to load or unload an external archive.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrentState" type="com:typeCtArchiveState">
        <xsd:annotation>
          <xsd:documentation>The current state of the Load or Unload Archive documents process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ArchiveUserCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the user who is loading or unloading archived documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ArchiveRunTime">
    <xsd:annotation>
      <xsd:documentation>This element contains the accumulated run time since the archive process began.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Days" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of days the archive process has been running so far.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Hours" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of hours the archive process has been running so far.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Minutes" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of minutes the archive process has been running so far.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ArchiveMonitor">
    <xsd:annotation>
      <xsd:documentation>This element holds information about the progress of the archive process.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ArchiveHeaderMasterKey" type="com:Key">
        <xsd:annotation>
          <xsd:documentation>A generic key consisting of the company code and the archive header master code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExternalArchive" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If TRUE specifies that this is an external archive.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FromPeriod" type="com:typePeriod">
        <xsd:annotation>
          <xsd:documentation>The first year/period for which documents are being archived.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ToPeriod" type="com:typePeriod">
        <xsd:annotation>
          <xsd:documentation>The last year/period for which documents are being archived.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LastDocumentCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the most recent document to be processed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LastDocumentNumber" type="com:typeDocNum">
        <xsd:annotation>
          <xsd:documentation>The number of the most recent document to be processed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LastDocumentCount" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>The number of documents archived so far.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LastJournalCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the most recent journal written.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LastJournalNumber" type="com:typeDocNum">
        <xsd:annotation>
          <xsd:documentation>The number of the most recent journal written.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LastJournalCount" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>The number of journals written so far.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RunTime" type="arc:ArchiveRunTime">
        <xsd:annotation>
          <xsd:documentation>This element contains the accumulated run time since the archive process began.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrentState" type="com:typeCtArchiveState">
        <xsd:annotation>
          <xsd:documentation>The current status of the archive process, for example 'Selecting documents'.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Paused" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If TRUE indicates that the archive process has paused.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LogID" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The identifier for the log containing details of the Archive process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="ArchiveDocumentsInformation" type="arc:ArchiveDocumentsInformation">
    <xsd:annotation>
      <xsd:documentation>This element holds information about archiving documents, and the state of the data during an Archive process.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArchiveLoadUnloadSelection" type="arc:ArchiveLoadUnloadSelection">
    <xsd:annotation>
      <xsd:documentation>This element holds information about loading or unloading archive documents.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArchiveMonitor" type="arc:ArchiveMonitor">
    <xsd:annotation>
      <xsd:documentation>This element holds information about the progress of the archive process.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
