resources/schemas/public/finance/ledgermaster/ledgermaster.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:elm="http://www.coda.com/efinance/schemas/elementmaster" xmlns:led="http://www.coda.com/efinance/schemas/ledgermaster" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/efinance/schemas/ledgermaster" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/elementmaster" schemaLocation="s:/schemas/public/common/elementmaster/elementmaster.xsd"/>

  <xsd:complexType name="Master">
    <xsd:sequence>
      <xsd:element name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp value for this ledger master in the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which the ledger master is being maintained.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for this ledger master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The full name for this ledger master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The abbreviated name for this master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the selector master to use to select the document lines.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Currency" type="com:typeCtUseLineType">
        <xsd:annotation>
          <xsd:documentation>The currency type to use when summing transactions.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefaultAgeBy" type="com:typeCtDefDocAgeBy">
        <xsd:annotation>
          <xsd:documentation>The default type of date to be used as a starting point from which all ledger dates may be aged. The date type you set here is the default that appears on each new column definition. The options are: Due, Document, Input and Value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowBackgroundUpdate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If True, the information specified by this master is included when data is updated as a background process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowOnlineUpdate" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If True, an individual ledger row can be updated on the Browse Ledger.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of the presenter master which specifies the drill-down path to Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BrowseBalanceCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code of the browse balance master which specifies the drill-down path to Balance History.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GroupBy" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The binary mask value used to group the Browse Ledger results.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrencyType" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Specifies the type of currency you want to use to display the ledger results. The available values are: Use current currency, Home, Dual and Item count.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SortBy1" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The first column by which the data will be sorted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SortBy2" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The second column by which the data will be sorted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SortBy3" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The third column by which the data will be sorted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SortOrder1" type="com:typeCtBlrSortOrder">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the first column (SortBy1) is sorted in ascending or descending order.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SortOrder2" type="com:typeCtBlrSortOrder">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the second column (SortBy2) is sorted in ascending or descending order.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SortOrder3" type="com:typeCtBlrSortOrder">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the third column (SortBy3) is sorted in ascending or descending order.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LedgerColumn">
    <xsd:sequence>
      <xsd:element name="Number" type="xsd:short"/>
      <xsd:element name="Name" type="com:typeName"/>
      <xsd:element name="Title" type="com:typeTextAny"/>
      <xsd:element name="Width" type="xsd:int"/>
      <xsd:element name="DecimalPlaces" type="com:typeCtLEDShowDecs" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocumentList">
    <xsd:annotation>
      <xsd:documentation>This element contains a list of the available document codes.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" type="com:typeGeneralCode" minOccurs="0" maxOccurs="20">
        <xsd:annotation>
          <xsd:documentation>The code of the document you require.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocLinePayStatusList">
    <xsd:annotation>
      <xsd:documentation>This element contains a list of the available payment statuses for a document line.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Status" type="com:typeCtStatPayDocLine" minOccurs="0" maxOccurs="6">
        <xsd:annotation>
          <xsd:documentation>A payment status.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReconciledStatusList">
    <xsd:annotation>
      <xsd:documentation>This element contains a list of the available reconciliation statuses.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Status" type="com:typeCtStatRec" minOccurs="0" maxOccurs="2">
        <xsd:annotation>
          <xsd:documentation>A reconciliation status.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TransactionSelection">
    <xsd:annotation>
      <xsd:documentation>This element contains details about the transactions to include in the statistic calculation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentStatus" type="com:typeCtIntrayCheck">
        <xsd:annotation>
          <xsd:documentation>Where must the process retrieve its data from? If you include Intray documents these must have 'Full books checking only' specified in the document master. The options are: Books, Intray or Books and Intray.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayStatusList" type="led:DocLinePayStatusList">
        <xsd:annotation>
          <xsd:documentation>This element contains a list of the available payment statuses for a document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserStatus" type="com:typeUserStatusesText">
        <xsd:annotation>
          <xsd:documentation>The required user status(es) to use in the selection of data. If you leave this field blank all user statuses are included.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReconciledStatusList" type="led:ReconciledStatusList">
        <xsd:annotation>
          <xsd:documentation>This element contains a list of the available reconciliation statuses.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AgedBy" type="com:typeCtDocAgeBy">
        <xsd:annotation>
          <xsd:documentation>Which date on the document should be used for ageing the line? The options are: Due Date, Document Date, Input Date, Value Date, Payment Date and None.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DateFrom" type="com:typeHSDateB">
        <xsd:annotation>
          <xsd:documentation>The first date in the date range used to select data for this statistic.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DateTo" type="com:typeHSDateB">
        <xsd:annotation>
          <xsd:documentation>The last date in the date range used to select data for this statistic.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentList" type="led:DocumentList">
        <xsd:annotation>
          <xsd:documentation>This element contains a list of the available document codes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CalculationColumn">
    <xsd:complexContent>
      <xsd:extension base="led:LedgerColumn">
        <xsd:sequence>
          <xsd:element name="Formula" type="com:typeFormulaText"/>
          <xsd:element name="ReverseSign" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TransactionColumn">
    <xsd:complexContent>
      <xsd:extension base="led:LedgerColumn">
        <xsd:sequence>
          <xsd:element name="TransactionSelection" type="led:TransactionSelection"/>
          <xsd:element name="ReverseSign" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="MasterColumn">
    <xsd:complexContent>
      <xsd:extension base="led:LedgerColumn">
        <xsd:sequence>
          <xsd:element name="Vocab" type="com:typeMasterFileData"/>
          <xsd:element name="ElmLevel" type="com:typeMasterElmLevel"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RepBasisList">
    <xsd:annotation>
      <xsd:documentation>This element holds a list of intersects at which the statistic is held.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="RepBasis" type="com:typeRepBasis" minOccurs="0" maxOccurs="256">
        <xsd:annotation>
          <xsd:documentation>The element levels of the intersect at which a balance is held.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="StatisticsColumn">
    <xsd:annotation>
      <xsd:documentation>This element contains details about one statistic.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Number" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>A number used to identify the statistic.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeShortName">
        <xsd:annotation>
          <xsd:documentation>A name used to identify the statistic.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransactionSelection" type="led:TransactionSelection">
        <xsd:annotation>
          <xsd:documentation>This element contains details about the transactions to include in the statistic calculation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RequiredStatistic" type="com:typeCtStatisticType">
        <xsd:annotation>
          <xsd:documentation>Identifies the type of statistic being calculated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrType" type="com:typeCtStatisticCurrency">
        <xsd:annotation>
          <xsd:documentation>The required currency type for statistics which use a monetary value as part of the calculation (for example, Days Sales Outstanding) and for those in which the value is stored (for example, High Value).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the currency type required for statistics which use a monetary value as part of the calculation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FirstDate" type="com:typeCtStatisticDateSpec" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The type of date used as the first date parameter in certain statistic calculations.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SecondDate" type="com:typeCtStatisticDateSpec" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The type of date used as the second date parameter in certain statistic calculations.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GroupFullAccount" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether statistics are required for the full account (that is, reporting basis 0).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BalCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the balance where the statistic is stored. It must not be maintained by Financials.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LogLevel" type="com:typeCtStatisticLogLevel">
        <xsd:annotation>
          <xsd:documentation>The level of information which the resulting log contains. The options are: No log, Normal detail and High detail.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UseIndirectElement" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If True, specifies that for any element associated with an indirect element, the indirect element is used. For example, you can associate elements for several companies with a holding company to monitor statistical trends for the group as a whole.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RepBasisList" type="led:RepBasisList">
        <xsd:annotation>
          <xsd:documentation>This element holds a list of intersects at which the statistic is held.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BrowseColumn">
    <xsd:annotation>
      <xsd:documentation>This element contains the LedgerColumn to filter on and an associated operator with wildcard fields to filter the Browse Ledger selection.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Column" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>A name used to identify the column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludeRightColumns" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the current selection criterion is applied to the sum of the specified column and all transaction-based columns to its right. This means, for example, you can see the sum of bills owed by a customer over several months.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Operator" type="com:typeCtVocabOp">
        <xsd:annotation>
          <xsd:documentation>The operator used to define the values used as filter criteria.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="From" type="com:typeTextAny">
        <xsd:annotation>
          <xsd:documentation>The first value in the selection range, or the value to be matched when using the = (equal to) operator.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="To" type="com:typeTextAny" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The last value in the selection range.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ColumnList">
    <xsd:annotation>
      <xsd:documentation>This element contains a list of columns for this master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Column" type="led:LedgerColumn" minOccurs="0" maxOccurs="20">
        <xsd:annotation>
          <xsd:documentation>This element contains details about a ledger column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="StatisticsList">
    <xsd:annotation>
      <xsd:documentation>This element contains a list of statistics for this master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Column" type="led:StatisticsColumn" minOccurs="0" maxOccurs="20">
        <xsd:annotation>
          <xsd:documentation>This element contains details about one statistic.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BrowseList">
    <xsd:annotation>
      <xsd:documentation>This element contains a list of filters for this master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Column" type="led:BrowseColumn" minOccurs="0" maxOccurs="20">
        <xsd:annotation>
          <xsd:documentation>This element contains the LedgerColumn to filter on and an associated operator with wildcard fields to filter the Browse Ledger selection.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LedgerMaster">
    <xsd:annotation>
      <xsd:documentation>This element holds a ledger master.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="led:Master">
        <xsd:sequence>
          <xsd:element name="LedgerColumns" type="led:ColumnList">
            <xsd:annotation>
              <xsd:documentation>This element contains a list of columns for this master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="StatisticsColumns" type="led:StatisticsList">
            <xsd:annotation>
              <xsd:documentation>This element contains a list of statistics for this master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BrowseColumns" type="led:BrowseList">
            <xsd:annotation>
              <xsd:documentation>This element contains a list of filters for this master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>
