resources/schemas/public/assets/accountmapping/accountmapping.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:ass="http://www.coda.com/eassets/schemas/asset" xmlns:accm="http://www.coda.com/eassets/schemas/accountmapping" targetNamespace="http://www.coda.com/eassets/schemas/accountmapping" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/eassets/schemas/asset" schemaLocation="s:/schemas/public/assets/asset/asset.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="AccountMapKey">
    <xsd:annotation>
      <xsd:documentation>Contains key information identifying a particular asset and account mapping string.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AssetKey" type="ass:AssetKey">
        <xsd:annotation>
          <xsd:documentation>Contains key information for the specified asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Map" type="com:typeAcCode">
        <xsd:annotation>
          <xsd:documentation>The account mapping string to be resolved.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AccountMapping">
    <xsd:annotation>
      <xsd:documentation>Contains the account mapping string and the account code that it maps to.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Map" type="com:typeAcCode">
        <xsd:annotation>
          <xsd:documentation>The account mapping string to be resolved.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Account" type="com:typeAcCode">
        <xsd:annotation>
          <xsd:documentation>The account code that the account mapping string resolves to.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reason" type="com:Reason" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If the request fails, this element contains an explanation of why the account mapping string could not be resolved.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ElementMap">
    <xsd:sequence>
      <xsd:element name="ElementMapping" type="accm:ElementMapping" minOccurs="8" maxOccurs="8"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ElementMapping">
    <xsd:sequence>
      <xsd:element name="Mapping" type="xsd:string"/>
      <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="AccountMapKey" type="accm:AccountMapKey">
    <xsd:annotation>
      <xsd:documentation>Contains key information identifying a particular asset and account mapping string.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AccountMapping" type="accm:AccountMapping">
    <xsd:annotation>
      <xsd:documentation>Contains the account mapping string and the account code that it maps to.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
