resources/schemas/public/common/documentmaster/documentmaster.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:doc="http://www.coda.com/efinance/schemas/documentmaster" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/efinance/schemas/documentmaster" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="Recurring">
    <xsd:annotation>
      <xsd:documentation>This element holds recurring document settings.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Number" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The default number of recurring documents to be posted, including the original.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NumberModifiable" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the user can change the number of documents to be posted during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Phasing" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The default interval between recurring documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PhasingRule" type="com:typeCtPhasingRule">
        <xsd:annotation>
          <xsd:documentation>The default interval between recurring documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PhasingModifiable" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the user can change the phasing parameters during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DateRule" type="com:typeDateRule">
        <xsd:annotation>
          <xsd:documentation>The date rule, which specifies how the dates of recurring documents are calculated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DateRuleModifiable" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the user can change the date rule during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AmountRule" type="com:typeCtAmountRule">
        <xsd:annotation>
          <xsd:documentation>The amount rule, which specifies whether the amount on the original document is divided equally between all the recurring documents, or whether the value of each recurring document is equal to this original amount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AmountRuleModifiable" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the user can change the amount rule during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FieldAccess">
    <xsd:annotation>
      <xsd:documentation>This element holds information specifying whether certain fields are included in the tab sequence during Input.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LineType" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the Line type field is included in the tab sequence.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineSense" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the Debit/credit field is included in the tab sequence.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserStatus" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the User status field is included in the tab sequence.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PreDefinedLines">
    <xsd:annotation>
      <xsd:documentation>This element holds pre-defined line settings.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Enabled" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether or not you can set up predefined lines on the document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Maximum" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The maximum number of lines the document may contain.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowAdditionalLines" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can add new lines to a document during Input. If not, only the pre-defined lines are allowed on the document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UserReference">
    <xsd:annotation>
      <xsd:documentation>This element holds information about user reference 1.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Required" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the user must enter a value for the user reference during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Modifiable" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the user can change the user reference during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Default" type="com:typeTextAnyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default text for the user reference.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="com:typeCtUserRefType">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the type of the user reference is literal text or a vocabulary item.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Vocab" type="com:typeUWord">
        <xsd:annotation>
          <xsd:documentation>The default vocabulary item for the user reference.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UserReferences">
    <xsd:annotation>
      <xsd:documentation>This element holds information about user references.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Reference1" type="doc:UserReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information about user reference 1.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reference2" type="doc:UserReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information about user reference 2.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reference3" type="doc:UserReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information about user reference 3.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Intercompany">
    <xsd:annotation>
      <xsd:documentation>This element holds InterCompany settings.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Rule" type="com:typeCtDocDestCtrl">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this document master generates InterCompany documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Default" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default destination code for an InterCompany document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ExtRefCompare">
    <xsd:annotation>
      <xsd:documentation>This element holds information about which external references the current value should be compared with when checking for duplicates.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Reference1" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the value of the current external reference should be compared with that of external reference 1 when checking for duplicates.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reference2" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the value of the current external reference should be compared with that of external reference 2 when checking for duplicates.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reference3" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the value of the current external reference should be compared with that of external reference 3 when checking for duplicates.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reference4" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the value of the current external reference should be compared with that of external reference 4 when checking for duplicates.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reference5" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the value of the current external reference should be compared with that of external reference 5 when checking for duplicates.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reference6" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the value of the current external reference should be compared with that of external reference 6 when checking for duplicates.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ExtRefChecking">
    <xsd:annotation>
      <xsd:documentation>This element holds information about whether you want to check external references for duplicates and, if so, how.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CompareWith" type="doc:ExtRefCompare">
        <xsd:annotation>
          <xsd:documentation>This element holds information about which external references the current value should be compared with when checking for duplicates.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccountRule" type="com:typeCtDocExtAcRule">
        <xsd:annotation>
          <xsd:documentation>Allows you to restrict the document lines which are checked for duplicate external references by account code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllDocumentTypes" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether, when checking for duplicates, the value of the current external reference should be compared with external references on lines from all types of document or only on lines from the same document master as the current line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExcludeCurrent" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the current document is included when checking for duplicates.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SummaryLinesOnly" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether only summary lines are considered when checking for duplicates.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ActionOnDuplicate" type="com:typeCtDupXR">
        <xsd:annotation>
          <xsd:documentation>Specifies the action to take when a duplicate external reference is found.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ExtRef">
    <xsd:annotation>
      <xsd:documentation>This element holds information about external reference 1</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Usage" type="com:typeCtDocExtRefUsage">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the external reference is used, compulsory, or not used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Label" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A label for the external reference.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Modifiable" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that users can edit this external reference in Browse Details or Reconciliation, if their capability allows.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Checking" type="doc:ExtRefChecking" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information about whether you want to check external references for duplicates and, if so, how.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ExtRefCombined">
    <xsd:annotation>
      <xsd:documentation>This element holds information about how combined checking of external references for duplicates is performed.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AccountRule" type="com:typeCtDocExtAcRule">
        <xsd:annotation>
          <xsd:documentation>Allows you to restrict the document lines which are checked for duplicate external references by account code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllDocumentTypes" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether, when checking for duplicates, the value of the current external reference should be compared with external references on lines from all types of document or only on lines from the same document master as the current line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExcludeCurrent" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the current document is included when checking for duplicates.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SummaryLinesOnly" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether only summary lines are considered when checking for duplicates.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ActionOnDuplicate" type="com:typeCtDupXR">
        <xsd:annotation>
          <xsd:documentation>Specifies the action to take when a duplicate external reference is found.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ExternalReferences">
    <xsd:annotation>
      <xsd:documentation>This element holds information about external references.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentWide" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether document-wide external references are used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserExit" type="com:typeUpper" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The name of the custom program called for checking duplicates in external references.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ActionCode" type="com:typeCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The action code which is passed with the user exit when the line is added or modified in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Combine" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether checking external references for duplicates is performed for all references combined or for each reference individually.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CombinedChecking" type="doc:ExtRefCombined" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information about how combined checking of external references for duplicates is performed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reference1" type="doc:ExtRef" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information about external reference 1</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reference2" type="doc:ExtRef" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information about external reference 2.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reference3" type="doc:ExtRef" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information about external reference 3.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reference4" type="doc:ExtRef" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information about external reference 4.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reference5" type="doc:ExtRef" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information about external reference 5.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reference6" type="doc:ExtRef" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information about external reference 6.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AnalysisLines">
    <xsd:sequence>
      <xsd:element name="DefaultSense" type="com:typeCtDocDefSense">
        <xsd:annotation>
          <xsd:documentation>The default sense of analysis lines on this type of document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Presenter" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The presenter master that determines how the information in the analysis lines is displayed during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SummaryLines">
    <xsd:sequence>
      <xsd:element name="Number" type="com:typeUWord">
        <xsd:annotation>
          <xsd:documentation>The default number of summary lines on this type of document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefaultSense" type="com:typeCtDocDefSense">
        <xsd:annotation>
          <xsd:documentation>The default sense of summary lines on this type of document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Presenter" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The presenter master that determines how the information in the summary lines is displayed during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Quantities">
    <xsd:sequence>
      <xsd:element name="ReverseOnCredit" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether quantities are reversed on credit lines.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReverseOnDebit" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether quantities are reversed on debit lines.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PayElement">
    <xsd:sequence>
      <xsd:element name="BankCodeRequired" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the element bank used for the payment must be entered during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AddressRequired" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the account number and trading address of the element bank used for the payment must be entered during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PayData">
    <xsd:annotation>
      <xsd:documentation>This element holds details of the media used for the payment.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Required" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the user must enter a media code or company bank tag during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Modifiable" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the user can change the media code or company bank tag during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Default" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default value for the media code or company bank tag used for the payment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Pay">
    <xsd:sequence>
      <xsd:element name="Enable" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can enter payment details during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Media" type="doc:PayData">
        <xsd:annotation>
          <xsd:documentation>This element holds details of the media used for the payment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CompanyBank" type="doc:PayData">
        <xsd:annotation>
          <xsd:documentation>This element holds details of the company bank used for the payment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Element" type="doc:PayElement"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BalancingElements">
    <xsd:sequence>
      <xsd:element name="Rule" type="com:typeCtBalElmRule">
        <xsd:annotation>
          <xsd:documentation>Specifies the action taken when a document generated from this master does not balance as required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Accounts" type="com:typeAcCodeSubstB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The account to which balancing entries are posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocTax">
    <xsd:annotation>
      <xsd:documentation>This element holds tax settings.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Method" type="com:typeCtTaxMethod">
        <xsd:annotation>
          <xsd:documentation>Specifies how tax is calculated on documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ESL" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this document type must be selected for European Sales List reports.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Intrastat" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this document type must be selected for Intrastat reports (The Statutory Supplementary Declaration).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ten99" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this document type must be selected for 1099 reports.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NumberOfTaxCodes" type="com:typeUWord">
        <xsd:annotation>
          <xsd:documentation>The maximum number of tax codes allowed on each document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Currency">
    <xsd:sequence>
      <xsd:element name="Rule" type="com:typeCtDocCurr">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the document currency is entered by the user during Input, a fixed, protected value, or a modifiable value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Default" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default document currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RateControl" type="com:typeCtCurRateControl">
        <xsd:annotation>
          <xsd:documentation>Specifies whether users can apply a change to the exchange rate to the whole document or just to a document line, subject to the settings on their capability master, or whether this ability is controlled by a setting elsewhere (on the currency master or company master).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ValueDate">
    <xsd:sequence>
      <xsd:element name="Rule" type="com:typeTermB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The offset rule for calculating the value date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Modifiable" type="com:typeCtModValDate">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the calculated value date can be changed during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentWide" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the calculated value date applies to every line on the document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DueDate">
    <xsd:sequence>
      <xsd:element name="Rule" type="com:typeTermB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The offset rule for calculating the due date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Modifiable" type="com:typeCtModDueDate">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the calculated due date can be changed during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentWide" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the calculated due date applies to every line on the document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="docSelectKey">
    <xsd:annotation>
      <xsd:documentation>This is a document key used when requesting a list of documents. It incorporates a value for the maximum number of items to return, the document's short name, and flags to specify whether the search is restricted to InterCompany and/or cancelling documents only.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MaxKeys" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The maximum number of items to be returned.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Key" type="com:Key">
        <xsd:annotation>
          <xsd:documentation>A document master key that incorporates the company within which the document master exists.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The short name of a document master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OnlyIntercompany" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>When TRUE Specifies that only documents set for InterCompany use will be listed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OnlyCancelling" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies that only cancelling documents will be listed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EnableMasterSecurityFilter" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>When TRUE, only document masters to which the current user has read/write access are returned. A user's access to document masters is controlled by the master security lists on the user's capability master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExcludeReservedDocs" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If set, reserved documents are not included.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OnlySalesInvoiceReservedDocs" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If set, includes only reserved Sales Invoicing documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocReserveKey">
    <xsd:annotation>
      <xsd:documentation>Contains a key to a reserved document.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocKey" type="com:Key">
        <xsd:annotation>
          <xsd:documentation>The document key.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicationId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A CODA application ID.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PrintDocSelectKey">
    <xsd:annotation>
      <xsd:documentation>This element holds information about the document masters you are printing.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="doc:docSelectKey">
        <xsd:sequence>
          <xsd:element name="LastModifiedFrom" type="com:typeDateB" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Specifies you want to search for documents which were modified on or after this date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="LastModifiedTo" type="com:typeDateB" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Specifies you want to search for documents which were modified on or before this date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ProtectedElements">
    <xsd:annotation>
      <xsd:documentation>This elements specifies whether the elements in the account code are protected during Input.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ProtectElement1" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this element is protected in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectElement2" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this element is protected in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectElement3" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this element is protected in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectElement4" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this element is protected in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectElement5" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this element is protected in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectElement6" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this element is protected in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectElement7" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this element is protected in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectElement8" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this element is protected in Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PDLExtRefs">
    <xsd:annotation>
      <xsd:documentation>This element holds a list of external references.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ExtReference1" type="com:typeExtRefB">
        <xsd:annotation>
          <xsd:documentation>The label which you want to define for this external reference.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExtReference2" type="com:typeExtRefB">
        <xsd:annotation>
          <xsd:documentation>The label which you want to define for this external reference.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExtReference3" type="com:typeExtRefB">
        <xsd:annotation>
          <xsd:documentation>The label which you want to define for this external reference.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExtReference4" type="com:typeExtRefB">
        <xsd:annotation>
          <xsd:documentation>The label which you want to define for this external reference.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExtReference5" type="com:typeExtRefB">
        <xsd:annotation>
          <xsd:documentation>The label which you want to define for this external reference.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExtReference6" type="com:typeExtRefB">
        <xsd:annotation>
          <xsd:documentation>The label which you want to define for this external reference.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectExtRef1" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this external reference is protected and cannot be modified. If set, the external reference is protected.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectExtRef2" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this external reference is protected and cannot be modified. If set, the external reference is protected.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectExtRef3" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this external reference is protected and cannot be modified. If set, the external reference is protected.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectExtRef4" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this external reference is protected and cannot be modified. If set, the external reference is protected.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectExtRef5" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this external reference is protected and cannot be modified. If set, the external reference is protected.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectExtRef6" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this external reference is protected and cannot be modified. If set, the external reference is protected.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PDL">
    <xsd:annotation>
      <xsd:documentation>This element contains information about a predefined line.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AccountCode" type="com:typeAcCodeB">
        <xsd:annotation>
          <xsd:documentation>The account code for the document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectElements" type="doc:ProtectedElements">
        <xsd:annotation>
          <xsd:documentation>This elements specifies whether the elements in the account code are protected during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Amount" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>The amount specified in the predefined line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectAmount" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this value is protected and cannot be edited during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaxValue" type="com:typeNum">
        <xsd:annotation>
          <xsd:documentation>The tax value in document currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectTaxValue" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this value is protected and cannot be edited during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Tax" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The tax code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectTax" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this code is protected and cannot be edited during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Description" type="com:typeDescr">
        <xsd:annotation>
          <xsd:documentation>The document line description.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectDescription" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this description is protected and cannot be edited during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PDLExtRefs" type="doc:PDLExtRefs">
        <xsd:annotation>
          <xsd:documentation>This element holds a list of external references.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineType" type="com:typeCtDocLineTypeB">
        <xsd:annotation>
          <xsd:documentation>The line type. The options are: Analysis, Summary or Tax.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserStatus" type="com:typeUserStatusB">
        <xsd:annotation>
          <xsd:documentation>The single-character user status.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectLineType" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the line type is protected and cannot be edited during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectUserStatus" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the user status is protected at Input time.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Review" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that this line must be reviewed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ZeroValues" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that zero values are allowed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InterCmpDest" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The InterCompany destination code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectInterCmpDest" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the InterCompany destination code is protected during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineSense" type="com:typeCtDocDefSense">
        <xsd:annotation>
          <xsd:documentation>The Sense of line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectLineSense" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the line sense is protected during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PDLList">
    <xsd:annotation>
      <xsd:documentation>This element holds a list of predefined lines.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PreDefinedLine" type="doc:PDL" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element contains information about a predefined line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocNumListItem">
    <xsd:annotation>
      <xsd:documentation>This element contains information about one number range.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Open" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the range is open for current use.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="First" type="com:typeDocNumAlphaB">
        <xsd:annotation>
          <xsd:documentation>The first number in the range.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Next" type="com:typeDocNumAlphaB">
        <xsd:annotation>
          <xsd:documentation>The next available number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Last" type="com:typeDocNumAlphaB">
        <xsd:annotation>
          <xsd:documentation>The last number in the range, which must be greater than the first number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Year" type="com:typeYear">
        <xsd:annotation>
          <xsd:documentation>The year to which the number range applies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StartPeriod" type="com:typeUWordB">
        <xsd:annotation>
          <xsd:documentation>The first period in the range to which the number range applies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EndPeriod" type="com:typeUWordB">
        <xsd:annotation>
          <xsd:documentation>The last period in the range to which the number range applies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocNumList">
    <xsd:annotation>
      <xsd:documentation>This element holds a list of number ranges.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocNumListItem" type="doc:DocNumListItem" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element contains information about one number range.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Master">
    <xsd:annotation>
      <xsd:documentation>This element holds a document master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp value for this document master in the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which the document master is being maintained.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The document code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The full name for the document master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The abbreviated name for the document master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CancelDoc" type="com:typeCtDocCancel">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this master generates cancelling documents and, if so, whether they cancel single or multiple documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CancelMatch" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If True, specifies that when a cancelling document is posted, all the matchable lines on the original document are matched against their counterparts on the cancelling document with the payment status of C - Cancel matched. If False, payable lines are matched with the status P - Paid.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AddToTurnovers" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that postings using this document master must be added to the period turnover figures for the elements affected.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Batch" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that documents generated from this master will be assigned a batch number automatically during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserStatus" type="com:typeStatUserB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A single alphanumeric character which will be added to entries posted to the Books. You can use this character as a selection parameter in Browse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayStatus" type="com:typeCtStatPayDoc">
        <xsd:annotation>
          <xsd:documentation>The default payment status of documents generated from this master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RequireDescription" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that a description must be supplied during Input for the document header and document lines.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BankStatement" type="com:typeTextB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A code to appear on the bank statements for this document code, for example, CHQ (cheque) or DD (direct debit). This is a memorandum field that will allow a report to be produced for bank reconciliation purposes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NumberRule" type="com:typeCtDocSeqRule">
        <xsd:annotation>
          <xsd:documentation>Specifies the numbering method on documents generated from this master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NumberFormat" type="com:typeCtDocNumberType">
        <xsd:annotation>
          <xsd:documentation>Specifies whether document numbers are numeric or alphanumeric.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ControlTotals" type="com:typeCtControlTotals">
        <xsd:annotation>
          <xsd:documentation>Specifies the action to be taken if the entered value for the control total does not agree with the total of the debit lines on the completed document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Destination" type="com:typeCtDocDest">
        <xsd:annotation>
          <xsd:documentation>Specifies whether documents are posted only to the Books, only to the Intray, or to either.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Checking" type="com:typeCtIntrayCheck">
        <xsd:annotation>
          <xsd:documentation>Specifies the type of checking applied to documents: Books, Intray, or either.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AuthorisingUser" type="com:typeCtAuthorisingUser">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the Authoring User input field is used, mandatory, or not used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValidateOnAccount" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that validation of individual elements is disabled and that the full account code is checked when the user completes an entry during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PeriodUsage" type="com:typeCtPeriodUsage">
        <xsd:annotation>
          <xsd:documentation>Specifies the type of period to which documents generated from this master can be posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PurchaseOrdering" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the document master is used to generate invoices for purchase orders, and you want to match them against the originating orders in Purchasing.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowDiscounts" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that documents using this master can hold discount information.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UpdateTransaction" type="com:typeCtDocumentType">
        <xsd:annotation>
          <xsd:documentation>Specifies how the Last Movements data for the matchable element is updated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RetainValues" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that specific document line information is retained when the account code is changed during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AmendInBrowse" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether documents of this type can be changed in Browse Writeback.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HeaderUserExit" type="com:typeUpper" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The name of the custom program called for checking Header information during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MatchingFromInput" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this document master can be used for matching documents from Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InputMatchingMasterCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the matching master to be used for matching documents from Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MatchingFromBrowse" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this document master can be used for matching documents from Browse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BrowseMatchingMasterCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the matching master to be used for matching documents from Browse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AssetDoc" type="com:typeCtAssetDest" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies that assets can be created with this document master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelfProportioning" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this document master generates self-proportioning documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Recurring" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this document master generates recurring documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reversing" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies whether this document master generates reversing documents.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DueDate" type="doc:DueDate"/>
      <xsd:element name="ValueDate" type="doc:ValueDate"/>
      <xsd:element name="Currency" type="doc:Currency"/>
      <xsd:element name="Tax" type="doc:DocTax">
        <xsd:annotation>
          <xsd:documentation>This element holds tax settings.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Pay" type="doc:Pay"/>
      <xsd:element name="Quantities" type="doc:Quantities"/>
      <xsd:element name="SummaryLines" type="doc:SummaryLines"/>
      <xsd:element name="AnalysisLines" type="doc:AnalysisLines"/>
      <xsd:element name="Intercompany" type="doc:Intercompany">
        <xsd:annotation>
          <xsd:documentation>This element holds InterCompany settings.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BalancingElements" type="doc:BalancingElements" minOccurs="0"/>
      <xsd:element name="ExternalReferences" type="doc:ExternalReferences">
        <xsd:annotation>
          <xsd:documentation>This element holds information about external references.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserReferences" type="doc:UserReferences">
        <xsd:annotation>
          <xsd:documentation>This element holds information about user references.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecurringDetails" type="doc:Recurring" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds recurring document settings.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreDefinedLines" type="doc:PreDefinedLines">
        <xsd:annotation>
          <xsd:documentation>This element holds pre-defined line settings.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FieldAccess" type="doc:FieldAccess" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information specifying whether certain fields are included in the tab sequence during Input.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HeaderExtension" type="com:ExtensionRef" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The extension master code for the document header validation extension that you want to check the headers of documents generated from this master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExtRefExtension" type="com:ExtensionRef" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The extension master code for the document validation extension that you want to validate external references for documents generated from this master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PrevIntrayDel" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the document cannot be deleted once posted to the Intray.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PrevIntrayMod" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the document cannot be modified once posted to the Intray.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreateDate" type="com:typeDateB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date the record was created.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModifyDate" type="com:typeDateB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The date when the record was last updated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="User" type="com:typeCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The user who updated the record.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AssetPerLine" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies that a separate asset is created from each document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WorkflowRequired" type="com:typeCtWorkflowAuthReq">
        <xsd:annotation>
          <xsd:documentation>The type of workflow authorisation required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WorkItemExplodePresenter" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The browse details presenter to use when a user views the document details from their workflow work list.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PositionHierarchy" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The default position hierarchy to use for authorisation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IntrayWorkflow" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The workflow process definition to use when posting this type of document to the Intray.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectIntrayWorkflow" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, the workflow process definition used when posting a document to the Intray cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConfirmIntrayWorkflow" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, a prompt appears at Input asking whether the user would like to start a workflow instance.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowWorkflowIntrayEdits" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, users can modify this type of document while it is in the Intray, providing it is not yet authorised.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BooksWorkflow" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The workflow process definition to use when posting this type of document to the books.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectBooksWorkflow" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, the workflow process definition used when posting a document to the books cannot be changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PromptForAuthorisingUser" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, the user is prompted for an authorising user when submitting documents of this type into Workflow.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IsReserved" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If set, the document master is reserved.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReservingApplicationId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The ID of the CODA application which has reserved the document master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreventFutureDate" type="xsd:boolean"/>
      <xsd:element name="AssetPerItem" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocumentMaster">
    <xsd:annotation>
      <xsd:documentation>This element holds a document master.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="doc:Master">
        <xsd:sequence>
          <xsd:element name="DocNumList" type="doc:DocNumList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>This element holds a list of number ranges.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PreDefinedLineList" type="doc:PDLList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>This element holds a list of predefined lines.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="DocumentMaster" type="doc:DocumentMaster">
    <xsd:annotation>
      <xsd:documentation>This element holds a document master.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
