resources/schemas/public/finance/revaluation/revaluationservice.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:prg="http://www.coda.com/efinance/schemas/progress" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:rev="http://www.coda.com/efinance/schemas/revaluation" xmlns:all="http://www.coda.com/efinance/schemas/allocation" xmlns:sel="http://www.coda.com/efinance/schemas/selector" xmlns:txn="http://www.coda.com/efinance/schemas/transaction" xmlns:bal="http://www.coda.com/efinance/schemas/balance" targetNamespace="http://www.coda.com/efinance/schemas/revaluation" elementFormDefault="qualified" version="11.2">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/progress" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/progress/progress.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/selector/selector.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/transaction" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/transaction/transaction.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/balance" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/balance/balance.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/allocation" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/finance/allocation/allocation.xsd"/>
  <xsd:include schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/finance/revaluation/revaluation.xsd"/>

  <xsd:complexType name="PrepareRuleRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="RuleData" type="all:RuleParams">
            <xsd:annotation>
              <xsd:documentation>Contains the information required to start a revaluation run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrepareRuleRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Submits the basic information required to start a revaluation run.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="rev:PrepareRuleRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrepareRuleResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="RuleData" type="all:RuleParams">
            <xsd:annotation>
              <xsd:documentation>Contains the information required to start a revaluation run</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ProgressKey" type="prg:ProgressKey" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The key, or special reference, given to you for requesting information about the progress of Revaluation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Requirements" type="rev:RevaluationRequirements" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains details of parameters which are still required for this revaluation rule.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PreCode" type="com:typeGeneralCode" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The code of the presenter you want Revaluation to use.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrepareRuleResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="rev:PrepareRuleResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RunRuleAndPostRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="RuleData" type="all:RuleParams">
            <xsd:annotation>
              <xsd:documentation>Contains the information required to start a revaluation run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PromptData" type="rev:RevaluationPrompts" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains those values which have not been specified in the rule master, but are required by the revaluation run .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ProgressKey" type="prg:ProgressKey" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The key, or special reference, given to you for requesting information about the progress of the revaluation run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RunRuleAndPostRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Starts the Revaluation process, using the parameters you provide, and posts the values without allowing you to view the proposed updates.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="rev:RunRuleAndPostRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RunRuleAndPostResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="ProgressKey" type="prg:ProgressKey">
            <xsd:annotation>
              <xsd:documentation>The key, or special reference, given to you for requesting information about the progress of Revaluation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RunRuleAndPostResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="rev:RunRuleAndPostResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RunRuleAndViewRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="RuleData" type="all:RuleParams">
            <xsd:annotation>
              <xsd:documentation>Contains the information required to start a revaluation run</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PromptData" type="rev:RevaluationPrompts" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains those values which have not been specified in the rule master, but are required by the revaluation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ProgressKey" type="prg:ProgressKey">
            <xsd:annotation>
              <xsd:documentation>The key, or special reference, given to you for requesting information about the progress of the Revaluation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Columns" type="sel:VocabIDList">
            <xsd:annotation>
              <xsd:documentation>The list of vocabulary items you want to look at when you receive the response.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RunRuleAndViewRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Starts the revaluation process, using the parameters you provide, but does not post the values until you have checked the proposed updates.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="rev:RunRuleAndViewRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RunRuleAndViewResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="Selection" type="sel:Selection" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The list of accounts or balances selected for updating, when the revaluation rule was run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Transaction" type="txn:Transaction" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The revaluation document containing details of the proposed revaluation updates.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Balances" type="bal:BalanceList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The list of balances, containing details of the proposed revaluation updates.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Warning" type="com:Reason" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>A message indicating that the update failed and giving a detailed reason for the failure.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RunRuleAndViewResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="rev:RunRuleAndViewResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="RuleData" type="all:RuleParams">
            <xsd:annotation>
              <xsd:documentation>Contains the information required to start a revaluation run</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Transaction" type="txn:Transaction" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The currency revaluation document, listing the proposed updates, produced by RunRuleAndView.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Balances" type="bal:BalanceList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The list of proposed changes to the balances produced by RunRuleAndView.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Posts the values produced by RunRuleAndView, after you have checked them.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="rev:PostRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PostResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="rev:PostResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrepareChainRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="ChainData" type="all:ChainParams">
            <xsd:annotation>
              <xsd:documentation>Contains the information required to start a revaluation chain.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrepareChainRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Submits the parameters for running a currency revaluation chain, using the information you provide.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="rev:PrepareChainRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrepareChainResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="ChainData" type="all:ChainParams">
            <xsd:annotation>
              <xsd:documentation>Contains the information required to start a revaluation chain.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ProgressKey" type="prg:ProgressKey" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The key, or special reference, given to you for requesting information about the progress of Revaluation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RequirementsList" type="rev:RevaluationRequirementsList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains details of parameters which are still required, for each rule within the chain.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrepareChainResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="rev:PrepareChainResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RunChainRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="ChainData" type="all:ChainParams">
            <xsd:annotation>
              <xsd:documentation>Contains the information required to start a revaluation chain.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PromptList" type="rev:RevaluationPromptsList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains those values which have not been specified in any rule masters in the chain, but are required by the revaluation process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ProgressKey" type="prg:ProgressKey" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The key, or special reference, given to you for requesting information about the progress of Revaluation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RunChainRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Starts a currency revaluation chain, using the information you provide, and updates the values.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="rev:RunChainRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RunChainResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="ProgressKey" type="prg:ProgressKey">
            <xsd:annotation>
              <xsd:documentation>The key, or special reference, given to you for requesting information about the progress of Revaluation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RunChainResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="rev:RunChainResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RevaluationRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to run and monitor Currency Revaluation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="PrepareRule" type="rev:PrepareRuleRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Submits the basic information required to start a revaluation run.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunRuleAndPost" type="rev:RunRuleAndPostRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Starts the Revaluation process, using the parameters you provide, and posts the values without allowing you to view the proposed updates.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunRuleAndView" type="rev:RunRuleAndViewRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Starts the revaluation process, using the parameters you provide, but does not post the values until you have checked the proposed updates.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Post" type="rev:PostRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Posts the values produced by RunRuleAndView, after you have checked them.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PrepareChain" type="rev:PrepareChainRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Submits the parameters for running a currency revaluation chain, using the information you provide.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunChain" type="rev:RunChainRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Starts a currency revaluation chain, using the information you provide, and updates the values.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RevaluationResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you run and monitor Currency Revaluation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="PrepareRule" type="rev:PrepareRuleResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunRuleAndPost" type="rev:RunRuleAndPostResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunRuleAndView" type="rev:RunRuleAndViewResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Post" type="rev:PostResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PrepareChain" type="rev:PrepareChainResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RunChain" type="rev:RunChainResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="RevaluationRequest" type="rev:RevaluationRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to run and monitor Currency Revaluation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RevaluationResponse" type="rev:RevaluationResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you run and monitor Currency Revaluation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
