resources/schemas/public/assets/temporarydoc/temporarydoc.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tdo="http://www.coda.com/eassets/schemas/temporarydoc" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:asscom="http://www.coda.com/eassets/schemas/common" targetNamespace="http://www.coda.com/eassets/schemas/temporarydoc" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/eassets/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/assets/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>

  <xsd:complexType name="TemporaryDocumentDetail">
    <xsd:annotation>
      <xsd:documentation>Contains the depreciation/forecast information generated for one company.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CompanyCode" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>The company code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RunNumber" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>A number identifying the depreciation/forecast process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SeqNumber" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>A number identifying this set of data.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocCompanyCode" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>The company code stored on the document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocCode" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>The document code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocNumber" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The document number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccountCode" type="com:typeAcCode">
        <xsd:annotation>
          <xsd:documentation>The account code to which the document value would be posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The document value in home currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineSense" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The line sense (debit or credit).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrencyCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The currency code of the home currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostYear" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The year to which the document value would be posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostPeriod" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The period to which the document value would be posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LogNumber" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A number identifying the log in which the details of this depreciation/forecast process are stored.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DualCurCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the dual currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DualCurValue" type="com:typeMoneyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The document value in dual currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cur1Code" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the currency associated with element 1 on the document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cur1Value" type="com:typeMoneyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The document value in the element 1 currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cur2Code" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the currency associated with element 2 on the document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cur2Value" type="com:typeMoneyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The document value in the element 2 currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cur3Code" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the currency associated with element 3 on the document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cur3Value" type="com:typeMoneyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The document value in the element 3 currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cur4Code" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the currency associated with element 4 on the document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cur4Value" type="com:typeMoneyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The document value in the element 4 currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cur5Code" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the currency associated with element 5 on the document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cur5Value" type="com:typeMoneyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The document value in the element 5 currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cur6Code" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the currency associated with element 6 on the document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cur6Value" type="com:typeMoneyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The document value in the element 6 currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cur7Code" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the currency associated with element 7 on the document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cur7Value" type="com:typeMoneyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The document value in the element 7 currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cur8Code" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the currency associated with element 8 on the document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cur8Value" type="com:typeMoneyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The document value in the element 8 currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TemporaryDocumentDetailList">
    <xsd:annotation>
      <xsd:documentation>Contains the depreciation/forecast information which has been generated for export to a spreadsheet file.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TemporaryDocumentDetail" type="tdo:TemporaryDocumentDetail" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Contains the depreciation/forecast information generated for one company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TemporaryDocumentDetailKey">
    <xsd:annotation>
      <xsd:documentation>This key element is for CODA's internal use only.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>This key element is for CODA's internal use only.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LogNumber" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>This key element is for CODA's internal use only.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TemporaryDocumentLogNumber">
    <xsd:annotation>
      <xsd:documentation>Contains the log number of a depreciation/forecasting log that has temporary data (that is, data that could be exported to a spreadsheet).</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LogNumber" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The log number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RunNumber" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A number identifying the depreciation/forecasting run.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TemporaryDocumentLogNumberList">
    <xsd:annotation>
      <xsd:documentation>Lists the log numbers of depreciation/forecasting logs that have temporary data (that is, data that could be exported to a spreadsheet).</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TemporaryDocumentLogNumber" type="tdo:TemporaryDocumentLogNumber" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Contains the log number of a depreciation/forecasting log that has temporary data (that is, data that could be exported to a spreadsheet).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TemporaryDocumentCmpLogNumber">
    <xsd:annotation>
      <xsd:documentation>Contains details of a depreciation/forecasting log that has temporary data (that is, data that could be exported to a spreadsheet) for a specific company.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The company code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LogNumber" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The log number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RunNumber" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A number identifying the depreciation/forecasting run.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TemporaryDocumentCmpLogNumberList">
    <xsd:annotation>
      <xsd:documentation>Lists details of depreciation/forecasting logs that have temporary data (that is, data that could be exported to a spreadsheet) for specific companies.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TemporaryDocumentCmpLogNumber" type="tdo:TemporaryDocumentCmpLogNumber" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Contains details of a depreciation/forecasting log that has temporary data (that is, data that could be exported to a spreadsheet) for a specific company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="TemporaryDocumentDetailKey" type="tdo:TemporaryDocumentDetailKey">
    <xsd:annotation>
      <xsd:documentation>This key element is for CODA's internal use only.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TemporaryDocumentDetail" type="tdo:TemporaryDocumentDetail">
    <xsd:annotation>
      <xsd:documentation>Contains the depreciation/forecast information generated for one company.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TemporaryDocumentDetailList" type="tdo:TemporaryDocumentDetailList">
    <xsd:annotation>
      <xsd:documentation>Contains the depreciation/forecast information which has been generated for export to a spreadsheet file.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TemporaryDocumentLogNumber" type="tdo:TemporaryDocumentLogNumber">
    <xsd:annotation>
      <xsd:documentation>Contains the log number of a depreciation/forecasting log that has temporary data (that is, data that could be exported to a spreadsheet).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TemporaryDocumentLogNumberList" type="tdo:TemporaryDocumentLogNumberList">
    <xsd:annotation>
      <xsd:documentation>Lists the log numbers of depreciation/forecasting logs that have temporary data (that is, data that could be exported to a spreadsheet).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TemporaryDocumentCmpLogNumber" type="tdo:TemporaryDocumentCmpLogNumber">
    <xsd:annotation>
      <xsd:documentation>Contains details of a depreciation/forecasting log that has temporary data (that is, data that could be exported to a spreadsheet) for a specific company.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TemporaryDocumentCmpLogNumberList" type="tdo:TemporaryDocumentCmpLogNumberList">
    <xsd:annotation>
      <xsd:documentation>Lists details of depreciation/forecasting logs that have temporary data (that is, data that could be exported to a spreadsheet) for specific companies.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
