resources/schemas/public/assets/reviewtransactions/reviewtransactions.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rev="http://www.coda.com/eassets/schemas/reviewtransactions" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:asscom="http://www.coda.com/eassets/schemas/common" xmlns:txn="http://www.coda.com/efinance/schemas/transaction" targetNamespace="http://www.coda.com/eassets/schemas/reviewtransactions" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/eassets/schemas/common" schemaLocation="s:/schemas/public/assets/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/transaction" schemaLocation="s:/schemas/public/common/transaction/transaction.xsd"/>

  <xsd:complexType name="ReviewTransactions">
    <xsd:annotation>
      <xsd:documentation>Contains the transaction information generated for the asset.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="FinancialTransactions" type="rev:FinancialTransactionList">
        <xsd:annotation>
          <xsd:documentation>Lists the financial transactions.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AssetTransactions" type="rev:AssetTransactionList">
        <xsd:annotation>
          <xsd:documentation>Lists the asset transactions.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FinancialTransactionList">
    <xsd:annotation>
      <xsd:documentation>Lists the financial transactions.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="List" type="rev:FinancialTransactionDetail" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Contains a list of financial transactions generated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FinancialTransactionDetail">
    <xsd:annotation>
      <xsd:documentation>Contains a list of financial transactions generated.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocCode" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>The code for the document master used to post the asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocNumber" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The number of the document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccountCode" type="com:typeAcCode">
        <xsd:annotation>
          <xsd:documentation>The code for the account to which the asset is posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The value of the document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineSense" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The line sense: either debit or credit.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrencyCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the currency for the posting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Period" type="com:typePeriodB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The period in which the posting is made.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Currencies" type="txn:Currencies" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Holds the element currency information for the document line.(Information is only held for currencies that will be posted, that is are set up as currency books on the primary book.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DualCur" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>The code of the dual currency for the posting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DualValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The document value in dual currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AssetTransactionList">
    <xsd:annotation>
      <xsd:documentation>Lists the asset transactions.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="List" type="rev:AssetTransactionDetail" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Contains a list of asset transactions generated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AssetTransactionDetail">
    <xsd:annotation>
      <xsd:documentation>Contains a list of asset transactions generated.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Type" type="asscom:typeTran">
        <xsd:annotation>
          <xsd:documentation>The type of the last transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Asset" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>The code for the asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="YearPeriod" type="com:typeBaseYearPeriod">
        <xsd:annotation>
          <xsd:documentation>The year and period in which the asset will be posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Book" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>The asset book affected by the posting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Document" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>Reference to the document that will be posted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rule" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>The code for the depreciation rule used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Value" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The value of the transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CostValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The cost value of the transaction. An increase to the asset cost is shown as a positive value, while a reduction is shown as a negative value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepreciationValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The depreciation value of the transaction. Typically these will be shown as negative values because depreciation usually reduces the NBV.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MemoValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The value of a transaction that does not affect the NBV.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="ReviewTransactions" type="rev:ReviewTransactions">
    <xsd:annotation>
      <xsd:documentation>Contains the transaction information generated for the asset.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FinancialTransactionDetail" type="rev:FinancialTransactionDetail">
    <xsd:annotation>
      <xsd:documentation>This element contains details of the transactions that will be posted to the Financials database tables.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AssetTransactionDetail" type="rev:AssetTransactionDetail">
    <xsd:annotation>
      <xsd:documentation>This element contains the details of the transactions that will be posted to the Assets database tables.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
