resources/schemas/public/finance/browsebalancemaster/browsebalancemaster.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:pre="http://www.coda.com/efinance/schemas/presenter" xmlns:bbm="http://www.coda.com/efinance/schemas/browsebalancemaster" targetNamespace="http://www.coda.com/efinance/schemas/browsebalancemaster" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/presenter" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/presenter/presenter.xsd"/>

  <xsd:complexType name="Master" abstract="true">
    <xsd:sequence>
      <xsd:element name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp value for this browse balance master in the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the browse balance master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The full name for the browse balance master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The abbreviated name for the browse balance master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DisplaySettings">
    <xsd:annotation>
      <xsd:documentation>This element holds information about the display settings for the column.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Title" type="com:typeTextAny">
        <xsd:annotation>
          <xsd:documentation>The title displayed at the head of the column. This is not necessarily the same as the column name which is shown on the column tab header.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Width" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The width of the displayed column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DecimalPlaces" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number of decimal places to which the balance is displayed. The available values are Default and the numbers 0 to 9. If you select a number, the values in the column are rounded to that number of decimals places.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Alignment" type="com:typeCtJustification">
        <xsd:annotation>
          <xsd:documentation>The alignment of the values in this column. The available values are Left, Right and Centre.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bold" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the values in this column are displayed in bold.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Italic" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the values in this column are displayed in italics.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Underline" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the values in this column are underlined.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReverseSign" type="com:typeCtBBQBalReverseSign" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies that the sign (- or +) on column values is reversed. The available values are: Never, Always, Hierarchy and Reverse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HierarchyReverseColumnName" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The name of the hierarchy column from which the sign settings will be retrieved.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReportTotalSign" type="com:typeCtBBQBalReverseTotal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies the values to use when calculating the total for this report. The available values are: Original values, Signed values and Original values reverse sign.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BalCodeElement">
    <xsd:annotation>
      <xsd:documentation>This element holds a balance code.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the balance master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BalCodeList">
    <xsd:annotation>
      <xsd:documentation>This element holds the list of codes for the balance masters available for the current company.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BalCodeElement" type="bbm:BalCodeElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element holds a balance code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BalSettings">
    <xsd:annotation>
      <xsd:documentation>This element holds information about a balance type column.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BalCodes" type="bbm:BalCodeList">
        <xsd:annotation>
          <xsd:documentation>This element holds the list of codes for the balance masters available for the current company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StartPeriod" type="com:typePeriod">
        <xsd:annotation>
          <xsd:documentation>The starting year and period in the date range from which you want to select balance data.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EndPeriod" type="com:typePeriod">
        <xsd:annotation>
          <xsd:documentation>The ending year and period in the date range from which you want to select balance data.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrType" type="com:typeCtRelCurType">
        <xsd:annotation>
          <xsd:documentation>The type of currency in which this column is to be displayed. This element contains either a relation type currency (for example, account or home currency), or is set to RELCUR-NONE if a code for a specific currency master is selected.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrCode" type="com:typeGeneralCodeB">
        <xsd:annotation>
          <xsd:documentation>The code for the currency in which you want this column to be displayed, if a specific currency master is selected. If the CurrType element contains a relation type currency (for example, account currency or home currency) this field is left blank.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValueType" type="com:typeCtBBQBalValueType">
        <xsd:annotation>
          <xsd:documentation>The type of value that this column displays. The options are: Full, Credit or Debit.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CmpCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the company used to determine the presenter master to use when drilling to Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the presenter master to use when drilling to Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FilterCmpCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the company used to determine which selector masters are available. A company code is required because selector masters are company-dependent.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FilterSelectorCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the selector master to use to filter the data displayed in this column. You can leave the FilterCmpCode and FilterSelectorCode fields blank if you do not want to apply a filter to the column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PeriodSettings" type="bbm:PeriodSettings">
        <xsd:annotation>
          <xsd:documentation>This element holds information about the column to which the current column is linked.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PeriodSettings">
    <xsd:annotation>
      <xsd:documentation>This element holds information about the column to which the current column is linked.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Comparative" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this column is linked to another column so that the data can be compared.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LinkedTo" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The name of the column to which you want to link the current column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccumulateSelection" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the values in this column are accumulated in period order so that cumulative balance figures can be shown.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludeBroughtForwards" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether balances which have been brought forward are included in the accumulation, in addition to the selected balances.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MasterSettings">
    <xsd:annotation>
      <xsd:documentation>This element holds information about a master type column.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="VocabID" type="com:typeCtVocabEnum">
        <xsd:annotation>
          <xsd:documentation>The vocabulary data displayed on the column, for example, Element 1.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VocabAvailable" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the vocabulary option has been enabled for the column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VocabData" type="com:typeCtWhichName" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The data you want to display as an alternative to the default. You can choose to display either the Long Name or Short Name for the master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SortListItem">
    <xsd:annotation>
      <xsd:documentation>This element holds information about the sort and subtotal settings for the browse balance master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BrowseBalanceColID" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the Browse Balance column by which the data is sorted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SortOrder" type="com:typeCtBalSortOrder">
        <xsd:annotation>
          <xsd:documentation>The order in which the columns are sorted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubTotal" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether subtotals are displayed within each sort break for this vocabulary item. Only columns containing monetary values, quantities, or calculations are subtotalled.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Group" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>If selected, groups together duplicate values in the column and displays a summary header at each point in the column where the value changes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SortList">
    <xsd:annotation>
      <xsd:documentation>This element holds the sort list for the browse balance master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SortListItem" type="bbm:SortListItem" minOccurs="0" maxOccurs="3">
        <xsd:annotation>
          <xsd:documentation>This element holds information about the sort and subtotal settings for the browse balance master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="HierarchySettings">
    <xsd:annotation>
      <xsd:documentation>This element holds information about a hierarchy type column.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="HierarchyCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the hierarchy master you want to use.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HierarchyLevel" type="com:typeCtHimLevel">
        <xsd:annotation>
          <xsd:documentation>The node level for which you want to display balance information.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DrivingHierarchy" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the selected hierarchy is the driving hierarchy for this browse balance master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VocabAvailable" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the vocabulary option has been enabled for the column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VocabData" type="com:typeCtWhichHimText" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The data you want to display as an alternative to the default. You can choose to display either the Header text or the Footer text for the hierarchy node.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Column">
    <xsd:annotation>
      <xsd:documentation>This element holds information for one column in the browse balance master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OrderNumber" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>A number identifying the order of the column within the column list.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The full name for the column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DisplaySettings" type="bbm:DisplaySettings">
        <xsd:annotation>
          <xsd:documentation>This element holds information about the display settings for the column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ColType" type="com:typeCtBBQColumnType">
        <xsd:annotation>
          <xsd:documentation>Identifies the type of column. The available column types are: Balance, Master Information, Hierarchy or Calculation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BalSettings" type="bbm:BalSettings" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information about a balance type column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MasterSettings" type="bbm:MasterSettings" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information about a master type column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HierarchySettings" type="bbm:HierarchySettings" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information about a hierarchy type column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Calculation" type="com:typeTextAnyUpper" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The formula used to calculate the column values.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ColumnList">
    <xsd:annotation>
      <xsd:documentation>This element holds information about the columns in the browse balance master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Column" type="bbm:Column" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element holds information for one column in the browse balance master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BrsBalMaster">
    <xsd:annotation>
      <xsd:documentation>This element holds a browse balance master.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="bbm:Master">
        <xsd:sequence>
          <xsd:element name="SortList" type="bbm:SortList" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>This element holds the sort list for the browse balance master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UseAbsoluteNumbers" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Indicates whether numeric data is sorted according to its absolute value rather than its signed value. This is useful, for example, if you want to display your top ten variances, irrespective of the sign value of the variance.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ColumnList" type="bbm:ColumnList">
            <xsd:annotation>
              <xsd:documentation>This element holds information for the columns in the browse balance master.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>
