resources/schemas/public/finance/taxtransfer/taxtransferservice.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:prg="http://www.coda.com/efinance/schemas/progress" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:ttr="http://www.coda.com/efinance/schemas/taxtransfer" targetNamespace="http://www.coda.com/efinance/schemas/taxtransfer" elementFormDefault="qualified" version="1.0">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/service.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/progress" schemaLocation="s:/schemas/public/common/progress/progress.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/progress" schemaLocation="s:/schemas/public/common/progress/progressservice.xsd"/>
  <xsd:include schemaLocation="s:/schemas/public/finance/taxtransfer/taxtransfer.xsd"/>

  <xsd:complexType name="StartRequest">
    <xsd:complexContent>
      <xsd:extension base="com:Request">
        <xsd:sequence>
          <xsd:element name="Params" type="ttr:StartParams">
            <xsd:annotation>
              <xsd:documentation>This element stores the parameters that can be specified when you run the tax transfer process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StartRequestVerb">
    <xsd:annotation>
      <xsd:documentation>Starts the tax transfer process using the parameters you specify.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:RequestVerb">
        <xsd:sequence>
          <xsd:element name="Request" type="ttr:StartRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StartResponse">
    <xsd:complexContent>
      <xsd:extension base="com:Response">
        <xsd:sequence>
          <xsd:element name="CmpCode" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the company in which the tax transfer process was started.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TTMCode" type="com:typeGeneralCode">
            <xsd:annotation>
              <xsd:documentation>The code for the tax transfer master used to run the tax transfer process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ProgressKey" type="prg:ProgressKey" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>This element is a key consisting of the tax transfer progress data.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StartResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="ttr:StartResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ProgressResponse">
    <xsd:complexContent>
      <xsd:extension base="prg:progressGetResponse">
        <xsd:sequence>
          <xsd:element name="ProgressStatistics" type="ttr:ProgressStatistics">
            <xsd:annotation>
              <xsd:documentation>Contains the statistics about the tax transfer progress such as Lines processed and Lines rejected.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ProgressResponseVerb">
    <xsd:annotation>
      <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ResponseVerb">
        <xsd:sequence>
          <xsd:element name="Response" type="ttr:ProgressResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TaxTransferRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to transfer tax.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceRequest">
        <xsd:all>
          <xsd:element name="Start" type="ttr:StartRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Starts the tax transfer process using the parameters you specify.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Abort" type="prg:progressAbortRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Stops the tax transfer process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetProgress" type="prg:progressGetRequestVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Retrieves the current status of the tax transfer process.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TaxTransferResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you transfer tax.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:ServiceResponse">
        <xsd:all>
          <xsd:element name="Start" type="ttr:StartResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Abort" type="prg:progressAbortResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GetProgress" type="ttr:ProgressResponseVerb" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contains the responses to your requests with this verb.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="TaxTransferRequest" type="ttr:TaxTransferRequest">
    <xsd:annotation>
      <xsd:documentation>This service allows you to transfer tax.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TaxTransferResponse" type="ttr:TaxTransferResponse">
    <xsd:annotation>
      <xsd:documentation>This is the response that is returned when you transfer tax.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
