resources/schemas/public/finance/browsebalances/browsebalances.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:brm="http://www.coda.com/efinance/schemas/browsereportmaster" xmlns:bbm="http://www.coda.com/efinance/schemas/browsebalancemaster" xmlns:bbl="http://www.coda.com/efinance/schemas/browsebalances" targetNamespace="http://www.coda.com/efinance/schemas/browsebalances" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="s:/schemas/public/common/selectormaster/selectormaster.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/browsereportmaster" schemaLocation="s:/schemas/public/finance/browsereportmaster/browsereportmaster.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/browsebalancemaster" schemaLocation="s:/schemas/public/finance/browsebalancemaster/browsebalancemaster.xsd"/>

  <xsd:complexType name="FilterCriteria">
    <xsd:annotation>
      <xsd:documentation>This element holds the selection vocabulary used to retrieve the balance information from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UserFilter" type="gsl:VocListData" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The filter criteria defined by the user. If the same vocabulary item appears in both the UserFilter and ApplicationFilter elements, the value held by the ApplicationFilter element is used to select the data.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicationFilter" type="gsl:VocListData" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The filter criteria defined by the application. If the same vocabulary item appears in both the UserFilter and ApplicationFilter elements, the value held by the ApplicationFilter element is used to select the data.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BrowseCriteria">
    <xsd:annotation>
      <xsd:documentation>This element holds the selection criteria used to retrieve balance information from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which the browse report master is being maintained.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CalculationDefaultDecimals" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default number of decimal places for a calculation type column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BrowseReportMasterCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the browse report master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BrowseReportMasterSubset" type="brm:BrowseReportMasterSubset" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information for a browse report master which has been edited during the Browse Balances session.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BrowseBalanceColumnList" type="bbm:ColumnList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds information about the columns set up in the browse balance master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FilterCriteria" type="bbl:FilterCriteria" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds the selection vocabulary used to retrieve the balance information from the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ColInfo">
    <xsd:annotation>
      <xsd:documentation>This element holds information about one column contained in the Browse Balances report.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="com:typeBBQColumnID">
        <xsd:annotation>
          <xsd:documentation>The name specified for the column in the browse balance master. It is the name displayed on the column tab, and is different to column Title.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DataType" type="com:typeCtBBQColDataType">
        <xsd:annotation>
          <xsd:documentation>The type of data displayed in the column. This can be BBQ-NUMBER, BBQ-TEXT or BBQ-CODE-AND-SNAME.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Title" type="com:typeTextAnyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The title displayed at the head of the column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="com:typeCtBBQColumnType">
        <xsd:annotation>
          <xsd:documentation>Identifies the column type. The available column types are: Balance, Master Information, Hierarchy or Calculation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VocabID" type="com:typeCtVocabEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The vocabulary data displayed on the column, for example, Element 1.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Width" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The width of the column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Decimals" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The number of decimal places to which the balance is displayed. The available values are Default and the numbers 0 to 9. If you select a number, the values in the column are rounded to that number of decimals places.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LinkedTo" type="com:typeTextAnyB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The name of the column to which the current column is linked.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ComparativeCol" type="xsd:boolean" default="false" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this column is linked to another column so that the data can be compared.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AccumulateSel" type="xsd:boolean" default="false" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the values in this column are accumulated in period order so that cumulative balance figures can be shown.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludeBroughtForwards" type="xsd:boolean" default="false" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether balances which have been brought forward are included in the accumulation, in addition to the selected balances.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the presenter master to use when drilling to Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CmpCode" type="com:typeGeneralCodeB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code for the company used to determine the presenter master to use when drilling to Browse Details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Calculation" type="com:typeTextAnyUpperB" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The formula used to calculate the column values.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CommitmentColumn" type="xsd:boolean" default="false" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether this column contains commitment balances. These are the balances for commitment accounting in CODA-Procurement.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Alignment" type="com:typeCtJustification" default="justify_left" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The alignment of the values in this column. The available values are Left, Right and Centre.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bold" type="xsd:boolean" default="false" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the values in this column are displayed in bold.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Italic" type="xsd:boolean" default="false" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the values in this column are displayed in italics.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Underline" type="xsd:boolean" default="false" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the values in this column are underlined.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReportTotalSign" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies the values to use when calculating the total for this report. The available values are: Original values, Signed values and Original values reverse sign.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReverseSign" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the sign (+ or -) on column values is reversed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CalculationDefaultDecimals" type="xsd:int" default="0" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The default number of decimal places for a calculation type column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ColInfoList">
    <xsd:annotation>
      <xsd:documentation>This element holds information about the columns contained in the Browse Balances report. These columns are set up in the browse balance master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ColInfo" type="bbl:ColInfo" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element holds information about one column contained in the Browse Balances report.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Cell">
    <xsd:annotation>
      <xsd:documentation>The title for one column.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="vocabdata" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The vocabulary data used to identify the contents of a cell.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="currcode" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The currency code for the value in a balance column cell.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="mixedcurr" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Contains the string 'True', indicating that a balance column cell contains a number which is the sum of mixed currency values.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="header" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Alternative header text for accounts under this node in a hierarchy.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="footer" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The footer text for accounts under this node in a hierarchy.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="originalvalue" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The original balance value, before reverse sign settings are applied.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="subtotalsign" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Indicates the values to use when calculating the subtotal for this node. The available values are: Original values, Signed values and Original values reverse sign.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="dividebyzero" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Indicates whether the calculation performs a division by zero.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="overflow" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Indicates whether the result of the calculation exceeds the maximum size for a calculated column.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="CellList">
    <xsd:annotation>
      <xsd:documentation>This element holds a list of column titles that are displayed on the Browse Balances report.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Cell" type="bbl:Cell" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>The title for one column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Row">
    <xsd:annotation>
      <xsd:documentation>This element contains the titles for the columns retrieved.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Cells" type="bbl:CellList">
        <xsd:annotation>
          <xsd:documentation>This element holds a list of column titles that are displayed on the Browse Balances report.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RowList">
    <xsd:annotation>
      <xsd:documentation>This element holds the actual values retrieved from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Row" type="bbl:Row" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element holds the values for a row.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Selection">
    <xsd:annotation>
      <xsd:documentation>This element holds Browse Balances information retrieved from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Header" type="bbl:Row">
        <xsd:annotation>
          <xsd:documentation>This element contains the titles for the columns retrieved.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DataSet" type="bbl:RowList">
        <xsd:annotation>
          <xsd:documentation>This element holds the actual values retrieved from the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Footer" type="bbl:Row">
        <xsd:annotation>
          <xsd:documentation>This element contains information about the grand totals row in a Browse Balances report.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BrowseResults">
    <xsd:annotation>
      <xsd:documentation>This element holds the Browse Balances information retrieved from the database.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ColInfoList" type="bbl:ColInfoList">
        <xsd:annotation>
          <xsd:documentation>This element holds information about the columns contained in the Browse Balances report. These columns are set up in the browse balance master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Selection" type="bbl:Selection">
        <xsd:annotation>
          <xsd:documentation>This element holds Browse Balances information retrieved from the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FilteredByAccountSecurity" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the Browse Balance results have been filtered according to account security settings.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reason" type="com:Reason" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If the selected hierarchy master has been edited since the Expanded Hierarchy Table was last built, the server sends this Reason element to communicate a warning. The Expanded Hierarchy Table should be updated to ensure that the information being browsed is up to date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="HierarchyUpdateItem">
    <xsd:sequence>
      <xsd:element name="Code" type="com:typeGeneralCode"/>
      <xsd:element name="LastUpdated" type="com:typeDate"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="HierarchyUpdateList">
    <xsd:sequence>
      <xsd:element name="HierarchyUpdate" type="bbl:HierarchyUpdateItem" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
