resources/schemas/public/common/attachment/attachment.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:atc="http://www.coda.com/common/schemas/attachment" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:rep="http://www.coda.com/common/schemas/repository" elementFormDefault="qualified" targetNamespace="http://www.coda.com/common/schemas/attachment">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types2.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/common/schemas/repository" schemaLocation="s:/schemas/public/common/repository/repository.xsd"/>

  <xsd:complexType name="AttachmentOwnership">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="BusinessObjectKey" type="com:typeBusinessObjectKey"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="Site" type="com:typeName"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="Product" type="com:typeApplicationName"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="CodaUser" type="com:typeCode"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="AddedDate" type="com:typeHard"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="AddedTime" type="com:typeDbTimeOfDay"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AttachmentOwnershipList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AttachmentOwnership" type="atc:AttachmentOwnership"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AttachmentOwnershipKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AttachmentOwnership" type="atc:AttachmentOwnershipKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AttachmentOwnershipKey">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="com:typeDbGuid"/>
      <xsd:element minOccurs="0" name="BusinessObjectKey" type="com:typeBusinessObjectKey"/>
      <xsd:element minOccurs="0" name="Site" type="com:typeName"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AttachmentRecord">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="com:typeDbGuid"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="RepositoryObject" type="rep:RepositoryObjectKey"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Path" type="com:typeTextB"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="Filename" type="com:typeText"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FileLastModified" type="com:typePosixTime"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MimeType" type="com:typeMimetype"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="RefCount" type="com:typeLong"/>
      <xsd:element name="OwnerList" type="atc:AttachmentOwnershipList"/>
      <xsd:element name="MetadatumList" type="atc:AttachmentMetadatumList"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="TimeStamp" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AddDate" type="xsd:dateTime"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UsrName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AttachmentRecordList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AttachmentRecord" type="atc:AttachmentRecord"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AttachmentRecordKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AttachmentRecord" type="atc:AttachmentRecordKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AttachmentRecordKey">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="com:typeDbGuid"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Attachment">
    <xsd:annotation>
      <xsd:documentation>This element holds details of attachments.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="id" type="com:typeDbGuid" use="optional">
          <xsd:annotation>
            <xsd:documentation>A unique identifier for the attachment.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="repositoryobjectid" type="com:typeDbGuid" use="optional">
          <xsd:annotation>
            <xsd:documentation>The repository object ID.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ref" type="com:typeText" use="optional">
          <xsd:annotation>
            <xsd:documentation>The attachment name.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="path" type="com:typeText" use="optional">
          <xsd:annotation>
            <xsd:documentation>The original path of the attached file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="externalreference" type="com:typeTextAnyDbQuotes" use="optional">
          <xsd:annotation>
            <xsd:documentation>The external reference text for a an externally referenced attachment.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="filelastmodified" type="com:typePosixTime" use="optional">
          <xsd:annotation>
            <xsd:documentation>The date and time that the attachment was last modified.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="filename" type="com:typeText" use="optional">
          <xsd:annotation>
            <xsd:documentation>The name of the attached file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="user" type="com:typeTextAnyUnlimited" use="optional">
          <xsd:annotation>
            <xsd:documentation>The name of the user who added the attachment.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="added" type="com:typeHardTime" use="optional">
          <xsd:annotation>
            <xsd:documentation>The date and time the attachment was added.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="mimetype" type="com:typeText" use="optional">
          <xsd:annotation>
            <xsd:documentation>The MIME type of the attachment.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="product" type="com:typeText" use="optional">
          <xsd:annotation>
            <xsd:documentation>The name of the CODA product that owns this attachment.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="thumbnail" type="com:typeTextAnyUnlimited" use="optional">
          <xsd:annotation>
            <xsd:documentation>Thumbnail data for an image attachment, in PNG format.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="codametadata" type="com:typeNameTextValues" use="optional">
          <xsd:annotation>
            <xsd:documentation>List of attachment metadata. These are semi-colon delimited name-value pairs.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="missing" type="com:typeBoolean" use="optional">
          <xsd:annotation>
            <xsd:documentation>Specifies whether data is missing. True if the client requested for data and none was found; Null if no request was made; False if a request was made and data was found.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="timestamp" type="xsd:short" use="required">
          <xsd:annotation>
            <xsd:documentation>The TimeStamp value for the attachment.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="AttachmentList">
    <xsd:annotation>
      <xsd:documentation>This element holds a list of attachments.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Attachment" type="atc:Attachment">
        <xsd:annotation>
          <xsd:documentation>This element holds details of an attachment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AttachmentKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Attachment" type="atc:AttachmentKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AttachmentKey">
    <xsd:annotation>
      <xsd:documentation>This element holds a key to an attachment.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="com:typeDbGuid">
        <xsd:annotation>
          <xsd:documentation>A unique identifier for the attachment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AttachmentMetadatum">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="com:typeText"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="Value" type="com:typeTextAnyDb"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AttachmentMetadatumList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AttachmentMetadatum" type="atc:AttachmentMetadatum"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AttachmentMetadatumKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AttachmentMetadatum" type="atc:AttachmentMetadatumKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AttachmentMetadatumKey">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="com:typeDbGuid"/>
      <xsd:element minOccurs="0" name="Name" type="com:typeText"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ObjectUsageSummaryFilter">
    <xsd:annotation>
      <xsd:documentation>The request for the Find Attachment dialog. This element holds filter criteria for what is shown in the Find Attachment dialog.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Filename" type="com:typeTextWild">
        <xsd:annotation>
          <xsd:documentation>The name of the attached file.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="User" type="com:typeCodeWild">
        <xsd:annotation>
          <xsd:documentation>The name of the user who added the attachment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Product" type="com:typeTextWild">
        <xsd:annotation>
          <xsd:documentation>The name of the CODA product that owns this attachment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ObjectUsageSummaryFilterList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ObjectUsageSummaryFilter" type="atc:ObjectUsageSummaryFilter"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ObjectUsageSummary">
    <xsd:annotation>
      <xsd:documentation>The request for the Find Attachment dialog.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="com:typeDbGuid">
        <xsd:annotation>
          <xsd:documentation>The ID of the Repository Object returned.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="Filename" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The name of the attached file.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="User" type="com:typeCode">
        <xsd:annotation>
          <xsd:documentation>The code of the user who added the attachment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Added" type="com:typeHardTime">
        <xsd:annotation>
          <xsd:documentation>The time the attachment was added.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="AddedCount" type="com:typeLong">
        <xsd:annotation>
          <xsd:documentation>Specifies the number of times the object is used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="MimeType" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The MIME type of the attachment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Application" type="com:typeText">
        <xsd:annotation>
          <xsd:documentation>The name of the application. If multiple applications use this object then the value of this field is null.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="ApplicationCount" type="com:typeLong">
        <xsd:annotation>
          <xsd:documentation>Specifies the number of applications that use this repository object.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="SampleAttachment" type="atc:Attachment">
        <xsd:annotation>
          <xsd:documentation>A sample Attachment object that uses this repository object. This is used because the software can only download things by attachment and not directly from the repository object.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ObjectUsageSummaryList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ObjectUsageSummary" type="atc:ObjectUsageSummary"/>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
