resources/schemas/public/finance/auditshared/auditshared.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:adb="http://www.coda.com/efinance/schemas/auditbalance" xmlns:ads="http://www.coda.com/efinance/schemas/auditshared" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/efinance/schemas/auditshared" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/auditbalance" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/finance/auditbalance/auditbalance.xsd"/>

  <xsd:complexType name="StartParams">
    <xsd:annotation>
      <xsd:documentation>This element contains the parameters used to select the masters to audit.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LogTitle" type="com:typeLogTitle">
        <xsd:annotation>
          <xsd:documentation>The title of the log that will be generated by the audit process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProvCmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the provider company for which you want to run the audit.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepCmpCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the dependent company for which you want to run the audit. Specify a single company or enter the wildcard * to audit all companies dependent on the provider company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllDepCmpCodes" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the audit will run for all the companies dependent on the provider company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ProgressStatistics">
    <xsd:annotation>
      <xsd:documentation>This element contains statistical information about the progress of the audit.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MastersRead" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The number of masters read so far by the audit process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ErrorCount" type="com:typeULong">
        <xsd:annotation>
          <xsd:documentation>The number of errors detected by the audit process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Status" type="com:typeCtAdsProgressStatus">
        <xsd:annotation>
          <xsd:documentation>The current status of the audit process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElapsedTime" type="adb:ElapsedTime">
        <xsd:annotation>
          <xsd:documentation>The time that has elapsed in days, hours and minutes since the start of the audit process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="StartParams" type="ads:StartParams">
    <xsd:annotation>
      <xsd:documentation>This element contains the parameters used to select the masters to audit.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ProgressStatistics" type="ads:ProgressStatistics">
    <xsd:annotation>
      <xsd:documentation>This element contains statistical information about the progress of the audit.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
