resources/schemas/public/finance/interestmaster/interestmaster.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:cim="http://www.coda.com/efinance/schemas/interestmaster" targetNamespace="http://www.coda.com/efinance/schemas/interestmaster" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>

  <xsd:complexType name="ExpertParameters">
    <xsd:annotation>
      <xsd:documentation>This element contains all the expert parameters in the interest master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="InterestRate" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>Specifies the percentage interest rate.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InterestRateFrequency" type="com:typeCtCimInterestFrequency">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the stated interest rate is daily or annual.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExtraDays" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The number of days for which you want to charge interest in addition to the number of days the settlement is overdue.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SingleCharge" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount, in your home currency, that will be added to the interest charge when an invoice first becomes due.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecurrentCharge" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The amount, in your home currency, that will be added to the interest charge on the first and subsequent charging periods.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StartDate" type="com:typeHSDate">
        <xsd:annotation>
          <xsd:documentation>The start of the charging period as either an explicit or a soft date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EndDate" type="com:typeHSDate">
        <xsd:annotation>
          <xsd:documentation>The end of the charging period as either an explicit or a soft date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GracePeriod" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The number of days that an invoice may be overdue before interest is added to it.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RelevantDate" type="com:typeCtCimRelevantDate">
        <xsd:annotation>
          <xsd:documentation>Specifies which date is the relevant charging date. Relevant dates are: Due date, Value date or Document date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChargeWhenFirstDue" type="com:typeCtCimPartialCharge">
        <xsd:annotation>
          <xsd:documentation>Specifies which charging period will be used when the first invoice is due. Charging periods are: None and Partial.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChargeWhenPaid" type="com:typeCtCimPartialCharge">
        <xsd:annotation>
          <xsd:documentation>Specifies which charging period will be used when the invoice is paid. Charging periods are: None and Partial.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FormulaLineList">
    <xsd:annotation>
      <xsd:documentation>A list of lines contained in the formula.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Line" type="com:typeText" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element contains the details of a line within the formula.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="InterestMaster">
    <xsd:annotation>
      <xsd:documentation>This element contains the settings for the interest master.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which you created this interest master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TimeStamp" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The TimeStamp value for this interest master in the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for this interest master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="com:typeName">
        <xsd:annotation>
          <xsd:documentation>The full name for this interest master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="com:typeShortNameB">
        <xsd:annotation>
          <xsd:documentation>The abbreviated name for this interest master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElementLevel" type="com:typeElmLevel">
        <xsd:annotation>
          <xsd:documentation>The level of the element which, in conjunction with the contents of the ChargeCurrency element may specify the currency in which the interest will be charged.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChargeCurrency" type="com:typeCtCimChargeCur">
        <xsd:annotation>
          <xsd:documentation>The currency type that will be used to calculate the interest charge and to set the currency of the posting document. The charge currency options are: Home, Dual, Document and Element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelectorCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The required selector code.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PresenterCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The presenter code that you want to use for Browse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChargesDefaultHeld" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that entries will be held from the interest charge at run time.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostingAccount" type="com:typeAcCode">
        <xsd:annotation>
          <xsd:documentation>Specifies the account that the credit line will be posted to.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChargeLevel" type="com:typeCtCimChargeLevel">
        <xsd:annotation>
          <xsd:documentation>Specifies the type of charge level used with this master. The charge levels are: Account, Summary, and Transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Destination" type="com:typeCtCimDestination">
        <xsd:annotation>
          <xsd:documentation>Specifies where documents are posted. The destinations are Intray, Books or Books + Intray.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code that identifies the document master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostingYearPeriod" type="com:typeSoftPeriod">
        <xsd:annotation>
          <xsd:documentation>The year and period to which the document will be posted specified as either an explicit or a soft year/period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentDate" type="com:typeHSDate">
        <xsd:annotation>
          <xsd:documentation>The date on the document specified as either an explicit or a soft date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentDescription" type="com:typeTextB">
        <xsd:annotation>
          <xsd:documentation>A brief description of the document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProtectDatesAndPeriod" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Specifies that the DocumentDate and PostingYearPeriod elements cannot be overwritten at run time.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Formula" type="cim:FormulaLineList">
        <xsd:annotation>
          <xsd:documentation>The formula specified for this interest master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreateInterestInvoice" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates that you want to prevent the posting of an interest journal within Financials, but instead pass the document details onto Sales Invoicing.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
