resources/schemas/public/common/session/session.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.coda.com/efinance/schemas/common" xmlns:session="http://www.coda.com/common/schemas/session" elementFormDefault="qualified" targetNamespace="http://www.coda.com/common/schemas/session">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/types2.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="s:/schemas/public/common/common/common.xsd"/>

  <xsd:complexType name="Session">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="com:typeDbGuid"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="UserCode" type="com:typeCode"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AuthUser" type="com:typeDomainUser"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CmpCode" type="com:typeCode"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="Access" type="com:typeCapReadonly"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="Slot" type="com:typeULong"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="Context" type="com:typePasswordCyphered"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="Login" type="com:typePosixTime"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreateInetAddress" type="com:typeInetAddress"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="LastAccess" type="com:typePosixTime"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SessionList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Session" type="session:Session"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SessionKeyList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Session" type="session:SessionKey"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SessionKey">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="com:typeDbGuid"/>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
