resources/schemas/public/finance/bankreconciliation/bankreconciliation.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:brr="http://www.coda.com/efinance/schemas/bankreconciliation" xmlns:brm="http://www.coda.com/efinance/schemas/bankreconciliationmaster" xmlns:aso="http://www.coda.com/efinance/schemas/association" xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster" xmlns:com="http://www.coda.com/efinance/schemas/common" targetNamespace="http://www.coda.com/efinance/schemas/bankreconciliation" elementFormDefault="qualified">

  <xsd:import namespace="http://www.coda.com/efinance/schemas/association" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/finance/association/association.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/types.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/common/common.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/bankreconciliationmaster" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/finance/bankreconciliationmaster/bankreconciliationmaster.xsd"/>
  <xsd:import namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="http://cda-dev.aws3.liiaws.net/xmli-schemas/public/common/selectormaster/selectormaster.xsd"/>

  <xsd:complexType name="WriteOff">
    <xsd:annotation>
      <xsd:documentation>This element contains details of any write-off amount set on this document line.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Value" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The value of any write-off amount for this document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="com:typeCtDocLineDrCr">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the write-off amount is a debit or credit write-off.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReconciliationDetails">
    <xsd:annotation>
      <xsd:documentation>This element contains details of a line in this reconciliation group.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Key" type="aso:asoKey">
        <xsd:annotation>
          <xsd:documentation>This is a key used to identify this document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The currency code of this document line. (This is the same as the reconciliation currency.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The document line value in this currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReconciliationValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The net reconciliation value in this currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WriteOff" type="brr:WriteOff" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element contains details of any write-off amount set on this document line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReconciliationLines">
    <xsd:annotation>
      <xsd:documentation>This element contains details of the lines in this reconciliation group.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Line" type="brr:ReconciliationDetails" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element contains details of a line in this reconciliation group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReconciliationGroup">
    <xsd:annotation>
      <xsd:documentation>This element contains details of a group in the reconciliation session.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="GroupNum" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of this reconciliation group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Lines" type="brr:ReconciliationLines">
        <xsd:annotation>
          <xsd:documentation>This element contains details of the lines in this reconciliation group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReconciliationGroups">
    <xsd:annotation>
      <xsd:documentation>This element contains details of the groups in the reconciliation session.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Group" type="brr:ReconciliationGroup" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element contains details of a group in the reconciliation session.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UndoReconciliationGroup">
    <xsd:annotation>
      <xsd:documentation>This element contains a parameter identifying a reconciliation group to be undone.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="RecNumber" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The reconciliation number of a reconciliation group to be undone.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UndoReconciliationGroups">
    <xsd:annotation>
      <xsd:documentation>This element contains parameters identifying the reconciliation groups to be undone.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Group" type="brr:UndoReconciliationGroup" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element contains a parameter identifying a reconciliation group to be undone.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReconciliationParams">
    <xsd:annotation>
      <xsd:documentation>This element contains the parameters which can be specified when reconciling Financials document lines with statement lines.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which reconciliation is being performed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MasterCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the reconciliation master being used for this reconciliation session.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrRule" type="com:typeCtHomeOrElmCur" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the reconciliation currency is the currency of the element or the currency of the posted document. When reconciling on element currency, you must specify the appropriate element level (ElmLevel). When reconciling on document currency, the lines you intend to reconcile must use the same document currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElmLevel" type="com:typeElmLevel" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The level of the element at which the reconciliation currency is held.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The currency code that is used to specify which document lines are selected from the database.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FinancialsSelCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The selector master that you want to use to retrieve the Financials document lines.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FinancialsPresCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The presenter master that you want to use to display the Financials document lines.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StatementSelCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The selector master that you want to use to retrieve the statement lines.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StatementPresCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The presenter master that you want to use to display the statement lines.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Assistant" type="aso:AssistantScript" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This element holds a script for use in Assisted Reconciliation or Background Reconciliation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DebitAcc" type="com:typeAcCodeWild" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The write-off account to which debit write-offs are made.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreditAcc" type="com:typeAcCodeWild" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The write-off account to which credit write-offs are made.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StatementMasterCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The statement type code to use for this reconciliation session.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReferenceNumberCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The reference of the statement against which reconciliation will be run.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="YearAndPeriod" type="com:typePeriod">
        <xsd:annotation>
          <xsd:documentation>The year and period to which write-offs are posted; by default this is the current period. You must provide a year and period, even if you do not expect to make any write-offs.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Source" type="com:typeCtAssocType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies whether reconciliation will be run against an electronic or paper statement.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LogTitle" type="com:typeLogTitle" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A title for the reconciliation log. This is mandatory if LogInteractive or LogBackground are set to TRUE in the reconciliation master.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LogID" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A system-generated number identifying the log file in which this reconciliation session will be logged.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LockToken" type="com:typeText" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The alpha-numeric string returned by the server when you call the statement service LockRequest to lock a statement table. When you want to call a bankreconciliation service that uses the locked statement table, you must include this token to indicate that you are the user with write-access to that table. Without the LockToken, the request will fail if the statement table is marked in use by another process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReconciliationWriteOffLimitParams">
    <xsd:annotation>
      <xsd:documentation>This element contains the parameters which are specified to retrieve credit/debit write off tolerances.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MasterCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the reconciliation master being used for this reconciliation session.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which reconciliation is being performed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrCode" type="com:typeGeneralCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The code of the reconciliation currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReconciliationValue" type="com:typeMoney">
        <xsd:annotation>
          <xsd:documentation>The net value (in reconciliation currency) for which you want to retrieve credit/debit write-off tolerances.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CommitGroupResult">
    <xsd:annotation>
      <xsd:documentation>This element contains the result of committing a reconciliation group.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="GroupNum" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>The number of the reconciliation group in the current reconciliation session.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecNumber" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The reconciliation number assigned to this group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Status" type="com:typeCtLogStat">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the commit was successful.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code of the reconciliation currency for this group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reason" type="com:Reason" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If the commit failed, provides information about why it failed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CommitGroupResults">
    <xsd:annotation>
      <xsd:documentation>This element contains the results of committing reconciliation groups.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Group" type="brr:CommitGroupResult" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element contains the result of committing a reconciliation group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UndoGroupResult">
    <xsd:annotation>
      <xsd:documentation>This element contains the result of undoing a reconciliation group.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="RecNumber" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The reconciliation number of the group that has been undone.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Status" type="com:typeCtLogStat">
        <xsd:annotation>
          <xsd:documentation>Indicates whether the undo was successful.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reason" type="com:Reason" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If the undo failed, provides information about why it failed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UndoGroupResults">
    <xsd:annotation>
      <xsd:documentation>This element contains the results of undoing reconciliation groups.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Group" type="brr:UndoGroupResult" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This element contains the result of undoing a reconciliation group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UndoServiceParams">
    <xsd:annotation>
      <xsd:documentation>This element contains parameters used by the UndoRequest, including the company code and log title.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CmpCode" type="com:typeGeneralCode">
        <xsd:annotation>
          <xsd:documentation>The code for the company in which reconciliation is being performed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LogTitle" type="com:typeLogTitle" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A title for the undo reconciliation log.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LogID" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A system-generated number identifying the log file in which this reconciliation session will be logged.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReconciliationSelectors">
    <xsd:annotation>
      <xsd:documentation>This element contains the selectors to use for selecting Financials document lines and statement lines for the Background Matching process.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="FinancialsSelector" type="gsl:SelectorMaster">
        <xsd:annotation>
          <xsd:documentation>The selector master that you want to use to retrieve the Financials document lines.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StatementsSelector" type="gsl:SelectorMaster">
        <xsd:annotation>
          <xsd:documentation>The selector master that you want to use to retrieve the statement lines.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UndoReconciliationParams">
    <xsd:sequence>
      <xsd:element name="FinancialsPreCode" type="com:typeGeneralCode" minOccurs="0"/>
      <xsd:element name="StatementPreCode" type="com:typeGeneralCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
